mixin mesFactureHeaderMonPlan(data)
  - var data            = data || {}
  - var apurement       = data.apurement || "2"             

  //.c-mesFactureHeaderMonPlan
  .c-mesFactureHeaderMonPlan.u-margin-b-20
    .c-mesFactureHeaderMonPlanBloc.u-margin-small-b-20
      span.c-mesFactureHeaderMonPlanTitle 
        span.c-mesFactureHeaderMonPlanMargin Mon plan d'apurement
        +toolTip({
          target:  "#",
          info: true
        })(data-e-modal-open='planApurement')
        +modal({
          target: '{"target": "planApurement"}'
        }).u-padding-a-40
          .u-margin-b-40 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut amet perspiciatis animi sit aliquam exercitationem ad culpa

      .c-mesFactureHeaderMonPlanLien
        a(href="#")
          span.icon.icon-visualiser-facture
          span consulter
        a(href="#")
          span.icon.icon-imprimer-facture
          span Imprimer
        a(href="#")
          span.icon.icon-telechargement-facture
          span Télécharger

    .c-mesFactureHeaderMonPlanBloc.u-margin-small-b-20
      span.c-mesFactureHeaderMonPlanTitle 
        span.c-mesFactureHeaderMonPlanMargin Mon plan de mensualisation
        +toolTip({
          target:  "#",
          info: true
        })(data-e-modal-open='planMens')
        +modal({
          target: '{"target": "planMens"}'
        }).u-padding-a-40
          .u-margin-b-40 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut amet perspiciatis animi sit aliquam exercitationem ad culpa

      .c-mesFactureHeaderMonPlanLien
        a(href="#")
          span.icon.icon-visualiser-facture
          span consulter
        a(href="#")
          span.icon.icon-imprimer-facture
          span Imprimer
        a(href="#")
          span.icon.icon-telechargement-facture
          span Télécharger
