.c-mesFactureHeaderMonPlan {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.c-mesFactureMain .c-monProfile__tabs a.is-active {
  color: $black;
}

.c-mesFactureMain .c-monProfile__tabs a {
  color: $blue;
  font-weight: bold;
}

.c-mesFactureHeaderMonPlanBloc {
  height: 87px;
  padding: 0 0 0 40px;
  background: $white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.c-mesFactureHeaderMonPlanBloc + .c-mesFactureHeaderMonPlanBloc {
  margin-left: 20px;
}

.c-mesFactureHeaderMonPlanTitle {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

.c-mesFactureHeaderMonPlanTitle  span{
  font-weight: bold;
}

.c-mesFactureHeaderMonPlanMargin {
  margin-right: 5px;
  word-break: break-all;
}

.c-mesFactureHeaderMonPlanLien a {
  width: 100%;
  height: 87px;
  border-right: 1px #cedeef solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  padding: 0 10px;
}
.c-mesFactureHeaderMonPlanLien a:last-child {
  border-right: none;
}

.c-mesFactureHeaderMonPlanLien a span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c5caf;
  font-size: 1.6rem;
}

.c-mesFactureHeaderMonPlanLien a span.icon {
  margin-bottom: 10px;
  font-size: 3rem;
}

.c-mesFactureHeaderMonPlanLien {
  border-left: 1px #cedeef solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87px;
  width: 100%;
}

@include media ("<medium", ">small") {
  .c-mesFactureHeaderMonPlanTitle {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    font-size: 1.6rem;
  }

  .c-mesFactureHeaderMonPlanBloc {
    padding: 0;
  }
}

@include media ("<=small") {
  .c-mesFactureHeaderMonPlan {
    display: block;
    height: auto;
  }

  .c-mesFactureHeaderMonPlanTitle {
    height: 70px;
    width: 100%;
    justify-content: center;
  }

  .c-mesFactureHeaderMonPlanBloc {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .c-mesFactureHeaderMonPlanLien a {
    height: 70px;
  }

  .c-mesFactureHeaderMonPlanLien {
    border-left: none;
    height: 70px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .c-mesFactureHeaderMonPlanBloc + .c-mesFactureHeaderMonPlanBloc {
    margin-left: 0;
  }

}