@import "selectOptionsBlock/selectOptionsBlock";

// .c-selectOptions
.c-selectOptions__header {
  padding: 30px 15px;
}

@include media('>=small'){
  .c-selectOptions__header {
    padding: 35px 30px;
  }
}

.c-selectOptions {
  position: relative;
  border: 6px solid;
  border-color: $venteBlue-light;

  .u-theme-magenta & {
    border-color: $magenta-light;
  }
}

.c-selectOptions__arrow {
  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -6px);
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent;
  }

  &:before {
    border-width: 24px;
    border-top: 19px solid;
    border-top-color: $venteBlue-light;
  }

  &:after {
    border-width: 12px;
    border-top: 10px solid $white;
  }

  .u-theme-magenta &:before {
    border-top-color: $magenta-light;
  }
}


// Sans thème de background :
.c-selectOptions--noTheme,
[class*="u-theme-"] .c-selectOptions--noTheme {
  border-color: $grey-light;
}

.c-selectOptions--noTheme {
  .c-selectOptions__arrow {
    &:before {
      border-top-color: $grey-light;
    }
  }

  .c-selectOptionBlock__main {
    border-color: $grey-light;
  }
}