include selectOptions

//- +selectOptions

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant selectOptions

+demo({
  desc: `
    Composant de base sans checkbox de sélection :<br/>
    Pour l'effet de background-color au survol ajouter la classe <code>c-selectOptionBlock--bgOnHover</code> au composant <code>c-selectOptionBlock</code>
  `
})
  +selectOptions()
    +selectOptionBlock({
      fontIcon: "icon-cat",
      bgOnHover: true
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color Dépannage Gaz et Electricité Express
      p <strong>Une assistance téléphonique 24/24h, 7j/7</strong> en cas de fuites d’eau, d’engorgement ou de problèmes sur votre installation de gaz naturel et d'électricité.


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant avec checkbox et image au format SVG (VENTE) :

+demo({
  desc: "Injection de la classe <code>is-checked</code> sur le composant <code>c-selectOptionBlock</code> au clique sur <code>.c-selectOptionBlock__checkbox .c-checkboxMat__field</code> ou sur <code>.c-selectOptionBlock__title</code>"
})
  +selectOptions({
    title: "Pour plus de sérénité, vous pouvez choisir des options"
  })
    +selectOptionBlock({
      inputId: "input5",
      inputLabel: "Assurance Facture",
      iconUrl: "../images/contrib/icon-garantie-electromenager.svg",
      iconAlt: "Garantie paiement",
      priceValue: "4",
      hasCheckbox: true,
      bgOnHover: true
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color Assurance Facture
      p <strong>Assurance Facture, c'est la garantie du paiement de vos factures d’énergie</strong> en cas de perte d’emploi, incapacité de travail, perte totale et irréversible d’autonomie décès accidentel.

    +selectOptionBlock({
      inputId: "input6",
      inputLabel: "Dépannage Gaz et Electricité Express",
      iconUrl: "../images/contrib/icon-garantie-electromenager.svg",
      iconAlt: "Dépannage",
      priceValue: "4,99",
      hasCheckbox: true,
      bgOnHover: true
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color Dépannage Gaz et Electricité Express
      p <strong>Une assistance téléphonique 24/24h, 7j/7</strong> en cas de fuites d’eau, d’engorgement ou de problèmes sur votre installation de gaz naturel et d'électricité.


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Dénué de thème :

+demo({
  desc: "Pour retirer les couleurs des bordures : ajouter une classe <code>c-selectOptions--noTheme</code> sur le composant <code>c-selectOptions</code>"
})
  +selectOptions({
    noTheme: true
  })
    +selectOptionBlock({
      fontIcon: "icon-cat"
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color Dépannage Gaz et Electricité Express
      p <strong>Une assistance téléphonique 24/24h, 7j/7</strong> en cas de fuites d’eau, d’engorgement ou de problèmes sur votre installation de gaz naturel et d'électricité.

    +selectOptionBlock({
      fontIcon: "icon-cat"
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color Dépannage Gaz et Electricité Express
      p <strong>Une assistance téléphonique 24/24h, 7j/7</strong> en cas de fuites d’eau, d’engorgement ou de problèmes sur votre installation de gaz naturel et d'électricité.


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Dénué de thème :

+demo({
  desc: "Pour retirer les couleurs des bordures : ajouter une classe <code>c-selectOptions--noTheme</code> sur le composant <code>c-selectOptions</code>"
})

  +selectOptions({
    noTheme: true
  })
    +selectOptionBlock({
      fontIcon: "icon-mensualisation",
      textButton : "Lorem ipsuim"
    })
      h3.c-selectOptionBlock__title.u-heading-3.u-margin-b-10.u-theme-color my Title
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis a esse fuga! Repellat unde officiis minima qui in! Corrupti, quasi atque laudantium quisquam illum nemo animi harum modi! Quia, atque.
