mixin herohpv2(data)
  - var data    = data || {}
  - var textBig = data.textBig || false

  // .c-herohpv2
    image mobile: 640px * 540px (très compressée)
    image desktop: 1240px * 270px
  nav.c-herohpv2&attributes(attributes)
    .c-herohpv2__title(
      data-ab-interchange="[empty.bg, default], [../images/contrib/herobannermobilebackground.jpg, small], [../images/contrib/herobannerdesktop.jpg, medium]"
    )
      .c-wysiwyg(class=textBig ? "c-herohpv2__titleBig" : "")
        p Bienvenue sur le site Gaz Tarif Réglementé !
        p Le gaz naturel au tarif fixé par l'Etat 

    ul.c-herohpv2__group
      li.c-herohpv2__item
        a(href="#").c-herohpv2__itemLink
          span.icon.icon-budget4
          span.c-herohpv2__text Comprendre ma consommation
      li.c-herohpv2__item
        a(href="#").c-herohpv2__itemLink
          span.icon.icon-budget4
          span.c-herohpv2__text Payer ma facture
      li.c-herohpv2__item
        a(href="#").c-herohpv2__itemLink
          span.icon.icon-budget4
          span.c-herohpv2__text Communiquer mon relevé de compteur
      //li.c-herohpv2__item
        a(href="#").c-herohpv2__itemLink
          span.icon.icon-budget4
          span.c-herohpv2__text Communiquer mon relevé de compteur//
  // END - .c-herohpv2
