.c-stepByStep {
  position: relative;
  padding: 30px 0;
  background: $grey-light;

  // surcharge Slick :
  .slick-arrow {
    button {
      top: 30%;
      font-size: 2.5rem;
    }
  }

  .slick-dots {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.c-stepByStep__elem {
  padding: 0 15px;
  text-align: center;
}

.c-stepByStep__content {
  counter-reset: section;
}

.c-stepByStep__elem,
.c-stepByStep .slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    counter-increment: section;
    content: counter(section) " /";
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
  }
}

.c-stepByStep__elemImg {
  order: -1;

  img { min-width: 180px; }
}

.c-stepByStep__elemText {
  max-width: 100%;
}

.c-stepByStep__footer {
  padding: 0 15px;
}

@include media(">=small"){
  .c-stepByStep {
    .slick-dots {
      padding: 0;
    }
  }

  .c-stepByStep__content {
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }

  .c-stepByStep__elem {
    flex: 0 1 22%;
    margin-left: 40px;
    padding: 0;
    max-width: 220px;

    &:first-child {
      margin-left: 0;
    }
  }

  .c-stepByStep__elemImg {
    position: relative;
    width: 100%;

    &:after {
      content: '\EAD3';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-36px, -14px);
      font-family: 'icons';
      font-size: 3rem;
      color: $grey-medium2;
    }

    .c-stepByStep__elem:first-child &:after {
      content: ' ';
    }
  }

  .c-stepByStep__footer {
    padding: 30px 15px 0;
  }
}

@include media(">=medium"){
  .c-stepByStep {
    padding: 50px;
  }

  .c-stepByStep__content,
  .c-stepByStep__footer {
    padding-left: 0;
    padding-right: 0;
  }
}
