include stepByStep

.c-wysiwyg
  h2 Step By Step

+demo({
  desc: "Le titre est optionnel"
})
  +stepByStep({
    title: "Votre énergie solaire en 4 étapes",
    carouselID: 'demo2',
    linkSection: true
  })
    +stepByStepElem({
      text: "Remplissez le formulaire sécurisé. Si nécessaire, nous vous contacterons par la suite.",
      imgUrl: "contrib/icon-etape1.svg"
    })
    +stepByStepElem({
      text: "Vous recevrez votre contrat par email. ",
      imgUrl: "contrib/icon-etape2.svg"
    })
    +stepByStepElem({
      text: "Après votre emménagement, vous recevrez votre première facture.",
      imgUrl: "contrib/icon-etape3.svg"
    })

