include ../headSection/headSection
include ../carousel/carousel

mixin stepByStep(data)
  - var data         = data || {}
  - var title        = data.title || false
  - var linkSection  = data.linkSection || false
  - var carouselID   = data.carouselID || "defaultID"

  // .c-stepByStep
  .c-stepByStep&attributes(attributes)
    if title
      +headSection({
        title: title,
        noLink: true
      })

    +carousel({
      id: carouselID,
      delayed: true,
      mode: 'slide',
      delayed: true,
      settings: {
        mobileFirst: true,
        arrows: true,
        dots: true,
        speed: 600,
        autoplay: autoplay,
        autoplaySpeed: 3000,
        draggable: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 767,
            settings: 'unslick'
          }
        ]
      }
    }).c-stepByStep__content
      block

    if linkSection
      .c-stepByStep__footer
        +btnWrapper().c-btnWrapper--fullOnMobile.u-theme-green
          +baseBtn({
            text: "Souscrire en ligne"
          })
  // end .c-stepByStep


mixin stepByStepElem(data)
  - var data    = data || {}
  - var imgUrl  = data.imgUrl || ""
  - var text    = data.text || "Un expert agréé intervient à mon domicile sous 2 jours ouvrés maximum à la réception des documents justificatifs."

  // .c-stepByStep__elem
  .c-stepByStep__elem
    .c-stepByStep__elemImg
      img(src="../images/"+ imgUrl alt="")
    .c-stepByStep__elemText
      .c-wysiwyg
        p!=text
  // end .c-stepByStep__elem
