mixin serviceItem(data)
  - var data    = data || {}
  - var img     = data.img || "bdhero-garantie-electro-menager.jpg"
  - var display = data.display || false
  - var para    = data.para || "Lorem"
  - var prix    = data.prix || "Gratuit"
  - var titre   = data.titre || "Titre"
  - var linkbtn = data.linkbtn || false
  - var btn     = data.btn || false

  //service Item
  .c-serviceItem.u-textCenter&attributes(attributes)
    img(src="../images/contrib/"+img alt="item service").c-serviceItem__responsiveImage

    .c-serviceItem__text
      span.c-serviceItem__titre.u-heading-4!=titre
      if display
        p.c-serviceItem__para!=para

    .serviceItem__info
      span.c-serviceItem__prix.u-textBold!=prix
      if linkbtn
        +btnWrapper()
          +baseBtn({
            text: 'Voir le descriptif',
            empty: true
          }).u-textBold

      if btn
        +btnWrapper().u-theme-genBlue
          +baseBtn({
            text: 'Souscrire'
          }).u-textBold.c-serviceItem__paddingBtn

      a.c-serviceItem__savoirPlus(href="#").u-textBold.u-textUnderlined  En savoir plus

