mixin actualiteFacture(data)
	- var data = data || {}


	//.c-actualiteFacture
	.c-actualiteFacture
		h2.c-actualiteFacture__title <b>+ d’info</b> sur mon tarif
		p.c-actualiteFacture__desc Informez-vous sur les caractéristiques de votre offre d’énergie pour mieux comprendre votre facturation.
			+btnWrapper.u-theme-genBlue.u-margin-b-15.u-margin-t-30.u-margin-small-t-30
				+baseBtn({
					text: "Voir mon offre Gaz Tarif Réglementé",
					secondary : true
				}).c-actualiteFacture__btn

			+btnWrapper.u-theme-genBlue
				+baseBtn({
					text: "Voir la composition de ma facture",
					secondary : true
				}).c-actualiteFacture__btn