
div(style="margin:0 3%;")
  .c-wysiwyg
    h2 Composant blockToTop
  p
    strong descendre en bas de page pour afficher le composant
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora animi magnam sit quidem itaque vitae dolorem quia quaerat ullam rerum suscipit eaque ipsa, fugiat nobis quasi, nam unde deleniti.

+demo({
  desc: "Classe <code>c-backToTop</code> sur élément + <code>#monID</code> pour pointé à un élément précis "
})
  +backToTop({
    idAncre:"#monID"
  })


