.c-sticky {
  z-index: 1500;
  transition: top 0.3s ease,
              bottom 0.3s ease;
}

.c-sticky.c-sticky--unstickyTop {
  transform: translateY(-100%) !important;
}

.c-siteHeaderV2.c-sticky {
  width: 100%;
  right: 0 !important;

  transition: all 0.5s ease-in-out;
}

@include media(">=small") {
  .c-sticky--fixed {
    transform: translateZ(0);
    position: fixed !important;
  }

  [data-e-sticky-container-main] {
    position: relative;
  }
}
