//- sticky plugin
mixin sticky(data)
  - var data = data || {}


  div(data-e-sticky='{}')
    | Lorem ipsum
    br
    | Lorem ipsum
    br
    | Lorem ipsum
    br
    | Lorem ipsum
    br


//- sticky plugin version with container
mixin stickyContainer(data)
  - var data   = data || {}
  - var target = data.target || 'nContainer'
  - var hAlign = data.hAlign || 'left'

  div(data-e-sticky-container=target)

    block

    div(data-e-sticky='{"container": "'+target+'", "hAlign": "'+hAlign+'"}')
      | Lorem ipsum
      br
      | Lorem ipsum
      br
      | Lorem ipsum
      br
      | Lorem ipsum
      br
