h2.u-heading-1 bloc cumul

+demo({
    desc: "bloc cumul "
})
  +blocCumul()

h2.u-heading-1 Message d'erreur A-1 bloc cumul:

+demo({
    desc: "Message d'erreur A-1 bloc cumul"
})
  +blocCumul({
    erreur : true
  })

h2.u-heading-1 block texte:

+demo({
    desc: "bloc texte"
})
  +blocCumul({
    titre : true
  })
