@import 'radioStyle/radioStyle';

.c-radioStyleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.c-radioStyleWrapper--vertical {
  flex-direction: column;
  align-items: center;
}

@include media("<small") {
  .c-radioStyleWrapper{
    flex-direction: column;
  }
}