include radioStyle/radioStyle

mixin radioStyleWrapper(data)
  - var data   = data || {}
  - var isSpan = data.isSpan || false

  // .c-radioStyleWrapper

  if isSpan
    span.c-radioStyleWrapper&attributes(attributes)
      block
  else
    .c-radioStyleWrapper&attributes(attributes)
      block
  // end .c-radioStyleWrapper

