include ../../formMat/formMat

mixin floatingCallback(status)
  // .c-floatingCallback
  .c-floatingCallback
    if status==="ko"
      +floatingCallback-ko
    else
      +floatingCallback-ok
  // END .c-floatingCallback

mixin floatingCallback-ok()
  .c-floatingModal__headingBlock
    h2.c-floatingModal__heading-1 Etre rappelé immédiatement et gratuitement

  .c-floatingCart__content.u-margin-t-10
    +formMat()(data-e-form-validation='{"switchBtnState": false}')
      +inputMat({
        type : 'tel',
        label: 'Téléphone',
        placeholder: 'Ex: 0611135544',
        maxlength: 10,
        pattern: "tel",
        dataValidation: {
          validations: {
            patternMismatch: 'patternMismatch: Format incorrect'
          }
        }
      })
      //- })(data-e-float-label).c-inputMat--float

      .c-floatingModal__infoBlock-grey.u-margin-t-30.u-margin-small-t-50
        p.u-fontSize-tiny Un conseiller vous rappelle immédiatement

      +btnWrapper().u-theme-jadeGreen.c-btnWrapper--fullOnMobile.u-margin-t-30.u-margin-small-t-50
        +baseBtn({
          text: "Etre rappelé",
          iconRight: "icon-phone",
          button: true
        }).c-baseBtn--large.u-width100

    p(hidden).u-margin-t-50.u-margin-b-50.u-margin-small-t-70.u-textBold.u-textCenter Votre demande a été prise en compte

    p.u-fontSize-tiny.u-margin-t-20 Ce service est ouvert du&nbsp;
      strong lundi au vendredi, de 9h à 18h


mixin floatingCallback-ko()
  .c-floatingModal__headingBlock
    h2.c-floatingModal__heading-1 Nos conseillers sont indisponibles pour le moment.

  .c-floatingCart__content.u-margin-t-30.u-margin-small-t-50
    p.c-floatingModal__infoBlock Vous pouvez remplir le formulaire, un&nbsp;
        | conseiller va vous recontacter dans les plus brefs délais.

    +formMat()(data-e-form-validation='{"switchBtnState": false}')
      +btnWrapper().u-theme-jadeGreen.c-btnWrapper--fullOnMobile.u-margin-t-40.u-margin-small-t-50
        +baseBtn({
          text: "Etre recontacté gratuitement",
        }).c-baseBtn--large.u-width100

    p.u-fontSize-tiny.u-margin-t-20.u-margin-small-t-70.u-textBold Vous pouvez demander un rappel immédiat du&nbsp;
      | lundi au vendredi de 9h à 18H.
