.c-rattachementBP {
  .c-formMat__blocRadioSelectLeft {
    flex-direction: column;

    .l-wrapper--small {
      margin-top: 50px;
    }

    fieldset[hidden] {
      display: block!important;
    }
  }
}

@include media(">=medium") {
  .c-rattachementBP {
    .c-formMat__blocRadioSelectLeft {  
    flex-direction: row;

    
    .l-wrapper--small {
      margin-top: 0;
    }
      .l-wrapper--small {
        margin-right: 100px;
      }

      .c-inputMat { padding-top: 50px;}
    }
  }
}