include rattachementBP
include ../../../../common/src/components/timeLine/timeLineWizard/timeLineWizard

+demo({
  desc :"TimeLine"
})
  +timeLineWizard({
    exemple: "rattachementBP"
  })


h1.u-heading-1.u-margin-v-50.u-textCenter rattachementBP

+demo({
  desc :"étape 1"
})
  #cel.c-headerLightCelPush.u-margin-small-t-35.u-margin-h-110
    +rattachementBP({
      step: "1"
    })


+demo({
  desc :"étape 2"
})
  #cel.c-headerLightCelPush.u-margin-small-t-35.u-margin-h-110
    +rattachementBP({
      step: "2"
    })

+demo({
  desc :"étape 3"
})
  #cel.c-headerLightCelPush.u-margin-small-t-35.u-margin-h-110
    +rattachementBP({
      step: "3"
    })    