
include ../../../../common/src/components/timeLine/timeLineWizard/timeLineWizard

mixin rattachementBP(data)

  - var data = data || {}
  - var step = data.step || '1'

  .c-rattachementBP

    if step === '1'

      h2.u-heading-2(class="u-margin-t-50 u-margin-b-20 u-color-genBlue") 1. Votre Profil

      p <b>Vous êtes client Gaz Tarif Réglementé ? <br/>
        | Pour créer votre Espace Client, renseignez votre référence client, votre nom de famille (sans civilité, ni prénom), votre code postal de consommation tels qu’ils sont indiqués sur votre facture.</b>

      +formMat()(data-e-form-validation='{"switchBtnState": false}')
        +inputMat({
          label:       'Référence Client',
          toolTip: "label",
          toolTipLabel: "label",
          type:        "tel",
          id:          "refClient",
          pattern:     '^[0-9]*$',
          maxlength:   '10',
          name:        "refClient",
          required:    true,
          placeholder: 'Ex : 12345678',
          dataValidation: {
            validations: {
              patternMismatch: 'patternMismatch: champs composé seulement de chiffres',
              valueMissing: 'champs obligatoire'
            }
          }
        }).l-wrapper--small.l-wrapper--left

        +inputMat({
          label: 'Votre nom',
          type: "text",
          id: "name",
          name: "name",
          required: true,
          placeholder: 'Indiquez votre nom',
          dataValidation: true
        }).l-wrapper--small.l-wrapper--left

        .c-formMat__blocInputLink.l-wrapper--small.l-wrapper--left
          button(data-e-foreign-toggle='{"id":{"name":"cp", "pattern1":"^[0-9]{5}$", "pattern2":"^[A-Za-z0-9]*", "maxlength1":"5", "maxlength2":"10" }}' type='button').u-buttonReset.u-link.u-link--revert.u-fontSize-tiny
            span(data-e-switch-toggle="foreignCp" data-e-switch-toggle-name="foreignCp") Foreign address
            span(data-e-switch-toggle="foreignCp" data-e-switch-toggle-name="foreignCp" hidden) Adresse française?          
          +inputMat({
            label:       'Code Postal',
            type:        "tel",
            id:          "cp",
            pattern:     'cp',
            name:        "cp",
            required:    true,
            maxlength:   "5",
            placeholder: '75018',
            dataValidation: {
              validations: {
                patternMismatch: 'champs composé seulement de chiffres',
                valueMissing: 'champs obligatoire'
              }
            }
          })(data-e-foreign-target)

      label( class="c-inputMat__label") Sécurité

      .c-formMat__blocInputEvenly
        span *Champs obligatoires
        +btnWrapper().u-margin-small-t-30.c-btnWrapper--alignRight.u-theme-genBlue.c-btnWrapper--fullOnMobile
          +baseBtn({
            text: 'suivant',
            button: true
          })(type="submit" data-e-form-validation-submit).c-baseBtn--large

    if step === '2'

      h2.u-heading-2(class="u-margin-t-50 u-margin-b-20 u-color-genBlue") 2. Votre numéro de téléphone portable

      p <b>Afin de sécuriser la création de votre Espace Client, merci de sélectionner ou de renseigner un numéro de téléphone portable sur lequel vous sera envoyé un code par SMS*.</b>


      div(data-e-formmat-swap='{"name": "swap"}').c-formMat__blocRadioSelectLeft.u-margin-v-40
        .l-wrapper--small.l-wrapper--left
          +radioMat({
            label: 'Sélectionner un numéro :',
            id: "radioMatSwap1",
            name: 'radioSwap',
            value: "valeur1"
          })
          fieldset(
            data-e-formmat-swap-target='["valeur1"]'
            data-e-formmat-swap-name="swap"
            hidden disabled
          )        
            +selectMat({
              label: 'Un champs select'
            })
        .l-wrapper--small.l-wrapper--left
          +radioMat({
            label: 'Renseigner un numéro :',
            id: "radioMatSwap2",
            name: 'radioSwap',
            value: "valeur2"
          })
          fieldset(
            data-e-formmat-swap-target='["valeur2"]'
            data-e-formmat-swap-name="swap"
            hidden disabled
          )
            +inputMat({
              label: 'Votre nom',
              type: "text",
              id: "name",
              name: "name",
              required: true,
              placeholder: 'Indiquez votre nom',
              dataValidation: true
            })


      .c-formMat__blocInputEvenly
        +btnWrapper().c-btnWrapper--between.u-theme-genBlue.c-btnWrapper--fullOnMobile
          +baseBtn({
            text: 'retour',
            secondary: true
          }).c-baseBtn--large

          +baseBtn({
            text: 'suivant',
            button: true
          }).c-baseBtn--large

      p.u-margin-t-40 *Champs obligatoires


    if step === '3'

      h2.u-heading-2(class="u-margin-t-50 u-margin-b-20 u-color-genBlue") 3. Saisir le code
      
      +inputMat({
        label:       'Code reçu',
        type:        "tel",
        id:          "refClient",
        pattern:     '^[0-9]*$',
        maxlength:   '140',
        name:        "refClient",
        required:    true,
        placeholder: 'Ex : 1234',
        dataValidation: {
          validations: {
            patternMismatch: 'patternMismatch: champs composé seulement de chiffres',
            valueMissing: 'champs obligatoire'
          }
        }
      }).l-wrapper--small.l-wrapper--left

      p.u-margin-v-40 <b>Vous n’avez pas reçu le code ? <br/>
        | Revenez à l’étape précédente, saisissez à nouveau votre numéro de téléphone et cliquez sur “Suivant”.</b>
      
      
      .c-formMat__blocInputEvenly
        +btnWrapper().c-btnWrapper--between.u-theme-genBlue.c-btnWrapper--fullOnMobile
          +baseBtn({
            text: 'retour',
            secondary: true
          }).c-baseBtn--large

          +baseBtn({
            text: 'suivant',
            button: true
          }).c-baseBtn--large

      p.u-margin-t-40 *Champs obligatoires

