include ../toggleBox/toggleBox

mixin siteFooter(data)
  // .c-siteFooter
  footer.c-siteFooter(role="contentinfo").c-siteFooterPublic
    .c-siteFooter__wrapper.l-wrapper.l-wrapper--main
      svg.c-siteFooter__gradient(viewBox="0 0 1240 8" width="1240" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg")
        rect(y="-3.5" fill="#ADBBB4" width="47.5" height="12")
        rect(x="62.5" y="-3.5" fill="#00AAFF" width="258.8" height="12")
        rect(x="321.3" y="-3.5" fill="#403387" width="216.1" height="12")
        rect(x="712.5" y="-3.5" fill="#3AAA35" width="107.1" height="12")
        rect(x="537.4" y="-3.5" fill="#89CC86" width="175.1" height="12")
        rect(x="819.6" y="-3.5" fill="#66CCFF" width="420.4" height="12")
        rect(x="47.5" y="-3.5" fill="#FFFFFF" width="15" height="11.9")

      .c-siteFooter__mainSection
        //- .c-siteFooter__block.c-siteFooter__block--logo.c-siteFooter__block--noShrink
          img.c-siteFooter__logo(src="../images/logo_tarif_reglemente.svg" alt="Logo Tarif réglementé" width="82")
        .c-siteFooter__block.c-siteFooter__block--desktop.c-siteFooter__block--noShrink.c-siteFooter__mainLinks.u-padding-l-20.u-padding-r-10
          nav
            h4.c-siteFooter__blockTitle
              a(href='#') Besoin d'aide ?
              
            ul.c-siteFooter__mainLinksList
              li: a(href='#') Questions fréquentes
              li: a(href='#') Contactez-nous
              li: a(href='#') Odeur de gaz : que faire ?

        .c-siteFooter__block.c-siteFooter__block--desktop.c-siteFooter__block--noShrink.c-siteFooter__mainLinks.u-padding-l-20.u-padding-r-10
          nav
            h4.c-siteFooter__blockTitle
              a(href='#') Le tarif réglementé du gaz
              
            ul.c-siteFooter__mainLinksList
              li: a(href='#') Le prix du gaz et son évolution
              li: a(href='#') Comment payer ma facture de gaz
              li: a(href='#') Gérer mon relevé de gaz
        
        +toggleBox({
          settings: {
            target: "block1",
            link: "Besoin d'aide ?"
          }
        }).c-siteFooter__block.c-siteFooter__block--mobile.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
          nav
            ul.c-siteFooter__mainLinksList
              li: a(href='#') Questions fréquentes
              li.js-callCenterPhoneNumber: a(href='#') Contactez-nous
              li: a(href='#') Odeur de gaz : que faire ?
              li: a(href='#') voir la rubrique aide

        +toggleBox({
          settings: {
            target: "block2",
            link: "Le tarif réglementé du gaz"
          }
        }).c-siteFooter__block.c-siteFooter__block--mobile.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
          nav
            ul.c-siteFooter__mainLinksList
              li: a(href='#') Le prix du gaz et son évolution
              li: a(href='#') Comment payer ma facture de gaz
              li: a(href='#') Gérer mon relevé de gaz
              li: a(href='#') tout sur le tarif reglementé du gaz
        //- .c-siteFooter__block.c-siteFooter__callCenter
        //-   div
        //-     .c-siteFooter__callCenterIcon.icon.icon-phone
        //-     h4.c-siteFooter__blockTitle Appeler un conseiller

        //-     p.c-siteFooter__callCenterPhoneNumber.u-hideSmall 36 40
        //-     a(href="tel:36 40").c-siteFooter__callCenterPhoneNumber.u-hideMediumUp 36 40

        //-     p.c-siteFooter__fontSize-small Du lundi au vendredi de 09:00 à 20:00 et le samedi de 09:00 à 13:00
        //-     p.c-siteFooter__fontSize-small (Appel non surtaxé)

        .c-siteFooter__block.c-siteFooter__infoBlock.u-padding-l-20.u-padding-r-10
          div
            h4.c-siteFooter__blockTitle Retrouvez votre Espace Client sur l'application mobile

            .c-siteFooter__infoBlockList
              a(href="#") 
                img(src="../images/contrib/googlePlay.jpg" alt="android googleStore") 
              a(href="#").u-margin-r-10
                img(src="../images/contrib/apple.jpg" alt="Apple store") 

             
        .c-siteFooter__block.c-siteFooter__block--noShrink.c-siteFooter__socialNetworksBlock.u-padding-h-20
          div
            h4.c-siteFooter__blockTitle Suivez nous sur&nbsp;:
            ul.c-siteFooter__socialNetworksList
              li.c-siteFooter__socialNetwork: a(href="#" title="Facebook")
                img(src="../images/contrib/Icone_FB.jpg" alt="facebook").u-margin-r-10
                span Facebook
              li.c-siteFooter__socialNetwork: a(href="#" title="Youtube")
                img(src="../images/contrib/Icone_YT.jpg" alt="Youtube").u-margin-r-10
                span Youtube


      .c-siteFooter__legalCatchphrase
        ul.c-siteFooter__legalCatchphrase__Liste
          li 
            a(href="#") Plan du site
          li 
            a(href="#") Lexique du gaz
          li 
            a(href="#") CGV
          li 
            a(href="#") Mentions légales
          li 
            a(href="#") Politique de confidentialité
          li 
            a(href="#") Politique des cookies
          li 
            a(href="#") Espace Professionnels
        //- p L'énergie est notre avenir, <strong>économisons-la&nbsp;!</strong>
      .c-siteFooter__annonce.u-padding-v-15
        p L'énergie est notre avenir, <strong>économisons-là ! </strong>
  // end .siteFooter
