include rating/rating
include afnor/afnor
include espritService/espritService
include espritService-note/espritService-note
include espritService-review/espritService-review
include espritService-top/espritService-top
include espritService-comments/espritService-comments
include espritService-comments2/espritService-comments2
include espritService-catchPhrase/espritService-catchPhrase
include coupDePouce/coupDePouce
