@font-face {
  font-display: swap;
  font-family: '<%= fontName %>';
  font-weight: normal;
  font-style: normal;
  src: url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
       url('<%= fontPath %><%= fontName %>.woff') format('woff'),
       url('<%= fontPath %><%= fontName %>.ttf') format('truetype');
}

.<%= className %> {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;

  &:before {
    font-family: '<%= fontName %>' !important;
    speak: none;
    display: inline;
  }
}

$icons: (
  <%= glyphs.map(function(glyph) {
    return glyph.name + ': \'' + '\\' + glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() + '\''
  }).join(',\n    ') %>
);

@each $name, $icon in $icons {
  .<%= className %>-#{$name}:before {
    content: $icon;
  }

  @if $name == "download" {
    .u-link--download:after {
      content: $icon;
    }
  }

  @if $name == "external-link" {
    .u-link--externalLink:after {
      content: $icon;
    }
  }

  @if $name == "long-arrow-right" {
    .u-link--arrow:after {
      content: $icon;
    }
  }

  @if $name == "check" {
    .u-list__item--check:before {
      content: $icon;
    }
  }


  /**
 * #{$name}:
 * `.<%= className %>-#{$name}`
 *
 *     @example
 *     .iconVente.<%= className %>-#{$name}
 */

}