.c-pictoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.c-pictoLink__icon {
  margin-right: 10px;
  align-self: flex-start;
  font-size: 2.8rem;
}

.c-pictoLink--textDecoration .c-pictoLink__text {
  text-decoration: underline;
}

.c-pictoLink--iconRight {
  .c-pictoLink__icon {
    order: 1;
    margin-left: 10px;
    margin-right: 0;
  }
}