include contactLegal

.c-wysiwyg
  h2 Contact container (standard mode)

+demo()
  +contactContainer()
    .c-contactContainer__item
      +contactLegal()

    .c-contactContainer__item
      +contactLegal({
        color: "gris"
      })

    .c-contactContainer__item
      +contactLegal({
        color: "violet"
      })

