include pushLight


+demo()
  +pushLight({
    light:true
  })
    h2 VOTRE DERNIERE INDEX FACTURE du  12/12/2020: 28 5552 M<sup>3</sup>
    p 
      strong Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nemo facilis sint eaque voluptatum dolorum unde neque, asperiores vel enim amet esse suscipit veniam dicta autem culpa, nihil quasi doloremque!

+demo()
  +pushLight()
