@import "timeLineWizard/timeLineWizard";


$progressBarDelay: .4s;

.c-timeLine {
  position: relative;
  width: 100%;
  top: 40px;
  z-index: 1001;
  padding: 15px 50px 35px;
  transition: transform .4s ease;
  text-align: center;

  &.c-timeLine--static {
    position: relative;
    top: 0;
    z-index: inherit;
  }
}

.c-progress {
  position: relative;
  color: $grey-medium;
}

// Ligne de progression :
.c-progressBar {
  width: 100%;
  height: 2px;
  background: $grey-medium;
}

.c-progressBar__line {
  width: 100%;
  height: 2px;
  background: $genBlue-light;
  transform-origin: left center;
  transition: transform $progressBarDelay ease-in;
}



// Signal d'étape :
.c-progressStep {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $grey;
  background: $white;
  color: $grey-medium;
  transform: translate(-50%, -50%);
  transition: background-color .3s linear $progressBarDelay, border-color .3s linear $progressBarDelay;

  &.is-previous {
    border-color: $genBlue-light;
    background: $genBlue-light;
  }

  &.is-current, .is-current & {
    border-color: $genBlue;
    background: $genBlue;
  }

}

.c-progressStep__value{
  display: none;
  transition: color .3s linear $progressBarDelay;
  color: $starGrey;
}
.c-timeLine--static .c-progressStep__value{
  display: none;
}

.c-progressStep__legend {
  display: inline-block;
  padding-left: 12px;
  margin-top: 30px;
  font-size: 1.5rem;
  transform: translate(-50%);
  transition: color .3s linear $progressBarDelay;
  color: $grey;
  white-space: nowrap;

  .is-current & {
    color: $genBlue;
  }
}

.c-timeLine--big {
  .c-progressStep__legend {
    font-size: 1.2rem;
  }
}

  
.c-timeLine--tunnel {
  height: 110px;
  padding: 0 12%;
  background-color: $genBlue;

  .c-progress {
    top: 46px;
    .c-progressStep {
      border-color: #80d5ff;
      background: #80d5ff;

      &.is-previous, &.is-current {
        border-color: white;
        background: white;
        
        .c-progressStep__legend {
          color: white;
        }
      }
    }

    .c-progressStep__legend {
      color: #80d5ff;
      font-weight: bold;
    }

    
    .c-progressStep__value {
      color: $genBlue;
    }
  }
  
  .c-progressBar {
    background: #80d5ff;
  }
}

@media ( min-width: 768px) and (max-width : 1023px) {
  .c-progressStep__legend {
    display: none;
  }
}

@include media("<small") {
  .c-timeLine--big {
    .c-progressStep {
      width: 30px;
      height: 30px;
      border-color: $grey-medium;
      background: $grey-medium;

      .c-progressStep__value {
        color: $grey;
      }

      .c-progressStep__legend {
        display: none;
      }

      &.is-previous,
      &.is-current {
        .c-progressStep__value {
          color: $white;
        }
      }

      &.is-previous {
        .c-progressStep__value {
          display: none;
        }

        &:before {
          content: "\EAD9";
          font-family: 'icons';
          speak: none;
          display: inline;
        }
      }
    }

    .c-progressStep__value {
      display: block;
      font-size: 1.1rem;
      color: $white;
      line-height: 20px;
    }

    .c-progressStep__legend {
      position: absolute;
      left: 50%;
      padding-left: 0;
      margin-top: 20px;
    }
  }

  .c-timeLine {
    &.c-timeLine--arrow { display: none; }
  }

  .c-progress {
    top: 46px;
    .c-progressStep {
      .c-progressStep__legend{
        display: none;
      }

      &.is-current {
        .c-progressStep__legend { display: block;}
      }
    }
  }
}



@include media(">=small") {
  .c-timeLine {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    
  }


  .c-progressStep {
    width: 25px;
    height: 25px;
    line-height: 18px;
  }

  .c-progressStep {
    border: 1px solid $grey;
    background: $white;
    color: $grey-medium;
  }

  .c-progressStep__legend {
    padding-top: 4px;
    padding-left: 30px;
    color: $grey;

    &.is-current {
      color: $genBlue;
    }
  }

  .c-progressStep__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: block;
    font-size: 1.7rem;
    text-align: center;
    color: $grey;

    .is-current &, .is-previous & {
      color: $white;
    }
  }

  .c-progressStep__legend {
    margin-top: 20px;
  }

  .c-timeLine--big {
    .c-progressStep__legend {
      font-size: 1.3rem;
    }
  }
}


@include media(">=medium"){
  .c-timeLine {
    width: 580px;
  }

  .c-timeLine--tunnel {
    width: 100%;
  }
}

@include media(">=medium"){
  .c-timeLine.c-timeLine--arrow {  
    display: block; 
    width: auto;
    z-index: 0;
    
    .c-progress {
      justify-content: center;
    }

    .c-progress, .c-progress__stepItem {
      display: flex;
      align-items: center;
    }
    
    .c-progressStep {
      position: relative;
      top: 0;
      transform: none;
      transform: translate(0, 0);
    }

    .c-progressStep__legend { 
      margin: 0 40px 0 10px;
      padding: 0;
      transform: translate(0)
    }

    .c-progressStep__arrow {
      width: 16px;
      height: 16px;
      border-bottom: 1px solid #00aaff;
      border-right: 1px solid #00aaff;
      transform: rotate(-43deg);
      margin-right: 40px;
    }    
  
    // timeLineStep header Tunnel, version mobile not DONE
    .c-timeLineStepStatic {
      display: flex;
      align-items: center;

      &.is-done  {
        opacity: 1;
        .c-progressStep {
          border-color: $genBlue;
          background: white;
          border-width: 1.5px;
          
          .c-progressStep__value { color: $genBlue; }   
        }

        .c-progressStep__legend {
           color: $genBlue; 
           margin: 0 40px 0 10px;
          } 
        .c-progressStep__arrow { 
          margin-right: 40px;
          border-color: $genBlue; }
      }

      &.is-current .c-progressStep__legend { font-weight: bold;}
    }
  }
}

@media ( min-width: 768px) and (max-width : 1023px) {
  .c-timeLine--big .c-progressStep__value{
    line-height:30px;
  }

  .c-column--noGut.c-column--fix {
    height: 80px;
    margin-top: 80px;
  }

  .c-column--noGut.c-column--fix .c-inputMat, 
  .c-column--noGut.c-column--fix .c-selectMat {
    width: auto;
    margin: 0 auto;
  }
}
