include timeLine
include timeLineWizard/timeLineWizard

// Accessibilité - ARIA de la progressbar : https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_progressbar_role


+demo
  +timeLineWizard

.c-wysiwyg
  h2 timeLine : tunnel
+demo
  +timeLine({
    type:  "tunnel",
    currentStep: 3,
    stepWording: ['Situation', 'Consommation', 'Fin']
  }).u-theme-indigo(style="position: relative; top: 0;")


.c-wysiwyg
  h2 timeLine with arrow (header Tunnel connect)
+demo()
  +timeLine({
    type: "static",
    currentStep:1,
    stepWording: ['Mode de paiement', 'Paiement', 'Confirmation'],
    progressBar: false
  })(style="position: relative; top: 0;")



.c-wysiwyg
  h2 timeLine
+demo({
  desc: `
    - La barre de progression (colorée sur Estimation et CEL) <code>c-progressBar__line</code> est manipulée dynamiquement à travers son css <code>scaleX</code> via son attribut style<br/>
    - Les panneaux de progression <code>c-progressStep</code> sont positionnés verticalement le long de la barre de progression dynamiquement à travers leur css <code>left</code> via leur attribut style<br/>
    - Thème : Ajout d'une classe 'u-theme-estimation' sur .c-timeLine pour lui attribuer le thème d'Estimation<br/>
      `
})
  +timeLine({
    type:  "progressBar",
    currentStep: 1,
    stepWording: ['Critères', 'Offres', 'Souscription', 'Validation', 'fin']
  })(style="position: relative; top: 0;")


.c-wysiwyg
  h2 timeLine : Estimation
+demo
  +timeLine({
    type:  "progressBar",
    currentStep: 3,
    stepWording: ['Situation', 'Consommation', 'Fin']
  }).u-theme-indigo(style="position: relative; top: 0;")


.c-wysiwyg
  h2 timeLine : big sur mobile et static
+demo
  +timeLine({
    type:  "progressBar",
    big: true,
    static: true,
    currentStep: 2,
    stepWording: ['Ma demande de contrat', 'Mise en service de mon énergie', 'Ma première facture']
  }).u-theme-magenta
