include evaluationFAQ

.c-wysiwyg
  h1 evaluationFAQ

.c-wysiwyg
  h2 evaluationFAQ choix oui et non

+demo({
  desc: "evaluationFAQ"
})
  +evaluationFAQ

.c-wysiwyg
  h2 bloque OUI

+demo({
  desc: "evaluationFAQ"
})

  +evaluationFAQ({
    choice :"is-true",
    visualChoice: "choice1"
  })


.c-wysiwyg
  h2 bloque NON

+demo({
  desc: "evaluationFAQ"
})

  +evaluationFAQ({
    choice :"is-false",
    visualChoice: "choice2"
  })
