h2.u-heading-1 Bloc Explication Facture :

+demo({
    desc: `
        -   Le text dans le modal est un text wysiwyg.<br>
        -   image contrib.
    `
})

    +imageModalV2({
        img: 'textImageBg.jpg',
        targetModal : 'facture'
    })

h2.u-heading-1 Bloc Explication Facture Savier-vous version 1:

+demo({
    desc: `
        -   Le text dans le modal est un text wysiwyg.<br>
        -   image contrib.
    `
})

    +imageModalV2({
        img: 'textImageBg.jpg',
        savier : true,
        oranger : true,
        targetModal : 'salut',
        spinner : true
    })

h2.u-heading-1 Bloc Explication Facture Savier-vous version 2:

+demo({
    desc: `
        -   Le text dans le modal est un text wysiwyg.<br>
        -   image contrib.
    `
})

    +imageModalV2({
        img: 'textImageBg.jpg',
        savier : true,
        targetModal : 'hamza'
    })



