mixin cityMat(data)
  - var data = data || {}
  - var gaz = data.gaz || false
  - var wbs = data.wbs || "https://particuliers.engie.fr/sloca-ws/distributeur/recherchecommunes/"

  // .c-cityMat
  +column({
    spaced: true,
    colConfig: '50-50'
  }).c-cityMat(
    data-e-citymat='{"url":' + wbs + ', "wrongZipMessage": "Le code postal ne semble pas correct"}'
  )
    .c-column__col
      +inputMat({
        label:        'Code postal',
        type: "tel",
        id:           "contact-cp",
        name:         "CODE_POSTAL",
        maxlength:    5,
        pattern:      "cp",
        required:     true,
        autoComplete: 'off',
        placeholder:  'Ex: 75002',
        dataValidation: {
          validations: {
            valueMissing:    'Champs obligatoire',
            patternMismatch: 'Format incorrect'
          }
        }
      })(data-e-citymat-zip)

    .c-column__col
      +selectMat({
        label:       'Commune',
        id:          "contact-commune",
        name:        "COMMUNE",
        placeholder: 'Ex: Votre commune',
        disabled:    true
      })(data-e-citymat-city)
        option(value="") Votre commune

      +inputMat({
        label:       'Commune',
        id:          "contact-commune",
        name:        "COMMUNE",
        placeholder: 'Ex: Votre commune',
        disabled:    true,
        required:    true,
        dataValidation: {
          validations: {
            valueMissing: 'Champs obligatoire'
          }
        }
      })(data-e-citymat-city-fallback hidden)
  // END .c-cityMat
