//- +multiChoice
h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant multiChoice

+demo({
  desc: ''
})
  +multiChoice
    +multiChoiceInput({
      inputID: 'radiateur1',
      inputName: 'demo1',
      inputLabel: 'Chauffage individuel',
      imageUrl: "../images/estimation/picto-radiateur.svg"
    })
    +multiChoiceInput({
      inputID: 'four1',
      inputName: 'demo1',
      inputLabel: 'Cuisine',
      imageUrl: "../images/estimation/picto-four.svg"
    })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant multiChoice

+demo({
  desc: ''
})
  +multiChoice
    +multiChoiceInput({
      inputID: 'radiateur2',
      inputName: 'demo2',
      inputLabel: 'Chauffage individuel',
      imageUrl: "../images/estimation/picto-radiateur.svg"
    })
    +multiChoiceInput({
      inputID: 'four2',
      inputName: 'demo2',
      inputLabel: 'Cuisine',
      imageUrl: "../images/estimation/picto-four.svg"
    })
    +multiChoiceInput({
      inputID: 'baignoire2',
      inputName: 'demo2',
      inputLabel: 'Eau chaude',
      imageUrl: "../images/estimation/picto-baignoire.svg"
    })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant multiChoice

+demo({
  desc: ''
})
  +multiChoice
    +multiChoiceInput({
      inputID: 'freezer',
      inputName: 'demo3',
      inputLabel: 'Congélateur',
      imageUrl: "../images/estimation/picto-freezer.svg"
    })
    +multiChoiceInput({
      inputID: 'seche-linge',
      inputName: 'demo3',
      inputLabel: 'Sèche-linge',
      imageUrl: "../images/estimation/picto-seche_linge.svg"
    })
    +multiChoiceInput({
      inputID: 'lave-linge',
      inputName: 'demo3',
      inputLabel: 'Lave-linge',
      imageUrl: "../images/estimation/picto-lave_linge.svg"
    })
    +multiChoiceInput({
      inputID: 'lave-vaisselle',
      inputName: 'demo3',
      inputLabel: 'Lave-vaisselle',
      imageUrl: "../images/estimation/picto-lave-vaisselle.svg",
      disabled: true
    })