@import "callback/callback";
@import "cart/cart";


.c-floatingModal__close {
  @extend %reset-style-button;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 22px;
  color: $grey;
  font-size: 2rem;
}

.c-floatingModal {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  padding: 15px;
  padding-top: 50px;
  color: $black;

  &.is-opened {
    visibility: visible;
    overflow: auto;
    opacity: 1;
  }
}

.c-floatingModal__headingBlock {
  text-align: center;
  font-weight: $font-bold;
  border-bottom: 1px solid $grey-medium2;
  padding-bottom: 15px;
}

.c-floatingModal__heading-1 {
  font-size: 2.1rem;
}

.c-floatingModal__heading-2 {
  font-size: 1.6rem;
}

// avec flèche
.c-floatingModalArrow {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out,
              transform 0.2s ease-in-out;

  &.is-opened {
    visibility: visible;
    overflow: auto;
    opacity: 1;
  }

  .c-floatingModal.is-opened {
    height: auto;
  }
}


@include media("<small") {
  .c-floatingModal {
    background-color: $grey-light;
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;

    &.is-opened {
      height: 100%;
      width: 100%;
      .c-baseBtn__content {display: block; }
    }
  }

  .c-floatingModal__content {
    height: 100%;
    line-height: 1.5;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
  }

    // avec flèche
  .c-floatingModalArrow {
    background-color: $grey-light;
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;

    &.is-opened {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: 3500;
    }

    .c-floatingModal {
      position: static;
    }
  }

  .c-floatingModal__infoBlock-grey {
    text-align: center;
    background-color: $grey-medium2;
    padding: 15px;
  }

  .c-floatingModal__infoBlock {
    text-align: center;
  }
}


@include media(">=small") {
  .c-floatingModal {
    background-color: $grey-light;
    position: absolute;
    max-height: 68vh;
    min-height: 200px;
    right: 90px;
    bottom: -20px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 20px;
  }

  .c-floatingModal__headingBlock {
    text-align: left;
  }

  .c-floatingModal__heading-1 {
    font-size: 1.6rem;
  }

  .c-floatingModal__heading-2 {
    font-size: 1.4rem;
  }

  .c-floatingModal__close {
    display: none;
  }

  // avec flèche
  .c-floatingModalArrow {
    position: absolute;
    transform: translateY(-10px);

    &.is-opened {
      transform: translateY(5px);
      width: auto;
      height: auto;
      min-height: 0;
      max-height: none;
      overflow: visible;
      right: 0;
      top: 100%;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      z-index: 11;
      border: 15px solid transparent;
    }

    .c-floatingModal {
      position: static;
      min-width: 330px;
    }
  }

  .c-floatingModalArrow--TR,
  .c-floatingModalArrow--TL {
    padding-top: 15px;

    &:before {
      top: 15px;
      right: 30px;
      transform: translateY(-100%);
      border-bottom: 15px solid $grey-light;
      border-top: 0;
    }
  }

  .c-floatingModalArrow--TR {
    right: 0;

    &:before {
      right: 30px;
    }
  }

  .c-floatingModalArrow--TL {
    left: 0;

    &:before {
      left: 30px;
    }
  }

  .c-floatingModal__infoBlock-grey {
    text-align: left;
    padding: 15px;
    background-color: $grey-medium;
  }

  .c-floatingModal__infoBlock {
    text-align: left;
  }
}
