.c-suggest {
  position: absolute;
  visibility: hidden;
  padding: 0 20px;
  background-color: $white;
  width: 100%;
  border: 1px solid $grey-medium;
  box-shadow: 0 5px 15px 0 rgba(0,0,0, .1);
  top: 31px;
  left: 0;
  z-index: 100;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity .2s ease-in-out,
              transform .2s ease-in-out;

  &.is-active {
    transform: translateY(0);
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
  }
}


.c-suggest__item {
  color: $grey;
  border-bottom: 1px solid $grey-medium;
  display: block;
}

.c-suggest__itemBtn {
  @extend %reset-style-button;
  display: block;
  padding: 15px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;

  > span {
    display: block;
  }

  @include hover-focus-active() {
    background-color: $grey-light;
  }
}

.c-suggest__label {}

.c-suggest__subLabel {
  font-size: 1.2rem;
  color: $grey;
}

.c-suggest__help {
  text-align:  center;
  padding: 15px;
}

.c-suggest__helpBtn {
  @extend %reset-style-button;
  cursor: pointer;
}

