mixin suggest(data)
  - var data = data || {}

  // .c-suggest
  span.c-suggest
    ul.c-suggest__list(role="listbox")
      li.c-suggest__item(role="option")
        button(type="button").c-suggest__itemBtn
          span.c-suggest__label 52 avenue de Verdun 410000 Noix 52 avenue de Verdun 410000 Noix
          span.c-suggest__subLabel 41000, Noix, Loire-et-Cher
      li.c-suggest__item(role="option")
        button(type="button").c-suggest__itemBtn
          span.c-suggest__label 52 avenue de Verdun 410000 Noix
          span.c-suggest__subLabel 41000, Noix, Loire-et-Cher
      li.c-suggest__item(role="option")
        button(type="button").c-suggest__itemBtn
          span.c-suggest__label 52 avenue de Verdun 410000 Noix
          span.c-suggest__subLabel 41000, Noix, Loire-et-Cher
      li.c-suggest__item(role="option")
        button(type="button").c-suggest__itemBtn
          span.c-suggest__label 52 avenue de Verdun 410000 Noix
          span.c-suggest__subLabel 41000, Noix, Loire-et-Cher
      li.c-suggest__item(role="option")
        button(type="button").c-suggest__itemBtn
          span.c-suggest__label 52 avenue de Verdun 410000 Noix
          span.c-suggest__subLabel 41000, Noix, Loire-et-Cher

    .c-suggest__help
      button.c-suggest__helpBtn.u-link.u-link--revert(type='button')
        | Je n’ai pas trouvé mon adresse
  // end .c-suggest
