.c-imageIndex {
    width: 100%;
    display: flex;
    padding: 30px;
    padding-bottom: 0 !important;
    flex-direction: column;
    min-height: 443px;
    padding-right: 0;
    background: white;
}

.c-imageIndex__image {
    height: 100%;
    text-align: center;
}

@include media("<=medium") {
    .c-imageIndex { 
        padding: 15px;
        padding-top: 30px;
        padding-right: 0;
    }
    
    .c-imageIndex__image { text-align: left; }
}

@include media("<=small") {
    .c-imageIndex { min-height: auto; }
}