@import "headerCelPlaces/headerCelPlaces";
@import "headerCelSearch/headerCelSearch";

.c-headerCel--gradientStyle {
  background: #F2F2F2;
  background: linear-gradient(180deg, #F2F2F2 55px, rgba(255,255,255,1) 55px);
  position: relative;
  z-index: 1;
  height: 66px;
  @include media ("<=medium") {
    height: 66px;
  } 
}

.c-siteHeader__mainNav__button.c-headerCel__burger.is-active .c-siteHeader__mainNav__text {
  display: none !important;
}

.c-siteHeader__mainNav__button.c-headerCel__burger.is-active .c-siteHeader__mainNav__text.u-hide {
  display: block !important;
  height: auto;
  width: auto;
  font-family: 'Open Sans', sans-serif;
}

.c-headerCel--gradientStyleEtapier .c-headerCel__main {
  @include media ("<=medium") {
    height: 66px;
  }
}

.c-headerCel__logoLink {
  margin: 0;
  padding: 0;
}

.c-headerCel__aside span.c-baseBtn__iconLeft.icon.icon-deconnexion::before {
  padding-left: 0;
}

.c-headerCel--gradientStyle.c-headerCel--gradientStyleEtapier {
  background: linear-gradient(180deg, #F2F2F2 49%, rgba(255,255,255,1) 49%);
}
@include media (">medium") {
  .c-headerCel.c-headerCel--gradientStyleEtapier {
    height: 110px;
  }
}

@include media ("<=medium") {

  .c-headerCel__aside .c-baseBtn__iconLeft {
    margin-right: 0;
    margin-left: 0;
  }
  
  .c-siteHeader__mainNav__text {
    position: absolute !important;
    width: auto !important;
    height: auto !important;
    top: 35px !important;
    left: 10px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }

  .c-headerCel__btn__deconexion .icon {
    color: $black;
    font-size: 2.4rem;
  }

  .c-siteHeader__mainNav__button.c-headerCel__burger.is-active {
    left:0 !important;
  }

  .c-headerCelNav__wrapper {
    border-top: 1px #d0d0d0 solid ;
  }
}
.c-headerCel.c-headerCel--gradientStyleEtapier {
  
  &.c-sticky {
    width: 100%;
    right: 0!important;
    position: fixed!important;
    transition: all 0.5s ease-in-out;

  }
  &.c-sticky--fixed {
    transform: translateY(0%)!important;
    // position: fixed!important;
  }

  &.c-sticky.c-sticky--unstickyTop {
    transform: translateY(-100%)!important;
    // position: fixed!important;
    @include media ("<=medium") {
      transform: translateY(-230px)!important;
    }
  }
}

.c-headerCel {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  
  &.c-sticky {
    width: 100%;
    right: 0!important;
    position: fixed!important;
    transition: all 0.5s ease-in-out;

  }
  &.c-sticky--fixed {
    transform: translateY(0%)!important;
    // position: fixed!important;
  }

  &.c-sticky.c-sticky--unstickyTop {
    transform: translateY(-100%)!important;
    // position: fixed!important;
  }

  .c-headerCel__PlacesID {
    color: $genBlue;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

h1.c-headerCel__logo {
  width: 7%;
  display: inline-block;
  margin-left: 1px;
  margin: 0;
  padding: 0;
}

.c-headerCel [class^="icon-"], [class*=" icon-"] {
  background-image: none;
  width: initial;
  height: initial;
}

.c-headerCel + .l-wrapper--main, .c-headerCel + .l-wrapper--mainFull {
  transition: padding-top 0.3s ease-in-out;
}

.c-headerCel__logoImg--tr {
  width: auto;
}

.c-headerCel__main {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  align-items: center;
  height: 45px;
}

.c-headerCel__aside{
  display: flex;
  align-items: center;
  margin-left: auto;

  @include media ("<=medium") {

  .u-theme-genBlue > .c-baseBtn.u-theme-bg {
    background-color: white!important;
    color: $genBlue;
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    font-weight: normal;

      .c-baseBtn__content {
        display: block;
        color: #333;
        top: 13px;
        font-weight: normal
      }
    }
  }

  
}

.c-headerCel__burger {
  @extend %reset-style-button;
  margin-right: 5px;

  .icon {
    font-size: 2.4rem;
  }
}

.c-headerCel__burger.is-active .icon::before {
  content: '\EB47';
}

.c-headerCelUser__name {
  font-size: 1.2rem;
  font-weight: bold;
  color: $genBlue;
  margin-top: 15px;

  @include media ("<=medium"){
    width: 100%;
    text-align: center;
  }

  @include media (">medium") {
    position: absolute;
    width: auto;
    text-align:left;
    display: inline-block;
    font-size: 1.4rem !important;
    left: 0;
  }
}

.c-headerCel__btn__deconexion {
  min-height: 54px;
  min-width: 175px;
  margin: 0;
}

.c-headerCel__header {
  &.c-headerCel__header--col3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .c-headerCel__logo {
      display: inline-block;
      position: relative;
      width: auto;
    }
  }
}

.c-headerCelTunnel__title {
  color: white;
  display: inline-block;
}

.c-headerCelTunnel__link {
  display: inline-block;

  .icon {
    color: white;
    font-size: 3rem;
    text-decoration: none;
  }
}

.c-headerCel--gradientStyleEtapier .c-timeLine {
  padding: 0 50px 0;
}
// mobile & tablette portrait
@include media("<=medium") {
  $headerCel-height: 124px;
  
  .c-headerCel--etapierStyleMobile {
    display: block;
    position: absolute;
    bottom: -120px;
    width: 100%;
  }

  .c-etapier__header.c-etapier {
    display: none;
  }

  .c-headerCel--etapierStyleMobile .c-etapier__header.c-etapier {
    display: block;
  }

  .c-headerCel {
    .c-siteHeaderCel__logoImg {
      height: 50px;
      .cls-1 { fill:$genBlue; }
      .cls-2 { fill:#fff; }
    }
    
    .c-timeLine { display: none; }

    html:not(.no-scroll) & {
      transition: transform .4s ease;
      will-change: transform;
      transform: translateY(0);

      &.is-small {
        transform: translateY(-35px);
      }
    }
    .c-column__col {
      width: 33%;
    }
  }

  .c-column__col.c-headerCel__PlacesBloc {
    margin-bottom: 15px;
    position: absolute;
    bottom: -67px !important;
    width: 100%;
    background: #f2f2f2;
    height: 52px;
    // z-index: -1;
  }

  .c-headerCel__main {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  .c-headerCel__header {
    padding: 23px 10px 50px 0 !important;
    background: white;
  }

  // .l-wrapper .c-headerCel__header.l-wrapper {
  //   padding: 40px 10px 50px 0;
  // }

  .c-headerCel + .l-wrapper--main, .c-headerCel + .l-wrapper--mainFull {
    padding-top: $headerCel-height
  }

  .c-headerCel__aside {
    position: absolute;
    right: 0;
    top: 0;

    .c-baseBtn__content {display: none; }
  }

  h1.c-headerCel__logo {
    position: absolute;
    top: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .c-headerCel__logoLink { 
    display: inline-block; 
    position: relative;
    z-index: 1;
  }

  .c-headerCel__btn__deconexion{
    min-height: auto;
    width: auto;
    min-width: auto;
    margin: 0;
    padding: 25px 10px 15px 30px;
  }

  .c-siteHeader__mainNav__button.c-headerCel__burger .c-siteHeader__mainNav__picto {
    top: 50%;
    right: 15px;
    left: 15px;
    transform: translateY(-50%);
    transition-property: background;
    transition-duration: .2s;

    &,
    &:before,
    &:after {
      height: 2px;
      border-radius: 10px;
      position: absolute;
      display: block;
      background-color: $black;
    }

    &:before,
    &:after {
      content: '';
      left: 0;
      background-color: $black;
      transition-duration: 0.2s, 0.2s;
    }

    &:before {
      top: -8px;
      width: 25px;
      transition-property: top, transform;
    }

    &:after {
      bottom: -8px;
      width: 25px;
      transition-property: bottom, transform;
    }

    width: 25px;
  }
  
  .c-headerCelTunnel__link {
    color: white;
  }

  .c-siteHeader__mainNav__button.c-headerCel__burger, .c-siteHeaderV2__mainNav__button.c-headerCel__burger {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    height: 48px;
    top: 5px;
    left: 0;
    text-align: center;
    
    &.is-active {
      left: -4px;

      .c-siteHeader__mainNav__picto {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
          width: 30px;
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
          width: 30px;
        }
      }
    }


    .c-siteHeaderV2__mainNav__button.c-headerCel__burger {
      
      .c-siteHeader__mainNav__picto {
        background: white;

        &:before {
          background: white;
        }

        &:after {
          background: white;
        }
      }
    }

    .c-headerCelNav{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}

@include media ("<=medium") {
  .c-headerCel__header.c-headerCel__header--col3 {
    padding: 0 20px !important;
    height: 66px;
  }

  .c-headerCel .c-headerCelUser__name {
    margin-top: 4px;
    display: block;
  }

  .c-headerCelTunnel__title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    padding: 0 23%;
  }
}

@include media (">medium") {
  $headerCel-height: 114px;
  $headerCel-height: 124px;
  
  .c-headerCel--etapierStyleMobile {
    display: none;
  }

  .c-headerCel {
    height: 110px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: -10px;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    }

    .c-siteHeaderCel__logoImg {
      height: 50px;
    }
    
    .c-column__col {
      width: 33%;
    }
  }
  
  .c-headerCel__blockTop {
    height: 50px;
    align-items: center;
    position: relative;
    display: flex;
  }

  .c-headerCel--border {
    // border-bottom: 1px dotted $grey;
    height: 49px;
  }

  .c-headerCel--borderBefore:before {
    // position: absolute;
    // content : "";
    // right    : 174px;
    // bottom  : 0;
    // height  : 1px;
    // width   : (calc(33.333% - 175px) ) !important;  /* or 100px */
    // border-bottom:1px dotted $grey;
  }

  .c-headerCel + .l-wrapper--main,
  .c-headerCel + .l-wrapper--mainFull {
    padding-top: $headerCel-height
  }

  .c-headerCel__main {
    width: 91%;
    height: 100%;
    position: relative;
    // border-bottom: 1px dotted $grey-medium;

    .c-headerCelNav__itemLink:after{
      bottom: -3px;
    }   

    .c-headerCelTunnel__title { display: none;}

  }

  .c-headerCel__logoImg {
    width: 110px;
  }

  .c-headerCel__logoImg--tr {
    width: auto;
  }

  .c-headerCel__aside {
    max-width: 270px;
    justify-content: flex-end;
  }

  .c-headerCel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;

    &.l-wrapper--large{
      max-width: 1240px;
    }
  }

  .c-headerCelTunnel__title {
    font-size: 1.8rem;
    color: $genBlue;
  }

  .c-headerCelTunnel__link {
    font-size: 1.5rem;
    color: $genBlue;
    text-decoration: underline;
  }

  .c-headerCel .c-siteHeaderCel__logoImg{
    height: 100px;
  }

  .c-siteHeader__mainNav__button { display: none; }

  .c-timeLine--arrow {margin-left: -4%; }
}

@include media(">small", "<=medium") {
  .c-headerCel__header {
    padding-right: 0;
  }

  .c-headerCel__logoImg--tr {
    width: 150px;
  }

  .c-headerCelPlaces { width: 50%;}
}

// headerCel V3
@include media("<=small") {
  .c-headerCel__btn__deconexion {
    min-width: auto !important;
  }

  .c-headerCelUser__name {
    padding-right: 22px;
  }
}

@include media(">medium") {
  .c-headerCelPlaces {
    top: 14px !important;
  }
  .c-headerCelNav__list {
    height: 36px!important;
    margin-top: 12px;
  }
}


@include media (">small", "<=medium") { 
  .u-padding-md-t-100 {
    padding-top: 100px !important;
  }
}