include headerCel

h1.u-heading-1.u-margin-v-50.u-textCenter HeaderCel pour le type Tunnel connecté

<button type="button"  data-e-switch-toggle="header">switch HeaderCel</button>



div(data-e-switch-toggle-name="header" hidden)
  //- +demo({
  //-   desc :"HeaderCel pour le type Tunnel non connecté"
  //- })
  +headerCel({
    header: "tunnel",
    headerTunnel: true
  })

div(data-e-switch-toggle-name="header" )
  //- +demo({
  //-   desc :"HeaderCel pour le type Tunnel connecté"
  //- })
  +headerCel({
    header: "tunnelConnect",
    headerTunnel: true
  })



