include pushActu
+demo({
    desc : `
        - HTML completement changer il faut l'integrer à nouveau. 
    `
})
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                img : true,
                title : "Passez à la facture en ligne !",
                txt : "Pour en finir avec les papiers et accéder facilement à toutes vos factures où que vous soyez."
            })
+demo({
    desc : `
        - HTML completement changer il faut l'integrer à nouveau. 
    `
})
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                img : true,
                title : "Application mobile",
                txt : "Accédez rapidement à tous les services de votre Espace Client où que vous soyez !",
                bkg : "actif-conso.png",
                bkgMobile : "actif-conso-mobile.png"
            })
+demo({
    desc : `
        - HTML completement changer il faut l'integrer à nouveau. 
    `
})
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                img : true,
                title : "Le chèque Énergie, qu’est-ce que c’est ?",
                txt : "Le Chèque Énergie apporte un soutien aux ménages modestes pour les aider à payer leurs factures d’énergie.",
                bkg : "cheque-energie.png",
                bkgMobile : "cheque-energie-mobile.png"
            })
+demo({
    desc : `
        - HTML completement changer il faut l'integrer à nouveau. 
    `
})
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                img : true,
                title : "Mon suivi de consommation",
                txt : "Faites des économies d ‘énergie en réduisant votre consommation.",
                bkg : "statistique-diagramme.png",
                bkgMobile : "statistique-diagramme-mobile.png"
            })
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                img : true,
                title : "Actualité",
                link : true,
                txt : "Consultez le prix du gaz dans votre commune..",
                bkg : "info-push.png",
                bkgMobile : "info-push-mobile.png"
            })
+demo({
    desc : `
        - HTML completement changer il faut l'integrer à nouveau. 
    `
})
    .l-row
        h2.u-heading-1.u-margin-b-50 push actualité page mes facture
        .l-col-medium-5
            +pushActu({
                label : true,
                desktopImg : true,
                para : "<b>Durée de validité :</b> du 01/04/2022 au 30/04/2023",
                title : "Vous beneficiez d’un chèque énergie de 100 € délivré par l’état pour l’année 2022/2023",
                txt : "Demander dès à présent la pré-affectation de vos prochains Chèque Energie afin qu’ils soient automatiquement déduits de vos factures d’Energie."
            })