.c-pushActu {
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 5px 0 rgba(51,51,51,0.15);
    padding: 40px;
    background-repeat: no-repeat;
    background-position: right center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
    background-size: 120px 150px;
}

.c-pushActu__title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.3rem;
    margin-bottom: 10px;
}

.c-pushActu__desc {
    width: 248px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.c-pushActu__headFull .c-pushActu__desc {
    width: 100%;
}

.c-pushActu__btn.c-btn {
    padding: 8px 15px;
    min-width : 190px
}

.c-pushActu__btn.c-btn .c-btn__content {
    font-size: 1.6rem
}

.c-pushActu__link {
    color: $genBlue;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    font-weight: 600;
}

.c-pushActu__link .icon {
    font-weight: bold;
    font-size: 1.6rem;
}

@include media("<=medium", ">small") {
    .c-pushActu {
        padding: 19px;
    }
    .c-pushActu__btn.c-btn {
        min-width: 100%;
    }
    .c-pushActu__btn.c-btn {
        padding: 15px 30px;
    }

    .c-pushActu__desc {
        width: 180px;
    }
}

@include media ("<small") {
    .c-pushActu {
        background-image: none !important;
        box-shadow: none;
        background-color: white;
        padding: 16px 16px 0;
    }

    .c-pushActu__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-pushActu__title {
        font-size: 2rem;
        line-height: 2.7rem;
        margin-bottom: 24px;
    }

    .c-pushActu__btn.c-btn {
        padding: 13px 30px;
        font-weight: bold;
    }
    .c-pushActu__link span.icon{
        display: none;
    }
    .c-pushActu__link {
        margin-bottom: 16px;
        text-decoration: underline;
        font-size: 1.6rem;
        font-weight: 600;
        text-underline-position: under;
    }

    .c-pushActu__desc {
        width: 100%;
    }
}