@import "mesFactureHeader/mesFactureHeader";
@import "mesFactureMain/mesFactureMain";
@import "mesFactureFaq/mesFactureFaq";

.c-mesFacture {
  .c-legalMention {
    padding-left: 0;
  }
}

@include media ("<=small") {
  .c-mesFacture {
    .l-col-medium-4 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .c-mesFactureTable__title {
    padding: 15px;
    margin-bottom: 0;
  }
}


.u-theme-blue > .c-baseBtn.c-baseBtn--secondary {
  color: $blue !important;
  border: 1px solid $blue !important;
}

.c-mesFactureInfo__title--index {
  font-size: 3.6rem;
}

//hamza
@include media (">small") {
  .c-pushLight__contentLight {
    display: inline-flex;
    align-items: center;
  }
  .c-mesFactureInfo__titleDesc {
    width: calc(100% - 200px);
    display: inline-block;
  }
  
  .c-pushLight__contentLight .c-btnWrapper {
    display: inline-flex;
  }
}