mixin itemEcoGest(data)
  - var data = data || {}
  - var active = data.active || "c-itemEcoGestActive"
  - var tab    = data.tab || ""

  .c-itemEcoGest(class=active)
    .c-itemEcoGest__fixSlick
      span.c-itemEcoGest__title Fabulous travaux maisonnes
      .c-itemEcoGest__info
        span.c-itemEcoGest__force.u-color-greenBaaast Force
        span.c-itemEcoGest__iconNumber.icon-force.icon 
          span.c-itemEcoGest__number 4
      +btnWrap
        +btn(href="#" + tab).js_btn.c-btn--greenPersian.c-btn--noWidth Je découvre