.c-fullModalHeader {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  border-bottom: 2px solid $grey-light;
  background: $white;
  transition: transform .4s ease;
  will-change: transform;
  transform: translateY(0);

  &.is-small {
    transform: translateY(-40px);

    .c-fullModalHeader__top {
      opacity: 0;
    }
  }

  &.c-fullModalHeader--noTimeLine {
    align-items: center;
  }
}

.c-fullModalHeader__top {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  padding: 10px;
}

.c-fullModalHeader__btn {
  @extend %reset-style-button;
  font-size: 2rem;
  color: $grey;
}

.c-fullModalHeader__title {
  margin-left: auto;
  margin-right: auto;
  font-size: $font-13;
  font-weight: bold;
  color: $grey;
  text-align: center;

  @include media('>=small'){
    display: none;
  }
}

.c-fullModalHeader__btn--close {
  @include media('>=small'){
    margin-left: auto;
  }
}

// Modale sans la timeLine :
.c-fullModalHeader--noTimeLine {
  .c-fullModalHeader__title {
    font-size: $font-16;

    @include media('>=small'){
      display: block;
      font-size: $font-24;
    }
  }

  .c-fullModalHeader__btn--close {
    @include media('>=small'){
      margin-left: 0;
    }
  }
}


@include media('<small') {
  .c-fullModalHeader__btnLabel {
    @include visibility-hidden();
  }
  .c-timeLine {
    left: 0;
  }
}


@include media('>=small') {
  .c-fullModalHeader {
    min-height: 130px;

    .c-timeLine {
      top: 40px;
      width: 60%;
    }

    .c-progressBar,
    .c-progressBar__line {
      height: 2px;
    }

    .c-progressStep {
      width: 25px;
      height: 25px;
    }

    .c-progressStep__legend {
      font-size: 1.5rem;
      margin-top: 25px;
    }
  }

  .c-fullModalHeader__top {
    padding: 40px 60px;
  }

  .c-fullModalHeader__btn {
    font-size: 2.6rem;
  }

  .c-fullModalHeader__btnLabel {
    display: block;
    font-size: 1.4rem;
    margin-top: 5px;
  }
}