$checkPictoWidth: 20px;

//radio icon
.c-radioBlockMat.c-radioBlockMat--icon {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.c-radioBlockMat--block.c-radioBlockMat--icon .c-radioBlockMat__label:before {
  background-color: $grey-light;
  border-radius: 12px;
}

.c-radioBlockMat--icon {
    
  input:checked + .c-radioBlockMat__label .c-radioBlockMat__text, input:checked + .c-radioBlockMat__label + .c-radioBlockMat__iconLabel {
    color: $genBlue;
  }

  .c-radioBlockMat__text span.c-radioBlockMat__text {
    display: block;
  }

  .c-radioBlockMat__text span.c-radioBlockMat__text:first-child {
    font-weight: bold;
  }

  .c-radioBlockMat__iconLabel {
    font-size: 6rem;
    z-index: 9;
    position: relative;
  }
}

.c-radioBlockMat--block.c-radioBlockMat--icon .c-radioBlockMat__check {
  right: 30px;
  top: 42%;
  left: auto;
}

@include media ("<=small") {
  .c-radioBlockMat.c-radioBlockMat--icon {
    display: flex;
  }

  .c-inputMat__field--iban {
    width: 100%;
  }

  .c-radioBlockMat--icon .c-radioBlockMat__labelPadding {
    padding-left: 10px
  }

  .c-radioBlockMat--icon .c-radioBlockMat__iconLabel {
    font-size: 4rem;
  }

  .c-radioBlockMat--block.c-radioBlockMat--icon .c-radioBlockMat__check {
    right: 15px;
  }
}
//end radio icon
.c-radioBlockMat {
  position: relative;
  display: block;
  margin-bottom: 15px;

  .c-fieldInfo {
    display: none;
    width: 100%;
  }

  &.is-error {
    .c-fieldInfo {
      display: block;
    }

    .c-radioBlockMat__check {
      border-color: $error-color !important;
    }
  }
}

.c-radioBlockMat__label {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  min-height: $checkPictoWidth;
}

/* Classe présente sur .c-radioMat__label et à affecter au contenu à aligner avezc le texte de la radio :*/
.c-radioBlockMat__labelPadding {
  padding-left: 40px;
}

.c-radioBlockMat__check {
  position: absolute;
  top: 2px;
  left: 0;
  width: $checkPictoWidth;
  height: $checkPictoWidth;
  border: 1px solid;
  border-radius: 50%;
  transition: transform .2s,
              box-shadow .2s;
  transform: translateZ(0);
  box-shadow: inset 0 0 0 2px white;
}

.c-radioBlockMat__text.c-wysiwyg {
  width: auto;
  font-size: $font-18;
  font-weight: $font-bold;
}

.c-radioBlockMat__aside {
  margin-top: 5px;
  line-height: 1.4em;
}

.c-radioBlockMat__field {
  @include visibility-hidden;
}


.c-radioBlockMat--block {
  margin-bottom: 8px;
  padding: 30px 15px;
  // border-bottom: 1px solid $grey-medium2;

  &:first-of-type {
    // border-top: 1px solid $grey-medium2;
  }

  .c-radioBlockMat__check,
  .c-radioBlockMat__text,
  .c-radioBlockMat__aside {
    z-index: 10;
  }

  .c-radioBlockMat__aside {
    position: relative;
  }

  .c-radioBlockMat__check {
    top: 32px;
    left: 15px;
  }

  .c-radioBlockMat__label:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    display: block;
    background-color: $white;
    transition: .3s background-color ease-in-out;
  }

  &.c-radioBlockMat--blockEmpty {
    .c-radioBlockMat__label:before {
      content: none;
    }
  }

  input + .c-radioBlockMat__label:before {
    background-color: $grey-light;
    border-radius: 12px;
  }
}

@include media('>=small') {
  .c-radioBlockMat__labelPadding {
    padding-left: 50px;
  }

  .c-inputMat__field--iban {
    width: 330px;
  }

  .c-radioBlockMat--block {
    padding: 30px;

    .c-radioBlockMat__check {
      left: 30px;
    }
  }
}


// Attention, nécessaire à cause des classes de thème
.c-radioBlockMat__field:not(:checked):focus + .c-radioBlockMat__label .c-radioBlockMat__check {
  border-color: $genBlue-hover !important;
}

.c-radioBlockMat__field:not(:checked) + .c-radioBlockMat__label .c-radioBlockMat__check {
  background-color: white;
  border-color: $black;
  box-shadow: inset 0 0 0 10px white;
}

.c-radioBlockMat--link {
  .c-radioBlockMat__field + .c-radioBlockMat__label .c-radioBlockMat__text {
    color:$magenta;
  }
  .c-radioBlockMat__field:checked + .c-radioBlockMat__label .c-radioBlockMat__text {
    color: black;
  }
}

.c-radioBlockMatEmpty {
  position: relative;
  color: $grey;
  background-color: $grey-light;
  border-radius: 8px;
  padding: 30px;
  width: auto;

  .c-radioBlockMatEmpty__ticket {
    border-radius: 0 0 8px 8px;
    background-color: #a4acb4;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
    width: 70px;
    padding: 10px;
    line-height: 14px;
    font-weight:600;
  }

  .c-radioBlockMatEmpty__text {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

@include media ('<small') {

  .c-radioBlockMatEmpty {
    padding: 50px 20px 30px;
  }

  .c-radioBlockMatEmpty .c-radioBlockMat__labelPadding {
    padding-left: 0
  }

}
