@charset "utf-8";

// assets
@import "../../../../common/src/assets/scss/variables";
@import "../../../../common/src/assets/scss/mixins";

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

body {
  font-size: 1.5rem;
  font-family: $font-arial;
}

@font-face {
  font-display: swap;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype');
}

.headerCel {
  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  aside, canvas, details,
  figure, figcaption, footer, header, hgroup,
  menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section,
  main {
    display: block;
  }
  ol, ul {
    list-style: none;
  }

  -webkit-text-size-adjust: 100%;
  line-height: 1.4;
  font-family: $font-arial;
  color: $black;

  *, *:after, *:before {
    box-sizing: border-box;
  }

  @import "../../../../common/src/assets/scss/base";
  @import "../../../../common/src/assets/scss/icons";


  // écraser styles BOS4
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: none;
  }

  .icon {
    width: auto;
    height: auto;
  }

  // spécifier largeur du site
  max-width: 1240px;
  margin: 0 auto;

  // quelques styles (pas besoin d'importer toutes des 'utilities'
  .u-textUppercase { text-transform: uppercase; }
  strong { font-weight: 700; }

  // classes utilities
  @import "../../../../common/src/utilities/scss/display";
  @import "../../../../common/src/layout/wrapper/wrapper";


  // composants utilisés
  @import "../../../../common/src/components/column/column";
  @import "../../../../common/src/components/btnWrapper/btnWrapper";
  @import "../../../../common/src/components/spinner/spinner";
  @import "../../../../common/src/components/siteHeaderV2/siteHeaderV2";

  @import "../../../../cel/src/components/headerCel/headerCel";
  @import "../../../../cel/src/components/headerCelLayer/headerCelLayer";
  @import "../../../../cel/src/components/headerCelNav/headerCelNav";

  @import "../../../../common/src/utilities/global";


}

// fix bug hover btn genBlue
.u-theme-genBlue .u-theme-bg.u-theme-bg-hover:hover {
  background-color: #007fff !important;
}
