html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * 0.625);
  -webkit-text-size-adjust: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  // font-size: 1.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: $font-arial;
  background-color: $grey-medium;
  color: $black;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
object,
svg {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

button {
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  color: inherit;
}

img {
  vertical-align: middle;
}

/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}

// display none cause des problème sur le padding-right
input[type=text]::-ms-clear {
  width : 0;
  height: 0;
}

[hidden] {
  display: none!important;
}

@include media(">medium") {
  body {
    line-height: 1.4;
  }
}
