@font-face {
  font-display: swap;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype');
}

.icon {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;

  &:before {
    font-family: 'icons' !important;
    speak: none;
    display: inline;
  }
}

$icons: (
  accompagne: '\EA01',
    aide-anah: '\EA02',
    aide-financiere: '\EA03',
    aide-publique: '\EA04',
    arbre: '\EA05',
    avancement: '\EA06',
    baignoire: '\EA07',
    bar-chart: '\EA08',
    bolt: '\EA09',
    budget1: '\EA0A',
    budget2: '\EA0B',
    budget3: '\EA0C',
    budget4: '\EA0D',
    budget5: '\EA0E',
    building: '\EA0F',
    cablage: '\EA10',
    cadenas: '\EA11',
    calculette: '\EA12',
    calendar: '\EA13',
    camera: '\EA14',
    caret-bottom: '\EA15',
    caret-left: '\EA16',
    caret-right: '\EA17',
    caret-top: '\EA18',
    bold-phone: '\EA19',
    carousel-prev: '\EA1A',
    carton-ouvert: '\EA1B',
    carton: '\EA1C',
    cat: '\EA1D',
    chaudiere-panne: '\EA1E',
    chaudiere: '\EA1F',
    chaudiere2: '\EA20',
    chauffage: '\EA21',
    check: '\EA22',
    chevron-bottom: '\EA23',
    chevron-left: '\EA24',
    chevron-right: '\EA25',
    chevron-top: '\EA26',
    chimie: '\EA27',
    chimie2: '\EA28',
    clock: '\EA29',
    clock2: '\EA2A',
    clock3: '\EA2B',
    clock4: '\EA2C',
    close: '\EA2D',
    computer-file: '\EA2E',
    confort: '\EA2F',
    contact-advice-demenagement: '\EA30',
    contact-advice-earth: '\EA31',
    contact-advice-eco: '\EA32',
    contact-advice-france: '\EA33',
    contact-advice-linky: '\EA34',
    contact-advice: '\EA35',
    contact-deaf: '\EA36',
    contact-faq: '\EA37',
    contact-mail-demenagement: '\EA38',
    contact-mail-earth: '\EA39',
    contact-mail-eco: '\EA3A',
    contact-mail-france: '\EA3B',
    contact-mail-linky: '\EA3C',
    contact-mail: '\EA3D',
    contact-mail2: '\EA3E',
    contact-tel-elec: '\EA3F',
    contact-tel-gaz: '\EA40',
    contrat: '\EA41',
    coupure-elec-lampe: '\EA42',
    crown: '\EA43',
    crown2: '\EA44',
    customer: '\EA45',
    dashboard: '\EA46',
    depannage: '\EA47',
    dialogue: '\EA48',
    digital-touch: '\EA49',
    digital: '\EA4A',
    changer-fournisseur: '\EA4B',
    download: '\EA4C',
    elec-gaz: '\EA4D',
    elec-gaz2: '\EA4E',
    elec: '\EA4F',
    elec2: '\EA50',
    eolienne: '\EA51',
    eolienne2: '\EA52',
    eoliennes: '\EA53',
    espace-prime: '\EA54',
    esprit-service: '\EA55',
    external-link: '\EA56',
    eye-slash: '\EA57',
    eye: '\EA58',
    facebook-messenger: '\EA59',
    facebook: '\EA5A',
    file-search: '\EA5B',
    file-search2: '\EA5C',
    file-search3: '\EA5D',
    file1: '\EA5E',
    file2: '\EA5F',
    file3: '\EA60',
    file4: '\EA61',
    file5: '\EA62',
    file6: '\EA63',
    financement: '\EA64',
    financement2: '\EA65',
    fire: '\EA66',
    flower: '\EA67',
    france: '\EA68',
    gaz: '\EA69',
    gaz2: '\EA6A',
    geoloc-elec: '\EA6B',
    geoloc-gaz: '\EA6C',
    geolocalisation: '\EA6D',
    geolocalisation2: '\EA6E',
    gerer-contrat: '\EA6F',
    geste-ecolo: '\EA70',
    geste: '\EA71',
    gestion-thermostat-distance: '\EA72',
    globe: '\EA73',
    globe2: '\EA74',
    googleplus: '\EA75',
    guide-elec: '\EA76',
    heart: '\EA77',
    home-file: '\EA78',
    home-reload: '\EA79',
    home: '\EA7A',
    home2: '\EA7B',
    home3: '\EA7C',
    communications-personnalisees: '\EA7D',
    illimite: '\EA7E',
    info-circle: '\EA7F',
    isolation: '\EA80',
    language: '\EA81',
    libre-resilier: '\EA82',
    lightbulb: '\EA83',
    line-chart: '\EA84',
    linky: '\EA85',
    long-arrow-right: '\EA86',
    machine-clothes: '\EA87',
    machine-cold: '\EA88',
    machine-dishes: '\EA89',
    machine-dry: '\EA8A',
    machine-hot: '\EA8B',
    mobile: '\EA8C',
    onduleur: '\EA8D',
    online-subscribe: '\EA8E',
    ordinateur: '\EA8F',
    outil-simulation: '\EA90',
    panneau-photovoltaique: '\EA91',
    panneau-photovoltaique2: '\EA92',
    panneau-photovoltaique3: '\EA93',
    payer-en-ligne: '\EA94',
    people: '\EA95',
    phone: '\EA96',
    phone2: '\EA97',
    phone3: '\EA98',
    pompe-chaleur: '\EA99',
    pompe-chaleur2: '\EA9A',
    pouce-bas: '\EA9B',
    pouce-haut: '\EA9C',
    presse: '\EA9D',
    pret: '\EA9E',
    prime: '\EA9F',
    prime2: '\EAA0',
    proposer-idees: '\EAA1',
    question: '\EAA2',
    questions: '\EAA3',
    quote-left: '\EAA4',
    quote-right: '\EAA5',
    proprietaire-bailleur: '\EAA6',
    imprimer-facture: '\EAA7',
    reload: '\EAA8',
    rouage: '\EAA9',
    ruban: '\EAAA',
    ruban2: '\EAAB',
    ruban3: '\EAAC',
    search-home: '\EAAD',
    search-loop: '\EAAE',
    securiser: '\EAAF',
    send: '\EAB0',
    solidarite: '\EAB1',
    spinner11: '\EAB2',
    square: '\EAB3',
    star: '\EAB4',
    star2: '\EAB5',
    suivi-conso: '\EAB6',
    suivi-conso2: '\EAB7',
    tarif: '\EAB8',
    tchat: '\EAB9',
    telecharger-facture: '\EABA',
    thermostat: '\EABB',
    thumbs-o-down: '\EABC',
    thumbs-o-up: '\EABD',
    tool-elec-gaz-water: '\EABE',
    tool-elec-gaz: '\EABF',
    tool-elec: '\EAC0',
    tool-gaz: '\EAC1',
    tool-gaz2: '\EAC2',
    tool-gaz3: '\EAC3',
    travaux-geoloc: '\EAC4',
    travaux-geoloc2: '\EAC5',
    travaux: '\EAC6',
    travaux2: '\EAC7',
    truck-front: '\EAC8',
    truck: '\EAC9',
    truck2: '\EACA',
    truck3: '\EACB',
    tuyau: '\EACC',
    tuyau2: '\EACD',
    twitter: '\EACE',
    user: '\EACF',
    voiture: '\EAD0',
    voiture2: '\EAD1',
    identity: '\EAD2',
    carousel-next: '\EAD3',
    compte-bloque: '\EAD4',
    password-init: '\EAD5',
    gaz3: '\EAD6',
    bold-check: '\EAD7',
    bold-download: '\EAD8',
    thin_check: '\EAD9',
    sansengage: '\EADA',
    suividemenage: '\EADB',
    bold-edit: '\EADC',
    depannage2: '\EADD',
    bold-locpin: '\EADE',
    fill-building: '\EADF',
    fill-language: '\EAE0',
    fill-online-subcribe: '\EAE1',
    menu-critere: '\EAE2',
    client-yes: '\EAE3',
    lens: '\EAE4',
    burger: '\EAE5',
    cadenas2: '\EAE6',
    bold-save: '\EAE7',
    small-notification: '\EAE8',
    adousseur_eau: '\EAE9',
    assistance-24h: '\EAEA',
    assurance-facture: '\EAEB',
    documents-download: '\EAEC',
    erreur-fichier: '\EAED',
    garantie: '\EAEE',
    garantie-eau: '\EAEF',
    big-calendar: '\EAF0',
    garantie-electromenager: '\EAF1',
    solidarite-f: '\EAF2',
    bold-bag: '\EAF3',
    menu-sticky-mobile: '\EAF4',
    bold-upload: '\EAF5',
    big-chevron-right: '\EAF6',
    big-chevron-left: '\EAF7',
    puissance: '\EAF8',
    bold-madame: '\EAF9',
    bold-monsieur: '\EAFA',
    bold-cotitulaire: '\EAFB',
    voiture3: '\EAFC',
    communiquer-releve-compteurTR: '\EAFD',
    facture: '\EAFE',
    client-no: '\EAFF',
    payer-factureTR: '\EB00',
    questionTR: '\EB01',
    truckTR: '\EB02',
    accountTR: '\EB03',
    mensualisation: '\EB04',
    consoTR: '\EB05',
    homeTR: '\EB06',
    consulter-factures: '\EB07',
    gerer-contrats: '\EB08',
    payer-enligne: '\EB09',
    suivre-consommation: '\EB0A',
    zero-engagement: '\EB0B',
    conseillers: '\EB0C',
    fournisseur-historique: '\EB0D',
    gaz-compense-carbone: '\EB0E',
    maincoeur: '\EB0F',
    feuille: '\EB10',
    calendrier: '\EB11',
    fleur: '\EB12',
    billet: '\EB13',
    assurance-chaudiere: '\EB14',
    smiley: '\EB15',
    portemonnaie: '\EB16',
    factureenligne: '\EB17',
    deconnexion: '\EB18',
    alert-notification: '\EB19',
    cadenas-ferme: '\EB1A',
    electro-menager: '\EB1B',
    cheque-energie: '\EB1C',
    danger: '\EB1D',
    youtube-58x58: '\EB1E',
    services-tranquilite: '\EB1F',
    chevronBack: '\EB20',
    chevronNext: '\EB21',
    left-arrow: '\EB22',
    right-arrow: '\EB23',
    force: '\EB24',
    share: '\EB25',
    equal: '\EB26',
    mes-documents: '\EB27',
    mes-donnees: '\EB28',
    mes-notifications: '\EB29',
    mes-preferences: '\EB2A',
    cuisson: '\EB2B',
    douche: '\EB2C',
    immeuble: '\EB2D',
    maison: '\EB2E',
    radiateur: '\EB2F',
    lampe-facture: '\EB30',
    telechargement-facture: '\EB31',
    visualiser-facture: '\EB32',
    external-page: '\EB33',
    xls-graph: '\EB34',
    csv-graph-new: '\EB35',
    minus: '\EB36',
    pictos_facture: '\EB37',
    pictos_paiement: '\EB38',
    pictos_solde: '\EB39',
    success: '\EB3A',
    graph-icon-erreur: '\EB3B',
    userConnect: '\EB3C',
    userDeconnect: '\EB3D',
    closeModal: '\EB3E',
    correct-cercle: '\EB3F',
    error-cercle-modal: '\EB40',
    flameGaz: '\EB41',
    home--profil: '\EB42',
    info-circleDS: '\EB43',
    warning-cercle: '\EB44',
    chariot: '\EB45',
    menu-bars: '\EB46',
    menu-croix: '\EB47',
    menu-deconnexion: '\EB48',
    picto-info-ds: '\EB49',
    Facture-jauge: '\EB4A',
    next-error: '\EB4B',
    next-information: '\EB4C',
    next-interrogation: '\EB4D',
    next-success: '\EB4E',
    next-warning: '\EB4F',
    ic_chevron-right: '\EB50',
    ic_gtr: '\EB51',
    remove: '\EB52',
    openitem: '\EB53',
    removeitem: '\EB54',
    Ic_contact: '\EB55',
    Ic_economieEnergie: '\EB56',
    Ic_gererCompte: '\EB57',
    ic_infoPratique: '\EB58',
    question-circleDS: '\EB60'
);

@each $name, $icon in $icons {
  .icon-#{$name}:before {
    content: $icon;
  }

  @if $name == "bold-upload" {
    .u-link--download:after {
      content: $icon;
    }
  }

  @if $name == "external-link" {
    .u-link--externalLink:after {
      content: $icon;
    }
  }


  /**
 * #{$name}:
 * `.icon-#{$name}`
 *
 *     @example
 *     .icon.icon-#{$name}
 */

}