@charset "utf-8";

@import "variables";
@import "mixins";

// FIXES
.c-inputMat__wrap {
  display: block;
}


/* -----------------*/
/* --- videolive ---*/
/* -----------------*/

.c-videoLive {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 30px;
}

// Contenu du bloc vidéo :
.c-videoLive__videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100px;
  overflow: hidden;
}

.c-videoLive__videoWrapper {
  background: url('../images/contrib/visuel-hdemenagement-small.jpg') center center no-repeat;
  background-size: cover;
}

.c-videoLive__blackFilter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

// Contenu du bloc content :
.c-videoLive__contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

// L'accroche :
.c-videoLive__catchPhrase {
  position: relative;
  color: $white;
  text-align: center;
}

.c-videoLive__catchPhraseSentence {
  font-size: 24px;
}

.c-videoLive__watchButton {
  @extend %reset-style-button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto 0;
  padding: 10px 20px;
  min-height: 44px;
  border: 1px solid;
  color: inherit;
  text-align: center;
  text-decoration: none;

  &:before {
    content: ' ';
    display: block;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 15px;
    border-color: transparent;
    border-left-color: inherit;
  }
}

// Bloc déménagement :
.c-videoLive__moveHouseDate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px 20px 0;
  padding: 20px;
  background-color: $white;
  box-shadow: 0 0 19px 3px rgba(0, 0, 0, .1);
  text-align: center;
}

.c-videoLive__moveHouseDate-text {
  font-size: $font-18;
}

.c-videoLive__moveHouseDate-datePicker.c-inputMat {
  padding-top: 25px;
  margin-bottom: 20px;
}


@include media('>small'){
  .c-videoLive {
    padding-top: 80px;
  }

  // Contenu du bloc vidéo :
  .c-videoLive__videoWrapper {
    background: url('../images/contrib/visuel-hdemenagement-medium.jpg') center center no-repeat;
  }

  // Bloc déménagement :
  .c-videoLive__moveHouseDate {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 30px 20px;
  }

  .c-videoLive__moveHouseDate-text,
  .c-videoLive__moveHouseDate-datePicker,
  .c-videoLive__moveHouseDate-button {
    margin-left: 30px;
  }

  .c-videoLive__moveHouseDate-text{
    margin-left: 0;
  }

  .c-videoLive__moveHouseDate-datePicker.c-inputMat {
    margin-bottom: 0;
  }
}


@include media('>medium'){
  .c-videoLive {
    margin-bottom: 100px;
    padding: 0 0 35%;
    height: 0;
  }

  // Contenu du bloc vidéo :
  .c-videoLive__videoWrapper {
    right: 0;
    bottom: 0;
    background: #000;

    .c-iframe {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .c-videoLive__blackFilter {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
  }

  // Contenu du bloc content :
  .c-videoLive__contentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 80px;
  }

  // Bloc déménagement :
  .c-videoLive__moveHouseDate {
    margin-top: 40px;
    padding: 30px 40px;
    transform: translateY(50%);
  }
}


/* ----------------------*/
/* --- energySelector ---*/
/* ----------------------*/

$bubble-size: 134px;
$bubble-space: 12px;

.c-energySelector {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.c-energySelector__selectorWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.c-energySelectorElem {
  margin: 0 $bubble-space/2;
  width: $bubble-size;
  font-size: 16px;
  color: $black;
}

.c-energySelectorElem__input {
  position: absolute;
  float: left;
  margin: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.c-energySelectorElem__label {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $bubble-size;
  height: $bubble-size;
  border-radius: 50%;
  cursor: pointer;
  color: $genBlue;
  text-align: center;
  transition: all .2s ease-in-out;

  // AFTER : Background en forme de cercle :
  .c-energySelectorElem__input + & {
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $grey-light;
      transform: scale(.9) translate(0%, 0%);
      transform-origin: center center;
      transition: all .2s ease-in-out;
    }

    @include hover-focus-active {
      color: $white;

      &:after {
        background-color: $genBlue;
        transform: scale(1) translate(0%, 0%);
      }
    }
  }

  // Effets au input checked et au focus :
  .c-energySelectorElem__input:checked + &,
  .c-energySelectorElem__input:focus + & {
    cursor: default;
    color: $white;

    &:after {
      opacity: 1;
      background-color: $genBlue;
      transform: scale(1) translate(0%, 0%);
    }
  }

  // BEFORE - Flèche sous la bulle en cas d'info :
  .c-energySelectorElem--withInfo &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    border-style: solid;
    border-width: 12px;
    border-color: transparent;
    border-top-color: $grey-light;
    border-bottom-width: 0;
    transition: all .2s ease-in-out;
  }

  @include hover-focus-active {
    &:before {
      opacity: 1;
      border-top-color: $genBlue;
      transform: translateX(-50%) translateY(6px);
    }
  }

  .c-energySelectorElem--withInfo .c-energySelectorElem__input:checked + &:before {
    opacity: 1;
    border-top-color: $genBlue;
    transform: translateX(-50%) translateY(6px);
  }
}

.c-energySelectorElem__icon,
.c-energySelectorElem__text {
  z-index: 1;
  position: relative;
}

.c-energySelectorElem__icon {
  height: $bubble-size/2.2;

  &.icon {
    font-size: 55px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.2;
  }
}

.c-energySelectorElem__text {
  padding: 0 15px 15px;
  height: $bubble-size/1.8;
  max-width: 100%;
  line-height: 1;
  font-size: 1.4rem;
}


/* Desktop et tablette : layout dimensions : */
@include media(">small") {
  $bubble-size: 174px;
  $bubble-space: 20px;

  .c-energySelector__selectorWrapper {
    margin-top: 10px;
  }

  .c-energySelectorElem {
    margin: 0 $bubble-space/2;
    width: $bubble-size;
  }

  .c-energySelectorElem__info {
    opacity: 0;
    margin: 20px -40px 0;
    font-size: 1.4rem;
    transition: transform .4s ease-in-out,
                opacity .4s ease-in-out;
  }

  .c-energySelectorElem__label {
    width: $bubble-size;
    height: $bubble-size;

    &:before {
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }
  }

  .c-energySelectorElem__icon {
    height: $bubble-size/2.2;
  }

  .c-energySelectorElem__text {
    padding: 0 20px 20px;
    height: $bubble-size/1.8;
    font-size: 1.5rem;
  }

  .c-energySelectorElem__icon.icon {
    margin-bottom: 10px;
    font-size: 70px;
    line-height: inherit;
  }

  // arrow sous la bulle en cas d'info
  .c-energySelectorElem--withInfo {
    position: relative;
    padding-bottom: 30px;

    .c-energySelectorElem__label {
      &:before {
        content: none;
      }
    }

    &:before {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 20px 25px;
      border-color: transparent transparent $grey-light transparent;

      transform: translateX(-50%);
      transition: all .2s ease-in-out;
    }
  }
}

// L'accroche sous les bulles :
.c-energySelector__elemLabel {
  margin-top: 20px;
  order: 1;
  text-align: center;

  @include media('>small'){
    margin-top: 0;
    padding: 15px 40px;
    background-color: $grey-light;
  }
}


/* ----------------------*/
/* --- contactSection ---*/
/* ----------------------*/

.c-contactSection {
  background-color: $grey-light;
}

.c-contactSection__wrapper {
  display: flex;
  flex-direction: column;

  @include media('>small'){
    flex-direction: row;
  }
}

.c-contactSection__elem {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;

  &:first-child:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    border-bottom: 1px solid $grey-medium2;
    transform: translateX(-50%);
  }

  @include media('>small'){
    padding-left: 40px;

    &:first-child {
      padding-left: 0;
      padding-right: 40px;

      &:after {
        content: none;
      }
    }
  }
}

.c-contactSection__elemTitle {
  font-size: 1.8rem;
  font-weight: $font-bold;
  margin-bottom: 20px;
}

.c-contactSection__elemIcon {
  .c-pictoBlock__icon {
    color: $grey;
    margin-right: 10px;
  }

  .c-pictoBlock__content {
    margin-left: -3px;
  }

  .c-contactSection__elemTitle + & {
    transform: translateY(-10px);
  }
}

.c-contactSection__elemBtn {
  margin-top: 20px;
}

.c-contactSection__elem:first-child {
  padding-bottom: 30px;
  margin-bottom: 30px;

  @include media('>small'){
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid $grey-medium2;
  }
}

.c-contactSection__elemText {
  max-width: 330px;
  margin: 0 auto;
}


/* ---------------------*/
/* --- socialAndApps ---*/
/* ---------------------*/

.c-socialAndApps {
  border-top: 2px solid $white;
  background-color: $grey-light;
}

.c-socialAndApps__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

// Communs réseaux sociaux && apps :
.c-socialAndApps__networks,
.c-socialAndApps__apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-socialAndApps__networksText,
.c-socialAndApps__appsText {
  font-size: $font-18;
  font-weight: $font-bold;
}

// Réseaux sociaux :
.c-socialAndApps__networksList {
  display: flex;
  margin-top: 10px;
}

.c-socialAndApps__networksListElem {
  margin: 0 12px;

  a {
    text-decoration: none;
    font-size: 4.6rem;
    color: $genBlue;
  }
}

// Applications :
.c-socialAndApps__apps {
  margin-top: 30px;

  .c-appsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .c-appsBlock__item {
    margin: 5px;
  }
}


@include media('>small'){
  .c-socialAndApps__wrapper {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
  }

  .c-socialAndApps__networksListElem {
    margin: 0;
  }

  .c-socialAndApps__apps {
    margin-top: 0;
    margin-left: 40px;
  }
}

@include media('>=medium'){
  .c-socialAndApps__wrapper {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .c-socialAndApps__networks,
  .c-socialAndApps__apps {
    flex-direction: row;
    justify-content: center;
  }

  .c-socialAndApps__networksList {
    margin-top: 0;
  }

  .c-socialAndApps__apps {
    .c-appsBlock {
      margin-top: 0;
    }
  }

  .c-socialAndApps__appsText {
    margin-right: 15px;
  }
}
