// assets
@import "variables";

#cqcanvas {
  margin: 15px 0;

  .box-content-padding-full {
    padding: 20px 0;
  }

  .table {
    width: 100%;

    & th {
      background-color: $genBlue;
      color: $white;
      text-align: center;
    }
    & td {
      border-bottom: 1px solid $grey-medium;
      font-size: 13px;
      color: $black;
    }

    & tr {
      transform: all .01s;
      width: 100% !important;
      &:hover {
        background-color: $grey-light;
      }
    }

    & td,
    th {
    padding: 10px 30px;
    border-top: 0;
    line-height: 20px;
    }
  }

  .table-liste {
    margin: 0 0 15px;
  }

  .table-liste li {
    padding: 10px 0;
    line-height: 20px;
    font-size: 13px;
  }

  .table-liste li p {
    margin: 0 0 10px;
  }
}
