@charset "utf-8";

// assets
@import "variables";
@import "mixins";
@import "reset";
@import "base";


/***
 * Iconfonts system:
 */
@import "icons";


/***
 * Layout:
 */
@import "../../layout/global";


/***
 * Components:
 */
@import "../../components/wysiwyg/wysiwyg";

#CQrte {
  @include c-wysiwyg();
  display: block;
  margin: -1px;
  padding: 1px;
  background-color: $white;

  a.u-theme-bg {
    background-color: $genBlue;
  }

  a.u-theme-bg-hover:hover {
    background-color: $genBlue-hover;
  }

  .u-theme-color,
  .u-theme-color-before:before {
    color: $genBlue;
  }
}


/***
 * Utilities:
 */
@import "../../utilities/global";
