include etapier

// Accessibilité - ARIA de la progressbar : https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_progressbar_role
//- 2 méthodes pour générer l'étapier, 
//- 1er methode par defaut la mixin +etapier avec les parametre "obj" a remplir voir exemple
//- 2er methode, utiliser la mixin +etape dans l'étapier voir 2e exemple
//- NOTE : préparation modulable pour le lot 2 avec JS



h1.u-heading-1.u-textBold.u-textCenter.u-margin-b-40 composant AEM ds-etapier



.l-row.l-row--align-h-center.u-margin-b-0
  .l-col-sm-12
    .c-wysiwyg
      h2 ds-etapier : avec 2 étapes

+demo({
  desc : `- class d'etat a utilisé : <code> is-current </code> sur l'etapier actuel<br>
          - <code>is-past</code> pour les étapier deja passé <br> 
          - Largeur de la progresse bar est modulable, valeur en % à remplire dans le DOM sur l'élément qui a la classe <code>c-etapier__progessBarCurrent</code> <br>
          - valeur etape 1 : progessBar = <code>0%</code><br>
          - valeur etape 2 : progessBar = <code>100%</code><br>
          - ajouter la classe <code>c-etapier--steps-2</code> incrémenté selon le nombre d'étape total <br>
          - le label des étapes ne doit pas depassé plus de 25 caracteres`
})
  +etapier({
    progessBar: 100,
    current:2,
    obj: {1: 'étape 1', 2: 'étape 2'}
  }).c-etapier--steps-2




.l-row.l-row--align-h-center.u-margin-b-0
  .l-col-sm-12
    .c-wysiwyg
      h2 ds-etapier : avec 3 étapes


+demo({
  desc : `- class d'etat a utilisé : <code> is-current </code> sur l'etapier actuel<br>
          - <code>is-past</code> pour les étapier deja passé <br> 
          - ajouter la classe <code>c-etapier--steps-3</code> incrémenté selon le nombre d'étape total <br>
          - valeur etape 1 : progessBar = <code>0%</code><br>
          - valeur etape 2 : progessBar = <code>50%</code><br>
          - valeur etape 3 : progessBar = <code>100%</code><br>
          - Largeur de la progresse bar a remplire dans le DOM sur l'élément qui a la classe <code>c-etapier__progessBarCurrent</code> <br>
          - le label des étapes ne doit pas depassé plus de 26 caracteres`
})
  +etapier({
    progessBar: 50,
    current:2,
    obj: {1: 'étape 1', 2: 'étape 2', 3: 'étape 3'}
  }).c-etapier--steps-3


.l-row.l-row--align-h-center.u-margin-b-0
  .l-col-sm-12
    .c-wysiwyg
      h2 ds-etapier : avec 4 étapes
+demo({
  desc : `- class d'etat a utilisé : <code> is-current </code> sur l'etapier actuel<br>
          - <code>is-past</code> pour les étapier deja passé <br> 
          - valeur etape 1 : progessBar = <code>0%</code><br>
          - valeur etape 2 : progessBar = <code>33%</code><br>
          - valeur etape 3 : progessBar = <code>67%</code><br>
          - valeur etape 4 : progessBar = <code>100%</code><br>          
          - ajouter la classe <code>c-etapier--steps-4</code> incrémenté selon le nombre d'étape total <br>
          - Largeur de la progresse bar a remplire dans le DOM sur l'élément qui a la classe <code>c-etapier__progessBarCurrent</code> <br> `
})
  +etapier({
    progessBar: 33,
    current:2,
    obj: {1: 'étape 1', 2: 'étape 2', 3: 'étape 3' , 4: 'étape 3'}
  }).c-etapier--steps-4


.l-row.l-row--align-h-center.u-margin-b-0
  .l-col-sm-12
    .c-wysiwyg
      h2 ds-etapier : avec 5 étapes

+demo({
  desc : `- class d'etat a utilisé : <code> is-current </code> sur l'etapier actuel<br>
          - <code>is-past</code> pour les étapier deja passé <br> 
          - ajouter la classe <code>c-etapier--steps-5</code> incrémenté selon le nombre d'étape total <br>
          - Largeur de la progresse bar a remplire dans le DOM sur l'élément qui a la classe <code>c-etapier__progessBarCurrent</code><br>
          - valeur etape 1 : progessBar = <code>0%</code><br>
          - valeur etape 2 : progessBar = <code>25%</code><br>
          - valeur etape 3 : progessBar = <code>50%</code><br>
          - valeur etape 4 : progessBar = <code>75%</code><br>
          - valeur etape 3 : progessBar = <code>100%</code><br>
          `
})
  +etapier({
    progessBar: 25,
    current:2,
    obj: {1: 'étape 1 avc long titre', 2: 'étape 2 avc long titre', 3: 'étape 3 avc long titre' , 4: 'étape 4 avc long titre', 5: 'étape 5 avc long titre'}
  }).c-etapier--steps-5

//- METHODE avec 2 mixin +etapier et +etape

//- +demo()
//-   +etapier({
//-     progessBar:100
//-   }).c-etapier--steps-2
//-     +etape({
//-       label: "étape 1",
//-       step: 1
//-     }).is-past
//-     +etape({
//-       label: "étape 2",
//-       step: 2,
//-       currentStep: true
//-     })