include ../../../../../cel/src/components/miniPush/miniPush
mixin headerEcoGest(data)
  - var data   = data || {}
  //c-headerEcoGest
  .c-headerEcoGest.l-row     
      +miniPush({
        themeColor: "greenMint",
        img: true,
        imgSmall: 'ecogeste.jpg',
        imgLarge: 'ecogestesv2.jpg',
        textColor: 'u-color-white',
        themeTitle: 'Sensibiliser',
        title: 'DÉCOUVREZ LES ECO-GESTES',
        subTitle: 'À ADOPTER AU QUOTIDIEN',
        text: 'Responsabilisez votre Consommation <br> et réduisez votre facture énergétique',
        btn: true
      }).l-col-medium-12.u-padding-a-0

      .c-headerEcoGest__nav
        .l-wrapper--large
          ul.c-headerEcoGest__list
            li
              a.c-headerEcoGest__active.js_Nav(href="#nav1")
                img(src="../images/contrib/menu-bienfait.svg", alt="bienfait")
                span.c-headerEcoGest__NavTitle ECO
                  b -BIENFAIT
                span.c-headerEcoGest__textNav Lorem ipsum dolor sit amet, consectetur adipiscing
            li
              a.js_Nav(href="#nav2")
                img(src="../images/contrib/menu-plus.svg", alt="plus")
                span.c-headerEcoGest__NavTitle ECO
                  b -PLUS
                span.c-headerEcoGest__textNav  Turfu sit amet, conse ctetur adipiscing.
            li
              a.js_Nav(href="#nav3")
                img(src="../images/contrib/menu-citoyen.svg", alt="citoyen")
                span.c-headerEcoGest__NavTitle ECO
                  b -CITOYEN
                span.c-headerEcoGest__textNav Lorem ipsum dolor sit, adipiscinga dipiscing elit, 
            li
              a.js_Nav(href="#nav4")
                img(src="../images/contrib/menu-travaux.svg", alt="travaux")
                span.c-headerEcoGest__NavTitle ECO
                  b -TRAVAUX
                span.c-headerEcoGest__textNav Lorem ipsum dolor sit amet, consectetur elit.