.c-miniPush__title.c-miniPush--font-size {
  font-size: 3.6rem;
}

.c-headerEcoGest img{
  max-width: 1240px;
}

.c-headerEcoGest .c-miniPush {
  text-align: center;
  background: #00a9b0;
}

.c-headerEcoGest .c-miniPush__block {
  text-align: left;
}

.c-miniPush__title.c-miniPush--font-size span {
  font-weight: bold;
}

.c-headerEcoGest .c-miniPush__theme {
  font-weight: normal;
}

.c-headerEcoGest__nav {
  width: 100%;
}

.c-headerEcoGest__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.c-headerEcoGest__list li {
  display: flex;
  width: 24%;
}

.c-headerEcoGest__list li a {
  margin: -65px 0 0 0;
  padding: 0 0 65px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.c-headerEcoGest__list li a span {
  display: block;
  font-size: 2.4rem;
}

.c-headerEcoGest__list li a img {
  width: 88px;
}

.c-headerEcoGest__list li a span.c-headerEcoGest__textNav {
  font-size: 1.8rem;
  padding-top: 20px;
  width: 100%;
}

.c-headerEcoGest__NavTitle {
  padding-top: 20px;
}

.c-headerEcoGest__active::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent #f2f2f2 transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .2s ease-in-out;
}

.c-headerEcoGest .c-miniPush__content.u-padding-a-110 {
  padding-top: 40px;
}

.c-headerEcoGest__active {
  color: #17be9b;
}

.c-headerEcoGest__active img {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

@include media ("<small") {
  .c-headerEcoGest__list li {
    width: 23%;
  }
  .c-headerEcoGest__list li a img {
    width: 37px;
  }
  .c-headerEcoGest__list li a span.c-headerEcoGest__textNav {
    display: none;
  }

  .c-headerEcoGest__list li a span {
    font-size: 1.4rem;
    display: grid;
  }

  .c-headerEcoGest .c-miniPush {
    margin-bottom: 0;
  }

  .c-headerEcoGest__list li a {
    margin: -20px 0 0 0;
  }

  .c-headerEcoGest .c-miniPush__content {
    padding: 40px 0 0 0;
  }

  .c-headerEcoGest .c-miniPush__content.c-miniPush__content--img {
    position: absolute !important;
  }
}

@include media(">=small", "<medium") {
  .c-headerEcoGest__list li a span {
    font-size: 2.3rem;
  }

  .c-headerEcoGest__list li a span.c-headerEcoGest__textNav {
    font-size: 1.5rem;
  }
}