/**
 * Wrappers site:
 * `.l-wrapper.l-wrapper--site` - Wrapper général du site
 *
 *     @example
 *     .l-wrapper.l-wrapper--site: .fill
 */

.l-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.l-wrapper--left {
  margin-left: 0;
  margin-right: 0;
}

.l-wrapper--site {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.l-wrapper--siteFull {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

// ne pas appliquer sur autre chose que <main>
.l-wrapper--mainFull {
  max-width: 100%;
  flex-grow: 1;
  width: 100%;
  min-height: calc(100vh - 200px);
}

@media screen and (min-width:768px) and (max-width: 769px) {
  .l-wrapper--mainFull {
    min-height: auto !important;
  }
}

@media screen and (min-width:1024px) and (max-width: 1024px) {
  .l-wrapper--mainFull {
    min-height: auto !important;
  }
}

.l-wrapper--main {
  width: 100%;
  max-width: 1240px;
  //background-color: $white;
  flex-grow: 1;
}

.l-wrapper.l-wrapper--row {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/**
 * Wrappers réutilisables:
 * `.l-wrapper--large` - Wrapper avec des marges latérales importantes
 *
 *     @example
 *     .l-wrapper--huge: .fill
 *     .l-wrapper--large: .fill
 *     .l-wrapper--medium: .fill
 *     .l-wrapper--small: .fill
 *     .l-wrapper--extraSmall: .fill
 */

.l-wrapper--huge,
.l-wrapper--large,
.l-wrapper--largeSmall,
.l-wrapper--largeMedium,
.l-wrapper--medium,
.l-wrapper--small,
.l-wrapper--extraSmall {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &.l-wrapper--left {
    margin-left: 0;
    margin-right: 0;
  }

  // annuler effet de .l-wrapper--xxx sur wysiwyg dans une grille
  .c-column__col &.c-wysiwyg {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media("<=small") {
  .l-wrapper--huge,
  .l-wrapper--large,
  .l-wrapper--largeSmall,
  .l-wrapper--largeMedium,
  .l-wrapper--medium,
  .l-wrapper--small,
  .l-wrapper--extraSmall {
    padding-left: 15px;
    padding-right: 15px;
  }

  .l-wrapper.l-wrapper--row {
    align-items: center;
    justify-content: space-evenly;
  }
}

@include media("<=medium") {
  .l-wrapper--smallNoGutter {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .l-wrapper > [class^="l-wrapper--"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0; 
  }
}

@include media(">small", "<=medium") {
  .l-wrapper--large,
  .l-wrapper--largeSmall,
  .l-wrapper--largeMedium,
  .l-wrapper--huge {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include media(">small") {

  .l-wrapper--huge {
    padding-left: 50px;
    padding-right: 50px;
  }

  .l-wrapper--large {
    max-width: 1240px;
  }

  .l-wrapper--largeSmall {
    max-width: 1020px;
  }

  .l-wrapper--largeMedium {
    max-width: 868px;
  }

  .l-wrapper--medium {
    max-width: 640px
  }

  .l-wrapper--small {
    max-width: 280px;
    &.l-wrapper--iban {
      max-width: 310px;
    }
  }

  .l-wrapper--extraSmall {
    max-width: 150px;
  }
  
  .l-wrapper.l-wrapper--row {
    > [class*="l-wrapper--"] {
      margin-right: 40px;
      &:last-child {
        margin-right:0;
      }
    }
  }  
}

.l-wrapper.l-wrapper--headerv3 {
  @media #{$small} {
    // padding-top: 62px;
  }
  @media screen and (min-width:1025px) {
    padding-top: 120px!important;
  }
}



