h2.u-heading-1 Bloc compteur avec button:

+demo({
    desc: "Bloc compteur avec button bien présent dans les deux cas gazpar et non gazpar"
})
  +blockCompteur()

h2.u-heading-1 Bloc compteur sans button:

+demo({
  desc: "Bloc compteur sans button bien présent dans les deux cas gazpar et non gazpar"
})
  +blockCompteurNgp()

h2.u-heading-1 Bloc Saisir compteur:

+demo({
    desc: "Bloc saisir mon index de gaz naturel"
})
  +blockCompteurReleve()