.c-serviceActive {
  width: 100%;
  margin: 50px auto 0;

  .l-wrapper--main {
    max-width: 1257px;
  }

  .c-serviceItem {
    height: 303px;
    margin-right: 13px;
    margin-left: 7px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .c-btnWrapper {
      margin-bottom: 0;
      margin-top: 15px;
    }

    .serviceItem__info {
      margin-bottom: 20px;
    }
  }

  .c-serviceActive__titre {
    margin-bottom: 50px;
  }

  .c-serviceItem__text {
    height: auto;
  }
}

.c-serviceActive__vide {
  color: $grey;
  width: 100% !important;
  position: relative;
}


//pérsonnalisation de slick
.c-serviceActive .c-carouselNav--arrowDots .slick-dots li { margin: 5px; }

.c-serviceActive {
  .c-carouselNav--arrowDots .slick-prev button,
  .c-carouselNav--arrowDots .slick-next button {
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    position: absolute;
    top: -220px;
    display: block;
  }

  .c-serviceItem__savoirPlus {
    display: none;
  }

  .c-carouselNav--arrowDots .slick-next button {
    right: -55px;
  }

  .c-carouselNav--arrowDots .slick-prev button {
    left: -55px;
  }

  .c-carouselNav--arrowDots {
    .c-carouselNav__wrapper {
      width: 100%;
    }

    .slick-dots {
      .slick-active .c-carousel__dot {
        color: $genBlue !important;
      }

      .c-carousel__dot{
        color: #ccc !important;
        border-width:6px;
      }
    }
  }
}

@include media("<=medium") {
  .c-carouselNav--arrowDots .slick-prev button {
   left: -65px;
  }

  .c-serviceActive .c-serviceItem {
    margin-bottom: 0;
  }

  //Afficher les Dots version tablet mobile && cacher les fleches coté desktop
  .c-carouselNav--arrowDots .slick-dots{
    display: block !important;
    .c-carouselNav--arrowDots {
      .c-carouselNav__wrapper {
        width: 100%;
      }

      .c-serviceActive .c-carouselNav--arrowDots .slick-prev button, .c-serviceActive .c-carouselNav--arrowDots .slick-next button {
        display: none !important;
      }
      .slick-dots {
        .slick-active .c-carousel__dot {
          color: $genBlue !important;
        }

        .c-carousel__dot {
          color: #ccc !important;
          border-width:6px;
        }
      }
    }
  }
}

@include media("<small") {
  .c-serviceActive {
    .c-serviceItem {
      margin-right: 13px;
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .c-serviceActive .c-serviceItem {
    height: auto;
  }
}

@media (max-width: 768px) and (min-width: 767px) {
  .c-serviceActive {
    width: 100%;

    .c-serviceActive__items {
      padding-left: 20px;
    }

    .c-serviceItem {
      margin-right: 20px;
      margin-left: 0;
    }
  }
}