include modal
include ../column/column

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal

+demo({
  desc: "- La modale s'ouvre à travers une injection de classe <code>is-active</code> sur le composant <code>c-modal</code><br>- La modale se ferme en cliquant sur le bouton de fermeture<code>c-modalCloseButton</code> , en cliquant en dehors du contenu de la modale <code>c-modal__content</code> ou bien en appuyant sur la touche Echap<br>- Le bouton d'ouverture de la modale cible la modale à ouvrir à l'aide d'un attribut <code>data-e-target</code> qui cible l'id de la modale"
})
  button(type='button', data-e-modal-open='modal2') Ouvrir la modale

  +modal({
    target: `{
      "target": "modal2"
    }`
  })
    p.u-padding-a-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi, sapiente dicta eveniet voluptatibus, saepe distinctio ducimus ipsam qui, aspernatur debitis beatae. Nisi distinctio doloribus rerum error, optio totam voluptate.


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal Large 800px de large

+demo({
  desc: "Ajouter la classe <code>c-modal--large</code> à l'élément <code>c-modal</code>"
})
  button.openUp(type='button', data-e-modal-open='modal-large') Ouvrir la modale

  +modal({
    target: '{"target": "modal-large"}',
    large: true
  }).c-modal__content--large
    p.u-padding-a-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi, sapiente dicta eveniet voluptatibus, saepe distinctio ducimus ipsam qui, aspernatur debitis beatae. Nisi distinctio doloribus rerum error, optio totam voluptate.

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal Small 500px de large

+demo({
  desc: "Ajouter la classe <code>c-modal--small</code> à l'élément <code>c-modal</code>"
})
  button.openUp(type='button', data-e-modal-open='modal-large') Ouvrir la modale

  +modal({
    target: '{"target": "modal-large"}',
    large: true
  }).c-modal__content--small
    p.u-padding-a-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi, sapiente dicta eveniet voluptatibus, saepe distinctio ducimus ipsam qui, aspernatur debitis beatae. Nisi distinctio doloribus rerum error, optio totam voluptate.


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal test

+demo({
  desc: "Deux boutons qui ouvrent la même modale"
})
  button.openUp(type='button', data-e-modal-open='modal1') Ouvrir la modale
  button.openUp(type='button', data-e-modal-open='modal1') Ouvrir la même modale

  +modal({
    target: '{"target": "modal1"}',
  })
    .u-padding-a-20
      p test
      a(href="#") lien 1
      a(href="#") lien 2
      a(href="#") lien 3
      a(href="#") lien 4
      a(href="#") lien 5


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal autoStart

+demo({
  desc: "- modal autoStart, mettre une valeur en seconde dans <code>autoStart</code>' "
})

  +modal({
    theme : "genBlue",
    icon : "icon-questions",
    target: `{
      "autoStart": "3"
    }`
  })
    .u-padding-a-20
      p Modal autoStart au bout de 3 seconde, par defaut l'autoStartse lance directement

      button(data-e-switch-toggle="tata" type="button") Switch Toggle

      section(data-e-switch-toggle-name="tata")
        p BLOC1
      section(data-e-switch-toggle-name="tata" hidden)
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laboriosam vero beatae vel numquam, aliquid velit expedita quo, ut impedit suscipit eum ipsum dolorum unde consequatur vitae debitis sint deserunt.
        button(type="button" data-e-modal-close) close


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant modal loginPage

button.openUp(type='button', data-e-modal-open='modal-welcome') Ouvrir la modale loginPage

+demo({
  desc: "- modal LoginPage' "
})
  +modal({
    target: '{"target": "modal-welcome", "autoStart": 1, "overlayClose": false }',
    noCloseBtn: true,
    size: "c-modal__content--large"
  })
    +column({
      colConfig: '33-66'
    })
      .c-column__col.c-column__col--45.u-hideSmall
        p.u-textCenter
          img(src="../images/contrib/00-popin-redirection.gif" alt="")

      .c-column__col.c-column__col--55
          .c-wysiwyg
            img.c-modal__logoGaz(src="../images/logo_tarif_reglemente.svg" alt="logo").u-hideMediumUp
            h3
              | Vous avez été redirigé
              br
              | sur le site Gaz Tarif Réglementé.
            p Depuis janvier 2018, les bénéficiaires du gaz naturel au tarif réglementé d’Engie bénéficient désormais d’un site internet dédié avec leur Espace Client : <a href="#">gaz-tarif-reglemente.fr</a>
            p Pour accéder à vos factures et votre contrat, il est nécessaire de saisir une nouvelle fois vos identifiants. Gagnez du temps lors de votre prochaine connexion en enregistrant le site à vos favoris
            p
              strong  Vos identifiants de connexion restent identiques.

            p.u-textCenter
              a.u-link.u-link--arrow.u-link--fullLarge(href="#" data-e-modal-close) Je me connecte à mon nouvel espace client

            p
              i Astuce&nbsp;: Ajoutez cette page à vos favoris afin de faciliter vos connexions ultérieures.
h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") modal cobrowsing OK

button(type='button', data-e-modal-open='modalOK') Ouvrir la modale cobrowsing OK
+demo({
  desc: "- modal cobrowsing KO' "
})

  +modal({
    theme : "green",
    icon : "icon-correct-cercle",
    target: `{
      "target": "modalOK"
    }`
  }).c-modal--theme
    .u-padding-a-20
      h2.u-heading-2.u-textCenter Le service est désormais disponible
      p.u-textCenter.u-margin-t-15 Cliquez sur le bouton ci-dessous pour continuer la procédure.
      +btnWrapper().u-theme-genBlue.u-margin-t-40.u-margin-sm-t-40
        +baseBtn({
          text: "Continuer"
        })
h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") modal cobrowsing OK

button(type='button', data-e-modal-open='modalKO') Ouvrir la modale cobrowsing KO
+demo({
  desc: "- modal cobrowsing KO' "
})

  +modal({
    theme : "coral",
    icon : "icon-error-cercle-modal",
    target: `{
      "target": "modalKO"
    }`
  }).c-modal--theme
    .u-padding-a-20
      h2.u-heading-2.u-textCenter Une erreur est survenue
      p.u-textCenter.u-margin-t-15 Désolé, nous avons rencontré un problème… <br> Veuillez recharger la page pour recommencer l’opération.
      +btnWrapper().u-theme-genBlue.u-margin-t-40.u-margin-sm-t-40
        +baseBtn({
          text: "Fermer",
          empty: true
        })(data-e-modal-close)
        +baseBtn({
          text: "Recharger la page"
        })
h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") exemple modal avec croix de fermiture large

+demo({
  desc: "-pour afficher la grande croix faut ajouter <code>c-modalCloseButton--lg</code> dans la meme niveau que ce classe <code>c-modalCloseButton</code> ou bien copier directement le HTML"
})
  button(type='button', data-e-modal-open='modalBigClose') Ouvrir la modale

  +modal({
    bigClose : true,
    target: `{
      "target": "modalBigClose"
    }`
  })
    p.u-padding-a-40 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi, sapiente dicta eveniet voluptatibus, saepe distinctio ducimus ipsam qui, aspernatur debitis beatae. Nisi distinctio doloribus rerum error, optio totam voluptate.
