include objectifMain

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Bloc objectif à la main

+demo({desc:"Etat de base"})
  .l-row
    .l-col-medium-4
      +objectifMain

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Bloc objectif à la main gazPar

+demo({desc:"Etat de base"})
  .l-row
    .l-col-medium-4
      +objectifMainSeuil

h2 bloc objectif à la main mail non existant

+demo({
  desc: "Mail non existant"
})

  .l-row
    .l-col-medium-4
      +objectifMainMail()