$spinner-border-width: 2px;
$spinner-border-width-medium: 1px;
$spinner-border-width-full: 4px;
$spinner-dimension: 26px;
$spinner-dimension-medium: 32px;
$spinner-dimension-full: 52px;

.c-spinner {
  position: relative;
  width: $spinner-dimension;
  height: $spinner-dimension;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

// Full
.c-spinner--full {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);

  &.c-spinner--fixed {
    position: fixed;
  }

  .c-spinner__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $spinner-dimension-full;
    height: $spinner-dimension-full;
    transform: translate(-50%, -50%);
  }

  .c-spinner__firstArk,
  .c-spinner__firstArk:before,
  .c-spinner__secondArk,
  .c-spinner__secondArk:before {
    border-width: $spinner-border-width-full;
  }

  .c-spinner__firstArk,
  .c-spinner__firstArk:before {
    width: $spinner-dimension-full;
    height: $spinner-dimension-full;
    border-color: $grey transparent $grey transparent;
  }

  .c-spinner__secondArk,
  .c-spinner__secondArk:before {
    width: 34px;
    height: 34px;
    border-color: transparent $grey transparent transparent;
  }

  .c-spinner__firstArk {
    padding: $spinner-border-width-full;

    &:before {
      top: -$spinner-border-width-full;
      left: -$spinner-border-width-full;
    }
  }

  .c-spinner__secondArk {
    top: 10px;
    left: 10px;

    &:before {
      top: -$spinner-border-width-full;
      left: -$spinner-border-width-full;
    }
  }
}

// Le trois quart plein
.c-spinner--threeQuarters {
  width: $spinner-dimension-medium;
  height: $spinner-dimension-medium;

  .c-spinner__container {
    width: $spinner-dimension-medium;
    height: $spinner-dimension-medium;
  }

  .c-spinner__firstArk {
    border-width: $spinner-border-width-medium;
    border-style: solid;
    padding: $spinner-border-width-medium;
    width: $spinner-dimension-medium;
    height: $spinner-dimension-medium;
    border-color: currentcolor currentcolor currentcolor transparent;

    &:before {
      content: none;
    }
  }
}


// block toute action sur la page (invisible)
.c-spinner--lock {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
}


.c-spinner__container {
  width: 100%;
  height: 100%;
}

.c-spinner__firstArk,
.c-spinner__firstArk:before,
.c-spinner__secondArk,
.c-spinner__secondArk:before {
  position: absolute;
  border-radius: 50%;
  border-width: $spinner-border-width;
  border-style: solid;
}

.c-spinner__firstArk,
.c-spinner__firstArk:before {
  width: $spinner-dimension;
  height: $spinner-dimension;
  border-right-color: transparent;
  border-left-color: transparent;
}

.c-spinner__firstArk {
  top: 0;
  left: 0;
  padding: $spinner-border-width;
  animation: 1s rotateLeft infinite linear;

  &:before {
    content: ' ';
    top: -$spinner-border-width;
    left: -$spinner-border-width;
    transform: rotate(-35deg)
  }
}

.c-spinner__secondArk,
.c-spinner__secondArk:before {
  width: 17px;
  height: 17px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.c-spinner__secondArk {
  top: 4px;
  left: 4px;
  animation: 1s rotateRight infinite linear;

  &:before {
    content: ' ';
    top: -$spinner-border-width;
    left: -$spinner-border-width;
    transform: rotate(-40deg)
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
