include spinner

.c-wysiwyg
  h2 Spinner

+demo({
  desc: "Spinner fait pour être intégrer dans des boutons ou des liens par exemple<br>La couleur du spinner s'adapte à la couleur de texte de son parent et peut donc être redéfinie à l'aide d'un thème et d'un <code>u-theme-color</code>"
})
  +spinner()


.c-wysiwyg
  h2 Spinner trois-quarts

+demo({
  desc: "Ajouter la classe <code>c-spinner--threeQuarters</code> au composant <code>c-spinner</code>"
})
  +spinner({
    medium: true
  }).c-spinner--threeQuarters


.c-wysiwyg
  h2 Spinner large

+demo({
  desc: `
    Ajouter la classe <code>c-spinner--full</code> au composant <code>c-spinner</code>.
    <br>
    Ajouter la classe <code>c-spinner--fixed</code> pour le fixer dans la page entière.
  `
})
  div(style="position: relative; padding: 50px; background-color: orange;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iste repellat accusamus. Veritatis magnam repellat temporibus, tempore amet. Temporibus nemo rerum commodi nesciunt itaque fugit id officia, ut doloremque deleniti!
    +spinner().c-spinner--full


.c-wysiwyg
  h2 Spinner bloquant et invisible

+demo({
  desc: "Ajouter la classe <code>c-spinner--lock</code> au composant <code>c-spinner</code>, retirer la classe (ou ne pas la mettre) <code>u-hide</code> pour l'afficher."
})
  div(style="position: relative; padding: 50px; background-color: orange;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iste repellat accusamus. Veritatis magnam repellat temporibus, tempore amet. Temporibus nemo rerum commodi nesciunt itaque fugit id officia, ut doloremque deleniti!
    +spinner({
      mode: "lock"
    }).u-hide