mixin formContactLogged()
  // .c-formContactLogged
  +loginFeedback({
    noAbsolute: true
  })(data-e-formcontact-client-connected).u-hide.c-formContactLogged
    p.u-color-jadeGreen.u-textBold
      | Bonjour
      = " "
      span(data-e-formcontact-client-username)
    p Vous pouvez continuer pour contacter nos conseillers.
  // END - .c-formContactLogged