.c-bandeauCookies {
  border-top: 1px solid $white;
  width: 582px;
  background: white;
  padding: 24px;
  min-height: 250px;
  z-index: 3700;
  box-shadow: 4px 15px 20px 0 rgba(51, 51, 51, 0.15), 0 0 12px -2px rgba(51, 51, 51, 0.25);
  position: fixed;
  bottom: 24px;
  left: 24px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8px;

  .c-bandeauCookies__text a {
    font-weight: 600;
    color: inherit;
    color: #009DE9!important;
    text-decoration: none!important;
    border-bottom: 1px solid #009DE9!important;
  }
  
  

  @media #{$smallMediumOnly} {
    padding: 32px;

    width: 414px;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    position: fixed;
    width: 414px;

    .c-btnWrapper {
      flex-direction: row;
      width: 100%;
      .c-baseBtn {
        min-width: 120px;
        margin: 0;
      }
      .c-baseBtn + .c-baseBtn {
        margin-left: 8px;
        margin-bottom: 0;
      }
    }
  }

  @media #{$small} {
    width: 90%!important;
    padding: 48px 16px;
  }


  // checbox switch
  .c-checkboxMat--switch input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  .c-checkboxMat--switch {
    margin-bottom: 0;

    .switch {
      width: 56px;
      height: 32px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
    }

    .slider:before {
      height: 24px;
      width: 24px;
      bottom: 4px;
      top: 4px;
    }
  }

  .c-checkboxMat.c-checkboxMat--switch {
    position: relative;
    display: flex;
    align-items: center;
  }

  // END Switch
  .c-bandeauCookies__btn {
    .c-baseBtn.c-baseBtn--secondary {
      border: 0!important;
    }
  }

}

.c-bandeauCookies__wrap {
  display: flex;
  flex-direction: row-reverse;

  @media #{$smallMediumOnly} {
    flex-direction: column;
  }
}

.c-bandeauCookies__img { 
  @media #{$small} {
    width: 142px;
  }
  width: 115px;
  display: block;
  margin: 0 auto;
}

.c-bandeauCookies__text {
  margin-right: 24px;
  text-align: left;

  @media #{$smallMediumOnly} {
    text-align: center;
    margin-right: 0;
  }
}

.c-bandeauCookies.c-bandeauCookies--2, .c-bandeauCookies.c-bandeauCookies--3 {
  .c-bandeauCookies__wrap { flex-direction: column;}
}

.c-bandeauCookies.c-bandeauCookies--2 {
  .c-bandeauCookies__title { 
    @media #{$smallMediumOnly} {
      text-align: center;
    }
  }
}

.c-bandeauCookies.c-bandeauCookies--3 {
  width: 582px;

  .c-bandeauCookies__img {
    margin: 16px auto 0;
  }

  .c-btnWrapper {justify-content: flex-end;}

  @media #{$smallMediumOnly} {
    .c-btnWrapper {justify-content: center;}
    .c-bandeauCookies__img {
      margin: 0 auto 0;
    }
  }

  @media #{$small} {
    width: 90%!important;

    .c-baseBtn {
      padding: 1%;
    }  
    
    .c-bandeauCookies__img {
      display: none;
    }
  }


}

.c-bandeauCookies__radioBloc {
  margin-right: 16px;
}

.c-bandeauCookies__radio {
  display: flex;
  h3 {
    font-size: 1.8rem;
    line-height: 2.3rem!important;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem!important;
  }
}

.c-bandeauCookies__spacer {
  height: 1px;
  width: 100%;
  background-color: #999;
  margin: 32px auto;
}

.c-bandeauCookies.c-bandeauCookies--3 .c-bandeauCookies__wrap--row {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.c-bandeauCookies__textToggle {
  position: relative;
  overflow: hidden;
  height: 44px;
  @media #{$smallMediumOnly} {
    text-align: left;
  }
}

.c-bandeauCookies__textToggle.is-active {
  position: relative;
  overflow: none;
  height: auto;
}

.c-bandeauCookies__textToggleBtn  {
  text-align: left;
  margin-right: 24px;
}

.c-bandeauCookies__textToggleBtn a {
  font-size: 1.2rem;
  position: relative;
  margin-left: 0px;
  border-bottom: 0;
  .icon {
    font-size: 2rem;
    &:before {
      font-size: 2rem;
      line-height: 0;
      position: absolute;
      bottom: 7px;
    }
  }
}

.mask {
  display: none;
  @media #{$small} {
    display:block ;
  }
}