include bandeauCookies

.fillDemo
	.l-row
		.l-col-sm-12
			h1.u-typoSize-32 bandeau Cookie 

.fillDemo
	.l-row
		.l-col-sm-12
			h2.u-typoSize-24 Masque d'opacité
			p 
				b voir les regle fonctionnel pour l'usage du masque. par defaut le masque est caché


+demo({desc:"le DOM pour le mask du bandeauCookie, ajouter ou retirer le <code>u-hide>/code>"})
	.mask(style="height: 100%; width: 100%; position: absolute; background: black; opacity: 0.5;")

.fillDemo
	.l-row
		.l-col-sm-12
			h2.u-typoSize-24 bandeau Cookie écran 1

	+demo({})
		+bandeauCookies

	.l-row
		.l-col-sm-12
			h2.u-typoSize-24 bandeau Cookie écran 2
	+demo
		+bandeauCookies2


	.l-row
		.l-col-sm-12
			h2.u-typoSize-24 bandeau Cookie écran 3
	+demo
		+bandeauCookies3


	.l-row
		.l-col-sm-12
			h2.u-typoSize-24 bandeau Cookie écran 3 avec block paragraphe toggle remonté
	+demo
		+bandeauCookies4
