mixin infoComparaison(data)
  - var data    = data || {}
  - var negatif = data.negatif || false
  - var positif = data.positif || false
  - var number  = data.number  || false
  - var zero  = data.zero  || false


    //.c-infoComparaison
  .c-infoComparaison
    .c-infoComparaison__main
      .c-infoComparaison__txt
        .c-infoComparaison__txtWrap
          .c-infoComparaison__titre.u-textBold.u-margin-b-10 Bravo !
          span.c-infoComparaison__desc.u-textNormal Sur le dernier mois vous avez réduit votre consommation par rapport a l'année dernière.
      
        if number
          .c-infoComparaison__rslt
            span.c-infoComparaison__percent!=number?number:"0"
            span.c-infoComparaison__icon.icon(class=zero ? "icon-equal" : " " class=negatif ? "c-infoComparaison__iconNegatif icon-right-arrow" : " " class=positif ? "c-infoComparaison__iconPositif icon-right-arrow": " ")
