.c-infoComparaison {
  // background-image: url('../images/comparer_felicitation.jpg');
  background-size: cover;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 169px;
}

.c-infoComparaison__main {
  width: 100%;
  display: flex;
  align-items: left;
  @media #{$small} {
    align-items: center;
  }
  justify-content: center;
}

.c-infoComparaison__txt {
  text-align: left;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  @media #{$small} {
    display: flex;
    flex-direction: column-reverse;
  }
}


.c-infoComparaison__titre {
  display: block;
  font-size: 2.4rem;
  @media #{$small} {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.c-infoComparaison__rslt {
  padding-top: 17px;
  font-size: 2.1rem;    
  display: flex;
  font-weight: 600;
  // justify-content: center;
  align-items: center;
  @media #{$small} {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }
}

.c-infoComparaison__percent {
  margin-right: 15px;
  font-size: 2.8rem;
  font-weight: 800;
  span {
    font-size: 2rem;
  }
  @media #{$small} {
    margin-bottom: 10px;
    margin-right: 7px;
  }
}

.c-infoComparaison__icon {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 30px !important;
  color: $green;
  font-weight: bold !important;
}

.c-infoComparaison__iconNegatif {
  transform: rotate(45deg);
  font-size: 2rem;
  @media #{$small} {
    margin-top: -15px;
    font-size: 2rem;
  }
}

.c-infoComparaison__iconPositif {
  transform: rotate(-45deg);
}

@include media(">small" , "<=medium") {
  .c-blocCumul__date {
    font-size: 1.2rem;
  }

  .c-blocCumul__numberKwh {
    font-size: 4rem;
  }

  .c-infoComparaison {
    padding: 30px 10px;
  }
}

@include media ("<=small") {
  .c-infoComparaison {
    height: auto;
    padding: 15px;
  }

  .c-infoComparaison__txt {
    font-size: 1.6rem;
  }

  .c-infoComparaison__rslt {
    margin-top: 0px;
    font-size: 2.1rem;
    justify-content: center;
  }
  
  .c-infoComparaison__txtWrap {
    text-align: center;
  }
}


