.c-accordion__panel {
  overflow: hidden;
  height: 0;
  transform: translateZ(0);

  .no-js & {
    height: auto;
  }
}

.c-accordion--alone {
  .c-accordion__tab {
    display: table;
    width: 100%;
    background-color: #f2f2f2;
    color: $black;
    padding: 15px;
    border: 1px solid  #f2f2f2;
    border-bottom: none; // pour avoir des bordures de 1px
    min-height: 60px;
    transition: color .2s ease-in-out,
                background-color .2s ease-in-out;

    // &:last-of-type {
    //   // border-bottom: 1px solid $coral; // pour avoir des bordures de 1px
    // }

    > * {
      display: table-cell;
      table-layout: fixed;
      vertical-align: middle;
    }

    .icon {
      transform: rotateZ(270deg);
      font-size: 5rem;
      will-change: transform;
      transition: transform .2s ease-in-out;
      font-size: 3rem;
    }

    &[aria-expanded="true"] {
      color: $genBlue;
      // background-color: $coral;

      .icon {
        transform: rotateZ(90deg);
      }
    }
    &:first-child {padding-top: 30px;}

    &:last-child {padding-bottom: 40px;}
  }

  .c-accordion__label {
    font-size: 1.5rem;
    width: 100%; // pour display table-cell
  }

//   .c-accordion__panel {
//     &[aria-hidden="false"] {
// border-top: 1px solid $coral;
//     }

//   }

  @include media(">=small") {
    .c-accordion__tab {
      cursor: pointer;
      padding-left: 40px;
      padding-right: 40px;
      &:hover {
        color: $genBlue;
      }
    }
  }
}

