include serviceNonActive/serviceNonActive
include autreService/autreService
include serviceItem/serviceItem
include serviceActive/serviceActive

mixin service()
  // .c-service
  .c-service

    +serviceActive({
      vide : true
    })
    +serviceNonActive
    +autreService