include textImage

.c-wysiwyg
  h2 textImage
+demo({
  desc: "Avec titre"
})
  +textImage({
    title: "Lorem ipsum",
    imgLarge: '../images/contrib/textImage.jpg'
  })


.c-wysiwyg
  h2 textImage: image à gauche
+demo({
  desc: "Classe <code>c-textImage--right</code> sur élément <code>c-textImage</code>"
})
  +textImage().c-textImage--right


.c-wysiwyg
  h2 textImage: background-color
+demo({
  desc: "Classe <code>u-bg-blue-medium</code> sur élément <code>c-textImage</code>"
})
  +textImage().u-bg-grey-light


.c-wysiwyg
  h2 textImage: video
+demo({
  desc: "Classe <code>c-textImage__figure--video</code> sur élément <code>c-textImage__figure</code> avec une <code>iframe</code>"
})
  +textImage({
    video: "https://www.youtube.com/embed/twRChpWgjJ0"
  }).u-bg-grey-light


.c-wysiwyg
  h2 Pas d'image mobile
+demo({
  desc: "Retirer la clé <code>small</code> et sa valeur dans l'attribut <code>data-ab-interchange</code>"
})
  +textImage({
    noPictureMobile: true
  })


.c-wysiwyg
  h2 textImage: Apps
+demo({
  desc: ""
})
  +textImage({
    apps: true
  }).u-bg-grey-light
