include ../headSection/headSection
include ../img/img
include ../appsBlock/appsBlock

mixin textImage(data)
  - var data            = data                 || {}
  - var noImg           = data.noImg           || false
  - var imgSmall        = data.imgSmall        || '../images/contrib/textImage-small.jpg'
  - var imgLarge        = data.imgLarge        || '../images/contrib/textImage-medium.jpg'
  - var video           = data.video           || false
  - var noPictureMobile = data.noPictureMobile || false
  - var title           = data.title           || false
  - var apps            = data.apps            || false
  - var noWysiwyg       = data.noWysiwyg       || false



  // .c-textImage
    Alignement :
      - Texte à gauche : par défaut.
      - Texte à droite : ajouter 'c-textImage- -right' (sans espace) sur 'c-textImage'.
    Image :
      - pour mobiles, image max. 640px de large très compressée
      - pour tablettes et desktop, image max. 774px de large
    Video :
      - classe 'c-textImage__figure- -video' (sans espace)

  article.c-textImage.u-padding-spacer&attributes(attributes)
    .c-textImage__wrapper.l-wrapper--huge
      if title
        +headSection({
          noLink: true,
          title: title
        })

      .c-textImage__article
        .c-textImage__content
          if noWysiwyg
            block

          else
            .c-wysiwyg
              if block
                block
              else
                h2
                  a(href="#")
                    span Comment relever votre compteur gaz ?

                p La relève du compteur de gaz naturel est une opération importante car elle permet de mesurer votre index, c’est-à-dire votre consommation de gaz, et donc d’établir vos factures.

                p
                  a.u-link.u-link--arrow(href="#")
                    span Comment saisir mon index

        if apps
          .c-textImage__apps
            +appsBlock
              +appsBlockItem({
                os: 'iOS'
              })
              +appsBlockItem({
                os: 'android'
              })
              +appsBlockItem({
                os: 'windows'
              })


      figure.c-textImage__figure(role="group" class=video ? "c-textImage__figure--video" : "")
        if noPictureMobile
          +img({
            alt: "La description de mon image",
            interchange: {
              medium: imgLarge
            }
          }).u-hideSmall
        else if !noImg && !video
          +img({
            alt: "La description de mon image",
            interchange: {
              small:  imgSmall,
              medium: imgLarge
            }
          })

        else if video
          iframe(src=video frameborder="0" allowfullscreen title="description de la vidéo")
  // end .c-textImage
