.c-confirmerAdresse {
  display: block;
  width: 100%;
  font-size: 1.6rem;
}

// .c-confirmerAdresse__title {
//   font-size: 3rem;
//   font-weight: bold;
//   text-align: center;
// }

// .c-confirmerAdresse__desc {
//   font-size: 2.2rem;
//   width: 100%;
//   display: block;
// }

.c-confirmerAdresse__name {
  font-weight: bold;
  font-size: 2rem;
}

.c-confirmerAdresse__categorie {
  font-weight: bold;
}

.c-confirmerAdresse__grey {
  background-color: $grey-light;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.4rem;
}

.c-confirmerAdresse__note {
  font-weight: bold;
}