$noCharted-color-yellowOrange: #ffb500; // non charté 
$noCharted-theme-red:    #ff5500; // non charté
$noCharted-theme-green:    #54dda3; // non charté

.c-jauge {
  padding: 40px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.c-jauge__main {
  width: 70%;
}

.c-jauge__wording {
  width: 100%;
  padding-right: 100px;
}

.c-jauge__title {
  margin-bottom: 20px;
}

.c-jauge__title span {
  font-weight: bold;
  font-size: 3rem; 
}

.c-jauge__desc {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.c-jauge__price {
  font-size: 2.2rem;
  font-weight: bold;
}

.c-jauge__ancre {
  text-decoration: none;
  color: $genBlue;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
  width: 54%;
  margin-top: 20px;
}

.c-jauge__theme--coral .c-jauge__color {
  color: $noCharted-theme-red;
}

.c-jauge__theme--coral .c-jauge__bg {
  background-color: $noCharted-theme-red;
}

.c-jauge__theme--green .c-jauge__color {
  color: $noCharted-theme-green;
}

.c-jauge__theme--green .c-jauge__bg {
  background-color: $noCharted-theme-green;
}

.c-jauge__theme--blue .c-jauge__color {
  color: $genBlue;
}

.c-jauge__theme--blue .c-jauge__bg {
  background-color: $genBlue;
}

.c-jauge__jauge {
  width: 30%;
  position: absolute;
  right: 0;
  top: 40px;
}

.c-jauge__cube {
  width: 83px;
  height: 29px;
  border: 1px $genBlue solid;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: $genBlue;
  position: relative;
  margin: 1px 0;
}

.c-jauge__cubeFin {
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-jauge__cubeFinMonth , .c-jauge__cubeFinLabel , .c-jauge__cubeReleveMonth , .c-jauge__cubeReleveLabel, .c-jauge__cubeDebutMonth, .c-jauge__cubeDebutLabel {
  position: absolute;
  left: 90px;
  width: 100px;
  text-align: left;
}

.c-jauge__cubeFinMonth {
  color: black;
  top: -10px;
}

.c-jauge__cubeFinLabel {
  top: 10px;
  text-align: left;
  color: $genBlue;
}

.c-jauge__projectionPrice .c-jauge__bg {
  border-radius: 40px;
  color: white;
  height: 50px;
  width: 83px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
  justify-content: center;
}

.c-jauge__projectionPrice .c-jauge__color {
  text-align: center;
  padding-left: 10px;
  display: inline-block;
  font-weight: bold;
}

.c-jauge__cubeReleve {
  background: $noCharted-color-yellowOrange;
}

.c-jauge__cubeReleveMonth, .c-jauge__cubeDebutMonth {
  top : 0;
  color: black;
}

.c-jauge__cubeReleveLabel {
  bottom : -5px;
  color: $noCharted-color-yellowOrange;
}

.c-jauge__cubeDebutLabel {
  bottom: -5px;
  color: $genBlue;
}

.c-jauge__cubeDebut {
  border-radius: 0 0 20px 20px;
}

.c-jauge__boutton {
  width: 50%;
  margin-top: 30px;
}

.c-jauge__bouttonTxt {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.c-jauge__btn {
  width: 280px;
  font-size: 1.6rem;
}

.c-jauge__btn .c-baseBtn {
  padding: 10px 15px;
}

// jauge remplissage
.c-jauge--nth-1 :nth-child(n+11).c-jauge__cube, .c-jauge--nth-2 :nth-child(n+10).c-jauge__cube, .c-jauge--nth-3 :nth-child(n+9).c-jauge__cube, .c-jauge--nth-4 :nth-child(n+8).c-jauge__cube, .c-jauge--nth-5 :nth-child(n+7).c-jauge__cube, .c-jauge--nth-6 :nth-child(n+6).c-jauge__cube, .c-jauge--nth-7 :nth-child(n+5).c-jauge__cube, .c-jauge--nth-8 :nth-child(n+4).c-jauge__cube, .c-jauge--nth-9 :nth-child(n+3).c-jauge__cube, .c-jauge--nth-10 :nth-child(n+2).c-jauge__cube, .c-jauge--nth-11 :nth-child(n+1).c-jauge__cube {
  background-color: $genBlue !important;
  color: white;
}

.c-jauge--active {
  background-image: url('../images/contrib/localisationJauge.png');
  position: absolute;
  left: -80px;
  width: 80px;
  height: 80px;
  background-size: 100% 80px;
  top: -65px;
}

.c-jauge__tooltip {
  display: none;
  position: absolute;
  left: 90px;
  text-align: left;
  background: white;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 20px;
  width: 210px;
  z-index: 9;
  bottom: -50px;
}

.c-jauge__bg .c-jauge__tooltip {
  bottom: -35px;
}

// .c-jauge__cube:after {
//   border-top: 6px solid transparent;
//   border-right: 15px solid white;
//   border-bottom: 6px solid transparent;
//   content: '';
//   height: 0;
//   top: 10px;
//   right: -10px;
//   width: 0;
//   position: absolute;
//   z-index: 10;
//   display: none;
// }

.c-jauge__tooltipTime {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

.c-jauge__tooltipPrice {
  color: #325678;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
}

.c-jauge__cube:hover .c-jauge__tooltip, .c-jauge__projectionPrice:hover .c-jauge__tooltip,.c-jauge__cube:hover:after, .c-jauge__bg:hover:after {
  display: block;
}

.c-jauge__bg{
  position: relative;
}

.c-jauge__tooltip:after {
  border-top: 6px solid transparent;
  border-right: 15px solid white;
  border-bottom: 6px solid transparent;
  content: '';
  height: 0;
  top: 50%;
  left: -10px;
  width: 0;
  position: absolute;
  z-index: 10;
}

.c-jauge__btn .icon {
  font-size: 4rem;
}

@include media (">small") {
  .c-jauge__projectionPrice {
    position: absolute;
    top: 0;
  }
}

@include media (">small", "<=medium") {
  .c-jauge__tooltip {
    bottom: -40px;
  }
}

@include media ("<=small") {
  .c-jauge__ancre {
    text-align: center;
    display: block;
    width: 100%;
  }

  .c-jauge__tooltip:after {
    top: -20px;
    left: 50%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid white;
  }
  .c-jauge {
    display: block;
    padding: 20px;
  }

  .c-jauge__bg .c-jauge__tooltip {
    bottom: initial;
  }

  .c-jauge__boutton {
    position: relative;
    width: 100%;
    margin-top: 50px;
    left: 0;
    bottom: 0;
  }

  .c-jauge__main {
    width: 100%;
    margin-bottom: 30px;  
  }

  .c-jauge__jauge {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
  }

  [class*="jauge__theme--"] {
    .c-jauge__jauge {
      padding-left: 25%;
    }
  }
  
  .c-jauge__wording {
    padding-right: 0;
  }

  .c-jauge__btn {
    width: 100%;
  }

  .c-jauge__tooltip {
    left: -70px;
    top: 35px;
    bottom: initial;
  }

  .c-jauge__cube:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid white;
    top: 15px;
    right: 35px;
  }

  .c-jauge__bg:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid white;
    top: 35px;
    right: 35px;
  }

  .c-jauge__bg .c-jauge__tooltip {
    top: 55px;
  }
}