.c-stickyDock {
  z-index: 1002; // c-stickyDockLayer +1
  bottom: 25px;
  padding: 10px;
}

.c-stickyDock__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.c-stickyDock__btn {
  @extend %reset-style-button;
  outline: none;
  display: block;

  .icon {
    transform-origin: 0 0;
    transition: transform 0.6s ease-in-out,
                opacity 0.6s ease-in-out;
  }

  // picto normale
  .icon:nth-child(1) {
    opacity: 1;
    transform: rotate(0deg) translate(-50%, -50%);
  }

  // picto de fermeture
  .icon:nth-child(2) {
    font-size: 1.8rem;
    opacity: 0;
    transform: rotate(180deg) translate(-50%, -50%);
  }

  // btn du menu
  &.is-active,
  // btn trigger
  .is-opened &.c-stickyDock__trigger {
    .icon:nth-child(1) {
      opacity: 0;
      transform: rotate(180deg) translate(-50%, -50%);
    }
    .icon:nth-child(2) {
      opacity: 1;
      transform: rotate(0deg) translate(-50%, -50%);
    }
  }
}

.c-stickyDock__item {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.c-stickyDock__item--notification {
  .c-stickyDock__picto {
    transition: background-color 0.3s ease-in-out;
  }
}

.c-stickyDock__itemNotification {
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 16px;
  line-height: 1.6;
  font-family: $font-arial;
  font-weight: $font-bold;
}

.c-stickyDock__label {
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.c-stickyDock__picto {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 3.1rem;

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@include media("<small") {
  .c-stickyDock {
    position: fixed;
    right: 0;
    overflow: hidden;

    &:not(.is-opened) {
      // seulement quand fermé sinon bug position fixed
      transform: translateZ(0);

      // changement d'état après transition
      .c-stickyDock__list,
      + .c-stickyDockLayer {
        transition-delay: 0.3s;
      }
    }

    &.is-opened {
      overflow: visible;

      + .c-stickyDockLayer {
        opacity: 0.75;
        visibility: visible;
      }

      .c-stickyDock__list {
        height: 100%;
        width: 100%;
        overflow: visible;
      }
    }
  }

  .c-stickyDock__list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 0;
    width: 50px;
    transition: height 0s linear,
                width 0s linear;
  }

  .c-stickyDockLayer {
    position: fixed;
    z-index: 1001; // c-headerLight +1
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    will-change: opacity, visibility;
    transition: opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
  }

  .c-stickyDock__trigger {
    margin: 0 auto;
    padding-bottom: 0;
    float: right;

    .icon {
      font-size: 3rem;
    }
  }

  .c-stickyDock__label {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
  }

  .c-stickyDock__item {
    display: flex;
    will-change: opacity, transform;
    transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                opacity .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:nth-child(1) {
      opacity: 0;
      transform: translateY(300%);
      transition-delay: .3s;
    }
    &:nth-child(2) {
      opacity: 0;
      transform: translateY(200%);
      transition-delay: .2s;
    }
    &:nth-child(3) {
      opacity: 0;
      transform: translateY(100%);
      transition-delay: .1s;
    }

    .c-stickyDock.is-opened &:nth-child(1) {
      transform: translateY(0%);
      opacity: 1;
    }
    .c-stickyDock.is-opened &:nth-child(2) {
      transform: translateY(0%);
      opacity: 1;
    }
    .c-stickyDock.is-opened &:nth-child(3) {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}


@include media(">=small") {
  .c-stickyDockLayer,
  .c-stickyDock__trigger,
  .c-floatingModal__close {
    display: none;
  }

  .c-stickyDock {
    bottom: 35px;
    padding: 0 15px;
  }

  .c-stickyDock--outside {
    position: fixed;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
  }

  .c-stickyDock__list {
    overflow: hidden;
    padding-left: 15px;
  }

  .c-stickyDock__picto {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: none;
  }

  .c-stickyDock__item {
    overflow: visible;
    position: relative;
    height: 60px;
    max-width: 60px;
    margin: 10px 0;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    will-change: max-width;
    transition: max-width 0.3s ease-in-out,
                background-color 0.3s ease-in-out;

    .no-touchevents .c-stickyDock:not(.is-opened) & {
      &:hover,
      &:focus {
        max-width: 250px;

        .c-stickyDock__label {
          opacity: 1;
          visibility: visible;
          color: $white;
        }
      }
    }

    &.is-active:after,
    &.is-active:before {
      opacity: 1;
    }

    &:after,
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 11;
      left: -15px;
      border: 15px solid transparent;
      border-left: 10px solid $grey-light;
      border-right: none;
      opacity: 0;
    }

    &:after {
      z-index: 10;
      margin-top: 3px;
      border-left-color: rgba(0, 0, 0, 0.1);
    }
  }

  .c-stickyDock__label {
    position: relative;
    z-index: 1;
    padding: 0 65px 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out;
  }

  .c-stickyDock {
    .c-floatingModal.is-opened {
      width: 390px;
      height: auto;
    }
  }
}


// THEME ---------------------------

$stickyDock-colors-map: (
  genBlue: $genBlue
);

@each $name, $value in $stickyDock-colors-map {
  .u-theme-#{$name} {
    .c-stickyDock__btn {
      &.is-active,
      .is-opened &.c-stickyDock__trigger {
        .c-stickyDock__picto {
          background-color: $value;
          color: $white;
        }
      }
    }

    .c-stickyDock__item--notification {
      .c-stickyDock__picto {
        background-color: $grey-light;
        color: $value;
      }
    }

    .c-stickyDock__itemNotification,
    .c-stickyDock__picto {
      background-color: $value;
      color: $white;
    }
  }

  @include media(">=small") {
    .u-theme-#{$name} {
      .no-touchevents &:not(.is-opened) .c-stickyDock__item:hover,
      .no-touchevents &:not(.is-opened) .c-stickyDock__item:focus {
        background-color: $value !important;

        .c-stickyDock__picto {
          background-color: $value;
          color: $white;
        }

        .c-stickyDock__itemNotification {
          color: $value;
          background-color: $white;
        }
      }
    }
  }
}
