.c-radioStyle {
  display: flex;
  margin: 40px 0;
}

.c-radioStyle__icon {
  font-size: 8rem;
  color: $grey-medium;
}

.c-radioStyle__icon.is-selected {
  font-size: 8rem;
  color: $genBlue;
}

.c-radioStyle__fieldBorder {
  display: flex;
  width: 350px;
  height: 220px;
  position: relative;
  margin: 0 20px;
}

.c-radioStyle__blocImage {
  width: 100%;
  height: 220px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input.c-radioStyle__field {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  width: 350px;
  height: 220px;
  top: 0;
  border: 1px $grey-medium solid;
  position: relative;
  z-index: 3;
}

input.c-radioStyle__field:checked {
  border: 2px $genBlue solid;
  transition: all 0.3s ease-out;
}

input.c-radioStyle__field:focus {
  outline: none;
}

input.c-radioStyle__field:checked ~ .c-radioStyle__nouveaux{
  color: $genBlue ;
}

input.c-radioStyle__field:checked ~ .c-radioStyle__blocImage .c-radioStyle__icon   {
  color: $genBlue ;
}


.c-radioStyle__label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-radioStyle__nouveaux {
  padding: 15px;
  background: white;
  position: absolute;
  top: -28px;
  font-size: 15px;
  z-index: 5;
  left: 115px;
  color: $coral;
}


@include media("<small") {
  .c-raioStyle--allRadioStyle{
    flex-direction: column;
  }

  .c-radioStyle{ margin: 0;}

  .c-radioStyle__fieldBorder {
    display: flex;
    width: 100%;
    height: 220px;
    position: relative;
    margin: 20px 0;
    justify-content: center;
  }

  .c-radioStyle__nouveaux {
    left: initial;
  }

  .input.c-radioStyle__field {
    width: 90%;
  }
}


.c-radioStyle.js {
  input.c-radioStyle__field:checked, input.c-radioStyle__field {
    border: 0;
  }

  input.c-radioStyle__field {
    width: 0;
  }

  .c-radioStyle__fieldBorder {
    border: 1px $grey-medium solid;
  }
    
  &.is-checked {

    .c-radioStyle__fieldBorder {
      border: 2px #00aaff solid;
    }
  }
}