@import "eTipFormIBAN/eTipFormIBAN";

.c-eTip__wrapperGrey {
  background: $grey-light;
  padding: 50px;
}

.c-eTip__infoFacture {
  padding:30px;
  background-color: $grey-light;
  display: flex;
  justify-content: center;
  align-items: center;

  .c-btnWrapper {
    display: inline-block;
    margin-left: 5%;
  }

  .c-baseBtn--empty {
    color: $black;

    .icon {
      color: $black;
    }
  }
}