include eTip


h1.u-heading-1.u-margin-v-50.u-textCenter E-tip Etape 1

+demo({
  desc :"élément de l'étape 1, RAF à voir avec les back pour la gestion des validation du formulaire"
})
  #cel.c-headerLightCelPush.u-margin-small-t-35
    +eTip({
      step : 1
    }).l-wrapper--large

h1.u-heading-1.u-margin-v-50.u-textCenter E-tip Etape 2

+demo({
  desc :"élément de l'étape 2"
})
  #cel.c-headerLightCelPush.u-margin-small-t-35
    +eTip({
      step : 2
    }).l-wrapper--large