mixin somsDetail()
  // .c-somsDetail
  .c-somsDetail
    .c-somsDetail__col1
      .c-somsDetail__energy
        .c-somsDetail__title
          span.icon.icon-elec2
          | Électricité

        .c-somsDetail__info
          p.c-somsDesc
            span.c-somsDesc__Break Puissance souscrite&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 6 KVA
          p.c-somsDesc
            span.c-somsDesc__Break Type de comptage&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold Heures Pleines / Heures creuses

          p.c-somsDesc.u-margin-t-15 Prix fixe<sup>*</sup> de marché 3 ans TTC
          p.c-somsDesc
            span.c-somsDesc__Break Abonnement&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 96,5&nbsp;€/an
          p.c-somsDesc
            span.c-somsDesc__Break Prix par KWh HC&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 0,137335&nbsp;€/KWh
          p.c-somsDesc
            span.c-somsDesc__Break Prix par kWh HP&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 0,147335&nbsp;€/KWh

      .c-somsDetail__energy
        .c-somsDetail__title
          span.icon.icon-gaz3
          | Gaz naturel

        .c-somsDetail__info
          p.c-somsDesc
            span.c-somsDesc__Break Plage de consommation prévisionnelle&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold de 6000 à 30000 kWh
          p.c-somsDesc
            span.c-somsDesc__Break Débit compteur&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 6m<sup>3</sup>/h

          p.c-somsDesc.u-margin-t-15.u-margin-small-t-30 Prix fixe<sup>*</sup> de marché 3 ans TTC
          p.c-somsDesc
            span.c-somsDesc__Break Abonnement&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 96,5&nbsp;€/an
          p.c-somsDesc
            span.c-somsDesc__Break Prix par KWh&nbsp;:
            = " "
            span.c-somsDesc__Break.u-textBold 0,137335&nbsp;€/KWh

      p.u-fontSize-tiny.u-color-grey * Prix fixe hors évolution des impots, taxes et contributions de toute nature

    .c-somsDetail__col2
      .c-somsDetail__check
        .c-somsDetail__title Modalité de règlement

        p.c-somsDesc
          span.c-somsDesc__Break Prélevement&nbsp;:
          = " "
          span.c-somsDesc__Break.u-textBold.u-textUppercase oui
        p.c-somsDesc
          span.c-somsDesc__Break Paiement mensualisé&nbsp;:
          = " "
          span.c-somsDesc__Break.u-textBold.u-textUppercase non

      .c-somsDetail__check
        .c-somsDetail__title Options

        p.c-somsDesc
          span.c-somsDesc__Break Facture en ligne&nbsp;:
          = " "
          span.c-somsDesc__Break.u-textBold.u-textUppercase oui
          a.u-link.u-link--revert.u-theme-color.u-theme-color-hover(href="#") En savoir plus
        p.c-somsDesc
          span.c-somsDesc__Break Assurance facture&nbsp;:
          = " "
          span.c-somsDesc__Break.u-textBold.u-textUppercase non
          a.u-link.u-link--revert.u-theme-color.u-theme-color-hover(href="#") En savoir plus
        p.c-somsDesc
          span.c-somsDesc__Break Service dépannage&nbsp;:
          = " "
          span.c-somsDesc__Break.u-textBold.u-textUppercase non
          a.u-link.u-link--revert.u-theme-color.u-theme-color-hover(href="#") En savoir plus
  // END - .c-somsDetail
