//- +selectOptions//- +selectOptions

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant dropdownNav

+demo({
  desc: "Injection de la classe <code>is-active</code> sur l'élément <code>.c-dropdownNavElem</code>"
})
  +dropdownNav
    +dropdownElem({
      contentText: "Je déménage",
      iconName: 'iconVente-move',
      hasArrow: true,
      settings: {
        target: 'dropdown1'
      }
    })
      +dropdownElem({
        contentText: "Je change d'offre",
        iconName: 'iconVente-change-offer'
      })

    +dropdownElem({
      contentText: "Electricité et gaz",
      iconName: 'iconVente-elec-gaz',
      hasArrow: true,
      settings: {
        target: 'dropdown2'
      }
    })
      +dropdownElem({
        contentText: "Electricité",
        iconName: 'iconVente-elec'
      })
      +dropdownElem({
        contentText: "Gaz",
        iconName: 'iconVente-gaz'
      })

    +dropdownElem({
      contentText: "Un appartement",
      iconName: 'iconVente-appart',
      hasArrow: true,
      settings: {
        target: 'dropdown3'
      }
    })
      +dropdownElem({
        contentText: "Une maison",
        iconName: 'iconVente-home'
      })