mixin dropdownNav()
  // c-dropdownNav
  .c-dropdownNav
    ol.c-dropdownNav__list
      block
  // end c-dropdownNav


mixin dropdownElem(data)
  - var contentText = data.contentText || "Texte par défaut"
  - var iconName = data.iconName || 'icon-truck2'
  - var hasArrow = data.hasArrow || false
  //- Pour le toggle :
  - var settings = data.settings || false
  - var target = settings.target || false

  // c-dropdownNav__elem
  li.c-dropdownNavElem
    button(type='button', data-e-toggle=settings).c-dropdownNavElem__main.u-color-genBlue

      .c-dropdownNavElem__content
        .c-dropdownNavElem__icon
          span.iconVente(class=iconName)
        .c-dropdownNav__text: strong!=contentText

      if hasArrow
        .c-dropdownNavElem__arrow
          span.icon.icon-chevron-bottom

    if settings
      ul.c-dropdownNav__subList(data-e-toggle-target=target)
        block
  // end c-dropdownNav__elem
