@import "addressBoxItem/addressBoxItem";

.c-addressBox {
  padding: 30px 0;
}

.c-addressBox__group {
  text-align: center;
}

.c-addressBox__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Tablettes et desktop : */
@include media(">=small"){
  .c-addressBox__group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}