.c-somsAddress {
  text-align: center;
}

.c-somsAddress__title,
.c-somsAddress__img {
  margin-bottom: 15px;
}

.c-somsAddress__address {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $grey;

  .icon {
    font-size: 3.4rem;
    margin-right: 5px;
  }
}
