mixin somsAddress
  // .c-somsAddress
  .c-somsAddress
    h2.c-somsAddress__title.u-heading-3 Suivi de votre Emménagement

    .c-somsAddress__img.u-hideSmall.u-hideMedium
      +img({
        alt: "",
        interchange: {
          large:   '../images/contrib/soms-address.png'
        }
      })

    address.c-somsAddress__address
      span.icon.icon-bold-locpin
      p 24 rue Denfert-Rochereau, <br>75014 Paris
  // END - .c-somsAddress
