.c-wysiwyg.u-margin-t-50
  h1.u-textCenter.u-margin-t-50 Composant parcour iban obsolete

button(type='button', data-e-modal-open='modal1') Ouvrir la modale

+demo({
  desc : `cliquer pour ouvrir la modal <br><br>
    <code>[data-e-modal]</code> à mettre sur la modal<br>
  <code>[data-e-modal-target]</code> à mettre sur le bouton<br><br>
  NOTE : <code>[data-e-modal]</code> & <code>[data-e-modal-target]</code> doivent avoir le memem nom<br>
  ex:  <code>[data-e-modal = "myBlock"]</code>  <code>[data-e-modal-target = "myBlock"]</code><br>
  NOTE : le reste des attribus de la modal sont injecter en js par init()<br><br>


  JS usage:<br><br>
  Initialisation :<br>
  E.plugins.eModal();<br><br>

  Appler une méthode de l'extérieur :<br><br>

  $0.eModal.open();<br>
    possibilité de faire un callback pour eModal.open()<br>
  $0.eModal.close();<br>`
})
  +modal({
    theme : "genBlue",
    icon : "icon-info-circleDS",
    target: `{
      "target": "modal1"
    }`
  }).is-active
    .u-padding-h-20.u-padding-b-20
      h2.c-etipIbanV2__modalTitle.u-textBold.u-textCenter Cet IBAN n’est pas valide

      p.u-textCenter.u-margin-t-20 Veuillez en créer un autre

      +btnWrapper().u-margin-t-40.u-margin-small-t-40.u-theme-genBlue
        +baseBtn({
          text: 'Continuer',
          button: false
        }).u-padding-v-10

.c-wysiwyg.u-margin-v-50
  h1.u-textCenter.u-margin-t-50 Composant block display


+demo({
  desc : "block iban display"
})
    +radioBlockMatEmpty
      BANQUE POPULAIRE RIVES DE PARIS<br>
      FR76 1020 xxxx xxxx xxxx xxxx xxx

.c-wysiwyg.u-margin-t-50
  h2.u-textCenter.u-margin-v-50 fieldInfoWarningV3 type error

+demo({
  desc : "message d'erreur"
})
    +fieldInfoWarningV3.u-margin-t-15

.c-wysiwyg.u-margin-v-50
  h2.u-textCenter exemple comprenant le message d'erreur et le bloque iban non cliquable

+demo()
  .c-eTipFormIBAN.l-wrapper--medium
    +radioBlockMat({
      label: 'IBAN',
      id: "radioBlockMatBlock1",
      name: 'multilineradioBlock',
      blockMode: true,
      dataValidation: true,
      checked : true
    })
      | BANQUE POPULAIRE RIVES DE PARIS
      br
      | FR76 1020 xxxx xxxx xxxx xxxx xxx

    +radioBlockMat({
      label: 'IBAN',
      id: "radioBlockMatBlock3",
      name: 'multilineradioBlock',
      blockMode: true,
      dataValidation: true,
      checked : true
    })
      | BANQUE POPULAIRE RIVES DE PARIS
      br
      | FR76 1020 xxxx xxxx xxxx xxxx xxx

    +radioBlockMatEmpty
      BANQUE POPULAIRE RIVES DE PARIS<br>
      FR76 1020 xxxx xxxx xxxx xxxx xxx
    
    //- +fieldInfoWarningV3.u-margin-t-15

    +radioBlockMat({
        label: 'Ajouter un nouvel IBAN',
        id: "radioBlockMatBlock2",
        name: 'multilineradioBlock',
        blockMode: true,
        dataValidation: true
      })(data-e-field-validation-fildset).c-radioBlockMat--blockEmpty

      +fieldInfoWarningV3.u-margin-t-15

      fieldset.l-wrapper--small.l-wrapper--left
        +inputMat({
          label: 'Nom du titulaire du compte',
          type: "text",
          id: "nom-titu2",
          name: "nom-titu2",
          required: true,
          placeholder: 'Ex : Martinez',
          dataValidation: true,
        })

        +inputMat({
          label: 'Votre IBAN',
          type: "text",
          id: "user-iban2",
          name: "user-iban2",
          iban: true,
          placeholder: 'Ex : FR 1235 1231 1231 1231',
          check: true,
          required: true,
          dataValidation: {
            validations: {
              valueMissing: 'Champ obligatoire'
            }
          }
        })


    +btnWrapper().u-margin-t-40.u-margin-small-t-40.u-theme-genBlue
      +baseBtn({
        text: 'Valider',
        button: true
      })(type="submit" data-e-form-validation-submit).u-padding-v-10
    



