.c-etipIbanV2__price {
  color: #FB7431;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.c-etipIbanV2__modalTitle {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
}

.c-etipIbanV2__price sup {
  font-size: 0.5em;
}

.c-etipIbanV2__date {
  font-size: 16px;
  margin-bottom: 35px;
  display: block;
  text-align: center;
}

.c-etipIbanV2__desc {
  font-size: 16px;
  display: block;
  font-weight: bold;
  text-align: center;
  padding:0 0 35px;
}

.c-etipIbanV2__desc::before {
  margin: 0 auto 35px;
  height: 0.5px;
  width: 530px;
  background-color: #ccc;
  content: ' ';
  display: block;
}

.c-etipIbanV2 .c-eTipV2--linkretour {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-etipIbanV2 .c-baseBtn {
  min-height: 40px;
  max-height: 40px;
}

.c-etipIbanV2 .c-baseBtn .c-baseBtn__content {
  font-size: 16px;
}


@include media("<medium") {
  .c-etipIbanV2__price, .c-etipIbanV2__date, .c-etipIbanV2__desc { 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media("<=small") {
  .c-etipIbanV2__date b {
    display: block;
  }

  .c-etipIbanV2__desc::before {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .c-etipIbanV2__desc {
    padding-bottom: 25px;
  }

  .c-etipIbanV2__date {
    margin-bottom: 25px;
  }
}