mixin socialBtn(data)
  - data = data || {}
  - text = data.text || ''
  - social = data.social || 'facebook'

  // .c-socialBtn
  if social === 'facebook'
    a.c-socialBtn.c-socialBtn--facebook(href="#")
      span.icon.icon-facebook
      span.c-socialBtn__text!=text

  if social === 'google'
    a.c-socialBtn.c-socialBtn--google(href="#")
      span.icon
      span.c-socialBtn__text!=text
  // end .c-socialBtn
