include ../../../../common/src/components/modal/modal
mixin relverIndex(data)
  - var data = data || {}

  //.c-relverIndex
  .c-relverIndex
    .l-row
      .l-col-large-8.u-nopadding-small.l-push-large-2
        h2.u-heading-2.c-relverIndexConfirmer--style.u-padding-b-20.u-textBold Effectuez votre relevé de compteur
        p  Vous souhaitez relever votre compteur et nous communiquer l'index qui servira à déterminer votre consommation pour le logement suivant :
        .l-col-medium-12
          p 2 rue de Verdun - CHECY
          p Contrat N°123456789

        .c-relverIndexConfirmer__imgIndex.u-margin-t-30.u-margin-small-t-30
          .c-relverIndexConfirmer__img 
            img(src="../images/contrib/flamCalander.png" alt="flam calander")
          .c-relverIndexConfirmer__desc
            h2 Gaz naturel
        
        +formMat()
          +modal({
            target: `{
              "target": "aide"
            }`
          }).c-relverIndex--borderBlue
            .u-padding-a-20
              .c-relverIndex__titlePopIn.u-margin-t-10
                img(src="../images/contrib/nonGazparDispo.png" alt="").u-margin-r-10
                span.u-textBold.u-color-genBlue.u-fontSize-medium Où trouver votre index ?
              .u-padding-v-50.u-textCenter
                img(src="../images/contrib/compteur_gaz.jpg" alt="index").c-relverIndex__img.u-margin-b-10
              .u-textLeft.u-padding-b-20
                p.u-color-black.u-margin-b-10 L'index à relever correspond uniquement aux cinq premiers chiffres sur fond noir indiqués sur votre compteur de <b> gaz naturel</b>.
                a(href="").c-relverIndex__link.u-textUnderlined Trouvez facilement votre index de gaz en suivant ce lien

          +modal({
            target: `{
              "target": "dernierIndexInfo"
            }`
          })
            .u-padding-a-20 
              p Relevé de compteur transmis le 26/11/2020

          .l-row
            .l-col-medium-4
              .c-relverIndex__value
                .c-relverIndex__valueLabel Dernier index transmis
                .c-relverIndex__value__Modal.c-relverIndex--tooltipStyle(data-e-modal-open="dernierIndexInfo")
                  span.c-toolTip__icon.u-theme-bg.u-theme-bg-hover ?
              .c-relverIndex__valueIndex 5897

            .l-col-medium-3
              +inputMat({
                type: "tel",
                id: "nouvelIndex",
                name: "nouvelIndex",
                pattern: '^[0-9]*$',
                label: 'Nouvel index',
                required: true,
                placeholder: 'Ex: 25000',
                toolTip:  "aide",
                toolTipLabel:  "label",
                maxlength: 5,
                minlength: 1,
                dataValidation: {
                  typing : true,
                  validations: {
                    patternMismatch: "Vous devez saisir une suite de 5 chiffres correspondant à un index de compteur de gaz naturel",
                    valueMissing: 'champs obligatoire'
                  }
                }
              })(data-e-focus)
          +fieldInfo({
            backgroundColor : "u-bg-redError"
          })
            .c-relverIndexConfirmer__fieldInfo.u-color-redZero.u-textLeft
              .c-relverIndexConfirmer__para
                i.icon.icon-error-cercle-modal.u-fontSize-30.u-margin-r-15
                p.u-textNormal  La prise en compte de votre relevé nécessite l’intervention d’un conseiller. Nous vous invitons à contacter le service clients (modalités et horaires sur la page <a href="">aide & contact</a>)

          +fieldInfo({
            backgroundColor : "u-bg-greenSuccess"
          })
            .c-relverIndexConfirmer__fieldInfo.u-color-green.u-textLeft
              .c-relverIndexConfirmer__para.c-relverIndexConfirmer__paraSucess
                i.icon.icon-correct-cercle.u-fontSize-30.u-margin-r-15
                p.u-textNormal Vous avez déjà transmis votre index le JJ/MM/AA. Il sera pris en compte sur votre prochaine facture.
          +fieldInfo({
            backgroundColor : "u-bg-genBlue-light"
          }).c-relverIndex--info
            .c-relverIndexConfirmer__fieldInfo.u-textLeft
              span
                i.icon.icon-info-circle.u-fontSize-30 
                b Vous n'avez plus besoin de saisir votre index de gaz naturel.
              p.u-textNormal.u-padding-l-30 Vous disposez d'un compteur communicant Gazpar : il transmet vos index automatiquement.

          
          +btnWrapper.u-theme-genBlue.c-btnWrapper--fullOnMobile.c-calculette--espacementMobile.u-margin-b-50.u-margin-small-b-50
            +baseBtn({
              text: 'Annuler',
              button : true,
              empty : true
            })

            +baseBtn({
              text: 'Valider',
              button: true,
              submit: true
            })(
              data-e-form-validation-submit
            )
        a(href="#").u-color-genBlue.c-relverIndexResultat--linkretour.u-margin-v-40
          span.icon-carousel-prev.icon
          span.u-textNormal Retour au tableau de bord

