.c-relverIndex__aide {
  color: $genBlue;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  bottom: -90px;
  display: block;
  @include media("<small") {
    position: initial;
  }
}

.c-relverIndex__titlePopIn {
  display: flex;
  align-items: center;
}

.c-relverIndexConfirmer__paraSucess {
  align-items: baseline !important;
  top: -6px;
  position: relative;
}

.c-relverIndex .u-padding-spacer {
    padding-top: 0;
    padding-bottom: 0;
}

.c-relverIndex__img {
  width: 300px;
}

.c-relverIndex__link {
  text-decoration: none;
  color: $genBlue;
}

.c-relverIndex__toggle {
  border-radius: 4px;
  height: 100%;
  animation-name: toggle;
  animation-duration: 1s;
}

@keyframes toggle {
  from {width: 0;}
  to {width: 100%;}
}

.c-relverIndex__value {
  position: relative;
  display: flex;
  padding-top: 30px;
}

.c-relverIndex__valueLabel {
  color: #666666;
  font-size: 1.6rem;
  font-weight: Bold;
  margin-right: 10px;
}

.c-relverIndex__valueIndex {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #666666;
}

.c-relverIndex__value__Modal {
  cursor: help;
}

.c-relverIndex--borderBlue {
  border-top: 7px $genBlue solid;
}

.c-relverIndex .is-success .c-inputMat__label, .c-relverIndex .is-success .c-selectMat__label {
  color: #3aaa35 !important;
}

.c-relverIndex  .is-success .c-inputMat__inputLine, .c-relverIndex  .is-success .c-selectMat__inputLine {
  background-color:#3aaa35 !important;
}

.c-relverIndex .c-relverIndex--tooltipStyle .c-toolTip__icon {
  display: inline-block;
  line-height: 22px;
  border-radius: 50%;
  transition: all .2s linear;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #1452c4;
  border: 1px #1452c4 solid;
  background-color: white !important;
}

.c-relverIndex .c-relverIndex--tooltipStyle .c-toolTip__icon:hover {
  color: #fff;
  background-color: #1452c4 !important;
}

.c-relverIndex .c-fieldInfo.u-bg-genBlue-light {
  background-color: #cbebfb7a;
}

.c-relverIndex .c-fieldInfo.c-relverIndex--info {
  padding: 10px 20px 20px 20px;
}