mixin loginAccess()
  // .c-loginAccess
  .c-loginAccess.u-fontSize-small.u-textCenter
    p.c-loginAccess__text Accédez aux rubriques de votre Espace Client&nbsp;:

    ul.c-loginAccess__list
      li.c-loginAccess__item: a.u-link(href="#") Synthèse
      li.c-loginAccess__item: a.u-link(href="#") Profile & Contrats
      li.c-loginAccess__item: a.u-link(href="#") Facture & Paiements
      li.c-loginAccess__item: a.u-link(href="#") Services & Options
      li.c-loginAccess__item: a.u-link(href="#") Mes Demandes
  // end .c-loginAccess