.c-socialNetwork {
  padding: 25px 30px;
}

.c-socialNetwork__title {
  text-align: center;
}

.c-socialNetwork__group {
  margin-top: 20px;
  text-align: center;
}

.c-socialNetwork__item {
  display: inline-block;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 7%;
  }
}

.c-socialNetwork__link {
  box-shadow: inset 0 0 0 2px $genBlue;
  border-radius: 50%;
  color: $genBlue;
  position: relative;
  display: block;

  &:after {
    z-index: 1;
  }

  @include hover-fx("rounded");

  @include hover-focus-active() {
    @include hover-fx-active("rounded");
    color: $white;
    border-color: transparent;
  }
}

.c-socialNetwork__icon {
  text-decoration: none;
  font-size: 3rem;
  padding: 6px;
  color: inherit;
  position: relative;
  z-index: 2;
  transition: color 0.4s ease;
}


@include media(">=medium") {
  .c-socialNetwork__title,
  .c-socialNetwork__group {
    text-align: left;
  }
}