@import "passwordHelper/passwordHelper";
@import "suggest/suggest";
@import "inputMat/inputMat";
@import "selectMat/selectMat";
@import "checkboxMat/checkboxMat";
@import "radioMat/radioMat";
@import "radioSwitchMat/radioSwitchMat";
@import "radioInteger/radioInteger";
@import "textareaMat/textareaMat";
@import "inputMat/datePicker";
@import "uploadMat/uploadMat";
@import "choiceWrapperMat/choiceWrapperMat";
@import "radioBlockMat/radioBlockMat";
@import "formMat-alone";
@import "uploadMat2/uploadMat2";
@import "radioStyleWrapper/radioStyleWrapper";


.c-formMat__legend {
  @extend %clear-after;
  text-align: center;
  float: left;
  width: 100%;
}

.c-formMat__blocInputLink {
  position: relative;

  button {
    position: absolute;
    top: 30px;
    right: 15px;
  }
}

.c-formMat__blocInputEvenly {
  display: flex;
  justify-content: space-between;
}

@include media("<=medium") {  
  .c-formMat__blocInputEvenly {
    flex-direction: column;
  }
}

.c-formMat__blocRadioSelectLeft {
  display: flex;
}


.c-fieldInfo.c-fieldInfo--inputMat.c-fieldInfo--RadioErrorLeft {
  padding-left: 16%;
  @include media("<=medium") { padding-left: 0; }
}