mixin wysiwyg(data)
  - var data    = data || {}
  - var noMarge = data.noMarge || false

  .c-wysiwyg.l-wrapper--medium(class=noMarge ? '' : 'c-wysiwyg--marge')
    if block
      block

    else
      h2 Titre niveau h2
      h3 Titre niveau h3
      h4 Titre niveau h4

      p Lorem <a href="#" class="u-link">ipsum dolor</a> sit amet <b>consectetur adipisicing elit</b>. Quaerat, magnam excepturi eos architecto blanditiis deserunt! Nesciunt, deleniti! Dignissimos eum provident officiis, necessitatibus facilis blanditiis. Maiores fugiat inventore deleniti voluptatum aperiam?
      p Lorem <a href="#" class=" u-link u-link--standard">ipsum dolor</a> sit amet consectetur adipisicing elit. Quaerat, magnam excepturi eos architecto blanditiis deserunt! Nesciunt, deleniti! Dignissimos eum provident officiis, necessitatibus facilis blanditiis. Maiores fugiat inventore deleniti voluptatum aperiam?

      p
        a.u-link.u-link--arrow(href="#") Lien bouton
        a.u-link.u-link--arrow.u-link--secondary(href="#") Lien bouton secondaire
        a.u-link.u-link--download(href="#") Lien télécharger

      hr

      h2 Styles
      p ipsum#[sup exposant]
      p ipsum#[sub indice]
      p #[b texte en gras]
      p #[i texte en italique]
      p #[span.u-textUppercase texte majuscule]

      hr

      h2 Tailles
      p: span.u-fontSize-titan Taille très grande (24px)
      p: span.u-fontSize-huge Taille très grande (21px)
      p: span.u-fontSize-large Taille plus grande (18px)
      p: span.u-fontSize-default Taille par défaut (15px)
      p: span.u-fontSize-small Taille plus petite (13px)

      hr

      h2 Alignement
      p.u-textLeft Texte aligné à gauche.
      p.u-textRight Texte aligné à droite.
      p.u-textCenter Texte centré.

      hr

      h2 Liens
      p: a.u-link(href="#") Lien normal
      p: a.u-link.u-link--externalLink(href="#" target="_blank" rel="noopener noreferrer") Lien externe
      p: a.u-link.u-link--download(href="#") Lien télécharger
      p: a.u-link.u-link--arrow(href="#") Lien bouton
      p: a.u-link.u-link--arrow.u-link--secondary(href="#") Lien bouton secondaire

      hr

      h2 Listes
      ul
        li: span.u-list__item Liste 'carré'
        li: span.u-list__item Liste 'carré'
        li: span.u-list__item
          a.u-link.u-link--externalLink(href="#" target="_blank" rel="noopener noreferrer") Lien externe
        li
          ul
            li: span.u-list__item.u-list__item--check Liste 'check'
            li: span.u-list__item.u-list__item--check Liste 'check'

      ul
        li: span.u-list__item.u-list__item--check Liste 'check'
        li: span.u-list__item.u-list__item--check Liste 'check'

      ol
        li: span.u-list__item Liste ordonnée
        li: span.u-list__item Liste ordonnée

