.c-searchBarMobile {
    height: 100%;
    display: none;
}

@media #{$smallMediumOnly} {
  .c-searchBar__mask.is-active {
    display: block;
    position: absolute;
    height: 150vh;
    width: 400vh;
    background: black;
    opacity: 0.5;
    z-index: 200;
    left: -100vh;
  }
  
  .c-searchBarMobile.v3 {
      font-family: "Open Sans";
      display: block;
      &.is-active { 
        z-index: 3000;
        width: 100%;
        position: absolute;
        left: 0;
      }
  }
  

  .c-searchBarMobile.is-active .c-searchBarMobile__return {
    display: block;
  }
  .c-searchBarMobile.is-active .c-searchBarMobile__input {
    display: block;
  }

  .c-siteHeaderV2.v3 .c-searchBarMobile.is-active .c-searchBarMobile__submit .c-searchBarMobile__icon span {
    display: none;
  }
  
  .c-siteHeaderV2.v3 .c-searchBarMobile.is-active  .c-searchBarMobile__input {
    padding-right: 0;
  }
  .c-siteHeaderV2.v3 .c-searchBarMobile.is-active .c-searchBarMobile__submit.icon-lens:before {

    padding-top: 14px;
  }
  .c-searchBarMobile__inputs {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    position: relative;

  }

  input.c-searchBarMobile__input:focus + .c-searchBarMobile__submit {
    color: #00aaff;
  }

  .c-searchBarMobile__return {
    display: none;
  }
  
  .c-searchBarMobile__return.c-searchBarMobile__icon.icon.icon-ic_chevron-right {
    border-top: 0; 
    border-bottom: 0; 
    border-right: 0;
    border-left: 1px solid #d0d0d0; 
    background-color: white;
    font-size: 3rem;
    transform: rotate(180deg);
    width: 80px;
    &:before { 
      font-size: 2.4rem; 
      top: -6px!important;
      position: relative;
    }
  }
  
  .c-searchBarMobile__input {
    display: none;
    transition: all 0.1s ease-in-out;
    outline: none;
    width: 100%;
    height: $headerHeight;
    background-color: #fff;
    border: 0;
    text-indent: 20px;
    font-size: 1.8rem;
    color: 999!important;
    font-weight: 400;
    padding-right: 60px;
    border-top: 0px solid #d0d0d0; 
    border-bottom: 0px solid #d0d0d0; 
    &::placeholder { color: #999 !important;}
  }

  .c-searchBarMobile__submit {
    width: 66px!important;
    height: $headerHeight!important;
    border: 0;
    background-color: white;
    border-top: 0!important; 
    border-bottom: 0!important;
  }

  .c-searchBarMobile.is-active .c-searchBarMobile__submit {
    border-top: 2px solid #999; 
    border-bottom: 2px solid #999; 
  }
  
  .c-searchBarMobile__submit span {
    font-size: 1.1rem;
    display: block;}

  .c-searchBarMobile.is-active .c-searchBarMobile__submit span{ 
    display: none!important;
  }

  .c-searchBarMobile__submit.icon-lens:before {
    font-size: 3rem;
  }
}
