.c-assuranceBand__arrow {display: none;}

.c-assuranceBand__wrapper {
  display: flex;
  flex-direction: column;
}

.c-assuranceBand__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;

  & + & {
    padding-top: 5px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include media('<small'){
    .c-assuranceBand:not(.c-assuranceBand--pictoColor) & + & {
      border-top: 1px solid $grey-medium2;
    }
  }
}

.c-assuranceBand__elem--img {
  border: 0;
  width: 191px;
}

.c-assuranceBand__picto {
  font-size: 3.8em;
}

.c-assuranceBand__text {
  margin-top: 10px;
  font-size: $font-13;
  text-transform: uppercase;
  width: 100%;
}

// TO FIXE
.c-assuranceBand--hasBorder {
  .c-assuranceBand__elem {
    & + & {
      padding-top: 15px;
      border-top: 1px solid $grey-medium2;
    }
  }
}

.c-assuranceBand--pictoColor {
  .c-assuranceBand__wrapper {
    flex-flow: row wrap;
  }

  .c-assuranceBand__elem {
    align-items: center;
    width: 50%;
    padding-top: 0;
    border: 0;
  }

  .c-assuranceBand__img {
    width: 190px;
  }
}

@include media('>=small'){
  .c-assuranceBand__wrapper {
    flex-direction: row;
  }

  .c-assuranceBand__elem {
    padding: 0 15px;
    width: 100%;

    & + & {
      padding-top: 0;
      border-left: 1px solid $grey-medium2;
    }
  }

  .c-assuranceBand--pictoColor {
    .c-assuranceBand__wrapper {
      flex-flow: initial;
      justify-content: center;
    }

    .c-assuranceBand__elem {
      border: 0;
      max-width: 191px;
      flex-wrap: wrap;
    }
  }
}

.c-assuranceBand__number {
  margin: 20px 0;
  font-size: 2.4rem;
}

.c-assuranceBand__elem--grey {
  color: $grey;
}

@include media('<small'){ 
  .c-assuranceBand__arrow {display: none;}

  .c-assuranceBand--pictoColor .c-assuranceBand__elem {
    width: 100%;
  }
}

@include media('>=medium'){ 
  .c-assuranceBand__arrow {
    display: inline-block;
    margin: 90px 10px 0;
    color: $grey;
    font-size: 3.5rem;
  }

  .c-assuranceBand--arrow {
    .c-assuranceBand__img {
      width: 200px;
    }

    .c-assuranceBand__elem {
      max-width: 200px;
      padding: 0;
    }
  }
}
