include assuranceBand

.c-wysiwyg
  h2 Composant assuranceBand avec arrow

+demo({
  desc: "Composant assuranceBand avec arrow"
})
  +assuranceBand({
    picture: true
  })
  


.c-wysiwyg
  h2 Composant assuranceBand

+demo({
  desc: "avec images SVG (demande côté VENTE)"
})
  +assuranceBand

+demo({
  desc: "Avec font icon"
})
  +assuranceBand({
    pictoFont: true
  })


.c-wysiwyg
  h2 Composant assuranceBand avec picto de couleur :

+demo({
  desc: "Composant Bandeau de EC"
})
  +assuranceBand({
    pictoColor: true
  })


+demo({
  desc: "Avec contenu alternatif"
})
  +assuranceBand({
    pictoColor: true
  })
    p.l-wrapper--medium.u-margin-b-40.u-margin-small-b-40.u-textCenter.u-textBold Votre contrat sera très bientôt actif et vous pourrez profiter de tous les avantages de votre Espace Client. Vous pourrez notamment :


