.c-appsBlock {
  margin-top: 20px;
  text-align: center;
}

.c-appsBlock__link {
  svg {
    // Merci IE11 pour ne pas permettre d'utiliser un height fix et un width auto...
    max-height: 36px;
    display: block;
    width: 122px; // largeur du plus gros bouton
  }
}

.c-appsBlock__item {
  display: block;
  a {
    display: block;
  }
}

.c-appsBlock__item + .c-appsBlock__item {
  margin-top: 15px;
}

@include media('>=small') {
  .c-appsBlock {
    display: flex;
  }

  .c-appsBlock__item + .c-appsBlock__item {
    margin-left: 10px;
    margin-top: 0;
  }
}
