.c-espritService-catchPhrase {
  padding: 15px;
}

.c-espritService-catchPhrase__noteRating {
  display: flex;
  align-items: center;
}

.c-espritService-catchPhrase__note {
  margin-right: 10px;
  font-size: 3rem;
}

// Etoiles notation :
.c-espritService-catchPhrase__rating {
  line-height: 1;

  .c-rating {
    font-size: 1.7rem;
    line-height: 1;

    .icon {
      margin: 0 -0.20rem;
    }
  }
}

.c-espritService-catchPhrase__text {
  margin-bottom: 5px;
}

// Lien + icône :
.c-espritService-catchPhrase__opinionCountLink {
  font-size: 1.2rem;
  font-weight: $font-bold;
  color: $genBlue;
}

.c-espritService-catchPhrase__opinionCountIcon {
  margin-left: 5px;
  font-size: 1.2rem;
}

@include media('>=small'){
  .c-espritService-catchPhrase__text {
    font-size: 2.1rem;
  }

  .c-espritService-catchPhrase__note {
    margin-right: 25px;
    font-size: 4.0rem;
  }

  // Etoiles notation :
  .c-espritService-catchPhrase__rating .c-rating {
    font-size: 2.4rem;
  }

  // Lien + icône :
  .c-espritService-catchPhrase__opinionCountLink {
    font-size: 1.8rem;
  }

  .c-espritService-catchPhrase__opinionCountIcon {
    font-size: 1.6rem;
  }
}
