mixin espritService-catchPhrase(data)
  - var data      = data || {}
  - var text      = data.text || "500.000 l’ont déjà utilisé !"
  - var note      = data.note || 4.5
  - var reviewNbr = data.reviewNbr || "555"
  - var linkUrl   = data.linkUrl || "#"

  // .c-espritService-catchPhrase
  .c-espritService-catchPhrase
    .c-espritService-catchPhrase__text
      p=text
    .c-espritService-catchPhrase__noteRating
      .c-espritService-catchPhrase__note
        span=note + "/5"
      .c-espritService-catchPhrase__usersReview
        .c-espritService-catchPhrase__rating
          +rating(Math.round(note * 2))
        .c-espritService-catchPhrase__opinionCount
          a(href=linkUrl title="Voir tous les avis").c-espritService-catchPhrase__opinionCountLink (#{reviewNbr} avis)
          span.c-espritService-catchPhrase__opinionCountIcon.icon.icon-customer
  // end - .c-espritService-catchPhrase
