include tagList

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant tagList

+demo({
  desc: "Utilise les classes de thème pour ses couleurs"
})
  +tagList({
    label: 'Le label'
  })
    +tag Le futur est déjà là
    +tag Le carton du mois
    +tag C'est astucieux
    +tag Bon plan économies


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Sans label

+demo({
  desc: "Composant tagList"
})
  +tagList
    +tag Le futur est déjà là
    +tag Le carton du mois
    +tag C'est astucieux
    +tag Bon plan économies
