mixin tagList(data)
  - var data = data || {}
  - var label = data.label || false

  // .c-tagList
  .c-tagList&attributes(attributes)
    if label
      p.c-tagList__label!=label
    ul.c-tagList__wrapper
      block
  // END .c-tagList


mixin tag(data)
  - var data = data || {}

  li.c-tag
    a.c-tag__link(href="#")
      block