.c-tile {
  padding: 15px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15px;
    background-color: $white;
  }

  &:after {
    content: '';
    width: 1px;
    height: 15px;
    display: block;
  }
}

.c-tile__content {
  position: relative;
  z-index: 2;
}


@include media(">=small") {
  .c-tile {
    padding: 30px;

    &:before {
      bottom: 20px;
    }

    &:after {
      height: 20px;
    }
  }
}
