mixin wrapperPictoTexte(data)
  - var data = data || {}

  .c-wrapperPictoText&attributes(attributes)
    .c-wrapperPictoText__icon
      .icon.icon-contact-mail2.u-color-greyMedium2.u-fontSize-70.u-margin-b-20
      .icon.icon-thin_check

    .c-wrapperPictoTexte__text
      p.u-color-grey Email
      p
        b johndoe@wanadoo.com

