@import "carouselArticle/carouselArticle";


.c-carouselHome {
  position: relative;

  .c-carousel,
  .slick-list { z-index: 0; }
}

.slick-disabled {
  display: none!important;
}


// Contenu de l'article :
// - en mobile assuré par c-carouselHome__mobile : contenu unique, pas de carrousel et de slides
// - en pad et desktop assuré par c-carouselHome__content : contenu dans chaque slide du carrousel
.c-carouselHome__mobile {
  position: relative;

  .c-carouselArticle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 18% 30px 20px;
  }
}

.c-carouselHome__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-carouselHome__img {
  width: 100%;
}


@include media(">=small") {
  .c-carouselHome {
    .slick-prev,
    .slick-next {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      opacity: 0.3;

      button {
        cursor: pointer;
        opacity: 0.3;
        transition: opacity 0.3s ease-in-out;
        font-size: 4rem;
        outline: none;

        .u-theme-color {
          color: $black;
        }

        @include hover-focus-active() {
          opacity: 1;
        }
      }
    }

    .c-carousel__dot.u-theme-color {
      color: $black;
    }

    // pour prévenir le resize du contenu non chargé
    .c-carousel {
      display: flex;

      &.slick-initialized {
        .c-carousel__slide:before { display: none; }
      }

      .no-js & {
        display: block;
        position: static;
      }
    }

    .no-js & {
      padding-bottom: 0;
    }
  }

  // Masque les slides (hormis la première) lorsque slick n'est pas initialisé, dans le cas contraire les affiche normalement :
  .c-carouselHome {
    .c-carousel__slide {
      width: 100%;
      background-color: $white;
    }

    .c-carousel__slide:not(:first-child){
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .slick-initialized .c-carousel__slide:not(:first-child){
      position: relative;
      z-index: auto;
      opacity: 1;
    }
  }

  .c-carouselHome__img {
    width: 100%;
  }

  .c-carouselHome__content {
    display: flex;
    align-items: center;
  }
}
