.c-wysiwyg
  h2 Pas de tunnel

+demo({
  desc: `
  Le thème des articles est déterminé par une classe modificatrice <code>c-carouselArticle__theme-[color]</code> à appliquer à <code>c-carouselArticle</code>, sont disponibles orange, green et purple.
  `
})
  +carouselHome({
    autoplay: false
  })
