include ../toggleBox/toggleBox

mixin siteFooterV2(data)
  // .c-siteFooter
  footer.c-siteFooter.c-siteFooterV2(role="contentinfo").c-siteFooterPublic
    .c-siteFooter__wrapper.l-wrapper.l-wrapper--main
      svg.c-siteFooter__gradient(viewBox="0 0 1240 8" width="1240" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg")
        rect(class="c-siteFooter__vecto" y="-3.5" fill="#ADBBB4" width="47.5" height="12")
        rect(class="c-siteFooter__vecto" x="62.5" y="-3.5" fill="#00AAFF" width="258.8" height="12")
        rect(class="c-siteFooter__vecto" x="321.3" y="-3.5" fill="#403387" width="216.1" height="12")
        rect(class="c-siteFooter__vecto" x="712.5" y="-3.5" fill="#3AAA35" width="107.1" height="12")
        rect(class="c-siteFooter__vecto" x="537.4" y="-3.5" fill="#89CC86" width="175.1" height="12")
        rect(class="c-siteFooter__vecto" x="819.6" y="-3.5" fill="#66CCFF" width="420.4" height="12")
        rect(class="c-siteFooter__vecto" x="47.5" y="-3.5" fill="#FFFFFF" width="15" height="11.9")

      .c-siteFooter__mainSection
        //- .c-siteFooter__block.c-siteFooter__block--logo.c-siteFooter__block--noShrink
          img.c-siteFooter__logo(src="../images/logo_tarif_reglemente.svg" alt="Logo Tarif réglementé" width="82")
        .c-siteFooter__block.c-siteFooter__block--1.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
          nav
            h4.c-siteFooter__blockTitle
              a(href='#') <b>Besoin d'aide ?</b>
              
            ul.c-siteFooter__mainLinksList
              li: a(href='#') Nous contacter 24H/24
              li: a(href='#') Le chatbot vous répond
              li: a(href='#') Questions fréquentes
              li: a(href='#') Numéro d'urgence

        .c-siteFooter__block.c-siteFooter__block--2.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
          nav
            h4.c-siteFooter__blockTitle
              a(href='#') <b>Nous joindre par téléphone</b>
              
            .c-siteFooter__mainLinksList
              div.c-siteFooter__mainLinksList--phoneContact 
                span.icon.icon-phone
                  strong.c-siteHeaderV2__callInfo__number 34 60
              p.c-siteFooter__size Du lundi au vendredi de 09:00 à 17:00
              p.c-siteFooter__size.c-siteFooter__size--mobilePadding (Service gratuit et communication
                | au prix d'un appel local)
        
        //- +toggleBox({
        //-   settings: {
        //-     target: "block1",
        //-     link: "Besoin d'aide ?"
        //-   }
        //- }).c-siteFooter__block.c-siteFooter__block--mobile.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
        //-   nav
        //-     ul.c-siteFooter__mainLinksList
        //-       li.js-callCenterPhoneNumber: a(href='#') Nous contacter 24H/24
        //-       li: a(href='#') Le chatbot vous répond
        //-       li: a(href='#') Questions fréquentes
        //-       li: a(href='#') Numéro d'urgence
             

        //- +toggleBox({
        //-   settings: {
        //-     target: "block2",
        //-     link: "Nous joindre par téléphone"
        //-   }
        //- }).c-siteFooter__block.c-siteFooter__block--mobile.c-siteFooter__block--noShrink.c-siteFooter__mainLinks
        //-   nav
        //-     p 
        //-       a(href='#') <b>Nous joindre par téléphone</b>
              
        //-     .c-siteFooter__mainLinksList
        //-       div.c-siteFooter__mainLinksList--phoneContact 
        //-         span.icon.icon-phone
        //-           strong.c-siteHeaderV2__callInfo__number 34 60
        //-       p.c-siteFooter__size Du lundi au vendredi de 09:00 à 17:00
        //-         |  (Service gratuit et communication
        //-         | au prix d'un appel local)
        
        //- .c-siteFooter__block.c-siteFooter__callCenter
        //-   div
        //-     .c-siteFooter__callCenterIcon.icon.icon-phone
        //-     h4.c-siteFooter__blockTitle Appeler un conseiller

        //-     p.c-siteFooter__callCenterPhoneNumber.u-hideSmall 36 40
        //-     a(href="tel:36 40").c-siteFooter__callCenterPhoneNumber.u-hideMediumUp 36 40

        //-     p.c-siteFooter__fontSize-small Du lundi au vendredi de 09:00 à 20:00 et le samedi de 09:00 à 13:00
        //-     p.c-siteFooter__fontSize-small (Appel non surtaxé)

        .c-siteFooter__block.c-siteFooter__block--3.c-siteFooter__infoBlock
          div.u-textCenter
            h4.c-siteFooter__blockTitle Télécharger notre application mobile
            .c-siteFooter__infoBlockList.c-siteFooter__infoBlockList--socialBlock
              a(href="#")
                img(src="../images/contrib/googlePlay.png" alt="android googleStore" style="height:40px; width:134px;").c-siteFooter__imgApp
              a(href="#")
                img(src="../images/contrib/apple.png" alt="Apple store" style="height:40px; width:124px;" ).c-siteFooter__imgApp

             
        .c-siteFooter__block.c-siteFooter__block--4.c-siteFooter__block--noShrink.c-siteFooter__socialNetworksBlock
          div
            h4.c-siteFooter__blockTitle Suivez nous sur&nbsp;:
            ul.c-siteFooter__socialNetworksList
              li.c-siteFooter__socialNetwork: a(href="#" title="Facebook")
                img(src="../images/contrib/Icone_FB.svg" alt="facebook").u-margin-r-10
                span Facebook
              li.c-siteFooter__socialNetwork: a(href="#" title="Youtube")
                img(src="../images/contrib/Icone_YT.svg" alt="Youtube").u-margin-r-10
                span Youtube


      .c-siteFooter__legalCatchphrase
        ul.c-siteFooter__legalCatchphrase__Liste
          li 
            a(href="#") Plan du site
          li 
            a(href="#") CGV
          li 
            a(href="#") Mentions légales
          li 
            a(href="#") Accessibilité
          li 
            a(href="#") Politique de confidentialité
          li 
            a(href="#") Politique des cookies
        //- p L'énergie est notre avenir, <strong>économisons-la&nbsp;!</strong>
      .c-siteFooter__annonce.u-padding-v-15
        p L'énergie est notre avenir, <strong>économisons-là ! </strong>
  // end .siteFooter
