include errorBlock/errorBlock
include errorKnow/errorKnow
include ../img/img
include ../headSection/headSection

mixin error(data)
  - var data = data|| {}
  - var bgImg       = data.bgImg || ''

  // .c-error
  .c-error.u-bg-white

    // image mobile : 640*394 pixels ( TRES COMPRESSE );
    // image tablette : 640*394 pixels;
    // image desktop : 1200*517 pixels;
    div.c-error__message

        .c-error__block.c-error__text

            .c-error__title PAGE 404 OUPS,
            .c-wysiwyg
              p la page que vous cherchez est introuvable. <br >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie euismod lectus, condimentum lobortis ligula rutrum sed. Proin imperdiet lectus sit amet volutpat commodo. Aliquam varius urna dapibus eleifend elementum. Donec congue maximus sagittis. Nullam nec commodo ligula. Maecenas suscipit vitae nisi laoreet maximus. Phasellus sodales mattis elit in vehicula..

        .c-error__block.c-error__bg
            +img({
              alt: "La description de mon image",
              interchange: {
                small:    '../images/contrib/robot.png',
                medium:   '../images/contrib/robot.png'
              }
            }).u-hideSmall(height="170")


    .c-error__bgParent
      +errorBlock({
        className: 'u-theme-purple',
        title: 'Je veux souscrire'
      })

      +errorBlock({
        className: 'u-theme-magenta',
        title: 'Je veux faire des économies'
      })


      +errorBlock({
        className: 'u-theme-green',
        title: 'Je veux me connecter'
      })

      +errorBlock({
        className: 'u-theme-blue',
        title: "J'ai besoin d'aide"
      })

    .c-greyWrapper
      +headSection({
        noLink: true
      })
      .c-errorKnow__wrapper.u-clearfix

        +errorKnow({
          titleNum: '1er',
          text: "1er fournisseur de gaz en France et 2,7 milions de clients particuliers pour l'électricité"
        })
        +errorKnow({
          titleNum: '20%',
          text: "C'est l'économie moyenne d'énergie avec les contrats de performance énergétique"
        })

  // end - .c-error