mixin formContactMessage(data)
  - var data = data || {}
  - var id = data.id || ""

  fieldset.c-formContactMessage.l-wrapper--medium.u-margin-b-30(
    data-e-formcontact-block={id: id}
  )
    h3.u-heading-3.l-wrapper--medium.u-textCenter Précisez votre demande

    +textareaMat({
      label:     'Votre message',
      name:      'MESSAGE',
      maxlength: 1500,
      required:  true,
      dataValidation: {
        typing: false,
        validations: {
          valueMissing: 'Champ obligatoire'
        }
      }
    })
