include btn/btn

mixin btnWrap(data)
  - var data   = data || {}
  - var isSpan = data.isSpan || false

  // .c-btnWrap
  if isSpan
    span.c-btnWrap&attributes(attributes)
      block
  else
    .c-btnWrap&attributes(attributes)
      block
  // end .c-btnWrap