//- +buttonWrap
include btn/btn


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Composant btnWrap + Composant btn

+demo({desc:`button standard under btnWrap- liste theme color <br/>
 add class <code>c-btn--'my theme color'</code> <br/> exemple : <code>c-btn--greenBaaast</code>`})
  +btnWrap
    +btn Default button
    +btn.c-btn--greenBaaast button
    +btn.c-btn--blue button    
    +btn.c-btn--redZero button    
    +btn.c-btn--pingSea button 
    +btn.c-btn--greenPersian button
    +btn.c-btn--greenMint button    
    +btn.c-btn--greyBaaast button
    +btn.c-btn--blue button    
    +btn.c-btn--blueBayoux button
    +btn.c-btn--orangeAmber button    
    +btn.c-btn--orangeBaaast button    

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Composant btn empty

+demo({desc:"button without min-width, add class <code>c-btn--noWidth</code>"})
  +btnWrap
    +btn.c-btn--empty-genBlue button    
    +btn.c-btn--empty-pingSea button
    +btn.c-btn--empty-greenBaaast button
    +btn.c-btn--empty-blue button    
    +btn.c-btn--empty-redZero button    
    +btn.c-btn--empty-greenPersian button
    +btn.c-btn--empty-greenMint button    
    +btn.c-btn--empty-greyBaaast button
    +btn.c-btn--empty-blue button    
    +btn.c-btn--empty-blueBayoux button
    +btn.c-btn--empty-orangeAmber button    
    +btn.c-btn--empty-orangeBaaast button    

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Composant btn with no min-width

+demo({desc:"button without min-width, add class <code>c-btn--noWidth</code>"})
  +btnWrap
    +btn.c-btn--noWidth button
    +btn.c-btn--noWidth 2em button

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Position right

+demo({desc:"button align right, add class <code>c-btn--alignRight</code> in the element <code>c-btnWrap</code>"})
  +btnWrap.c-btnWrap--alignRight
    +btn button

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Position left

+demo({desc:"button align left, add class <code>c-btn--alignLeft</code> in the element <code>c-btnWrap</code>"})
  +btnWrap.c-btnWrap--alignLeft
    +btn button