include titleV2

.c-wysiwyg
  h2 Titre version 2

+demo(`
  - pour le bold ajouter <code>u-textBold</code>
  -pour le non bold ajouter <code>u-textNormal</code> et retirer <code>u-textBold</code>
`)
  +titleV2