mixin formContactUserInfos(data)
  - var data = data || {}
  - var id = data.id || ""

  // .c-formContactUserInfos
  fieldset.c-formContactUserInfos.c-formContact__separator.l-wrapper--medium.u-padding-spacer(
    data-e-formcontact-block={id: id}
  )
    h3.u-heading-3.l-wrapper--medium.u-textCenter Envoyez-nous vos coordonnées

    fieldset(data-e-formcontact-userinfos-connect-hide)
      div(data-e-field-validation={validations: {valueMissing: 'Champ obligatoire'}})
        +choiceWrapperMat.c-choiceWrapperMat--hAlign
          +radioMat({
            label:    'Mme',
            id:       "contact-madame",
            name:     'CIVILITE',
            value:    "Mme",
            required: true
          })
          +radioMat({
            label: 'Mr',
            id:    "contact-monsieur",
            name:  'CIVILITE',
            value: "Mr"
          })

        +fieldInfo({
          typeMessage: 'error',
          input:       true,
          noDemo:      true
        })(data-e-field-validation-error)

      +column({spaced: true, colConfig: '50-50'})
        .c-column__col
          +inputMat({
            label:       "Nom",
            type:        "text",
            id:          "contact-name",
            name:        "NOM",
            placeholder: 'Ex: Dupont',
            required:    true,
            dataValidation: {
              typing: false,
              validations: {
                valueMissing: 'Champ obligatoire'
              }
            }
          })
        .c-column__col
          +inputMat({
            label:       "Prénom",
            type:        "text",
            id:          "contact-firstname",
            name:        "PRENOM",
            placeholder: 'Ex: Michel',
            required:    true,
            dataValidation: {
              typing: false,
              validations: {
                valueMissing: 'Champ obligatoire'
              }
            }
          })(data-e-formcontact-userinfos-firstname)

      +column({spaced: true, colConfig: '50-50'})
        .c-column__col
          +inputMat({
            type:        'email',
            label:       'Email',
            placeholder: 'Ex: michel.dupont@gmail.com',
            id:          'contact-email',
            name:        'EMAIL',
            required:    true,
            pattern:     'email',
            dataValidation: {
              typing: false,
              validations: {
                patternMismatch: "format d'email incorrect",
                valueMissing:    'Champ obligatoire'
              }
            }
          })(data-e-formcontact-userinfos-email)
        .c-column__col
          +inputMat({
            label:       'Téléphone',
            placeholder: 'Ex: 0605040302',
            type:        'tel',
            pattern:     'tel',
            maxlength:   '10',
            id:          'contact-tel',
            name:        'TELEPHONE',
            required:    true,
            dataValidation: {
              typing: false,
              validations: {
                patternMismatch: 'Format de téléphone incorrect',
                valueMissing:    'Champ obligatoire',
                tooLong:         'Le numéro est trop long'
              }
            }
          })

      +cityMat()

    fieldset(
      data-e-formcontact-userinfos-connect-show
      hidden
      disabled)

      input(type="hidden" name="CIVILITE" data-e-formcontact-userinfos-connect-genre)
      input(type="hidden" name="NOM" data-e-formcontact-userinfos-connect-name)
      input(type="hidden" name="PRENOM" data-e-formcontact-userinfos-connect-firstname)
      input(type="hidden" name="CODE_POSTAL" data-e-formcontact-userinfos-connect-cp)
      input(type="hidden" name="COMMUNE" data-e-formcontact-userinfos-connect-commune)
      input(type="hidden" name="ADRESSE" data-e-formcontact-userinfos-connect-address)
      input(type="hidden" name="DEJA_CLIENT_ENGIE" data-e-formcontact-userinfos-connect-client)
      input(type="hidden" name="REFERENCE_CLIENT" data-e-formcontact-userinfos-connect-ref)

      fieldset(data-e-formcontact-userinfos-connect-multicc hidden disabled)
        +selectMat({
          hiddenLabel: true,
          label: 'Choisissez dans la liste une thématique'
        })
          option(value="bla") 24 bis rue de villeneuve Saint Georges 41000


      +column({spaced: true, colConfig: '50-50'})
        .c-column__col()
          +inputMat({
            type:        'email',
            label:       'Email',
            placeholder: 'Ex: michel.dupont@gmail.com',
            iconRight:   'icon-bold-edit',
            id:          'contact-email',
            name:        'EMAIL',
            required:    true,
            pattern:     'email',
            dataValidation: {
              typing: false,
              validations: {
                patternMismatch: "format d'email incorrect",
                valueMissing:    'Champ obligatoire'
              }
            }
          })(data-e-formcontact-userinfos-connect-email)
        .c-column__col
          +inputMat({
            label:       'Téléphone',
            placeholder: 'Ex: 0605040302',
            type:        'tel',
            pattern:     "tel",
            iconRight:   'icon-bold-edit',
            id:          'contact-tel',
            name:        'TELEPHONE',
            required:    true,
            dataValidation: {
              typing: false,
              validations: {
                patternMismatch: 'Format de téléphone incorrect',
                valueMissing:    'Champ obligatoire'
              }
            }
          })(data-e-formcontact-userinfos-connect-tel)

    +choiceWrapperMat
      +checkboxMat({
        label: "Je souhaite recevoir des propositions commerciales de la part de <span class=\"u-textUppercase\">Engie</span>.",
        id:    "contact-check1",
        name:  "OPTIN_EMAIL"
      })
      +checkboxMat({
        label: "Je souhaite recevoir des propositions commerciales de la part de partenaires de <span class=\"u-textUppercase\">Engie</span>.",
        id:    "contact-check2",
        name:  "OPTIN_PARTENAIRE"
      })
  // END - .c-formContactUserInfos
