$headerHeight-small: 48px;
$logoWidth: 109px;

$headerHeight:  62px; /*for header v3*/

//style header button
@mixin header-style-button($positionRight, $borderLeft) {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  height: $headerHeight-small;
  position: absolute;
  top: 0;
  right: $positionRight;
  border-left: $borderLeft;
  text-align: center;
}

@mixin desktop-header-style-button() {
  width: auto;
  height: 25px;
  position: static;
  border-left: none;
  padding-top: 0;
  padding-bottom: 0;
}

@import "siteNav/siteNav";
@import "searchBar/searchBar";
@import "searchBar/searchBarMobile";

.c-siteHeaderV2 {
  background-color: $white;
  position: relative;
}

.c-siteHeaderV2__main {
  display: flex;
  flex-direction: column;
}

.c-siteHeaderV2__header {
  z-index: 10;
  background-color: $white;
  font-family: arial;
}

//.c-siteHeaderV2__logo
.c-siteHeaderV2__logo {
  height: 100%;
  width: 100%;
  text-align: center;
}

.c-siteHeaderV2__logoLink {
  display: inline-block;
  padding: 8px;
  transform: translateY(0);
  position: relative;
  top: 0;
}


//c-siteHeaderV2V2__navigation
.c-siteHeaderV2__navigation {
  padding-top: 0;
  background-color: $white;
}


.c-siteHeaderV2__mainNav__button {
  @extend %reset-style-button;
  color: #009DE9;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  height: 48px;
  top: 0px;
  left: 0;
  text-align: center;
}

.c-siteHeaderV2__mainNav__picto {
  top: 50%;
  right: 15px;
  left: 15px;
  transform: translateY(-50%);
  transition-property: background;
  transition-duration: .2s;

  &,
  &:before,
  &:after {
    height: 2px;
    border-radius: 10px;
    position: absolute;
    display: block;
    background-color: $genBlue;
  }

  &:before,
  &:after {
    content: '';
    left: 0;
    background-color: $genBlue;
    transition-duration: 0.2s, 0.2s;
  }

  &:before {
    top: -8px;
    width: 25px;
    transition-property: top, transform;
  }

  &:after {
    bottom: -8px;
    width: 25px;
    transition-property: bottom, transform;
  }

  width: 18px;
}

.c-siteHeaderV2__mainNav__button.is-active {
  .c-siteHeaderV2__mainNav__picto {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
      width: 30px;
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
      width: 30px;
    }
  }
}


.c-siteHeader__mainNav__picto {
  top: 50%;
  right: 15px;
  left: 15px;
  transform: translateY(-50%);
  transition-property: background;
  transition-duration: .2s;

  &,
  &:before,
  &:after {
    height: 2px;
    border-radius: 10px;
    position: absolute;
    display: block;
    background-color: $genBlue;
  }

  &:before,
  &:after {
    content: '';
    left: 0;
    background-color: $genBlue;
    transition-duration: 0.2s, 0.2s;
  }

  &:before {
    top: -8px;
    width: 25px;
    transition-property: top, transform;
  }

  &:after {
    bottom: -8px;
    width: 10px;
    transition-property: bottom, transform;
  }

  width: 18px;
}

.c-siteHeaderV2SecondaryBlock__picto {
  font-size: 3rem;
}

.c-siteHeaderV2__mainNav__text, .c-siteHeader__mainNav__text,
.c-siteHeaderV2SecondaryBlock__text {
  @include visibility-hidden();
}

.c-siteHeaderV2SecondaryBlock {
  &.is-hidden-small-medium {
    display: none;
  }
}

.c-siteHeaderV2SecondaryBlock__button {
  color: $grey;
  @extend %reset-style-button;
  @include header-style-button(100px, 1px solid $grey-medium);
}

a.c-siteHeaderV2SecondaryBlock__button {
  text-decoration: none;
  @include hover-focus-active() {
    border-bottom: 1px solid $grey;
  }
}

.c-siteHeaderV2SecondaryBlock__icon {
  display: none;
}

.c-siteHeaderV2SecondaryBlock__content {
  transition: opacity .3s ease-in-out,
              transform .2s ease-in-out;
  height: 0;
  overflow: hidden;
  clear: both;
  transform: translateY(-5px);
  opacity: 0;

  &.is-opened {
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

//c-siteHeaderV2CustomerArea

.c-siteHeaderV2CustomerArea {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0;
  width: 50px;
  top: 15px;
  right: 10px;
  border-left: none;
  text-align: center;
  display: block;
  background-color: $white;
  color: $genBlue;
  line-height: 10px;

  @media #{$medium} {
    width: 95px;
  }
  
  .icon {
    font-size: 2.58rem;
    display: block;
  }

  .c-spinner {
    height: 100%;
    width: 0;
    z-index: 1000;
    transform: scale(0.8);
    margin: 0 0 0 5px;
    transition: all .2s ease-in-out;
  }

  &.is-loading .c-spinner {
    opacity: 1;
    width: 28px;
  }

  .c-spinner__container {
    width: 30px;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 200;
    top: 26%;
  }
}

.c-siteHeaderV2CustomerArea__button {
  text-decoration: none;
  border: 0;
  cursor: pointer;

  @media #{$large} {
    img.is-desktop {
      display: block;
    }
    img.is-mobile {
      display: none;
      margin: 0 auto;
    }
  }

  @media #{$smallMediumOnly} {
    img.is-desktop {
      display: none;
    }
    img.is-mobile {
      display: block;
      margin: 0 auto;
    }
  }
  
  @media #{$smallMediumOnly} {
    background-color: white;
    .icon {color: $genBlue;}

    .c-siteHeaderV2CustomerArea__text {
      margin-top: 5px;
      display: block;
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }

  @media #{$small} {
    .c-siteHeaderV2CustomerArea__text {
      margin-top: 0;
    }

  }

  @media #{$mediumLandscape} {
    background-color: $genBlue;
  }
}

.c-siteHeaderV2CustomerArea__picto {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
}

.c-siteHeaderV2CustomerArea__block {
  transition: opacity .3s ease-in-out,
              transform .2s ease-in-out;
  height: 0;
  overflow: hidden;
  clear: both;
  transform: translateY(-5px);
  opacity: 0;

  // classe hidden de l'ancien site à isoler
  .hidden {
    display: none;
    visibility: hidden;
  }
  .hide {
    display: none;
  }
  // classe hidden de l'ancien site à isoler

  &.is-opened {
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

.c-siteHeaderV2__pro {
  display: inline-block;
  padding: 15px 0;
  font-size: 1.2rem;
}

.c-siteHeaderV2__call {
  display: block;
  text-align: center;
  font-size: 1.6rem;
}

.c-siteHeaderV2__callText {
  display: none;
}

.c-siteHeaderV2__callInfo {
  display: block;
  font-size: 1.8rem;

  .c-siteHeaderV2__callInfo__text {
    font-size: 1.2rem;
    display: block;
    line-height: 20px;
  }
}

//dropDownHeader
.c-siteHeaderV2CustomerArea[data-e-dropdownheader] {
  position: relative;
  z-index: 2000;
  top: 10px;
  right: 0;
}

.c-siteHeaderV2CustomerArea[data-e-dropdownheader]:hover {

  .c-siteHeaderV2CustomerArea__button {
  @media #{$large} {
      background-color: #0C5CAF;
    }
  }

  @media #{$smallMediumOnly} {
    box-shadow: none;
  }
}

.c-siteHeaderV2CustomerArea.is-connect:hover .c-siteHeaderV2CustomerArea__button,.c-siteHeaderV2CustomerArea.is-connect .c-siteHeaderV2CustomerArea__button:focus {
  @media #{$large} {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  }
}

.c-siteHeaderV2CustomerArea .c-siteHeaderV2__dropDown {
  @media #{$mediumLandscape} {
    display: none;
  }
}

.c-siteHeaderV2CustomerArea.is-connect:hover .c-siteHeaderV2__dropDown,  
.c-siteHeaderV2CustomerArea.no-js.is-connect .c-siteHeaderV2CustomerArea__button:focus + .c-siteHeaderV2__dropDown  {
  position: absolute;
  z-index: 99;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

  @media #{$mediumLandscape} {
    display: block;
    top: 55px;
    width: 100%;
    right: 0;
  }


  @media #{$smallMediumOnly} {
    right: -10px;
    width: 235px;
  }
}

.c-siteHeaderV2CustomerArea.is-connect.is-active .c-siteHeaderV2__dropDown,  
.c-siteHeaderV2CustomerArea.is-connect.is-active .c-siteHeaderV2CustomerArea__button + .c-siteHeaderV2__dropDown  {
  position: absolute;
  z-index: 99;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

  @media #{$mediumLandscape} {
    display: block;
    top: 55px;
    width: 100%;
    right: 0;
  }


  @media #{$smallMediumOnly} {
    right: -10px;
    width: 235px;
  }
}

.js-close { cursor: pointer;}

.c-siteHeaderV2__dropDown {
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-color: white;
  // display: none;
}

[data-e-dropdownheader].is-active .c-siteHeaderV2__dropDown {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.c-siteHeaderV2__dropDown.is-active {
  position: absolute;
  display: block;
}

.c-siteHeaderV2__dropDown a {
  text-decoration: none;
}

[data-e-dropdownheader].is-active .c-siteHeaderV2__dropDown ~ .c-siteHeaderV2CustomerArea[data-e-dropdownconect] {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

.c-siteHeaderV2__dropDownMain {
  padding: 0 16px 16px;
}

.c-siteHeaderV2__dropDown > span {
  background-color: rgba(208,208,208,0.5);
  height: 40px;
  padding: 10px 0;
  display: block;
  text-align: left;
  padding: 0 16px;
  width: 100%;
  color: $black;
  font-weight: bold;
  line-height: 4rem;
  width: 100%;
}

.c-siteHeaderV2__dropDown span > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 50px);
}

.c-siteHeaderV2__dropDown li {
  padding: 16px 0 0;
  text-align: left;
  &:first-child {
    padding-top:24px;;
  }
}

.c-siteHeaderV2__dropDown li:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #D0D0D0;
  margin-top: 8px;
}

.c-siteHeaderV2__dropDown .c-siteHeaderV2__itemLogOut {
  &::after {
    content: none;
  }
}


.c-siteHeaderV2__dropDown li:last-child::after {
  display: none;
}

.c-siteHeaderV2__dropDown li:nth-last-child(2)::after {
  display: none;
}

.c-siteHeaderV2__dropDown li a {
  display: block;
  line-height: 2.1rem;
  font-size: 1.6rem;
  text-align: left;
  color: $black;
  @media #{$smallMediumOnly} {
    padding: 12px 0;
  }
}

.c-siteHeaderV2__dropDown li a:hover, .c-siteHeaderV2__dropDown li a:focus {
  color: $genBlue;
  font-weight: bold;
  outline-color: #009DE9;
}

.c-siteHeaderV2__dropDown li .c-baseBtn__content {width: auto;}
.c-siteHeaderV2__dropDown li .c-btnWrapper a {
  border: 1px solid;
  border-color: #009DE9 !important;
  color: #009DE9 !important;
  background-color: #fff !important;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 48px;


  .c-baseBtn__iconLeft.icon { font-size: 2rem;}

  &:focus {
    border: 2px solid #009DE9!important;
    outline: none;
  }
  &:hover {
    background: #CBEAF9!important;
  }
}

.c-siteHeaderV2__dropDown li .c-btnWrapper a {
  font-weight: bold;
}

.c-siteHeaderV2__dropDown li .c-btnWrapper a:hover .icon {
  color: $genBlue !important;
}

.c-siteHeaderV2__dropDown__mask {
  display: none;
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
  transition: all 1s;
  @media #{$large} {
    opacity: 0;
  }

}

.c-siteHeaderV2CustomerArea span > .icon {
  display: none;
}

@media #{$smallMediumOnly} {
  .c-siteHeaderV2__dropDown li:nth-last-child(2)::after {
    display: block;
  }

  .c-siteHeaderV2__dropDown__mask {
    display: block;
    visibility: hidden;
    opacity: 0;
  }

  [data-e-dropdownheader].is-active .c-siteHeaderV2__dropDown__mask {
    visibility: visible;
    opacity: 0.6;
    top: 0;
  }

  .c-siteHeaderV2CustomerArea[data-e-dropdownheader] {
    position: absolute;
    right: 10px;
  }

  [data-e-dropdownheader] .c-siteHeaderV2__dropDown {
    width:330px !important;
    top: 0;
    right: -10px;
    transform: translateX(200%);
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  [data-e-dropdownheader].is-active .c-siteHeaderV2__dropDown {
    transform: translateX(0%);

    @media #{$small} {
      transform: translateX(0%);
     }
  }

  .c-siteHeaderV2CustomerArea .c-siteHeaderV2__dropDown > span {
    height: 80px;
    background-color: $genBlue;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-siteHeaderV2CustomerArea span > .icon {
    display: inline-block;
    font-size: 4rem;
  }
}

@media #{$small} {
  .c-siteHeaderV2CustomerArea[data-e-dropdownheader].is-hover .c-siteHeaderV2__dropDown {
    width : 300px;
  }
}
//End dropDownHeader

//Mobile only
@media #{$smallMediumOnly} {
  .c-siteHeaderV2__logo {
    height: 82px; //for ios9
  }

  .c-siteHeaderV2CustomerArea {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 0;
  }

  .c-siteHeaderV2CustomerArea__button:hover {
    box-shadow: none!important;
  }

  .c-siteHeaderV2__call {
    display: none;
  }

  .c-siteNavLayer__blockLinks {
    width: 100%;
  }

  .c-siteHeaderV2__logoImg {
    height: 65px;
  }

  .c-siteHeaderV2__call {
    padding: 25px 0;
    margin: 10px 6%;
    width: 88%;
  }

  .c-siteHeaderV2__pro {
    width: 100%;
    text-align: center;
  }

  .c-siteHeaderV2CustomerArea__text {
    position: relative;
    left: 0;
    height: auto;
    width: auto;
    white-space:normal;
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
  }

  .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue a.c-baseBtn.u-theme-color.secondary:hover,
  .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue a.c-baseBtn.u-theme-color.third:hover {
    color: #007fff !important;
    border-color: #007fff !important;
    background-color: #CBEAF9 !important;
  }
}


//tablette
@media #{$mediumLarge} {

  .c-siteHeaderV2__callLink {
    display: none;
  }

  .c-siteHeaderV2__logoImg {
    padding: 0;
    // height: 120px;
    max-width: $logoWidth;
  }


  .c-siteHeaderV2__call {
    min-width: 15%;
    white-space: nowrap;
    padding: 14px 0 0;

    .icon {
      font-size: 2.1rem;
    }
  }

  .c-siteHeaderV2__logoLink {
    width: auto; // bug fix header tablette, pour que le lien soit cliquable que sur le logo
  }

  .c-siteHeaderV2__pro {
    margin-right: 2%;
  }

  .c-siteHeaderV2__mainNav__text,
  .c-siteHeaderV2SecondaryBlock__text {
    @include visibility-visible();
    position: relative;
    z-index: 1;
    display: initial;
  }

  .c-siteHeaderV2__mainNav__button {
    width: 100px;
    right: 295px;
  }

  .c-siteHeaderV2SecondaryBlock__button {
    width: 110px;
    right: 185px;
  }

  .c-siteHeaderV2CustomerArea__button {
    margin-top: 0px;
    width: 100%;
  }

  .c-siteHeaderV2__mainNav__picto,
  .c-siteHeaderV2SecondaryBlock__picto,
  .c-siteHeaderV2CustomerArea__picto {
    vertical-align: middle;
  }

  .c-siteHeaderV2__mainNav__text,
  .c-siteHeaderV2SecondaryBlock__text,
  .c-siteHeaderV2CustomerArea__text {
    vertical-align: middle;
    margin-left: 5px;
  }

  .c-siteHeaderV2CustomerArea__text {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .c-siteHeaderV2__mainNav__picto {
    right: auto;
    width: 25px;

    & + .c-siteHeaderV2__mainNav__text {
      margin-left: -47px;
    }
  }
}


//desktop
@media #{$large}  {
  .c-siteHeaderV2 {
    position: fixed;
    z-index: 10;
    width: 100%;
    
    &.c-sticky {
      width: 100%;
      right: 0!important;
      position: fixed!important;
      transition: all 0.5s ease-in-out;

    }
    &.c-sticky--fixed {
      transform: translateY(0%)!important;
      // position: fixed!important;
    }

    &.c-sticky.c-sticky--unstickyTop {
      transform: translateY(-100%)!important;
      // position: fixed!important;
    }

    .c-siteNav {
      padding-left: 15px;
    }

    .c-siteHeaderV2__logoImg {
      padding: 5px 0;
      height: 110px;
    }

    .l-wrapper--main {
      margin: 0 auto;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: -10px;
      z-index: 12;
      background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    }

    .c-siteHeaderV2CustomerArea__button {
      margin-top: -10px;
    }
  }

  .c-siteHeaderV2__main {
    display: flex;
    flex-direction: row;
  }


  .c-siteHeaderV2__callText {
    width: 100%;
    display: block;
    font-size: 2.3rem;
    line-height: 0;
    text-align: left;
    padding: 0 36px 0 0;
    color: $genBlue;

    .icon::before {
      vertical-align: middle;
      font-size: 2.3rem;
      margin: 0 3px 0 -3px;
    }

  }

  .c-siteHeaderV2__callLink {
    display: block;
  }

  .c-siteHeaderV2__mainNav__button { display: none; }

  .c-siteHeaderV2__topHeader {
    width: 93%;
    display: inline-block;
  }

  .c-siteHeaderV2__logo {
    width: $logoWidth;
  }

  .c-siteHeaderV2__logoLink {
    padding: 0 12px 0 12px;
  }

  //[siteNav]
  .c-siteHeaderV2__secondaryNav {
    width: 100%;
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .c-siteHeaderV2SecondaryBlock {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    padding-top: 0;

    &.is-hidden-small-medium {
      display: inline-block;
    }
  }

  .c-siteHeaderV2SecondaryBlock__button {
    @include desktop-header-style-button();
  }

  .c-siteHeaderV2SecondaryBlock__picto {
    margin-right: 5px;
    font-size: $font-25;
    vertical-align: middle;
    color: $grey;
  }

  .c-siteHeaderV2SecondaryBlock__text {
    @include visibility-visible();

    strong {
      color: $black;
    }
  }

  .c-siteHeaderV2SecondaryBlock__icon {
    font-size: $font-25;
    margin-left: 5px;
  }

   .c-siteHeaderV2SecondaryBlock__text,
   .c-siteHeaderV2SecondaryBlock__icon {
      display: inline-block;
      vertical-align: middle;
   }

  .c-siteHeaderV2SecondaryBlock__content {
    position: absolute;
    background-color: white;
    padding-top: 0;
    z-index: 10;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

    &.c-siteHeaderV2SecondaryBlock__content--right {
      right: 0;
    }
  }

  .c-siteHeaderV2SecondaryBlockLayer__item {
    border-top: 1px solid $grey-light;
  }

  .c-siteHeaderV2SecondaryBlockLayer__link {
    color: $black;
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 25px;

    @include hover-focus-active() {
      color: $genBlue-hover;
    }
  }


  //c-siteHeaderV2CustomerArea
  .c-siteHeaderV2CustomerArea{
    width: 233px;
  }

  .c-siteHeaderV2CustomerArea__button {
    padding: 0;
    width: 100%;
    height: 65px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $genBlue;
    color: $white;
    transition: background-color 0.2s ease-in-out;

    .icon {
      font-size: 3rem;
    }


    &:focus {
      background-color: $genBlue-hover;
      outline: none;
    }
  }

  .c-siteHeaderV2CustomerArea__text {
    z-index: 1;
    margin: 0 0 0 8px;
    text-align: center;
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    left: 0;
    top: initial;
    width: auto;
    height: auto;
    white-space: nowrap;
  }

  .c-siteHeaderV2CustomerArea__block {
    position: absolute;
    background-color: $white;
    right: 0;
    padding-top: 0;
    z-index: 10;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    width: 360px;
  }
}

@media #{$smallMediumOnly} {
  .c-searchBar {
    width: 100%;
  } 
}

@media #{$smallMediumOnly} {
  // .c-siteHeaderV2__secondaryNav {display: none;}
}


@media #{$mediumLarge} {
  .c-siteHeaderV2__logoLink {
    padding: 0 12px 0 0;
  }

  .c-siteHeaderV2__logoImg {
    padding: 16px 0 0;
  }
}

@media #{$large}  {
  //Composant [c-contactBar]
  .c-siteHeaderV2SecondaryBlock__content {
    .c-contactBar {
      min-width: 750px;
    }
  }
  [data-e-dropdownheader].is-active {
    .c-siteHeaderV2__dropDown__mask {
      display: block;
      position: fixed;
      opacity: 0;
      height: 700rem;
    }
    .c-siteHeaderV2__dropDown {
      display: block;
      width: 100%;
    }
  }
}

// V3 header connect

.c-siteHeaderV2__mainNav__text, 
.c-siteHeader__mainNav__text, 
.c-siteHeaderV2SecondaryBlock__text {
  font-family: 'Open Sans';
  position: relative;
  left: 6px;
  top: 23px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
  font-weight: normal;
  font-family: arial;
  font-size: 1.1rem;
}


// header v3 public  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



.c-siteHeaderV2.v3 {
  font-family: 'Open Sans', sans-serif;

  .c-siteHeaderV2__main {display: none;}

  @media #{$mediumLandscape} {

    .c-siteHeaderV2__main { display: flex;}

    .c-siteNav { padding-left: 0;}

    .c-siteNavLayer { 
      padding:32px 24px 16px 8px ;
      bottom: 1px;
    }
  
    .c-siteNavLayer__group {font-size: 1.6rem;}

    .c-siteNavLayer__itemTitle {
      margin-bottom: 20px;
    }

    .c-siteNavLayer__item { padding: 4px 0;}

    .c-siteHeaderV2CustomerArea__button {
      height: 64px;

      &:hover {
        background-color: #0C5CAF;
      }
    }
    
    .c-siteHeaderV2CustomerArea {
      height: 64px;
      // width: 194px;
    }


  @media #{$mediumLandscape} {

    .c-siteHeaderV2__pro {display: none;}

    .c-siteNav__link.is-active .c-siteNav__link__text:after {
      top: 30px;
    }

    .c-siteNav { padding-left: 0;}

    .c-siteNavLayer { 
      padding:32px 24px 16px 8px ;
      bottom: 1px;
      max-width: 1208px;
    }
  
    .c-siteNavLayer__blockPush {
      padding-top: 0;
      max-width: 283px;
      width: 100%;
    }

    .c-siteNavLayer__group {font-size: 1.6rem;}

    .c-siteNavLayer__itemTitle {
      margin-bottom: 20px;
    }

    .c-siteNavLayer__item { padding: 2px 0;}

    .c-siteHeaderV2CustomerArea__button {
      height: 64px;

      &:hover {
        background-color: #0C5CAF;
      }
    }
    
    .c-siteHeaderV2CustomerArea {
      height: 64px;
      // width: 194px;
    }

    .c-siteHeaderV2__logoLink {
      padding: 0 30px 0 0;
    }

    .c-siteHeaderV2__callLink { 
      text-decoration: none;
      .icon:hover { color:#0C5CAF ;}
    }
    .c-siteHeaderV2__callInfo__text { color: $black; }
    .c-siteHeaderV2__callText {
      width: 100%;
      display: block;
      font-size: 2.5rem;
      line-height: 0;
      text-align: right;
      padding: 0 24px 0 0;
      color: #00aaff;
    }

    strong.c-siteHeaderV2__callInfo__number { font-size: 1.8rem;}

    .c-siteNav__group { 
      justify-content: center;
      padding-top: 14px;
      padding-bottom: 0px;
      padding-right: 6%;
    }
    
    .c-siteNavLayer__btnBaseLink { margin-bottom: 14px; }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-btnWrapper--column .c-baseBtn {
      margin: 8px 4px 0;
      padding: 8px 16px;
      width: 100%;
      font-size: 1.6rem;
    }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn:hover,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn:focus {
      background-color: #CBEAF9!important;
      color: $genBlue!important;
    }
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:hover,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:focus {
      background-color: white!important;
      color:#0C5CAF!important;
    }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:hover .c-baseBtn__content,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:focus .c-baseBtn__content {
      border-color:#0C5CAF!important;
    }
  }
  


    .c-siteHeaderV2__logoLink {
      padding: 0 30px 0 0;
    }

    .c-siteHeaderV2__callLink { 
      text-decoration: none;
      .icon:hover { color:#0C5CAF ;}
    }
    .c-siteHeaderV2__callInfo__text { color: $black; }
    .c-siteHeaderV2__callText {
      width: 100%;
      display: block;
      font-size: 2.5rem;
      line-height: 0;
      text-align: left;
      padding: 0 24px 0 0;
      color: #00aaff;
    }

    strong.c-siteHeaderV2__callInfo__number { 
      font-size: 1.8rem;
      font-family: "Open Sans";
      font-weight: 800;
    }

    .c-siteNav__group { 
      justify-content: center;
      padding-top: 14px;
      padding-bottom: 6px;
      padding-right: 11%;
    }
    
    .c-siteNavLayer__btnBaseLink { margin-bottom: 14px; }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-btnWrapper--column .c-baseBtn {
      margin: 8px 4px 0;
      padding: 8px 16px;
      font-weight: 800;
    }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink {
      padding: 8px 16px 8px 0;    
      margin-top: 0;  
    }
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink .c-baseBtn__content {
      font-weight: 600;
    }
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn .c-baseBtn__content {
      font-weight: 800;
    }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn:hover,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn:focus {
      background-color: #CBEAF9!important;
      color: $genBlue!important;
    }
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:hover,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:focus {
      background-color: white!important;
      color:#0C5CAF!important;
    }

    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:hover .c-baseBtn__content,
    .c-siteNavLayer__blockPush.c-siteNavLayer__blockPush--themeBlue .c-baseBtn.c-siteNavLayer__btnBaseLink:focus .c-baseBtn__content {
      border-color:#0C5CAF!important;
    }
  }

  @media (min-width: 1025px) and (max-width: 1125px) {
    .c-searchBar.v3 {
      max-width: 58%;
    } 
    .c-siteNav__group {
      padding-right: 0;
    }
    .c-siteHeaderV2__secondaryNav, .c-siteNav__group { justify-content: flex-start;}
    
  }
  
} 

// headerMobil !!!!!!

.c-siteHeaderMobileV3 {
  display: none;
  // TEST
  .c-siteHeaderV2CustomerArea  {display: none;}
  // END test 
}

@media #{$smallMediumOnly} {
  .c-siteHeaderV2.v3  {
    height: $headerHeight;

    .c-siteHeaderMobileV3 {
      height: $headerHeight;
      display: flex;
      justify-content: space-between;

      .c-siteHeaderMobileV3__nav {
        height: $headerHeight;
        width: 63px;
      }

      .c-siteHeaderV2__mainNav {
        height: 100%;
        width: 100%;
        position: absolute;
        background: #fff;
      }

      .c-siteHeaderV2__mainNav__picto, .c-siteHeaderV2__mainNav__picto:before, .c-siteHeaderV2__mainNav__picto:after {
        background-color: #333;
      }

      .c-siteHeaderV2__mainNav__picto {
        width: 25px;
        top: 41%;
        right: 18px;
        left: 18px;
      }

      .c-siteHeaderV2__mainNav__text {
        left: 0px;
        top: 17px;
        margin-left: 0;
        font-family: 'Open Sans';
      }

      .c-siteHeaderV2__mainNav__button, .c-siteHeaderV2__main,
      .c-siteHeaderV2CustomerArea {
        display: block;
        position: relative;
      }

      .c-siteHeaderV2__mainNav__button {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 62px;
        height: 62px;
        top: 0px;
        left: 0;
        text-align: center;
        background-color: #f2f2f2;

        .c-siteHeaderV2__mainNav__text-is-Close { 
          margin-left: 4px;
          left: 0px;
          top: 15px;
          color: #333;
          font-weight: 400;
          font-family: "Open Sans";
          font-size: 1.1rem;    
          display: none;
        }

        &.is-active span.c-siteHeaderV2__mainNav__text {
          display: none;
        }
        &.is-active span.c-siteHeaderV2__mainNav__text-is-Close {
          position: relative;
          display: block;
          top: 18px;
        }
      }

      .c-siteHeaderV2__mainNav__button.is-active {
        .c-siteHeaderV2__mainNav__picto {
          background-color: #f2f2f2;
          left: 15px;
        }
        .c-siteHeaderV2__mainNav__picto:before, .c-siteHeaderV2__mainNav__picto:after {
          background-color: #333;
        }
      }
      

      .c-siteHeaderMobileV3__left, .c-siteHeaderMobileV3__right {
        display: flex;
        z-index: 1000;
      }

      .c-siteHeaderV2__logo {
        height: 62px;
        width: 62px;
        .c-siteHeaderV2__logoLink { 
          padding: 0;
          height: 100%;
        }
        .c-siteHeaderV2__logoImg {
          padding: 6px 0;
          height: 100%;
        }
      }
    }
    
    .c-siteHeaderV2CustomerArea__button {
      background-color: white;
      height: 100%;
      display: block;
    }
    
    .c-siteHeaderV2CustomerArea__button .c-siteHeaderV2CustomerArea__text {
      font-size: 1.1rem;
      font-weight: 400;
      margin-top: 7.5px;
    }
    .c-siteHeaderMobileV3 .c-siteHeaderV2CustomerArea {
      width: 80px;
      top: 0;
      right: 0;
      height: 100%;
    }

    .c-siteHeaderV2CustomerArea__button .icon {
      padding-top: 6px;
      color: $black;
      height: 34px;
      &.icon-userConnect {
        color: #00aaff; 
      }
      &.icon-userConnect, &.icon-userDeconnect {
       padding-top:8px;
      }
    }
    
    .c-searchBarMobile__submit span {
      font-size: 1.1rem;
      display: block;
      padding-bottom: 6px;
    }

    .c-searchBarMobile__submit.icon-lens{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      &:before {
        font-size: 3rem;
        display: block;
        width: 100%;
        padding-top: 6px;
      }
    }
    
    .c-siteHeaderV2__pro {
      display: block;
      font-size: 1.6rem;
      line-height: 1.6rem;
      color:#009DE9;
      font-family: "Open Sans";
      font-weight: 600;
      padding-bottom: 32px;
      padding-top: 32px;
    }
  }
}