mixin estimationCta(data)
  - var data = data || {}

  // c-estimationBox
  .c-estimationCta
      .c-estimationCta__content
        span.c-estimationCta__budgetIcon.icon.icon-budget3.u-margin-r-15
        a(href="#").c-estimationCta__link
          strong.u-hideMediumUp Je compare les prix
          strong.u-hideSmall Avant de choisir je compare les prix en estimant mon budget
          span.c-estimationCta__chevronIcon.icon.icon-chevron-right.u-margin-small-l-10.u-margin-l-10