
.c-breadcrumb {
  padding: 10px;
}

.c-breadcrumb__item {
  display: inline-block;

  &:last-child {
    .c-breadcrumb__icon {
      display: none;
    }
  }
}

.c-breadcrumb__link {
  @include custom-underline($white);
  color: $black;
  font-size: $font-13;

  @include hover-focus-active() {
    .c-breadcrumb__label {
      border-color: inherit;
    }
  }
}

.c-breadcrumb__text {
  color: $black;
  font-size: $font-13;
}

.c-breadcrumb__label {
  vertical-align: middle;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.c-breadcrumb__icon {
  font-size: $font-18;
  vertical-align: middle;
  margin-left: 5px;
}


@include media(">=small") {
  .c-breadcrumb {
    padding: 15px 20px;
  }
}