.c-headerCelNav__itemLink {
  color: $black;
  display: block;
  text-decoration: none;

  @include hover-focus-active() {
    color: $black;
  }
}

.c-headerCelNav__list {
  position: relative;
}

.c-headerCelNav__itemLink {
  &:after {
    content: '';
    position: absolute;
    background-color: $genBlue;
  }
}

// mobile & tablette portrait
@include media("<medium") {
  .c-headerCelNav__layerBtn {
    margin-top: 40px;
    text-align: center;

    a {
      border-bottom: 1px solid $genBlue;
      color: $genBlue;
    }
  }

  .c-headerCelNav__wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .c-headerCelNav__itemLink {
    position: relative;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px dotted $grey-medium2;

    &:after {
      top: 0;
      left: -20px;
      bottom: -1px;
      width: 5px;
      display: none;
    }

    @include hover-focus-active() {
      &:before {
        display: block;
      }
    }
  }
}


@include media(">=medium") {
  .c-headerCelNav {
    //display: flex;
    width: 100%;
    display: inline-block;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    margin-top: 5px;

    .c-btnWrapper {
      display: none;
    }
  }

  .c-headerCelNav__list {
    margin-left: -117px;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .c-headerCelNav__item {
    position: relative;
    display: flex;
    align-items: center;

    // &:last-child .c-headerCelNav__itemLink {
    //   border-right: none;
    // }
    &:first-child .c-headerCelNav__itemLink {
      &::before {
        border-right: none;
      }
    }
  }

  .c-headerCelNav__itemLink {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 20px;
    font-weight: bold;

    &:after {
      bottom: -3px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: $genBlue;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      transform: scaleX(0);
    }

    &:before {
      content: "";
      display: block;
      border-right: 1px solid #dbdbdb;
      width: 1px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    @include hover-focus-active() {
      color: $genBlue;
      &:after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}


@include media(">=small", "portrait") {
  .c-headerCelNav__itemLink {
    padding-right: 9px;
    padding-left: 9px;
  }
}
