mixin headerCelNav
  // .c-headerCelNav
  +headerCelLayer({target: "headerCel-nav"})(data-e-toggle-target='headerCel-nav').c-headerCelNav
    p.c-headerCelNav__welcomMsg.u-hideMediumUp Bonjour Simon et Camille
    nav#siteNav.c-headerCelNav__wrapper(role="navigation" aria-label="menu principal")
      ul.c-headerCelNav__list
        li.c-headerCelNav__item
          a.c-headerCelNav__itemLink.is-active(href="#") Tableau de bord
        li.c-headerCelNav__item
          a.c-headerCelNav__itemLink(href="#") Mes factures
        li.c-headerCelNav__item
          a.c-headerCelNav__itemLink(href="#") Suivi conso
        li.c-headerCelNav__item
          a.c-headerCelNav__itemLink(href="#") Mes options
        li.c-headerCelNav__item
          a.c-headerCelNav__itemLink(href="#") Mon profil
        //- li.c-headerCelNav__item
        //-   a.c-headerCelNav__itemLink(href="#") Mes demandes
        //- li.c-headerCelNav__item
        //-   a.c-headerCelNav__itemLink(href="#") Autre rubrique

      p.c-headerCelNav__layerBtn
        a.u-hideMediumUp Accueil Gaz Tarif Réglementé
  // END .c-headerCelNav

