.c-floatingCart__item {
  padding: 10px 0 15px;
  border-bottom: 1px solid $grey-medium2;

  .c-offerPromo {
    height: auto;
    min-height: 35px;
  }

  .c-offerPromo__detail {
    padding: 7px 15px;
  }
}

.c-floatingCart__itemMain,
.c-floatingCart__itemTitle,
.c-floatingCart__item .c-offerPromo {
  margin-bottom: 10px;
}

.c-floatingCart__itemTitle,
.c-floatingCart__itemDetail {
  font-weight: $font-bold;
}

.c-floatingCart__itemTitle,
.c-floatingCart__itemPrice span {
  font-size: 1.8rem;
}

.c-floatingCart__itemText {
  font-size: 1.5rem;
}

.c-floatingCart__itemDetailTitle {
  color: $genBlue;
}


@include media(">=small") {
  .c-floatingCart__item {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .c-offerPromo {
      order: 1;
      margin-top: 5px;
      margin-bottom: 0;
    }

    .c-offerPromo__detail {
      padding: 5px 15px;
    }
  }

  .c-floatingCart__itemMain {
    width: 200px;
  }

  .c-floatingCart__itemDetail {
    margin-left: 15px;
  }

  .c-floatingCart__itemTitle {
    font-size: 1.5rem;
  }

  .c-floatingCart__itemText,
  .c-floatingCart__itemDetailTitle {
    font-size: 1.3rem;
  }

  .c-floatingCart__itemPrice {
    font-size: 1.4rem;
  }

  .c-floatingCart__itemMain,
  .c-floatingCart__itemTitle {
    margin-bottom: 0;
  }
}
