mixin formContactSuccess()
  // .c-formContactSuccess
  .c-formContactSuccess.u-padding-spacer(
    data-e-formcontact-success
    hidden
  )
    .l-wrapper--large
      .l-wrapper--medium.u-textCenter
        h2.c-headSection__title.u-heading-2
          | Merci
          = " "
          span(data-e-formcontact-success-name)
          | &nbsp;!
        p.u-textBold Votre demande a bien été prise en compte

        p.u-margin-t-40.u-margin-small-t-40
          | Nous retroussons nos manches pour vous répondre sur mesure dans les plus brefs délais.
          br
          b Vous allez recevoir une réponse à l'adresse suivante :

      .l-wrapper--medium.u-margin-t-20.u-margin-small-t-20.u-margin-b-40.u-margin-small-b-40
        +pictoBlock({
          iconName: 'icon-contact-mail2',
          topToLeft: true,
          email: true
        }).is-valid
          p.u-color-grey Email
          p
            b(data-e-formcontact-success-email)

      +separator

      +pushLight({
        labelBtn: "Remplir ma demande"
      }).u-margin-v-40.u-margin-small-v-40
  // END - .c-formContactSuccess
