mixin arrowBorder(data)
  - var data    = data || {}
  - var magenta = data.magenta || false
  - var outset  = data.outset || false

  // .c-arrowBorder
  .c-arrowBorder(
    class=magenta ? 'c-arrowBorder--magenta' : ''
    class=outset ? 'c-arrowBorder--arrowOutset' : ''
  )&attributes(attributes)
    block
  // ENd - .c-arrowBorder

