.c-advantages__group {
  font-size: $font-0;
  text-align: center;
}

.c-advantages__item__link {
  color: #333;
}
.c-advantages__itemBlock {
  margin: 0 auto 24px;
  border-radius: 44px;
  background: #09D3CD;
  display: inline-block;

  &.c-advantages__itemBlock--img {
    background: none;
  }
}

.c-advantages__item {
  margin-bottom: 15px;
  font-size: $font-15;
}

.c-advantages__icon {
  font-size: 8.6rem;
  color: white;
}

.c-advantages__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.c-advantages__text--title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 24px;
}

@media #{$medium} {
  .c-advantages {
    &:before {
      display: none;
    }
  }
  
  //TEL for custom
  .c-advantages--tel {
    .u-heading-2 {
      font-size: 3.1rem;
    }
  }
  .c-headSection__link {
    text-decoration: none;
  }
}

@media #{$mediumLarge} {
  .c-advantages__item {
    width: calc(100% / 4);
    display: inline-block;
    vertical-align: top;
  }
}

@media #{$small} {
  .c-advantages__item {
    margin-bottom: 56px;
  }

  .c-advantages__item:last-child 
  {
    margin-bottom: 0;
  }

  .c-advantages__itemBlock {
    margin-bottom: 16px;
  }

  .c-advantages__text--title {
    margin-bottom: 8pt;
  }
}