include advantages

.hkh
  .l-row.l-row--align-h-center
    .l-col-sm-12.l-col-md-10.l-col-lg-12
      include:markdown-it readMe.md

.l-row.l-row--align-h-center
  .l-col-sm-12.l-col-md-10.l-col-lg-12
    h2.u-heading-1 cas avec visuel

+demo()
  +advantages()

.l-row.l-row--align-h-center
  .l-col-sm-12.l-col-md-10.l-col-lg-12
    h2.u-heading-1 cas avec font icon et item cliquable

+demo({})
  +advantages({
    linkItem: true
  })


