.c-errorKnow {
  padding-bottom: 40px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: $grey-light;
  }

  &:nth-child(2):after {
    display: none;
  }
}

.c-errorKnow__title {
  font-size: $font-18;
  font-weight: bold;
}

.c-errorKnow__ribbon {
  float: left;
  height: 125px;
  margin-left: 30px;
  margin-top: -20px;
  position:relative;
  width: 60px;

  &:after {
    right: 60px;
    top: 0;
    border-bottom: 10px solid $genBlue-hover;
    border-left: 5px solid transparent;
    border-top: 10px solid transparent;
    border-right: 5px solid $genBlue-hover;
    z-index: 1;
  }
}

.c-errorKnow__icon {
  font-size: 5.8rem;
  padding-top: 15px;
  width: 60px;
}

.c-errorKnow__content {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 40px;
}

.c-errorKnow__triangle:before,
.c-errorKnow__triangle:after,
.c-errorKnow__ribbon:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.c-errorKnow__triangle {
  &:before {
    right: 30px;
    bottom: 0;
    border-bottom: 5px solid $white;
    border-left: 15px solid transparent;
    border-top: 5px solid transparent;
    border-right: 15px solid $white;
    z-index: 1;
  }

  &:after {
    right: 0;
    bottom: 0;
    border-bottom: 5px solid $white;
    border-left: 15px solid $white;
    border-top: 5px solid transparent;
    border-right: 15px solid transparent;
    z-index: 1;
  }
}

@include media("<small") {
  .c-errorKnow {
    &:nth-child(2) {
      padding-top: 40px;
    }
  }
}

@include media(">=small") {
  .c-errorKnow__wrapper {
    background-color: $white;
    margin: 30px 15% 0;
    padding: 0;
  }

  .c-errorKnow {
    float: left;
    width: 50%;
    padding-bottom: 30px;

    &:first-child:after {
      height: 70%;
      width: 2px;
      top: 50%;
      left: initial;
      right: 0;
      transform: translateY(-40%);
      margin: auto;
    }
  }
}

@include media(">medium") {
  .c-errorKnow__content {
    padding: 25px 60px 0 110px;
  }
}
