include textImageBg

h2.u-heading-1 Text image background:

+demo({
  desc: `composant textImageBg, éléments contribuable : <br>
  - titre <br>
  - paragraphe <br>
  - image backgound <br>
  NOTE: prévoir une image <strong>DESKTOP</strong> et <strong>MOBILE</strong>`
})
	+textImageBg()



