$bubble-size:    134px; //160px
$bubble-space:   18px; // 35px
$scaleRatio:     .5; //0.7

$bubble-space-1: ($bubble-size - $bubble-size * $scaleRatio) / 2 + 40; // décalage bubble soeur niveau 1: oOo 50px
$bubble-space-2: ($bubble-size - $bubble-size * $scaleRatio) / 2 + ($bubble-size - $bubble-size * $scaleRatio); // décalage bubble soeur niveau 2: Ooo 130px

$translateY:  -30px;
$translateY-unSelected: -(30px + ($bubble-size - $bubble-size * $scaleRatio) / 2);


// Le conteneur (c-bubbleList__content) des bulles "c-bubble__label" OU le conteneur (c-bubble) de la bulle "c-bubble__label" se déplace :
@mixin moveContainer($size, $space) {
  transform: translateX(#{$size}) translateX(#{$space});
}

// La bulle c-bubble__label se déplace dans son parent :
@mixin moveBubble($space, $ratio) {
  transform: scale($ratio) translateX(#{$space});
}

// La bulle c-bubble__label se déplace dans son parent :
@mixin moveBubble3rd($scaleValue) {
  transform: scale($scaleValue) translateY($translateY);
}


.c-bubbleList {
  overflow: hidden;
  padding: 20px 0;
}

.c-bubbleList__content {
  font-size: 0; // retirer espaces à cause de inline-block enfants
  text-align: center;
}

.c-bubbleList__content,
.c-bubble {
  // https://matthewlein.com/ceaser/
  transition: transform .5s cubic-bezier(0.770, 0.000, 0.185, 1.200);
};


// Mobile only : Assure l'animation qui fait disparaitre le c-bubble__text
@include media("<small") {
  [class*="c-bubble--"] {
    .c-bubble__input:not(:checked) + .c-bubble__label {
      .c-bubble__text {
        opacity: 0;
      }

      .c-bubble__icon {
        line-height: .9;
        transform: translatey(50%) scale(1.4);
      }
    }
  }
}

// Etats avec 2 bubbles
// --------------------
.c-bubble--10 {
  // 1/2 bubble + 1/2 espace
  @include moveContainer($bubble-size/2, $bubble-space/2);

  .c-bubble .c-bubble__label { transform: scale(1); }
  .c-bubble + .c-bubble .c-bubble__label {
    @include moveBubble(-$bubble-space-1, $scaleRatio);
  }
}

.c-bubble--01 {
  // 1/2 bubble + 1/2 espace
  @include moveContainer(-$bubble-size/2, -$bubble-space/2);

  .c-bubble .c-bubble__label {
    @include moveBubble($bubble-space-1, $scaleRatio);
  }
  .c-bubble + .c-bubble {
    .c-bubble__label { transform: scale(1); }
  }
}


// Etats avec 3 bubbles
// --------------------

// .c-bubble--100, .c-bubble--010, .c-bubble--001  {
//   // Transition standard du label + transition pour le déplacement
//   .c-bubble {
//     transition: all 0.5s cubic-bezier(0.770, 0.000, 0.185, 1.200);
//   }
// }
.c-bubble--100 {
  //margin-bottom: $translateY-unSelected;

  .c-bubble  {
    // 1/2 bubble + 1/2 espace
    @include moveContainer($bubble-size/2, $bubble-space/2);

    .c-bubble__label {
      transform: scale(1);
    }
  }
  .c-bubble + .c-bubble {
    // 1/2 bubble + 1/2 espace
    @include moveContainer($bubble-size/2, $bubble-space/2);

    .c-bubble__label {
      @include moveBubble(-$bubble-space-1, $scaleRatio);
    }
  }
  .c-bubble + .c-bubble + .c-bubble {
    transform: translateX(0);

    .c-bubble__label {
      @include moveBubble3rd($scaleRatio);
    }
  }
}

.c-bubble--010 {
  //margin-bottom: $translateY-unSelected;

  .c-bubble {
    // 1/2 bubble + 1/2 espace
    @include moveContainer(-$bubble-size/2, -$bubble-space/2);

    .c-bubble__label {
      @include moveBubble($bubble-space-1, $scaleRatio);
    }
  }
  .c-bubble + .c-bubble {
    // 1/2 bubble + 1/2 espace
    @include moveContainer(-$bubble-size/2, -$bubble-space/2);

    .c-bubble__label {
      transform: scale(1);
    }
  }
  .c-bubble + .c-bubble + .c-bubble {
    transform: translateX(0);

    .c-bubble__label {
      @include moveBubble3rd($scaleRatio);
    }
  }
}

.c-bubble--001 {
  //margin-bottom: $translateY;

  .c-bubble .c-bubble__label {
    @include moveBubble($bubble-space-1*0.8, $scaleRatio);
  }
  .c-bubble + .c-bubble .c-bubble__label {
    @include moveBubble(-$bubble-space-1*0.8, $scaleRatio);
  }
  .c-bubble + .c-bubble + .c-bubble .c-bubble__label {
    @include moveBubble3rd(1);
  }
}


@include media("<small"){
  .c-bubble:nth-of-type(3) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Desktop et tablette : layout dimensions : */
@include media(">=small") {
  $bubble-size: 174px;
  $bubble-space: 35px;
  $scaleRatio: .7;

  $bubble-space-1: ($bubble-size - $bubble-size * $scaleRatio ) / 2 + $bubble-space; // décalage bubble soeur niveau 1: oOo 50px
  $bubble-space-2: $bubble-size - $bubble-space / 2;
  //$bubble-space-2: ($bubble-size - $bubble-size * $scaleRatio ) / 2 + $bubble-space * 2 + ($bubble-size - $bubble-size * $scaleRatio); // décalage bubble soeur niveau 2: Ooo 130px


  // Etats avec 2 bubbles
  // --------------------
  .c-bubble--10 {
    // 1/2 bubble + 1/2 espace
    @include moveContainer($bubble-size/2, $bubble-space/2);

    .c-bubble + .c-bubble .c-bubble__label {
      @include moveBubble(-$bubble-space-1, $scaleRatio);
    }
  }

  .c-bubble--01 {
    // 1/2 bubble + 1/2 espace
    @include moveContainer(-$bubble-size/2, -$bubble-space/2);

    .c-bubble .c-bubble__label {
      @include moveBubble($bubble-space-1, $scaleRatio);
    }
  }

  // Etats avec 3 bubbles
  // --------------------

  // Reset des règles héritées du mobile :
  .c-bubble--100, .c-bubble--010, .c-bubble--001 {
    margin-bottom: 0;

    .c-bubble,
    .c-bubble + .c-bubble,
    .c-bubble + .c-bubble + .c-bubble {
      transform: translate(0);
    }

    .c-bubble + .c-bubble + .c-bubble .c-bubble__label {
      transform: translateY(0);
    }
  }

  .c-bubble--100 {
    // 1 bubble + 1 espace
    @include moveContainer($bubble-size, $bubble-space);
    .c-bubble + .c-bubble .c-bubble__label {
      @include moveBubble(-$bubble-space-1, $scaleRatio);
    }
    .c-bubble + .c-bubble + .c-bubble .c-bubble__label {
      @include moveBubble(-$bubble-space-2, $scaleRatio);
    }

    .c-bubble__info {
      transform: scale($scaleRatio) translateX(-$bubble-space-2) translateY(-60px);
    }
  }

  .c-bubble--010 {
    .c-bubble .c-bubble__label {
      @include moveBubble($bubble-space-1, $scaleRatio);
    }
    .c-bubble + .c-bubble + .c-bubble .c-bubble__label {
      @include moveBubble(-$bubble-space-1, $scaleRatio);
    }

    .c-bubble__info {
      transform: scale($scaleRatio) translateX(-$bubble-space-1) translateY(-60px);
    }
  }

  .c-bubble--001 {
    // 1 bubble + 1 espace
    @include moveContainer(-$bubble-size, -$bubble-space);
    .c-bubble .c-bubble__label {
      @include moveBubble($bubble-space-2, $scaleRatio);
    }
    .c-bubble + .c-bubble .c-bubble__label {
      @include moveBubble($bubble-space-1, $scaleRatio);
    }
  }
}


// Pour démo only :
// ----------------
.c-formStep {
  margin: 30px 0;
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  height: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease-out,
              transform 0.5s ease-out;

  &.is-active {
    visibility: visible;
    overflow: inherit;
    height: auto;
    opacity: 2;
    transform: none;
  }

  &:not(.is-active){
    margin: 0 !important;
  }
}
