mixin bubbleList(data)
  - var data        = data || {}
  - var title       = data.title || 'Titre par défaut'
  - var headingSize = data.headingSize || 1

  // .c-bubbleList
    Background-color :
      - ajouter la classe 'u-theme-indigo' sur 'c-bubbleList' pour le thème Estimation

  .c-bubbleList(class=contentClass)&attributes(attributes)
    h2.u-margin-b-10.u-textCenter(
      class="u-heading-"+ headingSize
    )=title

    .c-bubbleList__content
      block
  // end .c-bubbleList
