mixin mesFactureTable(data)
  - var data             = data || {}
  - var error             = data.error || false

  //.c-mesFactureTable
  .c-mesFactureTable&attributes(attributes)
    h2.c-mesFactureTable__title HISTORIQUE DE MES 
      b PAIEMENTS

    if !error
      .c-mesFactureTable__table
        .c-mesFactureTable__head
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile.u-hideSmall <b>Année</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Date</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Montant TTC</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Etat</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile.c-mesFactureTable__th--large.u-hideSmall <b>Mode de paiement</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile.u-hideSmall <b>Détail</b>
            .icon.icon-chevron-bottom
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-textBold.u-hideSmall
            .icon.icon-chevron-bottom
            span 2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-textBold.u-hideSmall 
            .icon.icon-chevron-bottom
            span 2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall Facture du 09/09/2017
      a.c-mesFactureTable__voirPlus
        .icon.icon-close 
        span Voir plus de paiements

    else
      .c-mesFactureTable__mainError
        .c-mesFactureTable__iconError.icon.icon-pictos_paiement
        .c-mesFactureTable__paiementError Vous n'avez pas d'historique de paiements
        .c-mesFactureTable__descspan lorum epsum lorum epsum lorum epsum epsum. lorum epsum lorum epsum lorum lorum epsum epsum. 
        
mixin mesFactureTableFacture(data)
  - var data             = data || {}
  - var error            = data.error || false

  //.c-mesFactureTable
  .c-mesFactureTable&attributes(attributes)
    h2.c-mesFactureTable__title HISTORIQUE DE MES 
      b FACTURES
        if !error 
            | 12/01/2019
    
    if !error
      .c-mesFactureTable__table
        .c-mesFactureTable__head
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile.u-hideSmall <b>Année</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile <b>Date</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile.c-mesFactureTable__th--large <b>Montant TTC</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile.c-mesFactureTable__th--small <b>Etat</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile.u-hideSmall <b>Détail</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th4Mobile.c-mesFactureTable__th--small 
            b.u-hideMediumDown Téléchargement
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-textBold.u-hideSmall
            .icon.icon-chevron-bottom
            span 2018
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-textBold.u-hideSmall 
            .icon.icon-chevron-bottom
            span 2017
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--large 185€
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small Réglé
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.u-hideSmall
            a(href="#").c-mesFactureTable__linkDetails Voir le détail
          .c-mesFactureTable__td.c-mesFactureTable__td4Mobile.c-mesFactureTable__th--small
            a.icon.icon-telechargement-facture.u-fontSize-30
      a.c-mesFactureTable__voirPlus
        .icon.icon-close 
        span Voir plus de paiements
    
    else
      .c-mesFactureTable__mainError
        .c-mesFactureTable__iconError.icon.icon-pictos_facture
        .c-mesFactureTable__paiementError Vous n'avez pas d'historique de facture
        .c-mesFactureTable__descspan lorum epsum lorum epsum lorum epsum epsum. lorum epsum lorum epsum lorum lorum epsum epsum. 
        
mixin mesFactureTableProchainePaiement(data)
  - var data             = data || {}
  - var error            = data.error || false

  //.c-mesFactureTableProchainePaiement
  .c-mesFactureTable&attributes(attributes)
    h2.c-mesFactureTable__title MES PROCHAINS 
      b PAIEMENTS
    
    if !error

      .c-mesFactureTable__table
        .c-mesFactureTable__head
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile.u-hideSmall <b>Année</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Date</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Montant TTC</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th--large.u-hideSmall <b>Mode de paiement</b>
            .icon.icon-chevron-bottom
          .c-mesFactureTable__th.c-mesFactureTable__th3Mobile <b>Détail</b>
            .icon.icon-chevron-bottom
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.u-textBold.u-hideSmall
            .icon.icon-chevron-bottom
            span 2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2018
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2018
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-textBold.u-hideSmall 
            .icon.icon-chevron-bottom
            span 2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2017
        .c-mesFactureTable__tr
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.u-hideSmall 
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 22/11/2017
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile 185€
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile.c-mesFactureTable__th--large.u-hideSmall Paiement en ligne
          .c-mesFactureTable__td.c-mesFactureTable__td3Mobile Facture du 09/09/2017
      a.c-mesFactureTable__voirPlus
        .icon.icon-close 
        span Voir plus de paiements

    else
      .c-mesFactureTable__mainError
        .c-mesFactureTable__iconError.icon.icon.icon-pictos_paiement
        .c-mesFactureTable__paiementError Vous n'avez pas d'historique de paiements
        .c-mesFactureTable__descspan lorum epsum lorum epsum lorum epsum epsum. lorum epsum lorum epsum lorum lorum epsum epsum. 
    
