@charset "utf-8";

// ### les nouvelles regroupement des imports ######### //

/***
 * Utilities:
 */

 @import "../../../../common/src/assets/scss/kit";

// ### Fin les nouvelles regroupement des imports ######### //

.u-width-auto {
  width: auto !important; 
}

@media (min-width: 48em) {
  .l-wrapper--large {
    max-width: 1240px !important;
  }

  #siteContent .c-wysiwyg {
    max-width: 100% !important;
  }

  .c-column--60-40 > .c-column__col:nth-child(1) {
    width: 60%;
  }

  .c-column--60-40 > .c-column__col:nth-child(2) {
    width: 40%;
  }

  .c-column--60-40.c-column--spaced > .c-column__col:nth-child(1) {
    width: calc(60% - 20px / 2);
  }

  .c-column--60-40.c-column--spaced > .c-column__col:nth-child(2) {
    width: calc(40% - 20px / 2);
    padding-left: 20px;
  }
}

  .message-info { background: url("/etc/designs/bos4_suiviconso_tr/images/picto-info.png") no-repeat 15px 15px; background-color: #e7f4fb; color: #1092d5; font-size: 13px; line-height: normal; margin-bottom: 1px; padding: 18px 50px; }

  
  // IMPORT de COMMON
@import "../../../../common/src/assets/scss/variables";
@import "variables"; // variables propres à SuivieConso
@import "../../../../common/src/assets/scss/mixins";


// *** css temporaire à supprimer après le mep de CEL *** //

@import "../../../../common/src/components/btnWrapper/btnWrapper";
@import "../../../../common/src/components/spinner/spinner";
@import "../../../../common/src/components/image/image";
@import "../../../../common/src/components/formMat/formMat";

.c-alert {
  padding: 0px !important;
} 

.icon-alert-notification:before {
  content: ""; 
}

/**
 * alert-notification:
 * `.icon-alert-notification`
 *
 *     @example
 *     .icon.icon-alert-notification
 */

.icon {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; 
}
.icon:before {
  font-family: 'icons' !important;
  speak: none;
  display: inline; 
}
.icon-alert-notification:before {
  content: ""; 
}

// *** Fin css temporaire à supprimer après le mep de CEL *** //

/***
 * Components:
 */
@import "../../components/suiviconso";

// ### les nouvelles regroupement des imports ######### //

// IMPORT de COMMON
@import "variables"; // variables propres à SuivieConso
@import "../../../../common/src/assets/scss/reset";
@import "../../../../common/src/assets/scss/base";

/***
 * Iconfonts:
 */
@import "../../../../common/src/assets/scss/icons";

/***
 * Layout:
 */
@import "../../../../common/src/layout/global";

/***
* cel
*/
@import "../../../../cel/src/components/cel";

/***
 * Utilities:
 */
@import "../../../../common/src/utilities/global";

// DEBUG STYLES
@import "../../../../common/src/assets/scss/debug";

// ###### Fin les nouvelles regroupement des imports ######### //


// ####### CSS Spécifique pour les backends ######## //

/*
GRAPHE DE CONSOMMATION
*/

.span8 .graph { min-height: 495px; }

.contenair_chart { position: relative; width: auto; margin: 0 auto; min-height: 300px; }

@media screen and (max-width: 767px) { .contenair_chart { min-height: 300px; } }

.contenair_chart .layer { width: 430px;
  height: 200px;
  z-index: 99;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 4px 4px 15px 4px #CACACA20; }

.contenair_chart .layer .bg {
  max-width: 430px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=100;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  display: table;
  text-align: center;}
.contenair_chart .layer .bg div { display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #1452c4;
  font-size: 18px;
  padding: 15px 40px;
  text-align: left;
  font-weight: 700; }

@media (max-width: 430px) { .contenair_chart .layer { width: calc(100% - 80px); height: auto; max-height: 150px; }
  .contenair_chart .layer .bg { max-width: 100%; }
  .contenair_chart .layer .bg div { padding: 15px; font-size: 18px; } }

/* Déplacements du graphe */
.moveButtons#scMonoGazpar_moveLeft, .moveButtons#scMonoGazpar_moveRight { color: #00aaff; position: absolute; top: 50%; cursor: pointer; height: 43px; width: 16px; }

.moveButtons#scMonoGazpar_moveLeft { left: -16px; background-image: url(/etc/designs/bos4_suiviconso_tr/images/sc_chevron_bleu_gauche_new.png); background-position: center right; }

.moveButtons#scMonoGazpar_moveLeft.off { background: none !important }

.moveButtons#scMonoGazpar_moveRight { right: -16px; background-image: url(/etc/designs/bos4_suiviconso_tr/images/sc_chevron_bleu_droite_new.png); background-position: center left; }

.moveButtons#scMonoGazpar_moveRight.off { background: none !important }

@media (max-width: 767px) { .moveButtons#scMonoGazpar_moveLeft, .moveButtons#scMonoGazpar_moveRight { background-size: 12px; background-repeat: no-repeat; top: calc( 50% - 22px); z-index: 99; } }

.graph { position: relative; /* z-index: 999;*/ }

.graph .message-info { margin-top: 25px; }

/* Surchage highchart style */
.highcharts-container svg { overflow: visible; }

.highcharts-tooltip { z-index: 999; }

.page-conso #scMonoGazpar_moveLeft, .page-conso #scMonoGazpar_moveRight { color:#00aaff; position: absolute; top: calc( 50% - 22px ); cursor: pointer; height: 43px; width: 24px; z-index:10; } 
.page-conso #scMonoGazpar_moveLeft { left: -8px; background-image: url(/etc/designs/bos4_suiviconso_tr/images/sc_chevron_bleu_gauche_new.png); background-repeat: no-repeat}
.page-conso #scMonoGazpar_moveLeft.off { background: none !important }
.page-conso #scMonoGazpar_moveRight { right: -16px; background-image: url(/etc/designs/bos4_suiviconso_tr/images/sc_chevron_bleu_droite_new.png); background-repeat: no-repeat}
.page-conso #scMonoGazpar_moveRight.off { background: none !important }

.page-conso .contenair_chart .layer {  border: none; box-shadow: 4px 4px 15px 4px #CACACA20;  }

.page-conso .contenair_chart .layer .bg { background-color: white; }

/***
* PAGE RELEVE D'INDEX
**/
@media (min-width: 768px) and (max-width: 1023px) { .maxContainer { padding-left: 0; padding-right: 0; } }

.maxContainer .titre-hr hr { text-align: left; }

/* RESPONSIVE */
@media (max-width: 767px) { .titre-hr span { line-height: 1em; }
  .row-fluid.bloc-releve-compteur { padding: 0px 8px; width: 95%; }
  .row-fluid.bloc-releve-compteur .span6 { padding-top: 20px; }
  .mono-energie .box-content-EC { min-height: 140px; }
  .mono-energie .padding-5 { padding: 15px 0; }
  .releve-gaz-compt, .releve-elec-compt { padding-bottom: 10px; }
  .releve-mono-synthese .releve-margin { margin: inherit; }
  .compteur_linky { padding-bottom: 10px; } }

/*************************************************
* GDF SUEZ - Dolce Vita
* CSS Styles
*
* Style page : Module de suivi conso
*
*
*************************************************/
/* ===== Colors =====*/
/****************************/
/********** Layout **********/
/****************************/
.l-col_container { display: table; table-layout: fixed; width: 100%;}

.l-col_container--noMargin { margin: 0; }

.c-simuPanel a, .c-simuPanel button { outline: 0; }

/************************/
/**** Panel du graph ****/
/************************/
.c-simuPanel { background: #fff; color: #707070; }

.c-simuPanel__title { margin: 0; padding: 25px 5px 25px 20px; font-size: 1.1250em; font-weight: bold; display: inline-block; color: #585858; }

@media screen and (max-width: 767px) { .c-simuPanel__title { padding: 20px 40px; text-align: center; border-bottom:1px solid #f2eeea} }

.c-simuPanel__content { padding: 12px 20px 10px; }


.toggle { background: #d8226d; border-radius: 50%; height: 22px; left: 4px; position: absolute; top: 2px; transition: left .2s ease; width: 22px; z-index: 1; }

/**
* Navigation Graphique :
*/

/*.l-simulation_col_left {display:table-cell;vertical-align:top;background:#fff}*/
@media screen and (max-width:767px){.l-simulation_col_left {display:block}
}

svg#calendar { color: #00aaff; fill: #00aaff; }

#sc-monogazpar-container {
  position: relative;
}

/* Nouveau design*/

.c-btnGraph--ds {
  .c-btnGraph {
    width: 100%;
    padding-left: 30px;
    padding-top: 40px; 
  }
  
  .c-btnGraph__downTitre {
    font-weight: 700;
    font-size: 2.4rem;
    color: #000;
    -ms-flex-item-align: end;
        align-self: flex-end;
    line-height: 25px; 
  }
  
  .c-btnGraph__downTitre span {
    font-weight: 400;
  }
  
  .c-btnGraph__allComponent {
    display: block;
    width: 100%;
    min-height: 40px; 
  }
  
  .c-btnGraph__topTitre {
    font-weight: 700;
    font-size: 1.6rem;
    color: #00aaff;
    width: 100%;
    display: block;
    text-align: left;
    line-height: 10px; 
  }
  
  .c-btnGraph__allBtn {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 35px; }
  
  .c-btnGraph__separation {
    width: 1px;
    background: #858585;
    margin: 0 15px; }
  
  .c-btnGraph .tooltip {
    background-color: white;
    border: 1px #858585 solid;
    width: auto;
    z-index: 1;
  }
  
  .c-btnGraph .tooltip-inner {
    color: #333; }
  
  .c-btnGraph .tooltip .tooltip-arrow, .c-btnGraph .popper .popper__arrow {
    border-color: #858585;
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0; }
  
  .c-btnGraph__allTitle {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 8px; }
  
  .c-btnGraph__allBtn button.c-btnGraph__detail {
    background-color: #FFF;
    border: 0px solid #00aaff;
    outline: 0 !important;
    padding: 8px;
    text-align: center;
    margin: 0 2px;
    border-radius: 6px;
    width: 60px;
    font-size: 1.6rem; }

    .c-btnGraph__allBtn button.c-btnGraph__detail:hover {
      background-color: #F2F2F2;}
  
  .c-btnGraph__allBtn button.c-btnGraph__detail span {
    color: #333;
    font-weight: normal;
    font-size: 1.6rem; }
  
  .c-btnGraph__allBtn button.c-btnGraph__detail.c-btnGraph__active {
    background-color: #00aaff;
    width: 60px;
    padding-right: 8px;
    margin: 0; }
  
  .c-btnGraph__allBtn button.c-btnGraph__active span {
    color: #FFF;
    font-weight: bold;
  }
  
  .c-btnGraph--tooltipSurcharge .c-toolTip__icon {
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px #0059B3 solid;
    color: #0059B3;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin: 0 0 0 5px; }
  
  .c-btnGraph--tooltipSurcharge .c-toolTip__icon:hover {
    background-color: #0059B3 !important;
    color: white; }
}
//fin Hamza
.c-btnGraph {
  width: 100%;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 15px; }

.c-btnGraph__downTitre {
  font-weight: 700;
  font-size: 21px; 
  color: #000;
  align-self: flex-end;
  line-height: 35px;}

.c-btnGraph__downTitre span {
  font-weight: 400; }

.c-btnGraph__allComponent {
  display: block;
  width: 100%;
}

.c-btnGraph__topTitre {
  font-weight: 700;
  font-size: 1.6rem;
  color: #00aaff;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 10px; }

.c-btnGraph__allBtn {
  height: 35px;
  padding: 0;
  display: flex; }

.c-btnGraph__allBtn button.c-btnGraph__detail {
  background-color: #FFF;
  border: 0px solid $genBlue;
  outline: 0 !important;
  padding: 8px 0 8px 8px;
  text-align: center;
  margin: 0 2.5px;
  border-radius: 6px;
  width: auto;
  font-size: 1.2rem; }

.c-btnGraph__allBtn button.c-btnGraph__detail span {
  color: $black;
  font-weight: bold;
  font-size: 1.2rem; }

  .c-btnGraph__allBtn button.c-btnGraph__detail.c-btnGraph__active {
    background-color: $genBlue;
    width: 70px;
    padding-right: 8px;
    margin: 0;
}

.c-btnGraph__allBtn button.c-btnGraph__active span {
  color: #FFF; }

.c-btnGraph--tooltipSurcharge .c-toolTip__icon {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px #0059B3 solid;
  color: #0059B3;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin: 0 0 0 5px; }

.c-btnGraph--tooltipSurcharge .c-toolTip__icon:hover {
  background-color: #0059B3 !important;
  color: white; }

  .c-infobulleGraph h3, .c-infobulleGraphSaisieIndex h3 {
  color: black;
  font-size: 1.6rem;
  font-weight: 700; }

.c-infobulleGraph__sousTitre {
  color: black;
  font-size: 1.6rem;
  display: block; }

.c-infobulleGraph__periode {
  font-size: 1.1rem;
  display: block;
  font-weight: 700;
  color: #325678;
  opacity: 0.8;
  padding-top: 3px; }

.c-infobulleGraph__header {
  padding-bottom: 8px;
  padding-left: 22px;
  line-height: 18px; }

.c-infobulleGraph__header, .c-infobulleGraph__liste {
  display: block; }

.c-infobulleGraph__liste {
  text-align: left; }

.c-infobulleGraph__liste li {
  padding-bottom: 7px; }

.c-infobulleGraph__liste li .c-infobulleGraph--blue::before {
  content: "•";
  color: #325678;
  opacity: 0.2;
  font-size: 17.15px;
  padding-right: 1rem;
  vertical-align: middle; }

.c-infobulleGraph__liste li .c-infobulleGraph--blue {
  color: #325678;
  font-weight: 700;
  padding-left: 0;
  line-height:15px; }

.c-infobulleGraph__liste li span {
  display: block;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 22px; }

.c-infobulleGraph__liste li .c-infobulleGraph__label {
  display: block; }

.c-infobulleGraph__liste li .c-infobulleGraph__label span {
  display: initial; }

.c-infobulleGraph__liste li .c-infobulleGraph__label .c-infobulleGraph__smallLabel {
  color: #325678;
  font-weight: 400;
  padding-left: 0; }

@media (max-width: 48em) {
  .c-infobulleGraph {
    padding: 25px 25px 5px;}
  .c-infobulleGraph__liste li:last-child {
    padding-bottom: 0; } }
  
  
text tspan.highcharts-text-outline {
  stroke: #FFFFFF
}

div.highcharts-label.highcharts-tooltip.highcharts-color-undefined span{
  left: 5px !important;
}

@media (max-width: 858px) {
  .page-conso #scMonoGazpar_moveLeft, .page-conso #scMonoGazpar_moveRight { top: calc( 35% - 22px ); }
  .c-btnGraph__allBtn { margin : 20px 0; }
  .highcharts-root .traitLegende { display: none; }
  .c-btnGraph__downTitre { line-height: 25px; }
  .c-btnGraph__topTitre {line-height:20px;}
  .c-btnGraph__allComponent { display:block;}
}
// gazpar backend
.contenair_charte { position: relative; width: auto; margin: 0 auto; min-height: 300px; }

.contenair_charte .layer {     
	border: none;
    width: calc(100% - 40px);
    height: 250px;
    z-index: 99;
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 70px;
    background-color: white;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=100;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    box-shadow: 4px 4px 15px 4px #CACACA20;
    padding: 50px 0 0;}
  


.contenair_charte .layer .bg {
  max-width: 400px;;
  min-height: 200px;
  margin:auto;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;}

.contenair_charte .layer .bg div { display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #1452c4;
  font-size: 18px;
  padding: 0 40px;
  text-align: left;
  font-weight: 700; }
  
.contenair_charte .layer .bg.c-layerOpacity div {
  display: block;
  height: auto;
  text-align: center;
  padding-bottom: 0; }

.contenair_charte .c-layerOpacity {
  opacity: 0.8 !important;
  display: block; }

.contenair_charte .layer .bg.c-layerOpacity .c-layerBlue {
  color: #00a8ff;
  font-weight: 700; }

.contenair_charte .layer .bg.c-layerOpacity .c-layerBlack {
  color: #000000;
  font-weight: 300;}

.page-conso .contenair_charte .layer {  border: none; box-shadow: 4px 4px 15px 4px #CACACA20;  }

.scComparaisonGazpar_nonGazparData { height: 78px;}

/**
* Navigation Graphique :
*/

#sc-comparaisongazpar-container {
	position: relative;
}

.c-infobulleGraph__header_comparaison {
  padding-bottom: 0px;
  padding-left: 22px;
  line-height: 18px; }

.c-infobulleGraph__header, .c-infobulleGraph__liste_comparaison {
  display: block; }

.c-infobulleGraph__liste_comparaison {
  text-align: left; }

.c-infobulleGraph__liste_comparaison li {
  padding-bottom: 7px; }

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph--blue::before, .c-infobulleGraph__liste_comparaison li .c-infobulleGraph__bulle::before {
    content: "•";
    color: #325678;
    opacity: 0.2;
    font-size: 17.15px;
    padding-right: 1rem;
    vertical-align: middle;
}

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph--blue {
  color: #325678;
  font-weight: 700;
  padding-left: 0;
  line-height:15px; }

.c-infobulleGraph__liste_comparaison li span {
  display: block;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 3px; }

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph__label {
  display: block; }

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph__label span {
  display: initial; }

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph__label .c-infobulleGraph__smallLabel {
  color: #325678;
  font-weight: 400;
  padding-left: 0; }



/**
* Navigation Graphique :
*/

.c-btnGraphComparaison {
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom:10px; }

.c-btnGraphComparaison__downTitre {
  font-weight: 700;
  font-size: 1.8rem;
  color: #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 21px;
  display: block; }

.c-btnGraphComparaison__alltitre {
  padding-top: 10px; }

.c-btnGraphComparaison__downTitreNormal {
  font-weight: 400;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
      font-size:1.8rem; }

.c-btnGraphComparaison__allComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px; }

.c-btnGraphComparaison__topTitre {
  font-weight: 700;
  font-size: 1.4rem;
  color: #ff7423;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 10px;
  margin-bottom: 5px
}

.c-btnGraphComparaison__allBtn {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    -ms-flex-item-align: end;
    align-self: flex-end }

.c-btnGraphComparaison__allBtn button.c-btnGraphComparaison__detail {
    background-color: #FFF;
    border: 1px solid #325678;
    outline: 0 !important;
    padding: 8px;
    text-align: center;
    margin: 0 2.5px;
    border-radius: 30px;
    width: 70px;
    font-size: 1.2rem; }

.c-btnGraphComparaison__allBtn button.c-btnGraphComparaison__detail span {
  color: #325678;
  font-weight: bold;
  font-size: 1.2rem; }

.c-btnGraphComparaison__allBtn button.c-btnGraphComparaison__active {
  background-color: #325678; }

.c-btnGraphComparaison__allBtn button.c-btnGraphComparaison__active span {
  color: #FFF; }

.c-btnGraphComparaison--tooltipSurcharge .c-toolTip__icon {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px #0059B3 solid;
  color: #0059B3;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin: 0 0 0 5px; }
  
.c-infobulleGraph__percent {
    font-size: 2.0rem;
    color: #325678;
    padding: 20px 0;
    display: inline-block;
}
.c-infobulleGraph__liste_comparaison li .c-infobulleGraph__kwh {
    padding-left: 26px;
}

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph--green {
    color: #4bd9a8;
    font-weight: bold;
}

.c-infobulleGraph__liste_comparaison li .c-infobulleGraph--blueGen {
    color: #00a8ff;
    font-weight: bold;
}

#scComparaisonGazpar_idDivGazpar .highcharts-container {
	height : 350px !important;
}

@media (max-width: 858px) {
  .c-btnGraphComparaison__allBtn { margin : 20px 0; }
  .highcharts-root .traitLegende { display: none; }
	.c-btnGraph__downTitre { line-height: 25px; }
	.c-btnGraph__topTitre {line-height:20px;}
}

@media screen and (max-width: 767px) {
	.contenair_charte { min-height: 300px; } 
	.c-btnGraphComparaison__allComponent {display:block;} 
	.contenair_charte .layer { width: calc(100% - 40px);padding: 15px; padding: 50px 0;height:200px;bottom:120px;}
	.contenair_charte .layer .bg div { font-size: 17px; } 
}
  
@media (max-width: 48em) {
  .c-infobulleGraph { padding: 25px 25px 5px;}
  .c-infobulleGraph__liste_comparaison li:last-child { padding-bottom: 0; } 
}
    
@media (max-width: 430px) { 
  .contenair_charte .layer { width: calc(100% - 40px);padding: 10px 0;bottom : 135px; }
  .contenair_charte .layer .bg { max-width: 100%; }
  .contenair_charte .layer .bg div { padding: 15px; font-size: 13px; }
}

@media (max-width: 1140px) { 
	.c-historiqueConsoGraph {
		position: relative;
		width: 100%;
		top: 60px;
	}
	
	.c-historiqueConsoGraph__text {
		width:145px;
	}
	.highcharts-subtitle {
		left:30% !important;
	}
}
 
@media (max-width: 494px) { 
	.highcharts-subtitle {
    left: initial !important;
  }
}

.texteMireAttenteGraphe{
	top: 70%;
	position: absolute;
	margin-left: -130px;
}

.texteMireAttenteGrapheA_1 {
	top: 70%;
	position: absolute;
	margin-left: -40px;
}

#tooltip_donnee_jour {
  @media screen and (max-width : 1024px) and (min-width: 767px){
    transform: translate3d(56px, 120px , 0px) !important; 
  }
  @media screen and (max-width : 767px) {
    transform: translate3d(56px, 140px , 0px) !important;
  }
}

.c-headerCel--gradientStyle {
  height: auto !important; // a suprimer net sprint
}
// ####### END CSS Spécifique pour les backends ######## //


.l-sectionGrapheA-1 .c-btnGraphComparaison {
  max-width: 870px;
}

.l-sectionGrapheA-1__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid #D0D0D0;
  border-radius: 24px;
  @media #{$small} {
    border: 0;
    border-radius: 0px;
    flex-direction: column;
  }
  overflow: hidden;

  .l-sectionGrapheA-1__left {
    width: 100%;
    max-width: 885px;
    max-height: 350px;
  @media #{$small} {
    max-height: 550px;
    margin-bottom: 25px;
    }
  }
  .l-sectionGrapheA-1__right {
    display: flex;
    align-items: center;
    width: 40%;
    max-width:315px ;
  @media #{$small} {
    width: 100%;
    max-width:100% ;
    line-height: 2.5rem;
  }
  }
}

.l-sectionGrapheA-1--visuel {
  padding-left: 30px;
}