@import "../itemEcoGest/itemEcoGest";

/* the slides */
.c-carouselEcoGest .slick-slide {
  margin: 0 10px;
}
/* the parent */
.c-carouselEcoGest .slick-list {
  margin: 0 -10px;
}

.c-carouselEcoGest {
  padding: 30px 0;
  background: #f4f4f4;
  position: relative;
}

.c-carouselEcoGest .c-carouselNav--arrowDots {
  display: block;
}

.c-carouselEcoGest .c-carouselNav--arrowDots .c-carouselNav__wrapper {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%
}

.c-carouselEcoGest .slick-prev {
  left: 20px;
}

.c-carouselEcoGest .slick-next {
  right: 20px;
}

.c-carouselEcoGest .slick-prev .icon:before, .c-carouselEcoGest .slick-next .icon:before {
  font-size: 4rem;
}

.c-carouselEcoGest .c-carouselNav--arrowDots .slick-prev button, .c-carouselEcoGest .c-carouselNav--arrowDots .slick-next button {
  color: #a1a1a1;
}


@media screen and (min-width:1400px) {
  .c-carouselEcoGes__slideContainer{
    position: relative;
    width: 1400px;
    margin: auto;
  }
}

@media screen and (max-width:1400px) {
  .c-carouselEcoGes__slideContainer {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width:1330px) {

  .c-carouselEcoGest .c-carouselNav--arrowDots .c-carouselNav__wrapper {
    display: inline-block;
    position: relative;
    top: 10px;
    width: auto;
  }

  .c-carouselEcoGest .c-carouselNav--arrowDots {
    padding: 20px 0;
  }

  .c-carouselEcoGest .slick-prev {
    left: -50px;
  }

  .c-carouselEcoGest .slick-next {
    right: -50px;
  }
}

@include media ("<=medium") {
  .c-carouselEcoGest .c-carouselNav--arrowDots {
    padding: 0;
  }
}