include bubbleSelect
include ../formMat/inputMat/inputMat

.c-wysiwyg
  h2 bubbleSelect

+demo()
  +bubbleSelect()
    +bubbleSelectElem({
      text: 'Je suis client Gaz Tarif Réglementé',
      inputID: 'client',
      radioName: 'tobeornottobe',
      picto: 'icon-client-yes',
      value2: "Ma Marque"
    })

    +bubbleSelectElem({
      text: 'Je ne suis pas encore client Gaz Tarif Réglementé',
      inputID: 'notclient',
      radioName: 'tobeornottobe',
      picto: 'icon-client-no'
    })

.c-wysiwyg
  h2 Avec Titre, texte d'intro et bloc d'infos :

+demo({
  desc: `
    - Ne fonctionne que avec deux choix, une évo sera nécessaire pour gérer trois choix<br/>
    - Ajouter la classe <code>c-bubbleSelectElem--withInfo</code> au composant <code>c-bubbleSelectElem</code> qui est suivi d'un bloc d'informations
  `
})
  +bubbleSelect({
    title: 'Contactez nos conseillers par email',
    intro: 'Nous vous répondrons sous 48 heures ouvrées'
  }).u-padding-spacer
    +bubbleSelectElem({
      text: 'Je suis client Gaz Tarif Réglementé',
      inputID: 'client2',
      radioName: 'tobeornottobe2',
      picto: 'icon-client-yes',
      checked: true,
      info: true
    })

    +bubbleSelect__elemLabel
      p Si vous êtes client Gaz Tarif Réglementé, nous avons besoin de votre reference client&nbsp;!
      .l-wrapper--small.u-margin-t-10.u-margin-small-t-10
        +inputMat({
          label: 'Référence client',
          type: "text",
          id: "clientRef",
          name: "clientRef",
          placeholder: 'Ex: 000 000 000',
          dataValidation: true,
          toolTip: 'modal'
        })

    +bubbleSelectElem({
      text: 'Je ne suis pas encore client Gaz Tarif Réglementé',
      inputID: 'notclient2',
      radioName: 'tobeornottobe2',
      picto: 'icon-client-no'
    })
