.c-mesFactureFaq {
  padding: 40px;
  background-color: $white;
  height: 360px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.c-mesFactureFaq__title {
  font-size: 2.4rem;
  padding-bottom: 30px;
  width: 100%;
  text-align: left;
}

.c-mesFactureFaq__label {
  display: block;
}

.c-mesFactureFaq__bulle {
  text-decoration: none;
  color: $blue;
  background: $white;
  border-radius: 40px;
  padding: 15px 25px;
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.c-mesFactureFaq__bulle span.icon {
  padding-left: 50px;
  font-size: 2rem;
}

.c-mesFactureFaq__txt {
  font-size: 1.5rem;
}

@include media ("<=small") {
  .c-mesFactureFaq {
    height: auto;
  }
}