mixin mesFactureFaq(data)
  - var data            = data || {}
  - var titre           = data.titre || "FAQ"
  - var icon           = data.icon || false
  - var color           = data.color || "white"
  - var values =        data.values || []
  - var img             = data.img  || "faqbulle.jpg"


  //.c-mesFactureFaq
  .c-mesFactureFaq(style="background-image:url(../images/contrib/"+ img +");").u-margin-b-20
    h2.c-mesFactureFaq__title(class="u-color-"+color)!=titre

    each val in values
      .c-mesFactureFaq__label
        a(href="#").c-mesFactureFaq__bulle
          span.c-mesFactureFaq__txt!=val
          if icon
            span.icon.icon-telechargement-facture