mixin saisieIndex(data)
  - var data = data  ||  {}

  //.c-saisieIndex
  .c-saisieIndex
    span.c-saisieIndex__icon
    .c-saisieIndex__text
      b J’enrichie ma courbe chaque mois
      span en ajoutant le chiffre de ma conso.
    .c-saisieIndex__form
      +formMat()(
						action="/"
						novalidate
						method="POST"
						data-e-form-validation='{"switchBtnState": true}'
				)

        +inputMat({
            type: "text",
            id: "c-saisieIndexDate",
            name: "c-saisieIndexDate",
            disabled : true,
            label: 'Choisissez la date du jour'
        })

        +inputMat({
            type: "text",
            id: "c-saisieIndex",
            name: "c-saisieIndex",
            pattern: '^[0-9]*$',
            textRight: "m³",
            maxlength: 5,
            label: 'Saisissez votre index',
            required: true,
            dataValidation: {
            typing : true,
            validations: {
              patternMismatch: "Vous devez saisir une suite de 5 chiffres",
              valueMissing: 'champs obligatoire'
            }
            }
        })
        +btnWrap
          +btn({
            text: "J'ajoute",
            button: true,
            hasLoader: true,
            submit: true
          })(
            data-e-form-validation-submit
          ).c-btn--white.c-saisieIndex--genBlue
        
      +fieldInfo({
        typeMessage: 'error',
        backgroundColor:"u-bg-white"
      }).c-fieldInfo--margin-0.u-hide
        p Service indisponible !

      +fieldInfo({
        typeMessage: 'success',
        backgroundColor:"u-bg-white"
      }).c-saisieIndex--ajustement
        p Success !
