.c-saisieIndex {
  border-radius: 20px;
  background-image: linear-gradient(26deg, #00d3ff, #00a8ff);
  padding: 20px 30px 0;
  height: 463px;
}

.c-saisieIndex__icon {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.71);
  display: block;
  margin: 0 auto 5px;
  border-radius: 50%;
}

.c-saisieIndex__text {
  color: $white;
  font-size: 1.9rem;
}

.c-saisieIndex--genBlue {
  color: $genBlue !important;
  font-weight: bold;
  font-size: 1.8rem;
}

.c-saisieIndex__form .u-padding-spacer {
  padding-top: 0;
  padding-bottom: 0;
}

.c-saisieIndex__form .c-inputMat__label {
  color: $white;
  font-size: 1.4rem;
}

.c-saisieIndex__form .c-inputMat__label {
  top: -30px;
}

.c-saisieIndex__form .c-inputMat__field:focus ~ .c-inputMat__label {
  color: white;
}

.c-saisieIndex__form  .c-inputMat__field:focus ~ .c-inputMat__inputLine {
  background-color: black !important;
}

.c-saisieIndex__form .c-inputMat__field {
  border-bottom: 1px black solid;
  color: black;
  font-size: 1.4rem;
}

.c-saisieIndex__form .c-btn {
  margin: 0;
  width: 100%;
}

.c-saisieIndex__form .c-inputMat {
  padding-top: 45px;
}

.c-saisieIndex__form .c-btnWrap {
  top: 20px;
}

.c-saisieIndex__form .c-inputMat__rightBlock {
  left: 70px;
  font-weight: bold;
}

.c-saisieIndex__form .is-disabled .c-inputMat__label {
  color: white;
}

.c-saisieIndex__form .c-fieldInfo.is-error, .c-saisieIndex__form .c-saisieIndex--ajustement {
  position: relative;
  top: 30px;
  margin: 0;
}

.c-saisieIndex .c-fieldInfo {
  padding: 10px;
}

@include media (">small", "<=medium") {
  .c-saisieIndex {
    height: 501px;
  }

  .c-saisieIndex__form .c-btnWrap {
    top: 40px;
  }

  .c-saisieIndex__form .c-fieldInfo.is-error, .c-saisieIndex__form .c-saisieIndex--ajustement {
    top: 60px;
  }
}

@include media ("<=small") {
  .c-saisieIndex {
    height: 534px;
  }

  .c-saisieIndex__form .c-btnWrap {
    top: 60px;
  }

  .c-saisieIndex__form .c-inputMat {
    padding-top: 70px;
  }

  .c-saisieIndex__form .c-fieldInfo.is-error, .c-saisieIndex__form .c-saisieIndex--ajustement {
    top: 80px;
  }
}