.c-reviewFeedBack__userReview,
.c-reviewFeedBack__userMessage {
  padding: 20px 15px;
}

.c-reviewFeedBack__userMessage {
  position: relative;
  display: none;

  &.is-message-open {
    display: block;
  }
}

@include media('>=small') {
  .c-reviewFeedBack__userReview,
  .c-reviewFeedBack__userMessage {
    padding: 25px 30px;
  }
}