include reviewFeedBack

.c-wysiwyg
  h2 reviewFeedBack

+demo({
  desc: "reviewFeedBack"
})
  +reviewFeedBack({
    settings: {
      voteYesMessage: "<strong>Merci pour votre vote, avez vous des suggestions d'amélioration ?</strong>",
      voteNoMessage: "<strong>Merci pour votre vote, dîtes-nous pourquoi cette réponse n'est pas utile ?</strong> (facultatif)"
    }
  })


.c-wysiwyg
  h2 Message de succès ou d'erreur

+demo({
  desc: "Pour démo : message de succès ou d'erreur contenu dans <code>c-reviewFeedBack__userReview</code> à la place du contenu précédent"
})
  +reviewFeedBack({
    demoMessages: true
  })