include ../pictoBlock/pictoBlock
include ../userReview/userReview
include ../formMat/formMat

mixin reviewFeedBack(data)
  - var data         = data || {}
  - var settings     = data.settings || false
  - var demoMessages = data.demoMessages || false

  // .c-reviewFeedBack
  .c-reviewFeedBack(data-e-review-feedback=settings)&attributes(attributes)
    .c-reviewFeedBack__userReview.u-bg-grey-light
      if demoMessages
        .l-wrapper--medium
          +pictoBlock({
            iconName: 'icon-thin_check',
            iconClasses: 'u-color-success u-fontSize-huge'
          })
            p.u-color-success Merci pour votre message, votre avis compte pour nous et permettra d'améliorer nos réponses.

        .l-wrapper--medium
          +pictoBlock({
            iconName: 'icon-close',
            iconClasses: 'u-color-error u-fontSize-large'
          })
            p.u-color-error Un problème technique empêche l'envoi de votre message, merci de réessayer ultérieurement.
      else
        +userReview().u-theme-genBlue
          p Est-ce que cette information vous a été utile ?

    .c-reviewFeedBack__userMessage.u-bg-grey-medium
      p.c-reviewFeedBack__userRewarding.u-fontSize-medium

      +formMat()(
        data-e-form-validation='{"switchBtnState": false}'
      ).c-formMat
        +textareaMat({
          label:          'Commentaire',
          id:             'userComment',
          name:           'userComment',
          dataValidation: {
            validations: {
              valueMissing: "Veuillez remplir le commentaire avant de valider, merci."
            }
          },
          required:       true,
          maxlength:      480
        })

        +btnWrapper().u-theme-genBlue
          +baseBtn({
            text: 'Envoyer',
            button: true
          })(type="submit" data-e-form-validation-submit)
  // end .c-reviewFeedBack