include quickAccess2

.c-wysiwyg
  h2 Accès rapide V2

+demo({
  desc: `
  texte en grand: <code>c-quickAccess2__titleBig</code>
  `
})
  +quickAccess2({
    textBig: true
  })

+demo()
  +quickAccess2()
