include ../contactElement/contactElement

mixin stickyContact(data)
  - var data        = data || {}
  - var link        = data.link || false
  - var opened      = data.opened || false
  - var unavailable = data.unavailable || false

  // .c-stickyContact
  .c-stickyContact(data-e-sticky)
    .c-stickyContact__container
      if (link)
        +contactElement({
          isSticky: true,
          targetSticky: "phoneStickyContact",
          unavailable: unavailable,
          opened: opened
        })
          +contactElement__text({
            title: "Appelez un conseiller",
            subTitle: "du lundi au vendredi de 9h à 20h et le samedi de 9h à 13h",
            legend: "(Appel non surtaxé)",
            link: true
          })

      else
        +contactElement--noLink({
          isSticky: true,
          targetSticky: "phoneStickyContactNoLink",
          unavailable: unavailable
        })
          +contactElement__text({
            title: "Appelez un conseiller",
            subTitle: "du lundi au vendredi de 9h à 20h et le samedi de 9h à 13h",
            legend: "(Appel non surtaxé)"
          })
            +contactElement__phone()
  // end .c-stickyContact
