mixin codePromo(data)
  - var data = data || {}
  - var valid = data.valid || false
  - var id = data.id || 'codePromo'

  // c-codePromo
  .c-codePromo.u-padding-v-20.u-padding-h-30.u-bg-grey-light
    .c-codePromo__form
      +inputMat({
        id: id,
        type: 'text',
        check: valid,
        label: "J’ai un code promo (optionnel)",
        float: true
      })(
        data-e-float-label
        class=valid?'is-success':''
      ).c-inputMat--float.c-codePromo__input

      +btnWrapper.u-theme-jadeGreen.u-margin-small-l-15.u-margin-l-15
        +baseBtn({
          button: true,
          text: "Vérifier",
          secondary: true,
          hasLoader: true
        }).c-baseBtn--large.u-theme-color

    if valid
      .c-codePromo__output
        p Le code offre ASSUR est appliqué
  // end c-codePromo
