.c-mesFactureHeaderPaiement { 
  background: $white; 
  padding: 40px;
  padding-bottom: 25px;
  height: 300px;
  position: relative;
}

.c-mesFactureHeaderPaiement__title {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.c-mesFactureHeaderPaiement__titleBold {
  font-weight: bold;
}

.c-mesFactureHeaderPaiement__date {
  font-size: 1.6rem;
}

.c-mesFactureHeaderPaiement__ttc {
  font-size: 6rem;
  color: $orange-baaast;

  @media screen and (min-width : 1023px) and (max-width: 1100px) {
    font-size: 5rem;
  }

}

.c-mesFactureHeaderPaiement__ttc .c-modal__overlay {
  color: $black;
  font-size: 1.6rem;
}

.c-mesFactureHeaderPaiement__ttc sup {
  font-size: 0.5em;
}

.c-mesFactureHeaderPaiement__label {
  font-size: 1.1rem;
}

.c-mesFactureHeaderPaiement .c-btn__content {
  font-size: 1.6rem;
}

.c-mesFactureHeaderPaiement .c-btn {
  padding: 15px 25px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.c-mesFactureHeaderPaiement__icon.icon-cadenas-ferme:before {
  margin-right: 6px;
}

.c-mesFactureHeaderPaiement__icon {
  font-size: 1.3rem;
}

.c-mesFactureHeaderPaiementBtn {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 80px);

  .c-btn.c-btn.c-btn--noWidth {
    min-width: 0;
    margin: 0 0 16px 0;
  }
}

.c-mesFactureHeaderPaiement__iconError {
  font-size: 8em;
  color: $grey;
  display: flex;
  margin: 24px 0;
  justify-content: center;
  line-height: 8rem;
}

.c-mesFactureHeaderPaiement__solde {
  font-size: 2rem;
  color: $grey;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 2rem;
}

.c-mesFactureHeaderPaiement__descspan {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

@include media ("<medium", ">small") {
  .c-mesFactureHeaderPaiement__ttc {
    font-size: 3.5rem;
    margin-top: 20px;
  }
}

@media screen and (max-width: 940px) and (min-width: 769px) {
  .c-mesFactureHeaderPaiement__solde {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .c-mesFactureHeaderPaiement__descspan {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .c-mesFactureHeaderPaiementBtn {
    width: 90%;
  }
}

@include media ("<=small") {
  .c-mesFactureHeaderPaiement__ttc .c-toolTip.c-toolTip--info {
    position: relative;
    top: -4px;
  }
}