mixin mesFactureHeaderPaiement(data)
  - var data            = data || {}
  - var error          = data.error || false

  //.c-mesFactureHeaderPaiement
  .c-mesFactureHeaderPaiement
    .c-mesFactureHeaderPaiement__title
      span.c-mesFactureHeaderPaiement__titleBold.c-mesFactureHeaderPaiement__titleNormal Mon solde <sup> (1) </sup>
    if !error 
      .c-mesFactureHeaderPaiement__date à régler depuis le 12/12/2018
      .c-mesFactureHeaderPaiement__ttc 195€ 
        sup TTC
          +toolTip({
            target:  "#",
            info: true
          })(data-e-modal-open='monSolde')
          +modal({
            target: '{"target": "monSolde"}'
          }).u-padding-a-40
            .u-margin-b-40 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut amet perspiciatis animi sit aliquam exercitationem ad culpa 
      .c-mesFactureHeaderPaiementBtn
        +btnWrap.c-btnWrap--alignLeft
          +btn({
            text: "Je paie en ligne"
          }).c-btn--orangeBaaast.c-btn--noWidth

        .c-mesFactureHeaderPaiement__icon.u-textLeft.u-color-grey.icon.icon-cadenas-ferme Paiement sécurisé
    else
      .c-mesFactureHeaderPaiement__iconError.icon.icon-pictos_solde
      .c-mesFactureHeaderPaiement__solde solde indisponible
      .c-mesFactureHeaderPaiement__descspan lorum epsum lorum epsum lorum epsum epsum. 