.c-toolTipV2 {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: $grey;
  cursor: help;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  @include hover-focus-active(){
    text-decoration: underline;
  }

  &.c-toolTipV2--valignMid {
    vertical-align: middle;
  }

  .c-toolTipV2__icon.icon.icon-picto-info-ds {
    font-size: 2.4rem;
    border: 0;
    color: #009DE9;
  }
}

.c-toolTipV2--icon {
  font-size: 2.5rem;
  color: $genBlue;
}

button.c-toolTipV2 {
  @extend %reset-style-button;

  outline: 0;
}

.c-toolTipV2__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  transition: all .2s linear;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #1452c4;
  border: 1px #1452c4 solid;

  .c-toolTipV2__label + & {
    vertical-align: middle;
    margin-left: 4px;
  }

  .c-toolTipV2--info & {
    font-family: sans-serif;
  }
}

// .c-toolTipV2__icon:hover {
//   color: $white;
//   background-color: #1452c4;
// }

.c-toolTipV2__label {
  vertical-align: middle;
  font-size: $font-14;
}
.c-toolTipV2--alignTop button.c-toolTipV2{
  margin-top: -75px;
}