mixin formContactSelect(data)
  - var data = data || {}

  // .c-formContactSelect
  fieldset.c-formContactSelect.l-wrapper--medium.u-padding-spacer(
    data-e-formcontact-select
    disabled
    hidden
  )
    h3.u-heading-3.u-textCenter Votre demande concerne

    script.
     E.formContact={defaultLabel:"Choisir dans la liste",toShow:{user1:["08","09","11"],user2:["08","09","10","10-b","11"],user3:["04","08","09","11"],user4:["05","08","11"],user5:["08","10","10-a","11"],user6:["03","06","08","11"],user7:["03","08","11"],user10:["04","05","08","09","11"],allUsers:["03","04","05","06","07","08","09","10","10-a","10-b","11"]},selectClient:[{value:"mon-contrat-gaz-tarif-reglemente",label:"Mon contrat Gaz Tarif Réglementé",subLevel:[{value:"souscrire-ou-resilier-un-contrat",label:"Souscrire ou résilier un contrat",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Souscrire contrat énergie",subject:"Souscrire ou résilier un contrat"},{value:"avancement-de-ma-souscription",label:"Avancement de ma souscription",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Modifier contrat énergie",subject:"Suivre l'avancement de ma souscription"},{value:"modifier-mon-contrat",label:"Modifier mon contrat",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Résilier contrat énergie",subject:"Modifier mon contrat d'énergie"},{value:"modifier-mes-coordonnees-personnelles",label:"Modifier mes coordonnées personnelles",bypassForm:"Vous pouvez modifier directement vos coordonnées dans votre Espace Client depuis la rubrique <strong>«&nbsp;Mon Profil > votre contrat > vos coordonnées&nbsp;»</strong>",toShow:"user7",theme:"1_SERVICE_CLIENT",type:"Modifier données personnelles",subject:"Modifier mes  coordoonées personnelles"},{value:"modifier-mes-donnees-bancaires",label:"Modifier mes données bancaires",bypassForm:"Vous pouvez modifier directement dans votre Espace Client depuis la rubrique <strong>«&nbsp;Mon Profil > Votre mode de paiement > Changer votre mode de paiement&nbsp;»</strong>",toShow:"user6",theme:"1_SERVICE_CLIENT",type:"Modifier données bancaires",subject:"Modifier mes données bancaires"},{value:"souscrire-ou-résilier-un-service",label:"Souscrire ou résilier un service",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Souscrire ou résilier service",subject:"Modifier mes données personnelles "},{value:"sinformer-sur-la-resiliation-de-mon-contrat",label:"S'informer sur la résiliation de mon contrat",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Contrat",subject:"S'informer sur la résiliation d'un contrat"},{value:"faire-une-reclamation-sur-mon-contrat",label:"Faire une réclamation sur mon contrat",toShow:"user3",theme:"6_INSATISFACTION",type:"Contrat",subject:"Faire une réclamation sur mon contrat"},{value:"autre",label:"Autre",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Autre",subject:"Mon contrat - Autre"}]},{value:"releve-facture",label:"Relevé & Facture",subLevel:[{value:"saisir-mon-releve-compteur",label:"Saisir mon relevé de compteur",toShow:"user4",theme:"1_SERVICE_CLIENT",type:"Relevé compteur",subject:"Saisir mon relevé de compteur"},{value:"contester-un-releve-de-compteur",label:"Contester un relevé de compteur",toShow:"user10",theme:"3_CONTESTATION",type:"Relevé compteur",subject:"Contester un relevé de compteur"},{value:"contester-ma-facture",label:"Contester ma facture",toShow:"user3",theme:"3_CONTESTATION",type:"Facture",subject:"Contester ma facture"},{value:"je-n-ai-pas-reçu-ma-facture",label:"Je n'ai pas reçu ma facture",toShow:"user3",theme:"3_CONTESTATION",type:"Facture",subject:"Je n'ai pas reçu ma facture"},{value:"le-service-de-facture-en-ligne",label:"Le service de Facture en ligne",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Souscrire facture en ligne",subject:"S'informer sur la facture en Ligne"},{value:"le-service-assurance-facture",label:"Le service Assurance Facture",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Souscrire assurance facture",subject:"S'informer sur l'assurance facture"},{value:"autre",label:"Autre",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Autre",subject:"Relevé & facture - Autre"}]},{value:"paiement-remboursement",label:"Paiement & remboursement",subLevel:[{value:"les-modes-de-paiement",label:"Les modes de paiement",toShow:"user5",theme:"1_SERVICE_CLIENT",type:"Mode de paiement",subject:"S'informer sur les différents modes de paiement"},{value:"me-mensualiser",label:"Me mensualiser",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Mensualisation",subject:"Demande de mensualisation"},{value:"mon-reglement-n-a-pas-ete-pris-en-compte",label:"Mon règlement n'a pas été pris en compte",toShow:"user5",theme:"6_INSATISFACTION",type:"Règlement non pris en compte",subject:"Mon règlement n'a pas été pris en compte"},{value:"payer-ma-facture",label:"Payer ma facture",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Payer facture",subject:"Paiement de ma facture"},{value:"beneficier-du-prelevement-automatique",label:"Bénéficier du prélèvement automatique",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Prélévement automatique",subject:"Bénéficier du prélèvement automatique"},{value:"modifier-mes-mensualites",label:"Modifier mes mensualités",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Mensualisation",subject:"Modifier mes mensualités"},{value:"j-attends-mon-remboursement",label:"J'attends mon remboursement",toShow:"user3",theme:"6_INSATISFACTION",type:"Remboursement non reçu",subject:"Attente d'un remboursement"},{value:"payer-avec-un-cheque-energie",label:"Payer avec un chèque énergie",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Mode de paiement",subject:"S'informer sur les chèques énergie"},{value:"s-informer-sur-le-délai-de-paiement",label:"S'informer sur le délai de paiement",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Délai de paiement",subject:"S'informer sur les délais de paiement"},{value:"autre",label:"Autre",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Autre",subject:"Paiement & Remboursement - Autre"}]},{value:"intervention-depannage",label:"Intervention & Dépannage",subLevel:[{value:"sinformer-sur-une-intervention-programmee",label:"S'informer sur une intervention programmée",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Intervention programmée",subject:"S'informer sur une intervention programmée"},{value:"la-porte-de-coffret-de-mon-compteur-est-cassee",label:"La porte de coffret de mon compteur est cassée (ou sa serrure)",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Intervention",subject:"La porte de coffret de mon compteur est cassée (ou sa serrure)"},{value:"maintenir-et-entrenir-ma-chaudiere",label:"Maintenir et entrenir ma chaudière",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Entretient chaudière",subject:"Maintenir et entretenir ma chaudière"},{value:"je-n-ai-plus-de-gaz ",label:"Je n'ai plus de gaz",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Absence d'énergie",subject:"Je n'ai plus de gaz"},{value:"j-ai-une-reclamation-relative-a-une-intervention",label:"J'ai une réclamation relative à une intervention",toShow:"user3",theme:"6_INSATISFACTION",type:"Intervention",subject:"J'ai une réclamation sur une intervention"},{value:"autre",label:"Autre",toShow:"user1",theme:"1_SERVICE_CLIENT",type:"Autre",subject:"Intervention & dépannage"}]},{value:"decouvrir-nos-services",label:"Découvrir nos services",subLevel:[{value:"services-en-ligne-et-options",label:"Services en ligne et options",toShow:"user1",theme:"2_RENSEIGNEMENTS_COMMERCIAUX",type:"Service en ligne",subject:"Nos services en lignes"},{value:"autre",label:"Autre",toShow:"user1",theme:"2_RENSEIGNEMENTS_COMMERCIAUX",type:"Autre",subject:"Découvrir nos services - Autre"}]},{value:"site-Internet-et-espace-client",label:"Site Internet & Espace client",subLevel:[{value:"difficultes-pour-me-connecter",label:"Difficultés pour me connecter",toShow:"user2",theme:"4_WEBMASTER",type:"Impossibilité de se connecter",subject:"J'ai des difficultés pour me connecter"},{value:"difficultes-pour-creer-mon-espace-client",label:"Difficultés pour créer mon espace Client",toShow:"user2",theme:"4_WEBMASTER",type:"Difficulté pour créer mon Espace Client",subject:"j'ai des difficultés pour créer mon Espace Client"},{value:"difficultes-pour-voir-ou-imprimer-des-documents",label:"Difficultés pour voir ou imprimer des documents",toShow:"user2",theme:"4_WEBMASTER",type:"impossible d'accés aux  documents",subject:"J'ai des difficultés pour voir ou imprimer mes documents"},{value:"problemes-daffichage-ou-de-navigation",label:"Problèmes d'affichage ou de navigation",toShow:"user2",theme:"4_WEBMASTER",type:"Problème de naviguation",subject:"J'ai des problèmes d'affichage ou de navigation"},{value:"autre",label:"Autre",toShow:"user2",theme:"4_WEBMASTER",type:"Autre",subject:"Site internet et Espace Client - Autre"}]}],selectNotClient:[{value:"decouvrir-nos-services",label:"Découvrir nos services",subLevel:[{value:"services-en-ligne-et-options",label:"Services en ligne et options",toShow:"user1",theme:"2_RENSEIGNEMENTS_COMMERCIAUX",type:"Service en ligne",subject:"Nos services en lignes"},{value:"autre",label:"Autre",toShow:"user1",theme:"2_RENSEIGNEMENTS_COMMERCIAUX",type:"Autre",subject:"Découvrir nos services - Autre"}]},{value:"site-internet-espace-client",label:"Site Internet & Espace client",subLevel:[{value:"problèmes-d-affichage-ou-de-navigation",label:"Problèmes d'affichage ou de navigation",toShow:"user2",theme:"4_WEBMASTER",type:"Problème de naviguation",subject:"J'ai des problèmes d'affichage ou de navigation"},{value:"autre",label:"Autre",toShow:"user2",theme:"4_WEBMASTER",type:"Autre",subject:"Site internet et Espace Client - Autre"}]}]};

    .c-column.c-column--100
      .c-column__col
        +selectMat({
          hiddenLabel: true,
          name:        '',
          label:       'Choisissez dans la liste une thématique'
        })(data-e-formcontact-select1)

        +selectMat({
          hiddenLabel: true,
          name:        '',
          label:       'Choisissez dans la liste une sous-thématique'
        })(data-e-formcontact-select2).u-hide


        +selectMat({
          hiddenLabel: true,
          name:        '',
          label:       'Choisissez dans la liste une sous-thématique'
        })(data-e-formcontact-select3).u-hide
        
        // THEME et SUJET
        input(type="hidden" name="THEME_DEMANDE" data-e-formcontact-theme)
        input(type="hidden" name="TYPE_DEMANDE" data-e-formcontact-type)
        input(type="hidden" name="contact-subject" data-e-formcontact-subject)

    +arrowBorder({
      outset: true
    }).l-wrapper--medium.u-margin-t-30.u-margin-small-t-30(
      data-e-formcontact-bypass
      hidden
    )
      .c-wysiwyg
        p.u-textCenter.u-heading-4(data-e-formcontact-bypass-title) Accéder depuis votre Espace Client, c'est plus simple&nbsp;!
        p.u-textCenter(data-e-formcontact-bypass-content)
      
      .c-btnWrapper.c-btnWrapper--fullOnMobile.u-margin-t-25.u-margin-small-t-25
        a.c-baseBtn.c-baseBtn--secondary.u-theme-color.u-hide(data-e-formcontact-left-cta='data-e-formcontact-left-cta', data-e-formcontact-showform='data-e-formcontact-showform', href='#', data-label='bypassForm, pas_d_espace_client')
          span.c-baseBtn__content
        a.c-baseBtn.u-theme-bg.u-theme-bg-hover.u-hide(data-e-formcontact-right-cta='data-e-formcontact-right-cta', href='', data-label='redirection,espace_client')
          span.c-baseBtn__content      

      +btnWrapper.c-btnWrapper--fullOnMobile.u-margin-t-25.u-margin-small-t-25
        +baseBtn({
          text: "Je n'ai pas d'espace client",
          button: true,
          secondary: true,
        })(data-e-formcontact-showform)
        +baseBtn({
          text: "Accéder à mon espace client",
          linkUrl: ""
        })
  // END - .c-formContactSelect

