h2.u-heading-1 contenuit de l'infobulle de graphe:

+demo({
    desc: "Composant spécifique suivie conso pour le graphe du plugin heightchartjs"
})
  +infobulleGraph({
      infoComparaison : true
  })

h2.u-heading-1 contenuit de l'infobulle de graphe Année - 1:

+demo({
    desc: "Composant spécifique suivie conso pour le graphe année - 1 du plugin heightchartjs"
})
  +infobulleGraph()