.c-infobulleGraphSaisieIndex { 
	padding: 0 25px 5px 5px;
	max-width: 400px;
	background: white;
	border-radius: 40px;
	min-width: 230px;
	display: inline-flex;
	flex-direction: column;
}

.c-infobulleGraph__lists {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}

.c-infobulleGraph h3, .c-infobulleGraphSaisieIndex h3 {
	color: black;
	font-size: 1.6rem;
	font-weight: 700; 
}
  
.c-infobulleGraph__sousTitre {
	color: black;
	font-size: 1.6rem;
	display: block; 
}
  
.c-infobulleGraph__periode {
	font-size: 1.1rem;
	display: block;
	font-weight: 700;
	color: #325678;
	opacity: 0.8;
	padding-top: 3px; 
}
  
.c-infobulleGraph__header {
	padding-bottom: 8px;
	padding-left: 22px;
	line-height: 18px; 
}
  
.c-infobulleGraph__header, .c-infobulleGraph__liste {
	display: block; 
}
  
.c-infobulleGraph__liste {
	text-align: left;
	padding-right: 10px;
}

ul.c-infobulleGraph__liste {
	width: 50%;
}
  
.c-infobulleGraph__liste li {
	padding-bottom: 7px; 
}
  
.c-infobulleGraph__liste li .c-infobulleGraph--blue::before, .c-infobulleGraph__liste li .c-infobulleGraph__bulle::before  {
	content: "•";
	color: #325678;
	opacity: 0.2;
	font-size: 17.15px;
	padding-right: 1rem;
	vertical-align: middle; 
}

.c-infobulleGraph__liste li .c-infobulleGraph__kwh {
	padding-left: 38px;
}
  
.c-infobulleGraph__liste li .c-infobulleGraph--blue {
	color: #325678;
	font-weight: 700;
	padding-left: 0;
	line-height:15px; 
}
  
.c-infobulleGraph__liste li span {
	display: block;
	color: black;
	font-size: 1.1rem;
	font-weight: 400;
	padding: 0;
}
  
.c-infobulleGraph__liste li .c-infobulleGraph__label {
	display: block; 
}
  
.c-infobulleGraph__liste li .c-infobulleGraph__label span {
	display: initial; 
}
  
.c-infobulleGraph__liste li .c-infobulleGraph__label .c-infobulleGraph__smallLabel {
	color: #325678;
	font-weight: 400;
	padding-left: 0; 
}

.c-infobulleGraph__percent {
	font-size: 2.4rem;
	color: #325678;
	padding: 20px 0;
	display: inline-block;
}

.c-infobulleGraph__liste li .c-infobulleGraph--green {
	color: #4bd9a8;
	font-weight: bold;
}

.c-infobulleGraph__liste li .c-infobulleGraph--blueGen {
	color: #00a8ff;
	font-weight: bold;
}


.c-infobulleGraph__liste li .c-infobulleGraph--puce::before  {
	content: "";
	height:16px;
	width:16px;
	border-radius: 3px;
	vertical-align: middle; 
	display: inline-block;
	margin-right: 10px;
}
.c-infobulleGraph--puceBlue::before {
	background-color: #00a8ff;
}
.c-infobulleGraph--puceRed::before {
	background-color: #EE8D8D;
}
.c-infobulleGraph--puceGreen::before {
	background-color: #54DDA3;
}

.c-infobulleGraph--value {
	margin-left: 24px;
}

.c-infobulleGraph__liste li span.c-infobulleGraph--puceDefault, .c-infobulleGraph__liste.c-infobulleGraph__listeLeft li span.c-infobulleGraph--value {
	margin: 0;
	padding: 0;
}

@media (max-width: 48em) {
	.c-infobulleGraph {
		padding: 25px 25px 5px;
	}
	.c-infobulleGraph__liste li:last-child {
		padding-bottom: 0; 
	} 
}
