include ../../../../common/src/components/pictoLink/pictoLink
h2.u-heading-1 block télécharger mon historique Graph
//- +demo({
//-     desc: `
//-           -  ignorer la class <code>l-row</code> c'est pour ajuster les blocs en mode demo<br>
//-           -  pour l'etat inactif retirer le lien et ajouter la class <code>c-historiqueConsoGraph--gris</code>
//-           `
//- })

+demo
  +historiqueConsoGraphV2()



//- +demo({
//-     desc: `
//-           -  ignorer la class <code>l-row</code> c'est pour ajuster les blocs en mode demo<br>
//-           -  pour l'etat inactif retirer le lien et ajouter la class <code>c-historiqueConsoGraph--gris</code>
//-           `
//- })
//-   .l-row
//-     +historiqueConsoGraph()

//-     +historiqueConsoGraph({
//-       desactiver : true
//-     })