.c-historiqueConsoGraph {
  width: 210px;
  color: $genBlue;
  padding: 0;
  background: $white;
  white-space: normal;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.c-historiqueConsoGraph:hover {
  width: 210px;
  color: $white;
  padding: 0;
  background: $genBlue;
}

.c-historiqueConsoGraph__icon {
  font-size: 6rem;
}

.c-historiqueConsoGraph.c-historiqueConsoGraph--gris {
  color: $grey-medium;
  cursor: not-allowed;
}

.c-historiqueConsoGraph.c-historiqueConsoGraph--gris:hover {
  color: $grey-medium;
  background: $white;
}



.l-sectionHistoriqueConsoGraph__legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // max-width: 394px;
  margin-bottom: 15px;
  @media #{$large} {
    flex-direction: column;
    .l-sectionHistoriqueConsoGraph__legendLeft, 
    .l-sectionHistoriqueConsoGraph__legendRight {
      display: flex;
    }
  }
    
  .c-sectionHistoriqueConsoGraph__legend {
    display: flex;
  }
}

.l-sectionHistoriqueConsoGraph {

  .c-sectionHistoriqueConsoGraph__legend {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .c-sectionHistoriqueConsoGraph__legendIMG {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }

  .c-pictoLink__icon.icon.icon-bold-download{
    margin: 0;
    font-size: 2rem;
  }
}



@include media ("<=small") {
  .c-historiqueConsoGraph {
    top: 90px !important;
  }

  .c-historiqueConsoGraph__text {
    width: 125px;
  }
}