include ../imageIndex/imageIndex

h2.u-heading-1 Composant calculettes 

+demo({
    desc: `
          -  pour masquer la resultat de soustraction des indexs ajouter la class <code>u-hide</code> dans la class <code>.c-calculette__reponse</code> <br>
          -  pour masquer le block INFO penser à  ajouter la class <code>u-hide</code> dans la class <code>.c-imageIndex</code> <br>
           
          `
})

  .l-wrapper--huge.u-padding-t-5

    +column({
        colConfig: '66-33'
    })
      .c-column__col

        +calculette

      .c-column__col

        +imageIndex({
          imgdesktop: "compteur.jpg",
          imgmobile: "gerer.png"
        })

        +imageIndex({
          imgdesktop: "adnsec_mobile.png",
          imgmobile: "illu-etapier-hpdemenagement-stepquatre.png"
        })



