h2.u-heading-1 Message d'erreur A-1:

+demo({
    desc: "message d'erreur de graph A-1 ce code c'est seulement pour la demo à ne pas prendre en considération <code>l-row </code> <code>l-col-md-8 </code>"
})
  .l-row
    .l-col-medium-8(style="position:relative;width:700px;height:300px")
      +msgErreurGraphV2()