mixin msgErreurGraphV2()

	//.c-msgErreurGraph
	.c-msgErreurGraphV2&attributes(attributes)
		.c-msgErreurGraphV2__main
			.c-msgErreurGraphV2__picto.icon.icon-graph-icon-erreur
			.c-msgErreurGraphV2__msg
				span.c-msgErreurGraphV2__msgNormal Vos données de consommation seront bientôt disponible