.c-productList {
  padding-left: 0;
  padding-right: 0;

  .c-headSection__title  {
    font-size: 1.8rem;
  }
  .slick-track {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-list__item {
    text-align: left;
    &:not([class*="u-margin-"]) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:before {
      color: $genBlue;
      margin-right: 5px;
    }
  }
}

.c-productList__content {
  display: flex;
  justify-content: center;
  counter-reset: section;
}

.c-productList__contribText {
  padding: 20px 15px 30px;
}

.c-productList__img {
  height: 70px;
  margin: 0 auto;
}

.c-productList__itemTitle {
  font-weight: bold;
  padding: 8px 16px;
}

.c-productList__item {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

@include media("<small") {
  .c-productList {
    .c-headSection {
      padding-bottom: 0;
    }

    .c-btnWrapper {
      padding-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .c-productList__itemTitle {
    font-size: 1.5rem;
  }
  .c-productList__item {
    &.slick-slide {
      float: none;
      height: auto;
      margin: 0 10px;
      border: 1px solid $grey-light;
    }

    .u-list {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 1.3rem;
    }

    .u-list__item {
      &:not([class*="u-margin-"]) {
        line-height: 18px;
      }

      &:before {
        font-size: 1.1rem;
        top: 3px;
      }
    }
  }
}


@include media(">=small") {
  .c-productList {
    .c-btnWrapper {
      padding-top: 50px;
    }
  }

  .c-productList__img {
      height: 120px;
      width: auto;
  }

  .c-productList__item {
    margin: 0;
    max-width: 289px;
    width: 30%;
    border-left: 2px solid $grey-light;
    border-right: 2px solid $grey-light;

    &:first-child {
      border: 0;
    }

    &:last-child {
      border: 0;
    }

    .u-list {
      padding: 0 60px;
    }

    .u-list__item {

      &:not([class*="u-margin-"]) {
        line-height: 27px;
      }

      &:before {
        top: 5px;
        font-size: 1.1em;
      }
    }
  }
}
