include productList

.c-wysiwyg
  h2 productList

+demo()
  +productList
    +productListItem({
      imgUrl: "contrib/illu-froid.svg",
      titre: "Froid"
    })
      ul.u-list
        li.u-list__item Réfrigérateur
        li.u-list__item Cave à vins
        li.u-list__item Congélateur

    +productListItem({
      imgUrl: "contrib/illu-cuisson.svg",
      titre: "cuisson"
    })
      ul.u-list
        li.u-list__item Table de cuisson
        li.u-list__item Cuisinière & Four
        li.u-list__item Micro-onde
        li.u-list__item Hotte

    +productListItem({
      imgUrl: "contrib/illu-lavage.svg",
      titre: "Lavage"
    })
      ul.u-list
        li.u-list__item Lave linge
        li.u-list__item Sèche linge
        li.u-list__item Lave vaisselle
