include chapoArticle

.c-wysiwyg
  h2 Chapô Article

+demo({
  desc: "Composant Chapô Article"
})
  +chapoArticle
    p L'EcoQuartier est l'avenir écologique de demain. Gaz Tarif Réglementé vous propose des solutions simples pour participer à un cadre de vie sain grâce à des petits gestes au quotidien. Le terme d’EcoQuartier est aujourd’hui largement utilisé par les professionnels de l’urbanisme et la presse. Que recouvre-t-il précisément ?
