// Wrapper destiné à recevoir un composant spinner le temps que son contenu (des c-listChoiceButton) soit chargé :
.c-listChoiceButtonWrapper {
  position: relative;
  min-height: 250px;

  @include media('>=small') {
    min-height: 400px;
  }
}

.c-listChoiceButton {
  position: relative;
  display: block;
  margin: 15px 0;
  padding: 20px 20px;
  padding-right: 40px;
  border: 0;
  width: 100%;
  background-color: $grey-medium;
  text-align: left;
  transition: all .4s;

  &:not(.c-listChoiceButton--inactive) {
    &:after {
      content: "\EA25";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%) rotate(0deg);
      font-size: 3rem;
      text-align: center;
      transition: transform .4s;
      color: $genBlue;
      font-family: 'icons' !important; // empêcher surcharge CSS partenaires (FAQ)
      speak: none;
      display: inline;
    }

    .c-listChoiceButton__icon {
      color: $genBlue;
    }

    .c-listChoiceButton--themeColor {
      color: $genBlue;
    }

    @include hover-focus-active() {
      color: $white;
      background-color: $genBlue;

      &:after {
        content: "\EA22";
        right: 15px;
        color: $white;
        font-size: 1.8rem;
        transform: translateY(-50%) rotate(-360deg);
        transform-origin: center center;
      }

      .c-listChoiceButton__main,
      .c-listChoiceButton__title,
      .c-listChoiceButton--themeColor,
      .c-listChoiceButton__icon,
      .c-listChoiceButton {
        color: $white;
      }
    }
  }
}

a.c-listChoiceButton  {
  text-decoration: none;
  color: initial;
}

.c-listChoiceButton--inactive {
  padding: 15px;
  background-color: $grey-light;
}

.c-listChoiceButton__main {
  position: relative;
  padding-left: 40px;
  color: $grey;
}

.c-listChoiceButton__aside {
  margin-top: 15px;
  padding: 15px 40px;
  background-color: $grey-medium;
}

.c-listChoiceButton__icon {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  text-align: center;
  z-index: 0;
  transition: all .4s;
  transform: translateY(-50%);
}

.c-listChoiceButton__title {
  font-size: 1.6rem;
  transition: all .4s;
}

.c-listChoiceButton__mailConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: $font-13;
}

.c-listChoiceButton__mailConfirmButton {
  flex-shrink: 0;
  margin-top: 30px;
  width: 100%;
}

@include media('>=small') {
  .c-listChoiceButton__mailConfirm {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .c-listChoiceButton__mailConfirmButton {
    margin-top: 0;
    margin-left: 30px;
    width: auto;
  }
}
