/**
 * Clear:
 * `.u-clearfix` - clear wrapper containing floating elements
 *
 *     @example
 *     .fill.u-clearfix
 *       .fill(style="float: left") float: left
 *       .fill(style="float: right") float: right
 */

.u-clearfix {
  @extend %clear-after;
}

.u-hide {
  display: none !important;
}


// hide elements but keep accessibility
.u-visibilityHidden {
  @include visibility-hidden();
}


/**
 * Responsive visibility:
 * `.u-hideSmall` - Hide element on speicifed media query
 *
 *     @example
 *     .u-hideSmall         Small
 *     .u-hideMedium        Medium
 *     .u-hideMediumUp      Medium and up
 *     .u-hideMediumDown    Medium and small
 *     .u-hideLarge         Large
 *     .u-hideLargeUp       Large and up
 *     .u-hideHuge          Huge
 */

 .u-flexCenter {
   justify-content: center;
 }
 
.u-hideSmall {
  @include media("<=small") {
    display: none !important;
  }
}

.u-hideMedium {
  @include media(">=small", "<=medium") {
    display: none !important;
  }
}

.u-hideMediumUp {
  @include media(">small") {
    display: none !important;
  }
}

.u-hideMediumDown {
  @include media("<=medium") {
    display: none !important;
  }
}

.u-hideLarge {
  @include media(">medium", "<large") {
    display: none !important;
  }
}

.u-hideLargeUp {
  @include media(">medium") {
    display: none !important;
  }
}

.u-hideLargeNetUp {
  @include media(">=medium") {
    display: none !important;
  }
}

.u-hideHuge {
  @include media(">=large") {
    display: none !important;
  }
}