include form

.c-wysiwyg
  h2 Select

+demo()
  +select()
    option(value="") - faites votre choix -
    option(value="1") choix 1
    option(value="2") choix 2
    option(value="3") choix 3


.c-wysiwyg
  h2 Input

+demo()
  +input()


.c-wysiwyg
  h2 Label

+demo()
  .c-form__field
    +label()
    +input()