h2.u-heading-1 popin temporaire de graph avec opacity:

+demo({
    desc: "popin temporaire de graph "
})
  +popinGraph({
      opacity : true
  })

h2.u-heading-1 popin temporaire de graph :

+demo({
    desc: "popin temporaire de graph "
})
  +popinGraph()