mixin navigatorAbsolete(data)
  - var data   = data || {}
  - var modal  = data.modal || false

  //.c-navigatorAbsolete
  .c-navigatorAbsolete&attributes(attributes)
    .c-navigatorAbsolete__title.u-margin-b-30
      span.icon.icon-danger
      span.u-padding-l-10 mettez à jour votre navigateur !
    .c-navigatorAbsolete__desc Le navigateur que vous utilisez n'est pas à jour et certains foncionnalités risquent d'être altérées ou inaccéssibles.
    .c-navigatorAbsolete__liens Nous à télécharger la dernière version d'un des navigateur suivants :
    .c-navigatorAbsolete__icons.u-margin-t-30
      span
        img(src="../images/contrib/chrome-icon.png" alt="chrome")
        span Chrome
      span
        img(src="../images/contrib/firefox.png" alt="firefox")
        span Firefox
      span
        img(src="../images/contrib/edge-icon.png" alt="edge") 
        span Microsoft Edge
    if modal
      p.u-textCenter.u-margin-h-70.u-margin-t-20
        a.u-link.u-link--arrow.u-link--fullLarge(href="#" data-e-modal-close) j'ai bien lu et pris connaissance