.c-BandeauWomenDay {
  display: block;
  width: 100%;
  background: linear-gradient(68deg, #05509D 80%, #09C1D3 100%);
}

.c-BandeauWomenDay__content {
  display: flex;
  width: 100%;
  padding: 20px 45px;
}

.c-BandeauWomenDay__gras {
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2.1rem;
  width: 25%;
  margin-right: 30px;
}

.c-BandeauWomenDay__normal {
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2rem;
  width: 70%;
}

@include media("<small") {
  .c-BandeauWomenDay__normal {
    display: block;
    width: 100%;
  }

  .c-BandeauWomenDay__gras {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .c-BandeauWomenDay__content {
    flex-direction: column;
  }
}

//class modificateur 
@media screen and (max-width:769px) {
  .c-BandeauWomenDay--hackhp {
    padding: 70% 0 0 !important;
  }
}