mixin bandeauWomenDay(data)
  - var data = data || {}

  //.c-bandeauWomenDay
  .c-BandeauWomenDay
    .c-BandeauWomenDay__content
      p.c-BandeauWomenDay__gras Le 8 mars est la journée internationale du droit des femmes.
      p.c-BandeauWomenDay__normal Gaz Tarif Réglementé, une marque du Groupe ENGIE, s’associe aux actions des pouvoirs publics pour rappeler que nombre d’entre elles font l’objet de maltraitance. En communiquant massivement ce numéro 3919 nous leur donnons <b> l’occasion de trouver une écoute et de l’aide.</b>