.c-rating {
  position: relative;
  display: inline-block;
  font-size: $font-21;

  .icon {
    margin: 0 -0.35rem;
  }
}

.c-carousel  {
  .c-rating-block {
    margin-top: 0;
    margin-bottom: 15px;
    float: none;
  }
}

.c-rating__back,
.c-rating__front {
  white-space: nowrap;
}

.c-rating__back {
  color: $starGrey;
}

.c-rating__front {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  color: $starYellow;
  overflow: hidden;
}

@for $i from 0 through 10 {
  .c-rating--#{$i} {
    .c-rating__front {
      right: calc(100% - 100% * #{$i} / 10);
    }
  }
}