mixin rating(rate)
  // .c-rating
  .c-rating(aria-hidden="true" class="c-rating--"+rate)&attributes(attributes)
    .c-rating__back
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star

    .c-rating__front
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star
      span.icon.icon-star
  // end - .c-rating