include ../serviceItem/serviceItem

mixin autreService

  //Autre Service
  .c-autreService
    .l-wrapper.l-wrapper--main
      h2.u-heading-2.c-autreService__titre Autres services :
      .c-autreService__items

        +serviceItem({
            prix : "3.11 € / ans",
            titre : "Date de réglement personnalisée",
            para : "Exit les fins de mois difficiles, choisissez votre date de paiement* !",
            display : true,
            btn : true,
            img : "home_carrou_contrib_large1.jpg"
        })

        +serviceItem({
            titre : "Facture en ligne",
            para : "Une solution rapide, facile et pratique pour en finir avec la paperasse*.",
            display : true,
            btn : true,
            img : "error404-large.jpg"
        })