.c-autreService{
  width: 100%;
  background: $grey-light;
  padding: 50px 20px 0;
  display: block;
}

.c-autreService__titre {
  width: 100%;
  margin-bottom: 50px; 
}

.c-autreService__items {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .c-autreService__titre {
      text-align: center;
      margin-bottom: 30px; 
  }

  .c-autreService{
    padding-bottom: 30px;
  }
}
