include alert/alert
include calculette/calculette
include imageModal/imageModal
include imageModalV2/imageModalV2
include imageIndex/imageIndex
include blockCompteur/blockCompteur
include btnGraph/btnGraph
include btnGraphComparaison/btnGraphComparaison
include infobulleGraph/infobulleGraph
include popinGraph/popinGraph
include toolTipV2/toolTipV2
include ActiveGazpar/ActiveGazpar
include msgErreurGraph/msgErreurGraph
include blocCompteur/blocCompteur
include msgAlert/msgAlert
include historiqueConso/historiqueConso
include ecoGest/ecoGest
include blocCumul/blocCumul
include saisieIndex/saisieIndex
include infoComparaison/infoComparaison
include foyerSimilaire/foyerSimilaire
include jauge/jauge
include jaugeV2/jaugeV2
include historiqueConsoGraph/historiqueConsoGraph
include objectifMain/objectifMain
include objectifMainV2/objectifMainV2
include sousMenu/sousMenu
include monCompteur/monCompteur
include msgErreurGraphV2/msgErreurGraphV2
include infoMinimal/infoMinimal
include blocTarif/blocTarif
include pushCalculette/pushCalculette
include calculetteV2/calculetteV2
include foyerSimilaireV2/foyerSimilaireV2
include comparateurFoyersimilaire/comparateurFoyersimilaire
include btnGraphComparaisonV2/btnGraphComparaisonV2

//to common
//- include ../../../common/src/components/advantages/advantages


//- DEMO MIXIN ONLY
//- - var demoNbr = 0
//- mixin demo(data)
//-   - var data = data || {}
//-   - var desc = data.desc || false

//-   - demoNbr++
//-   div(data-demo-html=demoNbr)&attributes(attributes)
//-     block

//-   .u-padding-t-20.u-padding-b-20.u-margin-t-20.u-margin-b-40.u-bg-black
//-     if desc
//-       .desc.u-padding-b-20.u-padding-h-20.u-color-white
//-         p!=desc

//-     button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button")
//-       | .oOo. HTML .oOo.

//-     pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
//-       code.html
//-   hr

