// wrapper component input
.c-inputMat {
  padding-top: 70px;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  display: block;

  &.is-success {
    .c-inputMat__check { display: block; }
  }

  .c-spinner {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
  }

  .c-spinner__container {
    top: 50%;
    left: 50%;
    width: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.c-inputMat--float {
  .c-inputMat__label {
    transition: transform .2s ease-in-out;
    transform-origin: left;
    transform: translateY(25px) scale(1.11);
    cursor: text;
  }

  &.is-focus .c-inputMat__label {
    transform: translateY(0) scale(1);
    cursor: default;
  }
}

.c-inputMat--suggest {
  &:after {
    content: '';
    position: absolute;
    z-index: 11;
    top: 40px;
    right: 0;
    height: 35px;
    width: 80px;
    pointer-events: none;
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%);
  }

  .c-inputMat__field:focus {
    position: relative;
    z-index: 12;
  }

  .c-addressBoxItem &:after,
  .u-bg-grey-light &:after {
    background: linear-gradient(to right, rgba($grey-light, 0) 0%, rgba($grey-light, 1) 100%);
  }
}

.c-inputMat--datepicker {
  .u-theme-genBlue & .icon {
    color: $genBlue;
  }

  .u-theme-green & .icon {
    color: $green;
  }

  &.is-error {
    .icon {
      color: $error-color;
    }
  }

  &.is-success {
    .icon {
      color: $valid-color;
    }
  }
}

.c-inputMat__wrap {
  display: block;
  position: relative;
  margin-bottom: 7px;
}

.c-inputMat__field {
  position: relative;
  z-index: 9;
  width: 100%;
  border: 0;
  box-shadow: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid $starGrey;
  padding-bottom: 10px;
  font-size: 1.6rem;

  // retirer les fleche des formulaire de type number
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  // permet de détecter le remplissage par le navigateur sous Chrome
  &:-webkit-autofill {
    content: 'filled';
  }

  &:focus {
    outline: none;

    ~ .c-inputMat__label {
      color: $genBlue;
    }
  }

  @include placeholder() {
    color: $starGrey;
  }

  &.c-inputMat__field--password,
  &.c-inputMat__field--hasReachableElem {
    z-index: 1;
  }
}

.c-inputMat__field--password,
.c-inputMat__field--hasElemRight {
  padding-right: 40px;
}

.c-inputMat__rightBlock {
  position: absolute;
  z-index: 1;
  display: flex;
  right: 1px;
  bottom: 11px;

  .icon {
    padding: 5px 0 5px 5px;
    font-size: 2.5rem;
    transform: translateY(8px)
  }
}

.c-inputMat__check {
  display: none;
  font-size: 2rem;
  color: $valid-color;
}

.c-inputMat__password {
  @extend %reset-style-button;
  order: 1; // check avant l'oeil
  padding: 5px;
  font-size: 2.4rem;

  + .c-inputMat__check {
    right: 29px;
  }
}
