$orange:  #ff5426;
$green:   #1eac46;
$purple:  #a53cd1;

.c-carouselArticle {
  position: relative;
}

.c-carouselArticle__content {
  text-align: center;
}

.c-carouselArticle__title {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.1em;
  font-weight: bold;
}

.c-carouselArticle__link {
  display: inline-block;
  padding: 15px 20px;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}


// Block Promo :
.c-carouselPromo {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: $white;
}

.c-carouselPromo__title,
.c-carouselPromo__text {
  padding: 4px 10px;
}

.c-carouselPromo__title {
  text-transform: uppercase;
}

.c-carouselPromo__text {
  color: $white;
  white-space: nowrap;
}


@include media(">=small") {
  .c-carouselArticle {
    padding-left: 50px;
    padding-top: 40px;
    width: 46%;
    min-width: 380px;

    p, ul {
      margin-bottom: 10px;
    }
  }

  .c-carouselArticle__aside {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .c-carouselArticle__content {
    text-align: left;
  }

  .c-carouselArticle__title,
  .c-carouselArticle__hook {
    margin-bottom: 15px;
  }

  .c-carouselArticle__hook {
    font-size: 1.4rem;
  }

  .c-carouselArticle__link {
    padding: 12px 20px;
    font-size: 1.5rem;
    font-weight: $font-bold;
  }
}

@include media(">medium") {
  .c-carouselArticle {
    padding-left: 150px;
    padding-top: 50px;
    width: 50%;
  }

  .c-carouselArticle__title {
    font-size: 2.8rem;
  }

  .c-carouselArticle__hook {
    font-size: 1.5rem;
  }

  .c-carouselArticle__aside {
    left: 150px;
  }

  .c-carouselArticle__link {
    padding: 18px 30px;
    font-size: 1.8rem;
  }
}


// Theming :
@each $themeName, $colorName in ('orange', $orange), ('green', $green), ('purple', $purple) {
  .c-carouselArticle__theme-#{$themeName} {
    .c-carouselArticle__link {
      background-color: $colorName;

      @include hover-focus-active() {
        background-color: darken($colorName, 15%);
      }
    }

    .c-carouselPromo__title {
      color: $colorName;
    }

    .c-carouselPromo__text {
      background-color:$colorName;
    }
  }
}
