mixin carouselArticle(data)
  - var data        = data || {}
  - var title       = data.title || "Cet été votre abonnement énergie prend une pause !"
  - var text        = data.text || "<p>Du 19 au 30 juin 2017, pour toute souscription en ligne à une offre Elec Ajust 3 ans ou Duo Ajust 3 ans<sup>(2)</sup>, profitez d’un mois d’abonnement offert<sup>(1)</sup> avec le code promo KDOWEB</p>"
  - var link        = data.link || "Profiter de l'offre"
  - var themeColor  = data.themeColor || "orange"
  - var promo       = data.promo || false
  - var mobile      = data.mobile || false

  // .c-carouselArticle
    Couleur du thème : orange green ou purple
  article.c-carouselArticle&attributes(attributes)(class="c-carouselArticle__theme-" + themeColor)
    if promo && !mobile
      aside.c-carouselArticle__aside
        +carouselPromo

    .c-carouselArticle__content
      h2.c-carouselArticle__title!=title
      if !mobile
        .c-carouselArticle__hook
          .c-wysiwyg
            !=text
      a(href="#").c-carouselArticle__link!=link
  // end .c-carouselArticle


mixin carouselPromo(data)
  - var data  = data || {}
  - var title = data.title || "offert"
  - var text  = data.text || "Frais de mise en service offer<sup>(1)</sup>"

  // .c-carouselPromo
  .c-carouselPromo
    .c-carouselPromo__title=title
    .c-carouselPromo__text!=text
  // end .c-carouselPromo
