.c-blocTarif {
  display: flex;
  width: 100%;
  padding: 25px 10px 20px;
}

.c-blocTarif__downTitre--desc {
  font-size: 18px;
}

.c-blocTarif__right {
  width: 50%;
  padding-left: 20px;
}

.c-blocTarif__left {
  width: 50%;
  padding-right: 20px;
}

.c-blocTarif__Sparator {
  display: block;
  width: 1px;
  background-color: #d0d0d0;
  box-sizing: content-box;
  margin: 0 30px;
}

.c-blocTarif__allTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.c-blocTarif__downTitre {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  -ms-flex-item-align: end;
  align-self: flex-end;
  line-height: 2.2rem;
  margin-bottom: 15px;
}

.c-blocTari__desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 30px;
}

.c-blocTari__desc a {
  color: $genBlue;
  font-weight: 600;
}

.c-blocTarif__factureDetails {
  width: 100%;
  display: flex;
}

.c-blocTarif__abonnement, .c-blocTarif__conso, .c-blocTarif__tax {
  display: inline-block;
  text-align: center;
}

//width bar
@for $i from 1 through 98 {
  .c-blocTarif--barWidth-#{$i} {
    width: ((100% / (100/$i)) + 10% );
  }
}


.c-blocTarif__puce.c-blocTarif--puceBlue {
  background-color: #009DE9;
}

.c-blocTarif__puce.c-blocTarif--puceGreen {
  background-color: #53DDA3;
}

.c-blocTarif__puce.c-blocTarif--puceRed {
  background-color: #EE8E8B;
}

.c-blocTarif--blue {
  & .c-blocTarif__percent {
    color: #009DE9;
  }
  & .c-blocTarif__bar {
    background-color: #009DE9;
  }
}

.c-blocTarif--green {
  & .c-blocTarif__percent {
    color: #53DDA3;
  }
  & .c-blocTarif__bar {
    background-color: #53DDA3;
  }
}

.c-blocTarif--red {
  & .c-blocTarif__percent {
    color: #EE8E8B;
  }
  & .c-blocTarif__bar {
    background-color: #EE8E8B;
  }
}

.c-blocTarif__bar {
  height: 23px;
  width: 100%;
  margin: 5px 0 10px;
}

.c-blocTarif__percent {
  font-size: 2.4rem;
  font-weight: bold;
}

.c-blocTarif__percent span {
  font-size: 1.8rem;
}

.c-blocTarif__desc {
  font-size: 1.4rem;
}

.c-blocTarif--radiusLeft {
  border-radius: 6px 0 0 6px;
}

.c-blocTarif--radiusRight {
  border-radius: 0 6px 6px 0;
}

.c-blocTarif__item {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
}

.c-blocTarif__item p {
  display: inline-block;
  width: calc( 100% - 45px );
}

.c-blocTarif__puce {
  width: 20px;
  height: 4px;
  background-color: $black;
  display: inline-block;
  margin-right: 15px;
}

@include media ("<=small") {
  .c-blocTarif {
    flex-direction: column;
    padding: 0;
  }

  .c-blocTarif__downTitre {
    margin-bottom: 20px;
  }
  
  .c-blocTarif__desc {
    font-size: 1rem;
  }

  .c-blocTari__desc {
    margin-top: 0;
  }

  .c-blocTarif__Sparator {
    display: none;
  }

  .c-blocTarif__right, .c-blocTarif__left {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 25px 0;
  }

  .c-blocTarif__item b {
    width: 100%;
    display: block;
  }

  .c-blocTarif__downTitre .c-blocTarif__downTitre--desc {
    width: 80%;
  }
  
}