mixin blocTarif(data)
  - var data   = data || {}
  - var targetModal = data.targetModal || "ModalTarget"
  - var value = data.value || "32<span>%</span>"
  - var valueConso = data.valueConso || "59<span>%</span>"
  - var valueTax = data.valueTax || "9<span>%</span>"
  - var nth1 = data.nth1 || 32
  - var nth2 = data.nth2 || 59
  - var nth3 = data.nth3 || 9

  //.c-blocTarif
  .c-blocTarif

    +modal({
      target: '{"target":"' + targetModal +'"}'
    }).u-padding-a-40
      ul.c-blocTarif__list
        li.c-blocTarif__item
          span.c-blocTarif__puce.c-blocTarif--puceBlue
          p
            b Mon abonnement TTC (TVA à 5,5%) : 
            span  il est mensuel, fixe et dépend du tarif souscrit.
        li.c-blocTarif__item
          span.c-blocTarif__puce.c-blocTarif--puceGreen
          p
            b Ma consommation TTC (TVA à 20%) : 
            span  elle évolue tous les jours en fonction de vos habitudes de consommation, mes équipements, ma zone géographique, la météo…
        li.c-blocTarif__item
          span.c-blocTarif__puce.c-blocTarif--puceRed
          p
            b Contributions et taxes : 
            span  CTA Contribution Tarifaire d’Acheminement (TVA à 5,5%) et TICGN Taxe Intérieure de Consommations sur le Gaz Naturel (TVA à 20%), le taux et les évolutions sont fixés par les pouvoirs publics.
      
    .c-blocTarif__right
      span.c-blocTarif__downTitre
        span.c-blocTarif__downTitre--desc  Vous avez un Tarif Gaz Réglementé Base ou B0

      p.c-blocTari__desc Ce tarif correspond à une consommation comprise entre 1 000 et 6 000 kWh par an. Vous utilisez le gaz naturel pour l’eau chaude et la cuisson. Si vous changez d’usages, pensez à <a href=""> contacter le Service Client.</a>
    .c-blocTarif__Sparator
    .c-blocTarif__left
      span.c-blocTarif__downTitre 
        span.c-blocTarif__downTitre--desc Comment se décompose votre facture ?
        +toolTipV2({
            themeColor: 'u-theme-magenta'
        })(data-e-modal-open=targetModal)
      
      .c-blocTarif__factureDetails 
        .c-blocTarif__abonnement.c-blocTarif--blue(class="c-blocTarif--barWidth-"+nth1)
          .c-blocTarif__percent!=value
          .c-blocTarif__bar.c-blocTarif--radiusLeft
          .c-blocTarif__desc Abonnement TTC
        .c-blocTarif__conso.c-blocTarif--green(class="c-blocTarif--barWidth-"+nth2)
          .c-blocTarif__percent!=valueConso
          .c-blocTarif__bar
          .c-blocTarif__desc Consommation TTC
        .c-blocTarif__tax.c-blocTarif--red(class="c-blocTarif--barWidth-"+nth3)
          .c-blocTarif__percent!=valueTax
          .c-blocTarif__bar.c-blocTarif--radiusRight
          .c-blocTarif__desc Contributions et taxes