//- .c-wysiwyg
//-   h2 Déconnecté avec texte:
//- +demo
//-   +headerLightCel()


//- .c-wysiwyg
//-   h2 Connecté:
//- +demo
//-   +headerLightCel({
//-     connected: true,
//-     layerTarget: "headerCel-userDetail1"
//-   })


//- .c-wysiwyg
//-   h2 Connecté avec texte:
//- +demo
//-   +headerLightCel({
//-     connected: true,
//-     hasTitle: "Connectez-vous à votre Espace Client",
//-     layerTarget: "headerCel-userDetail2"
//-   })


//- .c-wysiwyg
//-   h2 Tunnel:
//- +demo
//-   +headerLightCel({
//-     isTunnel: true,
//-     layer: 'tunnelConnect',
//-     connected: true,
//-     hasTitle: "lorem ipsum",
//-     layerTarget: "headerCel-userDetail3"
//-   })


.c-wysiwyg
  h2 ECM :
+demo
  +headerLightCel({
    hasTitle: "Création Espace Client",
    layerTarget: "headerCel-userDetail3"
  })

.c-wysiwyg
  h2 Tunnel connecté:
+demo
  +headerLightCel({
    isTunnelConnect: true,
    layer: 'tunnel',
    connected: true,
    hasTitle: "lorem ipsum",
    layerTarget: "headerCel-userDetail3"
  })
