.u-color-venteBlue-light {
  color: $venteBlue-light;
}

.u-bg-venteBlue-light {
  background-color: $venteBlue-light;
}

.u-color-venteBlue-medium {
  color: $venteBlue-medium;
}

.u-bg-venteBlue-medium {
  background-color: $venteBlue-medium;
}

.u-color-venteBlue-dark {
  color: $venteBlue-dark;
}

.u-bg-venteBlue-dark {
  background-color: $venteBlue-dark;
}