.c-greyWrapper {
  background-color: $grey-light;  // par défaut fond gris clair
}

.c-greyWrapper--padding {
  padding: 15px;
}

@include media(">=small") {
  .c-greyWrapper {
    position: relative;

    // for block inside unstructured background to be above before: (absolute z-index)
    & > * {
      position: relative;
    }
  }

  .c-greyWrapper--padding {
    padding: 30px 30px;
  }
}


@include media("<small") {
  .c-greyWrapper {
    > .l-wrapper--large,.l-wrapper--largeSmall {
      padding: 0;
    }
  }
  .c-greyWrapper {
    > .l-wrapper--large,.l-wrapper--largeMedium {
      padding: 0;
    }
  }
}

@include media(">=small", "<medium") {
  .c-greyWrapper {
    > .l-wrapper--large,.l-wrapper--largeSmall {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .c-greyWrapper {
    > .l-wrapper--large,.l-wrapper--largeMedium {
      margin-left: 0;
      margin-right: 0;
    }
  }
}