include greyWrapper

.c-wysiwyg
  h2 Fond gris

+demo()
  +greyWrapper()
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit incidunt corrupti illum quod nisi voluptas quis. Nihil excepturi commodi, et doloremque mollitia doloribus qui officia molestias nulla amet illo?