.c-arrowBox {
  position: relative;
  background-color: $grey-light;
}

.c-arrowBox[class*='u-theme'] {
  .c-arrowBox__content {
    color: $white;
  }
}

.c-arrowBox__content {
  color: $black;
}

.c-arrowBox__wrapper {
  padding: 10px 20px;

  .c-arrowBox--largePadding & {
    padding: 30px;
  }

  .c-arrowBox--imageLeft &,
  .c-arrowBox--imageRight & {
    padding: 30px 15px 160px;
    background-repeat: no-repeat;
  }

  .c-arrowBox--imageLeft & {
    background-position: center bottom;
  }

  .c-arrowBox--imageRight & {
    background-position: center bottom;
  }
}

// ARROW STYLES:
.c-arrowBox__wrapper {
  color: $grey-light;

  // Arrow bottom
  &:before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    border-top: 12px solid $grey-light;
  }

  &.u-theme-bg {
    .c-arrowBox__content {
      color: $white;
    }

    &:before {
      border-top: 12px solid currentColor;
    }
  }

  // Arrow top :
  .c-arrowBox--arrowTop &:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -19px);
    border-color: transparent;
    border-width: 12px;
    border-bottom: 8px solid;
  }

  .c-arrowBox--arrowDirLeft &:before {
    left: 30px;
    transform: translateY(-19px);
  }

  .c-arrowBox--arrowDirRight &:before {
    left: initial;
    right: 30px;
    transform: translateY(-19px);
  }

  .c-arrowBox--switchLeft &:before {
    transform: translate(-102px, -19px);
  }

  .c-arrowBox--switchRight &:before {
    transform: translate(90px, -19px);
  }
}


// Custom themes :
@each $name, $value in (magentaLight: $magenta-light, genBlueLight: $genBlue-light) {
  .c-arrowBox--#{$name} {
    background-color: $value;

    .c-arrowBox__wrapper:before {
      border-top-color: $value;
    }

    &.c-arrowBox--arrowTop  .c-arrowBox__wrapper:before {
      border-top-color: transparent;
      border-bottom-color: $value;
    }
  }
}




@include media('>=small') {
  .c-arrowBox__wrapper {
    .c-arrowBox--imageLeft &,
    .c-arrowBox--imageRight & {
      padding-bottom: 30px;
      min-height: 160px;
    }

    .c-arrowBox--imageLeft & {
      padding-left: 155px;
      background-position: left top;
    }

    .c-arrowBox--imageRight & {
      padding-right: 155px;
      background-position: right top;
    }
  }
}

.c-arrowBox--black {
  .u-theme-color-before:before {
  color:$black!important;
  }
}