$transitionTimer: .35s;

.c-addressBoxItem {
  position: relative;
  z-index: 1;
  margin-left: 18px;
  margin-right: 18px;
  padding: 18px 20px;
  width: calc(100% - 18px*2);
  background: $grey-light;
  outline: 0;

  &:not(:only-child) {
    @include media("<small") {
      &:first-child {
        order: 2;
        padding-top: 43px;
      }

      &:last-child {
        order: 1;
        margin-bottom: 20px;
        padding-bottom: 43px;
      }
    }
  }
}

.c-addressBox__separator {
  position: absolute;
  bottom: -44px;
  left: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius: 50%;
  background: $white;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateX(-50%);

  @include media(">=small"){
    top: 50%;
    bottom: initial;
    left: -65px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 1.6rem;
    transform: translateY(-50%);
  }
}

.c-addressBoxItem__content {
  transition: opacity $transitionTimer ease-in-out;
  .not-selected & {
    opacity: 0;
  }
}

.c-addressBox__fieldSetSeparator {
  padding-top: 30px;
}

.c-addressBox__legalMention {
  font-size: $font-12;
}

@include media("<small") {
  .c-addressBoxItem__title {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    color: $genBlue;
    transition: color $transitionTimer ease-in-out;

    .not-selected & {
      color: inherit;
    }
  }

  .c-addressBoxItem__content {
    .not-selected & {
      height: 0;
      overflow: hidden;
    }
  }

  .c-addressBoxItem__img {
    .not-selected & {
      display: none;
    }
  }

  .c-addressBoxItem__titleText {
    display: block;
    padding: 0 30px;
  }

  .c-addressBoxItem__titlePicto {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 200%;
    transform: translateY(-50%);
    transition: transform $transitionTimer*0.5 linear;

    .not-selected & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.c-addressBoxItem__img {
  margin-top: 20px;

  picture {
    display: none;
  }
}


@include media(">=small"){
  .c-addressBoxItem {
    font-size: 1.6rem;
    position: relative;
    margin: 0 10px;
    padding: 50px;
    width: calc(50% - 10px);
    max-width: 540px;
    background: transparent;
    padding-top: 250px;

    &:first-child {
      margin-left: 0;
      &:before {
        transform-origin: center right;
      }
    }

    &:last-child {
      margin-right: 0;
      &:before {
        transform-origin: center left;
      }
    }

    // Background
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: $grey-light;
      transform: scale(1, 1);
      will-change: transform, background-color;
      transition: transform $transitionTimer ease-in-out,
                  background-color .6s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
    }

    &.not-selected:hover,
    &.not-selected:focus {
      &:before {
        background-color: $venteBlue-light;
      }
    }
  }

  .c-addressBoxItem__intro {
    position: absolute;
    left: 50px;
    right: 50px;
    height: 200px;
    top: 0%;
    margin-top: 50px;
    will-change: transform, margin-top, top;
    transform: translateX(0) translateY(0);
    transition: all $transitionTimer ease-in-out;
    z-index: 2;
  }

  .c-addressBoxItem__titlePicto.icon {
    display: none;
  }

  .c-addressBoxItem__img {
    position: relative;

    picture {
      display: block;
    }
  }

  .c-addressBoxItem__content {
    position: relative;
    opacity: 1;
  }

  .c-addressBox__infoBox {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 27%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: opacity $transitionTimer;

    .not-selected & {
      opacity: 0;
    }
  }

  .c-addressBox__fieldSetSeparator {
    padding-top: 65px;
  }


  // Animation à la saisie / clique :
  .c-addressBoxItem.not-selected {
    &:before {
      transform: scale(.9, .65);
    }

    &:after {
      z-index: 1;
    }

    // Contenu :
    .c-addressBoxItem__content {
      opacity: 0;
    }

    .c-addressBoxItem__intro {
      margin-top: 0;
      top: 50%;
    }

    &:first-child {
      .c-addressBoxItem__intro {
        transform: translateX(25px) translateY(-50%);
      }
    }

    &:last-child {
      .c-addressBoxItem__intro {
        transform: translateX(-25px) translateY(-50%);
      }
    }
  }
}


@include media(">medium"){
  .c-addressBox__infoBox {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 28%;
  }
}