@import "tooltipPopper.scss";
.c-toolTip {
  display: inline-block;
  vertical-align: text-bottom;
  text-decoration: none;
  color: $grey;
  cursor: help;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  @include hover-focus-active(){
    text-decoration: underline;
  }

  &.c-toolTip--valignMid {
    vertical-align: middle;
  }
}

button.c-toolTip {
  @extend %reset-style-button;

  outline: 0;
}

.c-toolTip__icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  transition: all .2s linear;
  text-align: center;
  font-size: 1.9rem;
  font-weight: $font-bold;
  color: $white;

  .c-toolTip__label + & {
    vertical-align: middle;
    margin-left: 4px;
  }

  .c-toolTip--info & {
    font-family: serif;
  }
}

.c-toolTip__label {
  vertical-align: middle;
  font-size: $font-14;
}
.c-toolTip--alignTop button.c-toolTip{
  margin-top: -75px;
}