.c-blocInfoEC {
  padding: 25px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;

  .c-spinner {
    margin: 0 auto;
  }

  .icon {
    font-size: 3rem;
    display: block;
  }
}

@include media(">=small") {
  .c-blocInfoEC {
    .icon {
      display: inline;
    }
  }
}

