mixin blocInfoEC(data)
  - var data   = data || {}
  - var loader = data.loader || false

  .c-blocInfoEC&attributes(attributes)
    +spinner(
      class=loader ? "" : "u-hide"
    )

    .c-blocInfoEC__text(
      class=loader ? "u-hide" : ""
    )
      if block
        block
      else
        | vous avez un contrat Duo, Gaz et électricité
        .icon.icon-elec-gaz
        // .icon.icon-elec
        // .icon.icon-gaz
