.c-mesFactureInfo {
  background: $white;
  padding: 40px;
  height: 320px;
}

.c-mesFactureInfo.c-mesFactureInfo__paiement {
  height: 295px;
}

.c-mesFactureInfo__title {
  font-size: 2.4rem;
}

.c-mesFactureInfo__prix {
  font-size: 6rem;
  line-height: 6rem;
  color: $blue;
}

.c-mesFactureInfo__prix sup {
  font-size: 0.5em;
}

.c-mesFactureInfo__typeOf {
  font-size: 1.8rem;
}

.c-mesFactureInfo__price {
  margin-bottom: 20px;
}

.c-mesFactureInfo__libele {
  color: $white;
  padding: 3px 10px;
  margin-right: 15px;
  font-style: italic;
  font-size: 1.6rem;
}

.c-mesFactureInfo__desc {
  font-size: 1.5rem;
  min-height: 80px;
}

.c-mesFactureInfo__explication {
  font-size: 1.8rem;
  line-height: 30px;
}

.c-mesFactureInfo__note {
  font-size: 1.1rem;
  margin-top: 10px;
  display: block;
}

.c-mesFactureInfo__picto {
  margin-top: 5px;
  width: 100%;
  display: flex;
  color: $blue;
  justify-content: space-between;
  @media #{$medium} {
  justify-content: space-around;
  }
}

.c-mesFactureInfo__picto a {
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  flex-direction: row;
}

.c-mesFactureInfo__picto a span{
  font-size: 1.6rem;
  padding-left: 10px;
  margin-bottom: 5px;
}

.c-mesFactureInfo__iconError {
  font-size: 8em;
  color: $grey;
  display: flex;
  margin: 24px 0;
  justify-content: center;
  line-height: 8rem;
}

.c-mesFactureInfo__factureError {
  font-size: 2rem;
  color: $grey;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 2rem;
}

.c-mesFactureInfo__descspan {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

@include media ("<=small") {
  .c-mesFactureInfo, .c-mesFactureInfo.c-mesFactureInfo__paiement {
    height: auto;
    margin-bottom: 20px;
  }

  .c-mesFactureInfo__desc {
    min-height: auto;
  }

  .c-mesFactureInfo {
    padding: 20px;
  }

  .c-mesFactureInfo__picto {
    margin-top: 20px;
  }

  .c-mesFactureInfo__picto a {
    font-size: 2rem;
  }

  .c-mesFactureInfo__picto a span {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1115px) and (min-width: 1024px) {
  .c-mesFactureInfo__picto a span {
    font-size: 1.3rem;
  }

  .c-mesFactureInfo__picto a {
    font-size: 2.2rem;
  }

  .c-mesFactureInfo__picto {
    height: auto;
    padding: 10px 0;
  }
}

@include media("<=medium", ">small") {
  .c-mesFactureInfo {
    padding: 20px;
  }

  .c-mesFactureInfo__picto {
    margin-top: 20px;
  }

  .c-mesFactureInfo__picto a span {
    font-size: 1.3rem;
  }

  .c-mesFactureInfo__picto a {
    font-size: 2.2rem;
    flex-direction: row;
  }

  .c-mesFactureInfo__prix {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .c-mesFactureInfo__desc {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 841px) and (min-width: 769px) {
  .c-mesFactureInfo__explication {
    line-height: 22px;
  }

  .c-mesFactureInfo__picto {
    height: 40px;
  }

  .c-mesFactureInfo__picto a span {
    font-size: 1.1rem;
  }

  .c-mesFactureInfo__title {
    font-size: 2.1rem;
  }
}