.c-uploadMat2 {
  display: flex;
  padding: 20px;
  border: 6px solid $venteBlue-light;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 135px;

  &.is-success {
    border-color: $genBlue;
    .c-uploadMat2__stateIcon {
      color: $green;
    }
  }

  .c-fieldInfo.c-fieldInfo--inputMat {
    margin-top: 8px;
  }
}

.c-uploadMat2__file {
  margin-top: 8px;
}

.c-uploadMat2__btn {
  margin-top: 8px;
}

.c-uploadMat2__field {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: .1px;
  height: .1px;
  opacity: 0;
}

.c-uploadMat2__label {
  display: inline-block;
  margin-bottom: 5px;
  color: $genBlue;
  cursor: pointer;

  @include hover-focus-active() {
    color: $genBlue-hover;
  }
}

.c-uploadMat2__resetBtn {
  @extend %reset-style-button;

  color: $genBlue;
  text-decoration: underline;
}

.c-uploadMat2__stateIcon {
  display: inline-block;
  font-size: 2.1rem;
  color: $genBlue;
}
