.c-somsDesc {
  @extend %clear-after;
  .u-link {
    float: right;
  }

  & + & {
    margin-top: 5px;
  }
}


@include media("<small") {
  .c-somsDesc {
    text-align: center;
    margin-bottom: 10px;
  }

  .c-somsDesc__Break {
    display: block;
  }
}
