mixin somsDesc(data)
  // .c-somsDesc
  p.c-somsDesc
    span.c-somsDesc__Break Offre
    = " "
    span.u-hideSmall :
    = " "
    span.c-somsDesc__Break.u-textBold Gaz Fixe 1 an

  p.c-somsDesc
    span.c-somsDesc__Break Énergie
    = " "
    span.u-hideSmall :
    = " "
    span.c-somsDesc__Break.u-textBold Gaz naturel

  p.c-somsDesc
    span.c-somsDesc__Break Date de mise en service souhaité
    = " "
    span.u-hideSmall :
    = " "
    span.c-somsDesc__Break.u-textBold 02/06/2017
  // END - .c-somsDesc
