mixin historiqueConso(data)
  - var data             = data || {}
  - var color            = data.color || "u-color-genBlue"
  - var colorBottom      = data.colorBottom || "u-color-black"
  - var desactiver       = data.desactiver || false 

  //c-historiqueConso
  if desactiver
    .c-historiqueConso.c-historiqueConso--gris
      .c-historiqueConso__texte
        span.c-historiqueConso__color.u-textBold Je télecharge l’historique
        span.c-historiqueConso__black de ma consommation

  else
    a.c-historiqueConso(href="#")
      .c-historiqueConso__texte
        span.c-historiqueConso__color.u-textBold(class=color) Je télecharge l’historique
        span.c-historiqueConso__black(class=colorBottom) de ma consommation
      span.icon.icon-carousel-next.c-historiqueConso__icon

