.c-estimationFacture {
  display: flex;
  width: 100%;
  padding-top: 10px;
  margin-top: 50px;
}

.c-estimationFacture__dotted {
  border-bottom: 2px dotted black;
  height: 10px;
  margin-top: 5px;
  &.dotted-1 {
    width: 45%;
    @media screen and (min-width: 1024px) {
      width: 33%;
    }
  }
  &.dotted-2 {
    width: 34%;
    @media screen and (min-width: 1024px) {
      width: 25%;
    }
  }
  &.dotted-3 {
    width: 45%;
    @media screen and (min-width: 1024px) {
      width: 33%;
    }

    &> div {
      @media screen and (max-width: 768px) {
        width: 50%;
      }
    }
  }

}
.c-estimationFacture--center {
  margin: auto;
  width: 100%;
  padding: 0 8px;
  @media screen and (min-width: 1024px) {
    padding: 0 50px;
  }
}

.c-estimationFacture__RsltTTC {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: 768px) {
    width: 95px;
    margin-left: 10%;
  }

  @media screen and (min-width: 1024px) {
    width: 125px;
  }

  width: 155px;
}

.c-estimationFacture__facture {
  padding: 0 50px 50px;
  background-color: $grey-light;
  width: 50%;
  display: inline-block;
  text-align: center;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.c-estimationFacture__thumb {
  display: inline-flex;
  margin: -10px auto 0;
  overflow: hidden;
  padding-bottom: 50px;
}

.c-estimationFacture__thumbPrix {
  background: $genBlue;
  padding: 30px 20px;
  box-shadow: 2px 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.c-estimationFacture__thumb span {
  color: white;
}

.c-estimationFacture__image {
  width: 50%;
  display: inline-block;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.c-estimationFacture__image img {
  width: 100%;
  height: 100% !important;

}

.c-estimationFacture__prixMonth {
  font-weight: bold;
  font-size: 3.2rem;
  display: block;
  margin-bottom: 5px;
}

.c-estimationFacture__prixMonth sup {
  font-size: 1.1rem;
}

.c-estimationFacture__Detail {
  text-align: left;
  width: 100%;
}

.c-estimationFacture__triangle {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-bottom: solid 5px #006ba2;
  border-left: solid 5px #006ba2;
  border-right: solid 5px transparent;
  border-top: solid 5px transparent;
}

.c-estimationFacture__Desc {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 45px;
  width: 100%;
  justify-content: space-between;
}

.c-estimationFacture__Title {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-estimationFacture__Rslt {
  display: inline-block;
  font-weight: normal;
  font-size: 1.5rem;
}

.c-estimationFacture__RsltHt {
  display: block;
  padding-top: 10px;
}

.c-estimationFacture__infoSaisie {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

@include media("<=small") {
  .c-estimationFacture--center {
    width: 100%;
  }

  .c-estimationFacture__facture {
    padding: 0 20px 20px
  }

  .c-estimationFacture__facture, .c-estimationFacture, .c-estimationFacture__image {
    width: 100%;
    display: block;
  }

  .c-estimationFacture__image {
    display: none;
  }

  .c-estimationFacture__infoSaisie, .c-estimationFacture__Desc {
    font-size: 1.7rem;
  }
}



