@import 'itemOption/itemOption';

.c-itemOption__imgPromo {
  position:absolute;
  top: -5px;
  right: -9px;
}

.c-itemOptionWrap__wrapper-2 {
  display: block;

  .c-itemOption {
    margin-top: 0;
  }
}

@include media(">small") {
  .c-itemOptionWrap__text {
    height: 30px;
  }
  
  .c-itemOptionWrap__wrapper-2 {
    display: flex;
    margin-right: 30px;
  }
}