
mixin timeLineWizard(data)
  - var data          = data || {}
  - var currentStep   = data.currentStep || 1
  - var stepWording   = data.stepWording || ['Défaut']
  - var progressRatio = (100 / (stepWording.length - 1) / 100) * (currentStep - 1) || 0
  - var exemple = data.exemple || "tel"

  if exemple === "tel"
    .c-timeLine.c-timeLineWizard(style='position: relative; top: 0;')
      .c-timeLineWizard__wrap
        .c-progress.step-app
          .c-progressBar(role='progressbar' aria-valuenow='0' aria-valuemin='0' and='' aria-valuemax='100')
            .c-progressBar__line(style='-ms-transform: scaleX(0); -webkit-transform: scaleX(0); transform: scaleX(0.5);')

          ul.step-steps
            li.c-progressStep(style='left: 0%;').done
              a(href='#tab1').c-progressStep__value
                span.number 1
              .c-progressStep__legend  Mon projet
            li.c-progressStep(style='left: 25%;').done
              a(href='#tab2').c-progressStep__value
                span.number 2
              .c-progressStep__legend  Mon budget
            li.c-progressStep(style='left: 50%;').active
              a(href='#tab3').c-progressStep__value
                span.number 3
              .c-progressStep__legend  Mes coordonnées
            li.c-progressStep(style='left: 75%;')
              a(href='#tab4').c-progressStep__value
                span.number 4
              .c-progressStep__legend  Mon nouveau logement
            li.c-progressStep(style='left: 100%;')
              a(href='#tab5').c-progressStep__value
                span.number 5
              .c-progressStep__legend  Ma facturation

  else if exemple === "telChecked"
    .c-timeLine.c-timeLineWizard(style='position: relative; top: 0;').c-timeLineWizard--checked
      .c-timeLineWizard__wrap
        .c-progress.step-app
          .c-progressBar(role='progressbar' aria-valuenow='0' aria-valuemin='0' and='' aria-valuemax='100')
            .c-progressBar__line(style='-ms-transform: scaleX(0); -webkit-transform: scaleX(0); transform: scaleX(1);')

          ul.step-steps
            li.c-progressStep(style='left: 0%;').done
              a(href='#tab1').c-progressStep__value
                span.number.icon.icon-check
              .c-progressStep__legend  Mon projet
            li.c-progressStep(style='left: 25%;').done
              a(href='#tab2').c-progressStep__value
                span.number.icon.icon-check
              .c-progressStep__legend  Mon budget
            li.c-progressStep(style='left: 50%;').done
              a(href='#tab3').c-progressStep__value
                span.number.icon.icon-check
              .c-progressStep__legend  Mes coordonnées
            li.c-progressStep(style='left: 75%;').done
              a(href='#tab4').c-progressStep__value
                span.number.icon.icon-check
              .c-progressStep__legend  Mon nouveau logement
            li.c-progressStep(style='left: 100%;').done
              a(href='#tab5').c-progressStep__value
                span.number.icon.icon-check
              .c-progressStep__legend  Ma facturation              

  else if exemple === "rattachementBP"
    .c-timeLine.c-timeLineWizard(style='position: relative; top: 0;')
      .c-timeLineWizard__wrap
        .c-progress.step-app
          .c-progressBar(role='progressbar' aria-valuenow='0' aria-valuemin='0' and='' aria-valuemax='100')
            .c-progressBar__line(style='-ms-transform: scaleX(0); -webkit-transform: scaleX(0); transform: scaleX(0.6666);')

          ul.step-steps
            li.c-progressStep(style='left: 0%;').done
              a(href='#tab1').c-progressStep__value
                span.number 1
              .c-progressStep__legend  Votre Profile
            li.c-progressStep(style='left: 33.33%;').done
              a(href='#tab2').c-progressStep__value
                span.number 2
              .c-progressStep__legend  Votre numéro de téléphone
            li.c-progressStep(style='left: 66.66%;').active
              a(href='#tab3').c-progressStep__value
                span.number 3
              .c-progressStep__legend  Saisir le code
            li.c-progressStep(style='left: 100%;')
              a(href='#tab4').c-progressStep__value
                span.number 4
              .c-progressStep__legend  Confirmation de rattachement

//- .c-timeLine(style='position: relative; top: 0;')
//-   .c-progress
//-     .c-progressBar(role='progressbar' aria-valuenow='0' aria-valuemin='0' and='' aria-valuemax='100')
//-       .c-progressBar__line(style='-ms-transform: scaleX(0); -webkit-transform: scaleX(0); transform: scaleX(0);')
//-     .c-progressStep.is-current(style='left: 0%;')
//-       .c-progressStep__value 1
//-       .c-progressStep__legend Crit&egrave;res
//-     .c-progressStep(style='left: 25%;')
//-       .c-progressStep__value 2
//-       .c-progressStep__legend Offres
//-     .c-progressStep(style='left: 50%;')
//-       .c-progressStep__value 3
//-       .c-progressStep__legend Souscription
//-     .c-progressStep(style='left: 75%;')
//-       .c-progressStep__value 4
//-       .c-progressStep__legend Validation
//-     .c-progressStep(style='left: 100%;')
//-       .c-progressStep__value 5
//-       .c-progressStep__legend fin
