
.c-selectEmpty {
  position: relative;
  display: block;
  text-align: left;
}

.c-selectEmpty__wrapper:after {
  content: "\EA23";
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 1;
  transform: translateY(-50%);
  font-family: 'icons';
  font-size: 28px;
}

.c-selectEmpty__select {
  position: relative;
  z-index: 10;
  padding: 20px;
  border: 1px solid;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  text-align-last: center;

  border-radius: 0;
  box-shadow: none;
  appearance: none;
  background: transparent;

  &::-ms-expand {
    display: none;
  }
}