mixin selectEmpty(data)
  - var data  = data || {}

  // .c-selectEmpty
  span.c-selectEmpty.u-theme-indigo&attributes(attributes)
    span.c-selectEmpty__wrapper.u-theme-color.u-theme-color-hover
      select.c-selectEmpty__select.u-theme-color.u-theme-color-hover
        option(value="0") Je ne sais pas
        option(value="1") Option 1
        option(value="2") Option 2
        option(value="3") Option 3
        option(value="4") Option 4
  // end .c-selectEmpty
