include zoneTarifaire

+demo({
  desc: "nouveau tableau prix par ville bis"
})
  .c-zoneTarifaire.u-padding-a-50
    +zoneTarifaireBlocBoardv3bis

+demo
  .c-zoneTarifaire.u-padding-a-50
    +zoneTarifaireBlocBoardv2bis




+demo
  +zoneTarifaire

  