.c-offerPromo {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 35px;
  background-color: $grey-light;
}

.c-offerPromo__title {
  color: $white;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 2px;
  display: flex;
  position: relative;

  span {
    align-self: center;
    z-index: 2;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    z-index: 1;
  }

  &:before {
    top: 0;
    height: 50%;
    border-bottom: 1px solid $coral; // hack pour IE11 : comble l'espace blanc
    transform: skewX(32deg);
  }

  &:after {
    top: 50%;
    bottom: 0;
    border-top: 1px solid $coral; // hack pour IE11 : comble l'espace blanc
    transform: skewX(-32deg);
  }
}

.c-offerPromo__detail {
  align-self: center;
  font-weight: $font-bold;
  padding: 10px 15px;
  font-size: 1.3rem;
  color: $coral;

  sup {
    font-size: 0.8rem;
  }

  .c-offerPromo--select & {
    font-weight: normal;
    color: $black;
  }
}

.c-offerPromo__title:before,
.c-offerPromo__title:after {
  background-color: $coral;
}

// Version du bloc de promo sans flèche :
.c-offerPromo--noArrow {
  background-color: $coral;

  .c-offerPromo__title {
    padding-left: 6px;
    padding-right: 6px;
    background-color: $grey-light;
    color: $coral;
    font-size: $font-16;
    font-weight: $font-bold;

    &:before,
    &:after {
      content: none;
    }
  }

  .c-offerPromo__detail {
    color: $white;
    font-size: $font-15;
    font-weight: normal;
  }
}

// Version du bloc de promo cliquable :
.c-offerPromo--select {
  @extend %reset-style-button;

  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  height: 74px;

  & + & {
    margin-top: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 0;
    background-color: $coral;
    transition: all .4s;
  }

  &:after {
    content: "\EA25";
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 6;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .4s, color .6s;
    font-size: 3rem;
    text-align: center;
    color: $coral;

    font-family: 'icons' !important; // empêcher surcharge CSS partenaires (FAQ)
    speak: none;
    display: inline;
  }

  @include hover-focus-active() {
    &:before {
      width: 100%;
    }

    &:after {
      content: "\EA22";
      right: 15px;
      color: $white;
      font-size: 1.8rem;
      transform: translateY(-50%) rotate(-360deg);
      transform-origin: center center;
    }

    .c-offerPromo__detail {
      color: $white;
    }
  }

  .c-offerPromo__title,
  .c-offerPromo__detail {
    z-index: 6;
  }

  .c-offerPromo__title {
    padding-left: 4px;
    padding-right: 4px;
    height: 74px;
    font-size: $font-14;
    font-weight: $font-bold;
  }

  .c-offerPromo__detail {
    padding: 10px 40px 10px 20px;
    font-size: $font-15;
    text-align: left;
    transition: color .2s;
  }
}

.c-offerPromo--select__wrapper {
  display: flex;
}


@include media('>=small') {
  .c-offerPromo {
    height: 50px;
  }

  .c-offerPromo--noArrow {
    height: 35px;
  }

  .c-offerPromo--select {
    height: 74px;


    .c-offerPromo__detail {
      padding: 10px 50px;
    }

    .c-offerPromo__title {
      padding-left: 20px;
      padding-right: 20px;
      font-size: $font-16;
    }
  }

  .c-offerPromo__title {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .c-offerPromo__detail {
    padding-left: 20px;
    font-size: 1.4rem;
  }
}


@include media('>=medium') {
  .c-offerPromo--noArrow {
    height: 40px;

    .c-offerPromo__title {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}