include tmpChauf
+demo
  .l-row
    .l-col-large-6.u-margin-b-40
      +tmpChauf({
        progChauff : true
      })
    .l-col-large-6.u-margin-b-40
      +tmpChauf({
        titre : "Mes éco-gestes",
        ecoGest : true,
        para : "Sélectionnez vos eco-gestes pièce par pièce et adoptez les bons réflexes pour réduire votre consommation.",
        btn : "J’y vais"
      })
+demo
  .l-row
    .l-col-small-12
      +tmpChauf({
        progChauff : true,
        full : true
      })
+demo
  .l-row
    .l-col-small-12
      +tmpChauf({
        full : true,
        titre : "Mes éco-gestes",
        ecoGest : true,
        para : "Sélectionnez vos eco-gestes pièce par pièce et adoptez les bons réflexes pour réduire votre consommation.",
        btn : "J’y vais"
      })