mixin formContactIban(data)
  - var data = data || {}
  - var id = data.id || ""

  fieldset.c-formContactIban.c-formContact__separator.l-wrapper--medium.u-padding-spacer(
    data-e-formcontact-block={id: id}
  )
    h3.u-heading-3.l-wrapper--medium.u-textCenter Pour continuer, entrer votre IBAN

    .c-column.c-column--100
      .c-column__col
        +inputMat({
          label:       'Votre IBAN (sécurisé)',
          type:        "text",
          id:          "contact-iban",
          name:        "IBAN",
          iban:        true,
          placeholder: 'FR33 1235 1231 1231 1231 1231 1231',
          check:       true,
          required:    true,
          pattern: 'iban',
          dataValidation: {
            typing: false,
            validations: {
              valueMissing: 'Champ obligatoire',
              patternMismatch: 'Format incorrect'
            }
          }
        })
