//stop mail/sms
.c-monProfile__stop {
  position: relative;
  width: calc(100% - 66px);
  margin-left: 66px;
  @include media("<medium") {
    margin-left: 10px;
  }
}

.c-monProfil__modalTitle {
  font-size: 2.4rem;
  line-height: 3rem;
}

.c-monProfile__stop .c-monProfile__labelDesktop {
  top: 0;
}
@media screen and (max-width : 1025px) and (min-width : 1024px) {
  .c-monProfile__stop ~ .c-monProfile__listes .c-monProfile__options--notifs .c-checkboxMat {
    width: 50% !important;
    margin-left: -23px;
    margin-right: 0 !important;
  }
}

.c-monProfile__stop ~ .c-monProfile__listes .c-monProfile__options--notifs .c-checkboxMat:last-child {
  border: none;
}

.c-monProfile__stop .c-monProfile__labelDesktop span {
  width: 50%;
  margin: 0 0 0 -23px;
  text-align: left;
}

.c-monProfile__stop ~ .c-monProfile__listes .c-monProfile__options--notifs .c-checkboxMat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin-right: 35%;
  @include media("<medium") {
    justify-content: space-between;
    width: 100%;
  }
}

.c-monProfile__stop .c-monProfile__options--notifs .c-checkboxMat {
  width: 100px;
}

//end stop mail/sms

.c-monProfile {
  background-color: $grey-light;

  .l-row {
    &.l-row--noSideGut.l-profile {
      @media (max-width: 1024px) {
        margin: 0;

      }
    }
    position: relative;
  }
  
  .c-radioSwitchMat__text {
    color: black;
  }

  .c-checkboxMat {
    position: relative;
  }

  hr {
    background: #d7d7d7;
    @media (max-width: 600px) {
      display: none;
    }

    @media (min-width: 1024px) {
      margin: 50px 3%;
    }
  }

  @media (max-width: 767px) {
    .c-monProfile__options--notifs .c-monProfile__options__colLeft {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.c-monProfile__labelDesktop {
  display: none;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.c-monProfile__optionsLabel {
  display: none;
}

.c-monProfile__picto {
  font-size: 2.5rem;
  padding: 6px;
  border-radius: 25px;
  background-color: $genBlue;
  color: white;
}

.c-monProfile__panel {
  display: none;
  &.is-active {
    display: block;
  }
}

.c-monProfile__tabs {
  background-color: $grey-light;
  display: flex;

  li {
    width: 50%;
    text-align: center;
  }

  a {
    padding: 0 5%;
    background-color: white;
    display: flex;
    font-size: 1.5rem;
    text-decoration: none;  
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;

    &.is-active {
      background-color: $grey-light;
    }
  }
}



.c-monProfile__options {
  display: flex;
  margin: 10px;

  .c-monProfile__options__colRight {
    width: auto;
  }

  .c-monProfile__options__colLeft {
    // width: 100%;
    margin-right: 1.5%;
    font-size: 1.5rem;
  }  
}


.c-monProfile__listes .is-disabled {
  opacity: 0.3;
}


.c-monProfile__options__row {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.c-monProfile__options .c-monProfile__options__colLeft {
  width:100%;
  margin-right: 10%;
}

.c-monProfile__options--notifs {
  display: flex;
  margin: 10px;
  flex-direction: column;

  .c-monProfile__options__row {
    flex-direction: column;
  }

  .c-checkboxMat {
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: 1px solid $grey-light;
    justify-content: space-between;
  }
}

.c-monProfile__alert {
  color: red;
  font-size: 2.5rem;
  position: absolute;
  right: 0;
}

.c-monprofile__MonEnergie {
  display: flex;
  align-items: baseline;
}

.c-monProfile__icon {
  font-size: 2.4rem;
  color: $genBlue;
  position: relative;
  top: 5px;
}

.c-monProfile__iconMain {
  padding-left: 16px;
}

@media (max-width: 767px) {
  .c-monProfile__alert {
    display: none;
  }
  .c-monProfile__options--notifs {
    flex-direction: column;
  
    .c-monProfile__options__colRight {
      width: 100%;
    }
  
    .c-monProfile__options__colLeft {
      width: 100%;
    }
  }
  
  .c-monProfile  {
    .switchHide {
        display: none;
    }
    

    [class*="l-col-"] {
      padding: 0;
    }

    .c-checkboxMat--switch  {
      width: 100%;
      justify-content: space-between;
      // padding-right: 5%;

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .c-monProfile__options__checkbox .c-checkboxMat--switch {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    } 
  
    .c-monProfile__options__label {
      margin-right: 5px;
    }
  }

  .c-monProfile__options__row--singleChoice {
    justify-content: space-between;
  }
}

@media (min-width: 768px) { 
  .c-monProfile__options .c-monProfile__options__colLeft {
    margin-right: 15px;
    width: 100%;
  }

  .c-monProfile .switchHide .switch {
    display: none;
  }
}


@media (min-width: 1024px) { 
  .c-monProfile__tabs a { font-size: 2.4rem; }


  
  .c-monProfile__options--notifs {
    flex-direction: row;
  }

  .c-monProfile__options__colRight {
    width: 33.33333%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .c-monProfile__options__colLeft {
    width: 66%;
  }

  .c-monProfile__options__row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }


  .c-monProfile__options__label {
    display: none;
  }

  .c-monProfile__listes {
    margin-left: 56px;
    margin-bottom: 0;
    position: relative;
  }

  .c-monProfile__optionsLabel {
    display: flex;
  }

  .c-monProfile__notifLabelArrow {
    background: white;
    height: 7px;
    width: 7px;
    position: absolute;
    left: 44%;
    transform: rotate(45deg);
    z-index: 0;
    bottom: -3px;
  }
  
  .c-monProfile__optionsLabel {
    display: flex;
    width: 33.33333%;
    justify-content: flex-start;
    position: absolute;
    top: -40px;
    right: 0;
  }

  .c-monProfile__notifLabel {
    position: relative;
    width: 17%;
    font-size: 1.3rem;
    text-align: center;
    background: white;
    font-weight: bold;

    &:nth-child(1) {
      margin-right: 5.7%;
      width:35px;
    }    

    &:nth-child(2) {
      width: 48px;
      margin-right: 11%;
    }
    
    &:nth-child(3) {
      margin-right: 9%;
    }    

    &:nth-child(4) {
      margin-right: 8.7%;
      width: 33px;
    }
  }

  .c-monProfile__labelDesktop {
    display: flex;
    font-weight: bold;
    font-size: 1.4rem;
    position: absolute;
    right: -20px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 33%;
    top: -42px;

    span { 
      width: 56px;
      display: inline-block;
      text-align: center;
      margin: 0px 13px;
    }
  }
  
  .c-monProfile {
    .c-btn__content {
      font-size: 1.5rem;
    }

    .c-checkboxMat--switch  {
      margin-right: 15.5%;

      &:last-child {
        margin-right: 0;
      }
    }    
  }

  .c-monProfile__options--notifs .c-monProfile__options__row {
    flex-direction: row;
  }

  .c-monProfile__options__colRight.c-monProfile__options__checkbox {
    // margin-left: 50px;
    align-items: baseline;
  }

  .c-monProfile__options--firstChild 
  .c-monProfile__options__colRight
  .c-monProfile__options__label {
    display: block;
    position: absolute;
    top: -55px;
    left: 1px;
    font-weight: bold;

    &.courrier { left: -4px;}
  }

  .c-monProfile__options--firstChild 
  .c-monProfile__options__row:nth-child(2) 
  .c-checkboxMat--switch:nth-child(1) 
  .c-monProfile__options__label {
    left: -5px;
  }

  
  .c-monProfile__options--firstChild 
  .c-monProfile__options__row:nth-child(2) 
  .c-checkboxMat--switch:nth-child(2) 
  .c-monProfile__options__label {
    left: 0px;
  }

  .c-monProfile__options--notifs .c-checkboxMat {
    border-bottom: 0;
    padding: 0;
    width: 36px;
    height: 17px;
  }

  .c-monProfile__options--notifs {
    padding: 15px 0;
  }

  .c-monProfile__options--notifs .c-monProfile__options__row {
    margin: 0;
  }

  .c-monProfile__options .c-monProfile__options__colLeft {
    width: 66.5%;
  }

  .c-monProfile__options__colLeft {
    margin-right: 50px;
  }
}

@media (min-width: 1025px) { 
  .c-monProfile__labelDesktop {
    right: 0;
    width: 32.5%;
  }
}

@include media(">=small") { 

  .c-monProfile__options .c-monProfile__options__row--singleChoice, 
  .c-monProfile__options__row.c-monProfile__options__row--singleChoice  {
    justify-content: flex-start;
  }
}

@include media(">medium") { 
  .c-monProfile__options__row { margin: 0;}
}

@include media("<=medium") {

  .c-monProfile__iconModal {
    display: flex;
  }

  .c-monProfile__spanIconModal {
    width: 80%;
  }
}

