
mixin monProfile

  .c-monProfile&attributes(attributes)
    section(data-e-tabs='{"mobileSlide": false, "sameHeight": false}')
      ul.c-monProfile__tabs
        li
          a(href='#panel1', data-e-tabs-link='') Mes informations
        li
          a(href='#panel2', data-e-tabs-link='') Mes préférences de contact
      div
        // .c-tabs__panel
        #panel1(data-e-tabs-panel='').c-monProfile__panel
          div.u-padding-h-40

            .l-wrapper.l-wrapper--main.u-margin-t-50
              .l-row.l-row--noSideGut.u-margin-b-40
                .l-col-medium-6.u-margin-small-b-10
                  //- colonne gauche 
                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 mes identifiants de connexion 

                    p.u-margin-b-15 <b>Mon e-mail de connexion:</b> : Tata@gmail.com
                    
                    ul.u-margin-b-15
                      li
                        a(href="#").u-color-genBlue Modifier mon e-mail de connexion
                      li  
                        a(href="#").u-color-genBlue Modifier mon e-mail de connexion

                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon contrat de gaz naturel 

                    p.u-fontSize-large.u-margin-b-15 Mes informations
                    
                    p.u-margin-b-15 <b>Téléphone :</b> 06.xx.xx.xx.xx
                    p.u-margin-b-15 <b>Adresse e-mail de contact :</b>  <br/>tata@gmail.com

                    p
                      a(href="#").u-color-genBlue > Modifier mes coordonnées de contact

                    hr.u-margin-v-50
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon contrat de gaz naturel 

                    p.u-fontSize-large.u-margin-b-15 Mes informations
                    
                    p.u-margin-b-15 <b>Téléphone :</b> 06.xx.xx.xx.xx
                    p.u-margin-b-15 <b>Adresse e-mail de contact :</b> tata@gmail.com

                    p
                      a(href="#").u-color-genBlue > Modifier mes coordonnées de contact

                    hr.u-margin-v-50

                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon Offre d'énergie

                    .c-monprofile__MonEnergie
                      .c-monProfile__icon.icon.icon-flameGaz
                      .c-monProfile__iconMain.u-margin-b-20
                        p.u-fontSize-small.u-textBold.u-margin-b-10 Mon contrat de Gaz Naturel au Tarif Réglementé :
                        
                        p.u-fontSize-small <b>Tarif :</b> Base - consommation de 0 à 6 000 kWh/an
                        p.u-fontSize-small <b>Mon abonnement :</b> de 0 à 6 000 KwH
                        p.u-fontSize-small <b> Mon prix du gaz au 01/02/2022 : </b> 0,01121 €/kWh

                        p
                          a(href="#").u-color-genBlue > Tout savoir sur les prix du gaz

                    .c-monprofile__MonEnergie
                      .c-monProfile__icon.icon.icon-home--profil
                      .c-monProfile__iconMain.u-margin-b-20
                        p.u-fontSize-small.u-textBold.u-margin-b-10.c-monProfile__iconModal
                          span.c-monProfile__spanIconModal Mon point de comptage et d’estimation (PCE) :
                          span(title=title data-e-modal-open="pointComptage").u-margin-l-15.c-toolTip__icon.u-theme-bg.u-theme-bg-hover ?
                          +modal({
                            target: '{"target": "pointComptage"}',
                            closeTheme : true
                          }).c-modal__content--medium
                            .u-padding-a-40.u-textCenter 
                              h2.c-monProfil__modalTitle.u-margin-b-15 Détails du point de comptage et d’estimation
                              .u-typoSize-14.u-margin-b-20
                                p.u-textBold.u-margin-b-30 Le point de comptage et d’estimation est une référence qui nous permet d’identifier votre lieu de consommation pour le gaz naturel
                                p <b>Date théorique de la prochaine relève du distributeur :</b> 15/02/2022 
                                p <b>Date d’activation compteur communiquant :</b> 20/09/2019 
                                p <b>Accessibilité pour la Relève :</b> Information non disponible actuellement
                                p <b>Accès au compteur : </b> Information non disponible actuellement
                                p <b>Matricule du compteur : </b> Information non disponible actuellement
                              a(href="").u-color-genBlue En savoir plus sur le compteur Gazpar 
                        p.u-fontSize-small 254999999999964

                        p
                          a(href="#").u-color-genBlue > Plus d’info sur mon compteur

                    .c-monprofile__MonEnergie
                      .c-monProfile__icon.icon.icon-chariot
                      .c-monProfile__iconMain.u-margin-b-20
                        p.u-fontSize-small.u-textBold.u-margin-b-10 Je déménage

                        p
                          a(href="#").u-color-genBlue > Comment résilier mon contrat
                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon Offre d'énergie
                    .c-monprofile__MonEnergie
                      p.u-textBold.u-margin-v-50 Oups, vos données sont <br> momentanément indisponible

                .l-col-medium-6.u-margin-small-b-10
                  //- colonne droite 
                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 my title

                    p.u-margin-b-15 <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
                    p.u-margin-b-15 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis, dolor
                    +btnWrapper.u-theme-genBlue
                      +baseBtn({
                        text: 'je fais ma demande',
                        button: true
                      })(data-e-modal-open='modalAccess')

                    p.u-margin-t-15 Vous pouvez <a href="#"> modifier votre e-mail dans vos coomoné de contact</a> si vous souhaitez.


                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 mes Documents

                    ul.u-margin-b-15
                      li
                        a(href="#").u-color-genBlue.icon.icon-bold-download Télécharger mon guide Pratique
                      li
                        a(href="#").u-color-genBlue.icon.icon-bold-download Télécharger mon guide Pratique
                      li
                        a(href="#").u-color-genBlue.icon.icon-bold-download Télécharger mon guide Pratique
                      li
                        a(href="#").u-color-genBlue.icon.icon-bold-download Télécharger mon guide Pratique
                      li  
                        a(href="#").u-color-genBlue.icon.icon-bold-download Télécharger mon guide Pratique

                  .u-bg-white.u-padding-a-20.u-margin-v-10
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon mode de paiement

                    p.u-fontSize-medium.u-margin-b-15 Mes informations
                    
                    p.u-margin-b-15 <b>Téléphone :</b> 06.xx.xx.xx.xx
                    p.u-margin-b-15 <b>Adresse e-mail de contact :</b> tata@gmail.com

                    p
                      a(href="#").u-color-genBlue > Modifier mes coordonnées de contact

                    hr.u-margin-v-50
                    h2.u-heading-2.u-textCenter.u-margin-b-15 Mon contrat de gaz naturel 

                    p.u-fontSize-medium.u-margin-b-15 Mes informations
                    
                    p.u-margin-b-15 <b>Téléphone :</b> 06.xx.xx.xx.xx
                    p.u-margin-b-15 <b>Adresse e-mail de contact :</b> tata@gmail.com

                    p
                      a(href="#").u-color-genBlue > Modifier mes coordonnées de contact

                    hr.u-margin-v-50
            // end .c-tabs__pannel
            // .c-tabs__panel
        #panel2(data-e-tabs-panel='').c-monProfile__panel.u-padding-v-40
          div
            .u-bg-white.u-padding-a-40.u-margin-v-10.u-margin-h-40
              h2.u-fontSize-large.u-margin-b-15.u-color-genBlue MES COORDONEES DE CONTACT 
              
              .l-row.l-row--noSideGut.l-profile
                .l-col-medium-6
                  p.u-margin-b-15 <b> Téléphone : </b> <br> <span>06 xx xx xx xx</span>   
                  p <b> E-mail de contact : </b> <br><span>monEmail@mail.com</span>   
                .l-col-medium-6
                  +btnWrap.c-btnWrap--alignRight
                    +btn({ 
                      button: false,
                      text: "je modifie mes coordonnées"
                    }).c-btn--noMargin
                                      
            
            .u-bg-white.u-padding-a-40.u-margin-v-10.u-margin-h-40
              h2.u-fontSize-large.u-margin-b-15.u-color-genBlue MES PREFERENCS DE COMMUNICATION 

              p.u-margin-b-15.u-fontSize-medium.u-flex-row
                span.c-monProfile__picto.icon.icon-contact-mail.u-margin-r-15
                <b>Mes communications personalisées</b>
              

              .l-row.l-row--noSideGut
                .c-monProfile__stop
                  .u-fontSize-medium.u-flex-row 
                    span.c-monProfile__options__colLeft Mes préférences de communication commercials
                    .c-monProfile__labelDesktop
                      span STOP e-mail 
                      span STOP SMS
                ul.c-monProfile__listes
                
                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({
                        labelIsHidden : true,
                        id: "checkTest1",
                        name: 'radioTest',
                        labelTop: true
                      })
                        span.c-monProfile__options__label STOP e-mail 
                      
                      +checkboxMat({
                        labelIsHidden : true,
                        id: "checkTest2",
                        name: 'radioTest2',
                        labelTop: true
                      })
                        span.c-monProfile__options__label STOP SMS
            
              .l-row.l-row--noSideGut
                ul.c-monProfile__listes

                  li.c-monProfile__options
                    .c-monProfile__options__row.c-monProfile__options__row--singleChoice.is-disabled
                      .c-monProfile__options__colLeft • J’accepte de recevoir des offres et des services similaires ou non à ceux que j’ai souscris auprès de Gaz Tarif Réglementé
                      .c-monProfile__options__colRight.c-monProfile__options__checkbox
                        +checkboxMat({switchMode : true})
                    .c-monProfile__alert !

                  li.c-monProfile__options.c-monProfile__options__row--singleChoice
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight.c-monProfile__options__checkbox
                      +checkboxMat({switchMode : true})


                hr.u-margin-v-50

              p.u-margin-b-15.u-fontSize-medium.u-flex-row
                span.c-monProfile__picto.icon.icon-aide-anah.u-margin-r-15
                <b>Mes préférences de communication commercials</b>
            
              .l-row.l-row--noSideGut
                .c-monProfile__labelDesktop
                  span Email 
                  span SMS 
                  span Courrier 
                  span Tel

                ul.c-monProfile__listes
                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight.first-child
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS

                      +checkboxMat({switchMode : true,  switchHide: true})
                        span.c-monProfile__options__label Tel
                      
                      +checkboxMat({switchMode : true,  switchHide: true})
                        span.c-monProfile__options__label.courrier courrier


                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS

                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Tel
                      

                      


                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS

                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Tel
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label.courrier courrier



                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS

                        


                hr.u-margin-v-50

              p.u-margin-b-15.u-fontSize-medium.u-flex-row
                span.c-monProfile__picto.icon.icon-aide-anah.u-margin-r-15
                <b>Mes préférences de communication commercials</b>
            
              .l-row.l-row--noSideGut
                .c-monProfile__labelDesktop
                  span Email 
                  span SMS 
                  span Courrier 
                  span Tel

                ul.c-monProfile__listes
                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS
                  
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label.courrier courrier
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Tel


                  li.c-monProfile__options--notifs
                    .c-monProfile__options__colLeft Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id, vitae amet 
                    .c-monProfile__options__colRight
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Email
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label SMS
                    
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label.courrier courrier
                      
                      +checkboxMat({switchMode : true})
                        span.c-monProfile__options__label Tel                        
