include ../rating/rating
include ../../pager/pager
include ../../form/select/select

mixin espritService-reviews(data)
  - var data = data || {}

  section.c-espritService-comments2c-espritService-comments2(data-e-es-reviews='{"requestUrl": "../fake", "perPage": 6, "codeES": "simuchaud", "lienSignalerAbus": "http://r7.ikebana.espritservices.gazdefrance.fr/moderation-n", "feedBack":"Merci pour votre vote"}')
    // templates JS
    script(data-tpl="avisEspritService" type="text/template")
      li.c-espritService-comments2__avis
        +espritService-reviewTpl({
          classSizeBtn: "l-col-fix"
        })

          | [% if (this.verbatim.toLowerCase() !== "sans commentaire") { %]

          .c-espritService-comments2__voteBlock(data-e-es-reviews-votes="[% this.identifiantAvis %]")
            p.c-espritService-comments2__voteText Cet avis est-il utile ?
            .c-espritService-comments2__voteBtn
              a(href="#" data-e-es-reviews-vote='{"id": [% this.identifiantAvis %], "vote": "VoteP"}' title="oui")
                span.icon.icon-thumbs-o-up
                | [% if (this.nbrVotePositif + this.nbrVoteNegatif > 0) { %]
                | [% this.nbrVotePositif %]
                | [% } %]
              a(href="#" data-e-es-reviews-vote='{"id": [% this.identifiantAvis %], "vote": "VoteN"}' title="non")
                span.icon.icon-thumbs-o-down
                | [% if (this.nbrVotePositif + this.nbrVoteNegatif > 0) { %]
                | [% this.nbrVoteNegatif %]
                | [% } %]
          | [% } %]

    script(data-tpl="voteEspritService" type="text/template")
      +espritService-reviews__voteTpl()

    script(data-tpl="pagerEspritService" type="text/template")
      +pagerBtnTpl({id: 'espritService-reviews'})
    // end - templates JS

    .l-row.l-row--nogut
      +espritService-reviews__global()

      .c-espritService-comments2__sum.l-col-medium-6
        .c-espritService-comments2__title
          h3 Synthèse des notes attribuées

        .c-espritService-comments2__content
          +espritService-reviews__sumnote(10)
          +espritService-reviews__sumnote(8)
          +espritService-reviews__sumnote(6)
          +espritService-reviews__sumnote(4)
          +espritService-reviews__sumnote(2)

    // .c-espritService-comments2__filter
    .c-espritService-comments2__filter
      h3.c-espritService-comments2__title Les commentaires

      .c-espritService-comments2__dropdown
        .c-espritService-comments2__seeAll
          .u-visibilityHidden(data-e-es-reviews-resetnote)
            a(href='#' data-e-es-reviews-filter="allavis")
              span.icon.icon-close
              | Voir toute les notes

        +select({
          name: "modeDeTriAvis"
        })(data-e-es-reviews-filter)
          option(value='commentedonly') Avis commentés les plus récents
          option(value='commentedbyvote') Avis commentés les plus utiles
          option(value='allavis') Tous les avis
    // end .c-espritService-comments2__filter

    // .c-espritService-comments2__content
    .c-espritService-comments2__content
      ul.c-espritService-comments2__list(data-e-es-reviews-list)

      .c-pager(role="navigation" aria-label="Pagination" data-e-pager)
    // end .c-espritService-comments2__content


mixin espritService-reviews__global()
  // .c-espritService-comments2__global
  article.c-espritService-comments2__global.l-col-medium-6(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
    .c-espritService-comments2__title
      h3(itemprop='itemreviewed') Avis clients - Simulateur Chaudière

    .c-espritService-comments2__content.c-afnor.l-row.l-row--nogut
      .l-col-medium-4
        +rating(9)
        p.c-espritService-comments2__note
          span.u-textBold(itemprop='ratingValue') 4.7
          | /
          span(itemprop='bestRating') 5
          |  (
          span(itemprop='ratingCount') 22
          |  avis)

      .c-afnor__blockLogo.l-col-medium-8
        a(href="#")
          .c-espritService__logo--big
          span.u-visibilityHidden L'esprit services de Tarif Réglementé
        a(href="#")
          .c-espritService__afnor--big
          span.u-visibilityHidden AFNOR certification, NF service

    .l-row.l-row--nogut
      .l-col-medium-6.l-col-large-5
        +linkLongArrow({
          text: "Lire les CGU"
        }).u-bg-grey-light.u-bg-hover.u-color-black

      .l-col-large-2.u-hideSmall.u-hideMedium
        | &nbsp;

      .l-col-medium-6.l-col-large-5
        +linkLongArrow({
          text: "Tous les services"
        }).u-bg-black.u-bg-hover
  // end .c-espritService-comments2__global


mixin espritService-reviews__sumnote(note)
  .c-espritService-comments2__sumnote
    +rating(note)

    .c-espritService-comments2__note
      span 33%
      |  (
      a(href='#' data-e-es-reviews-note=note/2) 2166 avis
      | )


mixin espritService-reviews__voteTpl()
  //- avec templateEngine.js
  p.c-espritService-comments2__voteText [% this.feedBack %]
  .c-espritService-comments2__voteBtn
    span
      span.icon.icon-thumbs-o-up
      | [% this.CompteurP %]
    span
      span.icon.icon-thumbs-o-down
      | [% this.CompteurN %]