@include media(">=small") {
  .c-contactContainer__group {
    display: flex;
    justify-content: center;
  }

  .c-contactContainer__item {
    flex: 0 1 320px;
    display: flex;

    + .c-contactContainer__item {
      margin-left: 20px;
    }
  }
}
