include contactContainer
include ../facebookMessenger/facebookMessenger

.c-wysiwyg
  h2 Contact container (standard mode)

+demo()
  +contactContainer()
    .c-contactContainer__item
      +contactElement--noLink({
        iconClass: "contact-advice"
      })
        +contactElement__text({
          title: "Téléphone d’urgence <br>pour le gaz",
          subTitle: "du lundi au vendredi de 9h à 20h et le samedi de 9h à 13h",
          legend: "(Appel non surtaxé)"
        })
          +contactElement__phone({
            targetPhone: "phone01"
          })

    .c-contactContainer__item
      +contactElement({
        iconClass: "contact-deaf",
        noArrow: true
      })
        +contactElement__text({
          title: "Sourds et malentendants",
          subTitle: "Contactez un conseiller par visio en LSF ou par t'chat du lundi au vendredi de 9h à 17h",
          legend: "(Appel non surtaxé)",
          link: true
        })

    .c-contactContainer__item
      +contactElement({
        iconClass: "contact-mail",
        noArrow: true
      })
        +contactElement__text({
          title: "Envoyez-nous un email",
          link: true
        })


.c-wysiwyg
  h2 Contact container (standard mode) : désactivé

+demo()
  +contactContainer()
    .c-contactContainer__item
      +contactElement--noLink({
        iconClass: "contact-advice",
        unavailable: true
      })
        +contactElement__text({
          title: "Téléphone d’urgence <br>pour le gaz",
          subTitle: "du lundi au vendredi de 9h à 20h et le samedi de 9h à 13h",
          legend: "(Appel non surtaxé)"
        })
          +contactElement__phone({
            targetPhone: "phone02"
          })

    .c-contactContainer__item
      +contactElement({
        iconClass: "contact-deaf",
        unavailable: true,
        noArrow: true
      })
        +contactElement__text({
          title: "Sourds et malentendants",
          subTitle: "Contactez un conseiller par visio en LSF ou par t'chat du lundi au vendredi de 9h à 17h",
          legend: "(Appel non surtaxé)",
          link: true
        })

    .c-contactContainer__item
      +contactElement({
        iconClass: "contact-mail",
        unavailable: true,
        noArrow: true
      })
        +contactElement__text({
          title: "Envoyez-nous un email",
          link: true
        })



.c-wysiwyg
  h2 Contact container (standard mode) : Affichage de 2 items

+demo()
  +contactContainer()
    .c-contactContainer__item
      +contactElement--noLink({
        iconClass: "contact-advice"
      })
        +contactElement__text({
          title: "Téléphone d’urgence <br>pour le gaz",
          subTitle: "du lundi au vendredi de 9h à 20h et le samedi de 9h à 13h",
          legend: "(Appel non surtaxé)"
        })
          +contactElement__phone({
            targetPhone: "phone03"
          })

    .c-contactContainer__item
      +contactElement({
        iconClass: "contact-deaf",
        noArrow: true
      })
        +contactElement__text({
          title: "Sourds et malentendants",
          subTitle: "Contactez un conseiller par visio en LSF ou par t'chat du lundi au vendredi de 9h à 17h",
          legend: "(Appel non surtaxé)",
          link: true
        })
      +facebookMessenger()
