include moreLessInput

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant moreLessInput

+demo({
  desc: `
    Input à saisir ou incrémenter / décrémenter<br/><br/>
    L'attribut <code>value</code> de l'input permet de déterminer la valeur par défaut du composant<br/><br/>
    L'attribut <code>data-e-more-lessinput</code> du composant peut prendre pour valeur un objet pour être paramétré, chaque clef est optionnelle :<br/>
    - la clef <code>min</code> permet de déterminer la valeur minimale du champ<br/>
    - la clef <code>max</code> permet de déterminer la valeur maximale du champ<br/>
    - la clef <code>step</code> permet de déterminer le pas d'incrémentation / de décrementation du champ de saisie
    - la clef <code>errorMsg</code> permet de déterminer un message d'erreur
  `
})
  +moreLessInput({
    hiddenPlus: true,
    inputID: "test1",
    settings: {min: 0, step: 1, max: 10, errorMsg: 'Ce champ ne peut contenir que des chiffres'}
  }).u-theme-indigo


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant moreLessInput : plus large

+demo({
  desc: 'Ajouter la classe <code>c-moreLessInput--large</code> au composant <code>c-moreLessInput</code>'
})
  +moreLessInput({
    inputID: "test3",
    inputValue: '0',
    settings: {min: -100.59, max: 100.59, step: 10, errorMsg: 'Ce champ ne peut contenir que des chiffres'},
    blockRight: "€"
  }).c-moreLessInput--large