mixin loginInfo()
  // .c-loginInfo

  .c-loginInfo.u-textCenter.u-margin-small-t-60(data-ab-interchange=`
        [empty.bg, default],
        [../images/contrib/fond-login-mobile.png, smallOnly]
      `)
    p.u-heading-1.u-padding-b-30 Bienvenue sur votre nouvel Espace Client
      |pour les clients gaz au tarif réglementé !

    p Connectez-vous pour consulter vos factures, payer en ligne,
      | suivre votre consommation, gérer votre contrat… où que vous soyez
      | et en toute simplicité !


  // end .c-loginInfo






