+demo
  +infoMinimal({
    sousTitre : true
  })

+demo
  +infoMinimal({
    gazPar : true,
    sousTitre : true
  })

+demo
  +infoMinimal({
    gazPar : true,
    sousTitre : true,
    tablette : true,
    gazParSousTitle : true,
    percent : true
  }).c-infoMinimal--tablette

h1.u-heading-1.u-textUppercase.u-margin-v-50 client résilier

+demo
  +infoMinimal({
    sousTitre : true,
    disabled : true
  })

h1.u-heading-1.u-textUppercase.u-margin-v-50 avec pourcentage

+demo
  +infoMinimal({
    sousTitre : true,
    percent : true
  })

+demo
  +infoMinimal({
    gazPar : true,
    sousTitre : true,
    percent : true,
    percentGazpar : true
  })

h1.u-heading-1.u-textUppercase.u-margin-v-50 cas spécifique début d'année

+demo
  +infoMinimal({
    sousTitre : true,
    firstYear : true
  })

+demo
  +infoMinimal({
    gazPar : true,
    firstYear : true
  })

h1.u-heading-1.u-textUppercase.u-margin-v-50 les cas d'erreur
+demo
  +infoMinimal({
    erreur : true
  })

+demo
  +infoMinimal({
    gazPar : true,
    erreur : true
  })