mixin headerCelPlacesItem
  // .c-headerCelPlacesItem
  a(href="#").c-headerCelPlacesItem&attributes(attributes)
    .c-headerCelPlacesItem__check
      .c-headerCelPlacesItem__circle
      .icon.icon-thin_check

    .c-headerCelPlacesItem__text
      p.c-headerCelPlacesItem__address 24 bis rue de villeneuve Saint-Georges 41000 Blois
      .c-headerCelPlacesItem__details
        p.c-headerCelPlacesItem__refs
          span Client ref&nbsp;: 24568512
          span N° contrat&nbsp;: 245685124
        p.c-headerCelPlacesItem__name M. Jean-François Boucher & Mme. Marie-françoise Boucher
  // END .c-headerCelPlacesItem