@import "somsAddress/somsAddress";
@import "somsDesc/somsDesc";
@import "somsGreyBlock/somsGreyBlock";
@import "somsDetail/somsDetail";
@import "somsValid/somsValid";


.c-soms {
  .c-timeLine {
    padding: 15px 20px 40px 20px;
  }

  .c-infoBlock__content {
    padding-left: 0;
    padding-right: 0;

    &:before {
      left: -7px;
    }
  }

  .c-separator {
    margin: 0;
  }

  .c-pictoBlock__content {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.c-soms__col1,
.c-soms__col2 {
  background-color: $white;
  margin-bottom: 15px;
}

.c-soms__col1 {
  padding: 15px 35px;
}

.c-soms__col2 {
  padding: 15px;
}

.c-soms__line {
  margin: 15px 0;

  > .c-pictoBlock {
    margin-bottom: 5px;
  }
}


@include media(">medium") {
  .c-soms {
    display: flex;
    margin-bottom: 20px;

    .c-timeLine {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .c-soms__col1 {
    flex: 1 0 235px;
    margin-right: 20px;
    padding: 20px;
  }

  .c-soms__col2 {
    padding: 20px 35px 35px;
    width: 100%;
  }
}


@include media(">=small") {
  .c-soms {
    .c-infoBlock__content {
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      max-width: 100%;

      &:before {
        left: 10px;
      }
    }

    .c-infoBlock__title:before {
      left: -12px;
    }
  }

  .c-soms__line {
    margin: 25px 0;

    &:last-child{
      margin-bottom: 0;
    }
  }
}
