include fieldInfo

h1.u-heading-1.u-margin-a-40.u-textCenter composant fieldInfo

h2.u-heading-2.u-margin-a-30 box fieldInfo

+demo({
  "desc": `
    fieldInfoWarning3 simplz bloc pour afficher une petite message temporaire
  `
})
  +fieldInfoWarningV3

+demo({
  "desc": `
    fieldInfo standard par defaut
  `
})
  +fieldInfo()
    p fieldInfo standard

+demo({
  "desc": `
    fieldInfo avec une icone
  `
})
  +fieldInfo({
    icon: 'icon-thin_check'
  })
    p fieldInfo avec icone

+demo({
  "desc": `
    fieldInfo succes avec icone, ajouter simplement la class <code>is-success</code> sur le composant
  `
})
  +fieldInfo({
    icon: 'icon-thin_check',
    typeMessage: 'success'
  })
    p fieldInfo succes avec icone

+demo({
  "desc": `
    fieldInfo error avec icone, ajouter simplement la class <code>is-error</code> sur le composant
  `
})
  +fieldInfo({
    icon: 'icon-close',
    typeMessage: 'error'
  })
    p fieldInfo error avec icon

+demo({
  "desc": `
    fieldInfo warn avec icone, ajouter simplement la class <code>is-warn</code> sur le composant
  `
})
  +fieldInfo({
    icon: 'icon-close',
    typeMessage: 'warn'
  })
    p fieldInfo warn avec icon

h2.u-heading-2.u-margin-a-30 input fieldInfo

+demo({
  "desc": `
    fieldInfo pour les message d'erreur des champs de formulaire
  `
})
  +fieldInfo({
    input: true
  })
    p fieldInfo input par defaut

+demo({
  "desc": `
    fieldInfo input de type erreur, ajouter la classe <code> is-error </code> sur le composant
  `
})
  +fieldInfo({
    input: true,
    typeMessage: 'error',
    message: ' Le service permettant de détecter si votre commune est desservie par le gaz ou l’électricité est momentanément indisponible, nous vous invitons à réessayer ultérieurement.<br> <button type="button" class="c-fieldInfo__link">Cliquez ici</button> pour quitter le module d’estimation.'
  })

+demo({
  "desc": `
     fieldInfo input de type success, ajouter la classe <code> is-success </code> sur le composant
  `
})
  +fieldInfo({
    input: true,
    typeMessage: 'success',
    message : "Message Valide"
  })


+demo({
  "desc": `
    fieldInfo input de type warn, ajouter la classe <code> is-warn </code> sur le composant
  `
})
  +fieldInfo({
    input: true,
    typeMessage: 'warn'
  })

+demo({
  "desc": `
    fieldInfoWarning simplz bloc pour afficher une petite message temporaire
  `
})
  +fieldInfoWarning

