include tabs


.c-wysiwyg
  h2 Onglet: style standard gris

+demo({
  desc: `- La mécanique de tabs ajoute les classes <code>is-active</code> sur l'onglet et panneau actif. <br> 
        - ajouter la classe modifcateur <code>.c-tabs--standard</code> sur l'élément <code>.c-tabs</code>  `
})
  +tabs-unstyled({
      options: '{"mobileSlide": false, "sameHeight": false}'
    }).c-tabs--standard

    
.c-wysiwyg
  h2 Onglet

+demo()
  +tabs({
      title: "lorem ipsum"
    })


.c-wysiwyg
  h2 Onglet: sans styles, ni fallback Slick

+demo({
  desc: "La mécanique de tabs ajoute les classes <code>is-active</code> sur l'onglet et panneau actif.'"
})
  +tabs-unstyled({
      options: '{"mobileSlide": false, "sameHeight": false}'
    })

