h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant Offer
+demo({
  desc: ""
})
  +offer({
    promo: true
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant Offer (filtrage)
+demo({
  desc: "Ajout de la classe <code>is-removing</code> sur <code>.c-offer</code> à faire disparaître, puis ajout <code>is-adding</code> sur élement à faire apparaître (voir script dans <code>.oOo. HTML .oOo.</code>)"
})
  script.
    $(function() {
      $('.js-offer-test').on('click', function(){
        var $this = $(this),
            $target = $this.siblings('.c-offer');

        $this.attr('disabled', 'disabled');
        $target.addClass('is-removing');
        $target.removeClass('is-adding');

        setTimeout(function(){
          $this.removeAttr('disabled');
          $target.addClass('is-adding');
          $target.removeClass('is-removing');
        }, 1000);
      });
    });
  button.js-offer-test(type="button") Test filtrage
  +offer({
    promo: true
  })
    +priceDetail({
      fullElec: true,
      toggleSettings: {
        target: "detail-2"
      }
    })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant Offer: avec edit
+demo({
  desc: "Voir demo.js: <code>OFFER switch pour modifier</code>"
})
  +offer({
    edit: true
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant Offer: récapitulatif
+demo({
  desc: "Voir demo.js: <code>OFFER switch pour modifier</code>"
})
  +offer({
    name: "Votre offre",
    recapMode: true,
    promo: true,
    iconName: "icon-garantie-electromenager"
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant offerPromo
+demo({
  desc: ""
})
  +offerPromo()


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant offerPrice
+demo({
  desc: ""
})
  +offerPrice()


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant offerPrice sans l'estimation
+demo({
  desc: ""
})
  +offerPrice({
    noEstim: true
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant priceDetail
+demo({
  desc: "Ne pas mettre les attributs <code>data-e-toggle</code> et <code>data-e-toggle-target</code>, cela doit être refait en React.<br> A dynamiser: <ul><li>Sur <code>c-priceDetail__btn</code> : <code>aria-expanded='false'</code> => <code>aria-expanded='true'</code> + ajout de la classe <code>is-active</code><li>Sur <code>c-priceDetail__content</code> : <code>aria-hidden='true'</code> => <code>aria-hidden='false'</code> + ajout de la classe <code>is-opened</code></ul>"
})
  +priceDetail({
    toggleSettings: {
      target: "detail-1"
    }
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant priceDetail: full élec
+demo({
  desc: "Ajout de la classe <code>c-priceDetail__group--large</code> et ajout d'une liste <code>c-priceDetail__list</code>."
})
  +priceDetail({
    fullElec: true,
    toggleSettings: {
      target: "detail-3"
    }
  })