mixin offerPrice()
  // c-offerPrice
  .c-offerPrice
    p.c-offerPrice__title.u-heading-4.u-color-genBlue Prix estimé
    p.c-offerPrice__detail
      | 117€ <sup>TTC</sup> /mois
    p.c-offerPrice__detail2 soit 1404€ <sup>TTC</sup> /an
  // END c-offerPrice