mixin somsValid()
  // .c-somsValid
  .c-somsValid
    .icon.icon-thin_check
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, tempore unde quos quod corporis sint nostrum in. Itaque, autem veniam ad error rerum iusto, perferendis illo cum alias, atque eligendi!
  // END - .c-somsValid
