include headerCel

h1.u-heading-1.u-margin-v-50.u-textCenter HeaderCel pour le type Tunnel connecté


div(data-e-switch-toggle-name="header" )
  +demo({
    desc :"Header Tunnel pour le type Tunnel connecté"
  })
    +headerCelConnect({
      header: "tunnelConnect",
      headerTunnel: true
    })



