doctype html
<!--[if IE 8]><html data-debug lang="fr" class="oldie ie8 no-js"><![endif]-->
<!--[if IE 9]><html data-debug lang="fr" class="oldie ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(data-debug lang="fr" class="no-js")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title Index

    style.
      body {
        margin: 0;
        font-family: helvetica, aria, sans-serif;
        color: #343434;
        background-color: #f2f2f2;
      }
      body * {
        box-sizing: border-box;
      }
      section {
        margin: 0 auto;
        padding: 10px 20px;
        width: 100%;
        max-width: 920px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
      }
      li {
        line-height: 1.5em;
      }
      a {
        text-decoration: none;
        color: #059ce7;
      }
      a:hover {
        border-bottom: 1px solid;
      }
      h1 {
        margin: 40px 0;
        text-transform: uppercase;
      }
      h2 {
        border-bottom: 1px solid #e1e1e1;
        margin: 40px 0 25px;
        padding-bottom: 18px;
      }
      h2, h3 {
        padding-left: 20px;
      }

  body
    section
      h1 Gaz Tarif Réglementé Header

      h2 Pages
      ul
        li: a(href="pages/standalone-header.html") Header CEL