h2.u-heading-1 Bloc Explication Facture :

+demo({
    desc: `
        -   Le text dans le modal est un text wysiwyg.<br>
        -   image contrib.
    `
})

    +imageModal({
        img: 'textImageBg.jpg'
    })



