.c-espritService {
  background-color: $grey-light;
  padding: 25px 15px;

  .c-espritService-note__detail {
    font-weight: $font-bold;
  }

  .c-rating {
    font-size: 3.2rem;
  }
}

.c-espritService__logo {
  background-image: url('../images/sprite-common.png');
  background-position: 0 0;
  width: 124px;
  height: 70px;
}

.c-espritService__afnor {
  display: inline-block;
  background-image: url('../images/sprite-common.png');
  background-position: 0 -186px;
  width: 146px;
  height: 125px;
}

.c-espritService__afnor--big {
  background-image: url('../images/sprite-common.png');
  background-position: 0 -186px;
  width: 146px;
  height: 125px;
}

.c-espritService__logo--big {
  background-image: url('../images/sprite-common.png');
  background-position: 0 -82px;
  width: 153px;
  height: 99px;
}


.c-espritService__title {
  font-weight: $font-bold;
  margin: 15px 0;
}

.c-espritService__content {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.c-espritService__afnorWrapper {
  text-align: center;
}

@include media(">=small") {
  .c-espritService {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }

  // proportion pour garder sur 1 ligne sauf le rating en tablette portrait
  .c-espritService__logoWrapper { margin-right: 20px; }
  .c-espritService__title { width: 40%; }
  .c-espritService__content { width: 43%; }

  .c-espritService__title {
    font-size: $font-18;
  }


  // surcharge du composant
  .c-espritService {
    .c-rating {
      font-size: 2.8rem;
    }

    .c-espritService-note__rate,
    .c-espritService-note__detail {
      display: inline-block;
      vertical-align: middle;
    }

    // proportion pour garder sur 1 ligne sauf le rating en tablette portrait
    .c-espritService-note__rate { margin-right: 5%; }
  }
}

@include media(">medium") {
  .c-espritService {
    padding: 15px 60px;
  }
}
