include ../espritService-note/espritService-note

//- esprit service total
mixin espritService(data)
  - var data = data|| {}
  - var rate = data.rate || 3.5

  // .c-espritService
  .c-espritService(itemscope itemtype="http://schema.org/Product")
    .c-espritService__logoWrapper
      a(href="#")
        .c-espritService__logo
        span.u-visibilityHidden L'esprit services de Tarif Réglementé

    .c-espritService__title(itemprop="name") Satisfaction moyenne de nos clients

    .c-espritService__content
      +espritService-note({
        rate: 3.5,
        avisLink: true
      })

      .c-espritService__afnorWrapper
        a(href="#")
          .c-espritService__afnor
          span.u-visibilityHidden AFNOR certification, NF service
  // end - .c-espritService