.c-toggleBox {
  padding: 0px;
  width: 100%;
  border-top: 1px solid $grey-light;
}

.c-toggleBox__btn {
  @extend %reset-style-button;
  color: #333333;
  // border-bottom: 1px solid #333333;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 1.6rem;
  outline: none;
  margin-bottom: 16px;


  .icon-chevron-bottom {
    transition: all .3s ease-in-out;
    font-size: 3.5rem;
    vertical-align: middle;
  }

  &[aria-expanded="true"] {
    .icon-chevron-top {
      transform: rotate(180deg);
    }
  }
}

.c-toggleBox__content {
  max-height: 0;
  height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  opacity: 0;
  color: $grey;
  font-size: 1.2rem;
  transition: opacity .3s ease-in-out,
              max-height .2s ease-in-out,
              transform .2s ease-out;

  &.is-opened, .no-js & {
    max-height: 5000px;
    height: auto;
    overflow: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .c-toggleBox {
    // padding: 0 60px;
    border-top: none;
  }

  .c-toggleBox__content {
    font-size: 1.3rem;
  }
}