mixin toggleBox(data)
  - var data = data || {}
  - var settings = data.settings || false
  - var target = settings.target || false
  - var link = settings.link || "Ce n'est pas l'adresse que je cherche "

  // c-toggleBox
  .c-toggleBox&attributes(attributes)
    button.c-toggleBox__btn(
      type="button"
      data-e-toggle=settings
    )
      span!=link
      
      span.icon.icon-chevron-bottom

    .c-toggleBox__content(data-e-toggle-target=target)
      .c-wysiwyg
        block
  // end c-toggleBox
