.c-blockLinksApps {}

.c-blockLinksApps__group {
  text-align: center;
}

.c-blockLinksApps__item { }

.c-blockLinksApps__link {
  background: url('../images/applications.png') no-repeat;
  height: 39px;
  display: inline-block;
}

.c-blockLinksApps__link--android {
  background-position: 0 0;
  width: 111px;
}

.c-blockLinksApps__link--ios {
  background-position: 0 -51px;
  width: 115px;
}

.c-blockLinksApps__link--windows {
  background-position: 0 -100px;
  width: 166px;
}

@include media(">=medium") {
  .c-blockLinksApps__item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}