mixin blockLinksApps()
  // .c-blockLinksApps
  .c-blockLinksApps
    .c-wysiwyg
      strong Télécharger l'application Netatmo

    ul.c-blockLinksApps__group
      li.c-blockLinksApps__item
        a(href="#" title="Disponible sur Google play" target="_blank" rel="noreferrer noopener"
        class="c-blockLinksApps__link c-blockLinksApps__link--android")

      li.c-blockLinksApps__item
        a(href="#" title="Disponible sur App Store"
        class="c-blockLinksApps__link c-blockLinksApps__link--ios")

      li.c-blockLinksApps__item
        a(href="#" title="Télécharger à partir du Windows Phone Store"
        class="c-blockLinksApps__link c-blockLinksApps__link--windows")


    .c-wysiwyg
      p
        | Disponible également sur votre ordinateur et votre smartphone
        br
        | Une version démo est à votre disposition

  // end .c-blockLinksApps