//- mixin popInTbd(data)
//-   - data = data || {}

//-   // .c-popInTbd

//-   +modal({
//-     target: `{
//-       "autoStart": "2"
//-     }`,
//-     size : "c-modal__content--large"
//-   }).u-padding-a-40
//-     .modal--popInTbd__topModal.u-padding-b-20 
//-       .u-heading-2.modal--popInTbd__titre.u-padding-b-30 Bienvenue Madame Tartempion
//-       p.modal--popInTbd__Text Vous pouvez maintenant gérer vos préférences de contact depuis votre "centre de préférence."

//-     +btnWrap.u-padding-b-20 
//-       +btn.u-width33.c-btn--empty-blue(data-e-modal-close) Je continue ma navigation
//-       +btn.u-width33 J'accède à mes préférences
//-     p.modal--popInTbd__Text Vous pouvez gérer toutes vos préférences de contact à tout moment depuis la page "Mon profil".
