// .c-resultSearch__searchBar
.c-resultSearch__searchBar {
  display: block;
  width: 100%;
}

.c-resultSearch__searchBar__input {
  transition: all 0.1s ease-in-out;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  border: 0;
  text-indent: 20px;
  font-size: 1.8rem;
  color: #333333!important;
  font-weight: 400;
  padding-right: 60px;
  border: 1px solid #e8e8e8; 



  @include hover-focus-active() {
    background: white;
    border: 1px solid $genBlue;
    color: $genBlue;   
    &::placeholder{
        color: $genBlue;
    }

    + .c-resultSearch__searchBar__submit {
      color: $genBlue;
    }
  }
}

.c-resultSearch__searchBar__input::placeholder {
    color: $grey;
    font-size: 1.8rem;
  }

.c-resultSearch__searchBar__submit {
  outline: none;
  width: 60px;
  position: absolute;
  right: 0;
  font-size: 3.5rem;
  border: 0;
  height: 50px;
  background: none;
  color: $grey;
}

@include media("<=medium") {
  .c-resultSearch__searchBar__inputs {
    display: none;
  }

  // .c-resultSearch__searchBar {
  //   padding-top: 15px;
  // }
}

@include media(">=medium") {
  .c-resultSearch__searchBar__inputs {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }

  .c-resultSearch__searchBar {
    max-width: 420px;
    margin: 40px auto 0;
    padding-top: 15px;
  }
}

// END .c-resultSearch__searchBar
// .c-resultSearch__result 

.c-resultSearch__result {
  margin: 40px 0; 
  text-align: center;
  font-size: 2.4rem;

  i {
    font-size: 3.2rem;
    color: $genBlue;
  }
}

@include media("<=medium") {
  .c-resultSearch__result{ 
    padding: 0 40px;
    font-size: 1.8rem;

    i {
      font-size: 2.4rem;
    }
  }
}

// END .c-resultSearch__result 
// .c-resultSearchWarning


@include media("<=medium") {
  .c-resultSearchContent {
    margin: 0 20px;
  }  
}

@include media(">=medium") {
  .c-resultSearchContent {
    margin: 0 50px;
  }  
}

// END .c-resultSearchWarning
//  .c-resultSearchContent__item

.c-resultSearchContent__item {
  margin-top: 20px;
  padding: 17px;
  background-color: white;
}

.c-resultSearchContent__itemContent {
  font-size: 1.5rem;
  width: 100%;
}

.c-resultSearchContent__itemTitle { 
  font-size: 1.8rem;
  font-weight: bold;
  margin: 15px 0;

  a {
    text-decoration: none;
  }
}

.c-resultSearchContent__itemText {
  border: 0;
}

.c-resultSearchContent__itemLink {
  color: #333333;
}

@include media("<=medium") {
  .c-resultSearchContent__itemImg img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

@include media(">=medium") {
  .c-resultSearchContent__item {
    display: flex;
  }
  
  .c-resultSearchContent__itemImg {
    margin-right: 20px;
  }

  .c-resultSearchContent__itemImg img {
    width: 150px;
    height: 100px;
  }


  .c-resultSearchContent__itemContent {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}


// END .c-resultSearchContent__item
//  .c-resultSearchTabs__listeTabs

.c-resultSearchTabs {
  margin-bottom: 50px;
}

.c-resultSearchTabs__listeTabs {
  margin-right: 20px;
  margin-left: 20px;
  background-color: $grey-light;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-resultSearchTabs__tab {
  height: 50px;
  width: 100%;
}

.c-resultSearchTabs__panel {
  display: none;

  &.is-active {
    display: block;
  }
}

.c-resultSearchTabs__link {
  text-decoration:none ;
  background: white;
  font-size: 2.4rem;
  color: #848484;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.is-active {
    background: $grey-light;
    color: $black;
  }
}  

@include media(">=medium") {
  .c-resultSearchTabs__listeTabs {
    margin-right: 50px;
    margin-left: 50px;
  }

  .c-resultSearchTabs__tab {
    height: 90px;
  }
}

// END .c-resultSearchTabs__listeTabs
//  .c-c-resultSearchContent__bloc

.c-resultSearchContent__bloc {
  display: flex;
  padding-bottom: 50px;
}

.c-resultSearchContent__blocText {
  font-size: 1.8rem;
  padding-right: 50px;
}

.c-resultSearchContent__faqList {
  list-style-type: disc;
  padding-left: 18px;
  margin-bottom: 10px; 
  font-size: 1.5rem;
  font-weight: bold;

  li {
    margin: 10px 0;
  }
}

img.c-resultSearchContent__faqImg {
  max-width: 400px ; 
}


@include media("<=medium") {
  .c-resultSearchContent__blocText {
    width:100%;
  }  
  img.c-resultSearchContent__faqImg {
    display: none; 
  }
}


@include media(">=medium") {
  .c-resultSearchContent__blocText {
    width:60%;
  }
}