$checkPictoWidth: 24px;

.c-checkboxMat {
  display: block;
  margin-bottom: 15px;

  .c-fieldInfo {
    display: none;
    width: 100%;
  }

  &.is-error {
    .c-fieldInfo {
      display: block;
    }

    .c-checkboxMat__check {
      border-color: $error-color !important;
    }
  }
}

@keyframes checkboxMat {
  0% {
    stroke-dashoffset: 30;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.c-checkboxMat__label {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-left: $checkPictoWidth;
  min-height: 24px; // hauteur de la check
}

/* Classe présente sur .c-checkboxMat__label et à affecter au contenu à aligner avezc le texte de la checkbox :*/
.c-checkboxMat__labelPadding {
  padding-left: 45px;
}

.c-checkboxMat__check {
  position: absolute;
  top: 0;
  left: 0;
  width: $checkPictoWidth;
  height: $checkPictoWidth;
  border: 1px solid;
  border-radius: 3px;
  transition: all .2s;
  transform: translateZ(0);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  path {
    stroke-width: 6;
    stroke: #fff;
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
  }
}

.c-checkboxMat__field {
  @include visibility-hidden;
}


// Attention, nécessaire à cause des classes de thème
.c-checkboxMat__field:not(:checked):focus + .c-checkboxMat__label .c-checkboxMat__check {
  .u-theme-genBlue & {
    border-color: $genBlue-hover !important;
  }
  .u-theme-green & {
    border-color: $green-hover !important;
  }
}

.c-checkboxMat__field:not(:checked) + .c-checkboxMat__label .c-checkboxMat__check {
  background-color: $white;
  border-color: $black;
}

.c-checkboxMat__field:checked + .c-checkboxMat__label .c-checkboxMat__check {
  path {
    opacity: 1;
    animation: checkboxMat 0.3s ease-in-out forwards;
  }
}

.c-checkboxMat--link {
  .c-checkboxMat__field + .c-checkboxMat__label .c-checkboxMat__text {
    .u-theme-genBlue & {
      color: $genBlue;
    }
    .u-theme-green & {
      color: $green;
    }
  }
  .c-checkboxMat__field:checked + .c-checkboxMat__label .c-checkboxMat__text {
    color: $black;
  }
}

// checbox switch
.c-checkboxMat--switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 17px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {    
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    top: 3px;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.c-checkboxMat.c-checkboxMat--switch {
  position: relative;
  display: flex;
  align-items: center;
}