.c-comparateurFoyersimilaire {
    width: 100%;
    display: block;
    background-image: url("../images/contrib/foyersimilaire-bg.jpg");
    background-size: cover;
    height: 280px;
    padding: 40px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 24px;
}

.c-comparateurFoyersimilaire__title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 22px;
}

.c-comparateurFoyersimilaire__desc {
    width: 290px;
}

.c-comparateurFoyersimilaire__btn {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

@include media ("<small") {
    .c-comparateurFoyersimilaire {
        background-image: url("../images/contrib/foyersimilaire-bg-mobile.jpg");
        height: 400px;
        background-position: bottom;
        border-radius: 6px;
        padding: 20px;
    }

    .c-comparateurFoyersimilaire__desc {
        width: 100%;
    }

    .c-comparateurFoyersimilaire__btn {
        position: initial;
    }
}