mixin comparateurFoyersimilaire(data)
	- var data = data || {}

	//.c-comparateurFoyersimilaire
	.c-comparateurFoyersimilaire
		h2.c-comparateurFoyersimilaire__title Comparateur de consommation
		p.c-comparateurFoyersimilaire__desc Comparez votre consommation avec les foyers similaires au vôtre.

		+btnWrapper.u-theme-genBlue.c-btnWrapper--fullOnMobile.u-margin-t-30.u-margin-small-t-30.u-textBold.c-comparateurFoyersimilaire__btn
			+baseBtn({
			text: "Je me compare"
			})