include ../../../../common/src/components/btnWrap/btnWrap

mixin blocCompteur(data)
	- var data = data || {}

	//c-blocCompteur
	.c-blocCompteur.l-row--nogut
		.c-blocCompteur__txt.l-col-medium-4
			span.c-blocCompteur__Compteur Mon Compteur
			span.c-blocCompteur__label Dernier index
			span.c-blocCompteur__Date du 20.10.18
		.c-blocCopteur__index.l-col-medium-4
			span.c-blocCompteur__indexValue 9856 
				span m3
		.c-blocCompteur__Btn.l-col-medium-4
			+btnWrap
				+btn(data-e-modal-open="plusDetails").c-blocCompteur--plusDetails.c-btn--noWidth Plus de détails
				
				+modal({
						target: '{"target":"plusDetails"}'
				}).u-padding-a-40
					.c-blocCompteur__desc
						b Informations
						span vous permettant d'identifier votre logement
					.c-blocCompteur__listeModal
						ul 
							li
								span.c-blocCompteur__labelListeModal Accessibilité pour la relève
								span.c-blocCompteur__labelBlue OUI
							li
								span.c-blocCompteur__labelListeModal N° de PCE
								span.c-blocCompteur__labelBlue 14738205459495
							li
								span.c-blocCompteur__labelListeModal N° de matricule compteur
								span.c-blocCompteur__labelBlue 159