.slick-slider {
  position: relative;
  display: block !important;
  box-sizing: border-box;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .no-touchevents & {
    .slick-prev,
    .slick-next {
      opacity: 0.3;
      will-change: opacity;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
      }
    }
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after { clear: both; }

  .slick-loading & { visibility: hidden; }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;

  img { display: block; }

  &.slick-loading img { display: none; }

  &.dragging img { pointer-events: none; }

  .slick-initialized & { display: block; }

  .slick-loading & { visibility: hidden; }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden { display: none; }

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 60px;

  .icon:before {
    transition: all 0.4s ease-in-out;
  }

  button {
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0;
    appearance: none;
    border: none;
    background: transparent;
    font-size: 5.7rem;
    color: $white;
    line-height: 0;
    cursor: default;
  }

  @include hover-focus-active() {
    .c-carouselHome & .icon:before {
      color: $genBlue;
    }
  }
}

.slick-prev { left: 0; }
.slick-next { right: 0; }

.slick-dots {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  button {
    @extend %reset-style-button;
    color: transparent;
    font-size: 0;
    line-height: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 5px;

    .c-carousel__dot {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid;
    }

    @include hover-focus-active() {
      .c-carousel__dot {
        border-width: 6px;
      }
    }

    &.slick-active {
      .c-carousel__dot {
        border-width: 6px;
      }
    }
  }
}

.c-carousel__slide {
  position: relative;
}


// effet de zoom (sauf sur navigateurs ne supportant pas (=IE9)
.c-carousel--zoom .slick-slide {
  transform: scale(1.4);
  will-change: opacity, transform;
  transition: opacity 1s ease-out,
              transform 0.8s ease-out !important;

  &.slick-active {
    transform: scale(1);
  }
}


@include media(">=small") {
  .slick-dots {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}


/**
 * Surcharge destinées aux composants : contenus dans les carousels (si besoin) :
 */

.c-carousel {
  .c-textImage__figure img {
    display: inline-block;
  }
}

@import "_carouselNav.scss";
