.c-headerCelUser {
  color: $black;

  .c-baseBtn {
    background-color: $genBlue!important;

    &.c-baseBtn--secondary {
      background-color: $white!important;
      border: 1px solid $genBlue!important;
      color: $genBlue!important;
    }
  }
}

.c-headerCelUser__layer {
  text-align: center;

  a {
    color: $genBlue;
  }

  .c-btnWrapper {
    margin-top: 30px;

    & + .c-btnWrapper {
      margin-top: 15px;
    }
  }
}

.c-headerCelUser__layerIcon {
  font-size: 6.5rem;
  color: $genBlue;
  position: relative;
  overflow: hidden;
  background-color: $grey-medium;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;

  &:before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-headerCelUser__layerName {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.c-headerCelUser__btn {
  @extend %reset-style-button;
  display: flex;
  align-items: center;

  .icon {
    font-size: 3rem;
    color: white;
    position: relative;
    height: 35px;
    width: 35px;
    overflow: hidden;
    flex: 0 0 auto;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


@include media(">=small") {
  .c-headerCelUser {
    position: relative;
    min-width: 0;
  }

  .c-headerCelUser__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    font-size: 1.4rem;
  }

  .c-headerCelUser__layer {
    right: 0;
    width: 220px;
    margin-top: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;

    &:before {
      top: -20px;
      border-color: $grey-light;
    }

    &:after {
      top: -18px;
      border-color: $white;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }

    .c-btnWrapper {
      margin-top: 0;
    }

    .c-baseBtn {
      width: 100%;
    }
  }

  .c-headerCelUser__btn {
    outline: none;
    padding-left: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;

    &:focus {
      color: $genBlue;
      text-decoration: underline;
    }
  }
}


@include media(">=small", "portrait") {
  .c-headerCelUser__name {
    display: none;
  }
}
