.c-wysiwyg
  h2 Base
+demo({
  desc: ""
})
  +headerCelUser({
    layer: 'detail',
    target: "plop1"
  })


.c-wysiwyg
  h2 Base
+demo({
  desc: ""
})
  +headerCelUser({
    layer: 'tunnel',
    target: "plop2"
  })


.c-wysiwyg
  h2 Base
+demo({
  desc: ""
})
  +headerCelUser({
    layer: 'backEC',
    target: "plop3"
  })
