include headerArticle/headerArticle
include footerArticle/footerArticle
include shareArticle/shareArticle
include chapoArticle/chapoArticle
include pushArticle/pushArticle
include filtersArticle/filtersArticle
