include ../../../../common/src/components/column/column

//- c-modal => c-modal specefic only for CEL
.c-wysiwyg
  h2 Modal CEL suggestion FEL
+demo()
  button(type='button', data-e-modal-open="popin01") Ouvrir la modale
  +modal({
    target: '{"target":"popin01", "overlayClose": false}',
    noCloseBtn: true
  }).u-padding-b-40
    .c-wysiwyg
      .l-row.l-row--nogut.c-modalCel__textImage
        .l-col-medium-4.c-modalCel__felPicture
          img(src="../images/contrib/illu-facture-en-ligne.png" alt="#").c-modalCel__img
        .l-col-medium-8
          .c-modalCel__titleContainer
            h2.u-heading-3.u-textCenter Pas encore passé(e) à la Facture en Ligne ?
            p.c-modalCel__titleText Vous êtes prévenu(e) par email à chaque nouvelle facture et elles sont conservées pendant 5 ans dans votre Espace Client

      p.u-textCenter
        a(href="#").u-link.u-link--arrow.u-bg-green En savoir plus

      p.u-textCenter
        a(href="#" data-e-modal-close).u-link.u-margin-b-20 Non merci


.c-wysiwyg
  h2 Modal CEL proposition FEL
+demo()
  button(type='button', data-e-modal-open="popin02") Ouvrir la modale
  +modal({
    target: '{"target":"popin02", "overlayClose": false}',
    noCloseBtn: true
  })
    .u-textCenter.u-padding-h-20
      p.u-margin-t-40.u-margin-small-t-40.u-margin-b-30 Bienvenue dans votre espace client <strong class="u-color-genBlue">*name</strong>,
      h2.u-textBold.u-fontSize-huge Nous vous recommandons la Facture en Ligne,
      p.u-margin-b-30.u-margin-small-b-30 pour gérer toutes vos factures depuis votre Espace Client !

      .u-bg-grey-light
        +column({
          colConfig: '33-33-33',
          spaced: true
        }).u-padding-a-25
          .c-column__col
            img(src="../images/CEL/clock4.svg" alt="#" width="75" height="75").u-hideSmall
            p.u-textBold Pratique
            p Accessible n'importe où, 24h/24, 7j/7
          .c-column__col
            img(src="../images/CEL/clock2.svg" alt="#" width="75" height="75").u-hideSmall
            p.u-textBold Gain de temps et de rangement
            p Nous archivons vos factures pour vous
          .c-column__col
            img(src="../images/CEL/financement2.svg" alt="#" width="75" height="75").u-hideSmall
            p.u-textBold Confort
            p Vous êtes averti par email de votre prochaine facture et de la date de prélèvement

      +btnWrapper()(class=`
          c-btnWrapper--fullOnMobile
          c-btnWrapper--reverse
          u-theme-green
          u-textBold
          u-margin-t-25
          u-margin-small-t-25
          u-margin-b-30
          u-margin-small-b-30`)
        +baseBtn({
          text: 'Activer'
        })
        +baseBtn({
          text: 'Non, merci !',
          secondary: true
        })(data-e-modal-close)

      p.u-textCenter.u-margin-b-40.u-margin-small-b-40 En activant, vous acceptez les
        = " "
        a(href="#") Conditions Générales d'utilisation du service


.c-wysiwyg
  h2 Modal CEL TR Popin 00
+demo()
  button(type='button', data-e-modal-open="modal-welcome") Ouvrir la modale de bienvenu
  +modal({
    target: '{"target": "modal-welcome", "overlayClose": false}',
    noCloseBtn: true
  }).u-padding-a-40
    .c-wysiwyg
      .u-padding-h-60
        h3.u-textCenter
          | Bienvenue sur le nouveau site dédié
          | à nos clients Gaz au tarif réglementé.
        p.u-textCenter Vous bénéficiez d’un contrat Gaz au tarif réglementé. Vous avez donc été redirigé ici : www.gaz-tarif-reglemente.fr
        p.u-textCenter C’est désormais via cette page que vous accédez à votre Espace Client.
        p.u-textCenter
          strong  Vos identifiants de connexion restent identiques.

        p.u-textCenter
          img(src="../images/contrib/popin.jpg" alt="")

        p
          i
            span.u-textUppercase Astuce&nbsp;:
            |  Ajoutez cette page à vos favoris afin de faciliter vos connexions ultérieures.

        p.u-textCenter
          a.u-link.u-link--arrow(href="#" data-e-modal-close) J'y vais&nbsp;!


.c-wysiwyg
  h2 Modal CEL TR Popin 01
+demo()
  button(type='button', data-e-modal-open="CEL_Popin01") Ouvrir la modale
  +modal({
    target: '{"target": "CEL_Popin01"}'
  }).u-padding-a-40
    .c-wysiwyg
      .u-padding-h-60
        h3.u-textCenter
          | La référence client que vous avez renseigné est liée à un contrat Gaz et Tarif Réglementé
        p.u-textCenter Pour visualiser les informations à ce contrat, un nouvel Espace Client vous attend sur le site dédier : www.gaz-tarif-reglemente.fr

        p.u-textCenter
          img(src="../images/contrib/popin.jpg" alt="")

        p.u-textCenter
          a.u-link.u-link--arrow(href="#" data-e-modal-close) Rester dans mon Espace Client Gaz Tarif Réglementé&nbsp;!
          a.u-link.u-link--arrow.u-link--secondary(href="#" data-e-modal-close) Allez sur le site Gaz Tarif Réglementé


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Modal CEL Bienvenu sur le site Gaz Tarif Réglementé
+demo({
})
  button.openUp(type='button', data-e-modal-open="CEL_Popin02") Ouvrir la modale
  +modal({
    target: '{"target": "CEL_Popin02"}'
  }).u-padding-a-40
    +column({
      colConfig: '50-50'
    }).u-padding-h-30
      .c-column__col
        img(src="../images/contrib/popin01.png" alt="")

      .c-column__col
        .c-wysiwyg
          h3 Bienvenue sur le site Gaz Tarif Réglementé

          p Vous avez été redirigez sur le site Gaz Tarif Réglementé car vous bénéficiez d'au moins un contrat aui tarif Offre de Marché.

          p
            i
              span.u-textUppercase astuce:
              br
              | Ajoutez cette page à vos favoris afin de faciliter vos connexions ultérieures.

    p.u-textCenter.u-margin-t-30
      a.u-link.u-link--arrow(href="#" data-e-modal-close) J'y vais&nbsp;!


