// .c-selectOptionBlock
.c-selectOptionBlock--bgOnHover {
  transition: background-color .4s;

  &.is-checked,
  &:hover {
    background-color: $venteBlue-light;

    .u-theme-magenta & {
      background-color: $magenta-light;
    }
  }
}

.c-selectOptionBlock__main {
  display: flex;
  padding: 15px;
  border-top: 1px solid;
  border-color: $venteBlue-light;

  .is-checked + .is-checked & {
    border-color: $venteBlue-medium;
  }

  .u-theme-magenta & {
    border-color: $magenta-light;
  }

  .u-theme-magenta .is-checked + .is-checked & {
    border-color: $magenta-medium;
  }
}


.c-selectOptionBlock--hasCheckbox {
  padding: 0 15px 15px;

  @include media('<small'){
    &:last-child {
      padding-bottom: 25px;
    }
  }

  .c-selectOptionBlock__main {
    padding-bottom: 0;
  }
}

.c-selectOptionBlock__check {
  align-items: center;
}

.c-selectOptionBlock__check {
  justify-content: space-between;
  padding-top: 0;
  display: flex;
}

.c-selectOptionBlock__checkbox {
  display: flex;
}

.c-selectOptionBlock__icon {
  .icon {
    font-size: 10rem;
    color: $grey-medium2;
  }

  img {
    width: 100%;
  }
}

.c-selectOptionBlock__content {
  margin-left: 15px;
}

.c-selectOptionBlock__sideBlock {
  margin-top: 10px;
}

.c-selectOptionBlock__title,
.c-selectOptionBlock__price {
  transition: color .4s;

  .is-checked & { color: inherit; }
}

.c-selectOptionBlock__price {
  font-size: $font-18;
}

.c-selectOptionBlock__aside {
  margin-top: 25px;
}

@include media('>=small'){
  .c-selectOptionBlock {
    padding: 0 30px;
  }

  .c-selectOptionBlock__main {
    padding: 30px 35px;
  }

  .c-selectOptionBlock--hasCheckbox {
    padding: 0 30px 30px;
  }

  .c-selectOptionBlock__check {
    width: 175px;
  }

  .c-selectOptionBlock__checkbox {
    margin-bottom: 0;
  }

  .c-selectOptionBlock__icon {
    align-self: flex-start;
    flex: 0 0 100px;
  }

  .c-selectOptionBlock__content {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    width: 100%;
  }

  .c-selectOptionBlock__description {
    flex: 1 1 auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .c-selectOptionBlock__sideBlock {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex: 1 0 auto;
    margin-top: 0;
    margin-left: 30px;
  }

  .c-selectOptionBlock__sideBlock--alignTop {
    align-self: flex-start;
  }

  .c-selectOptionBlock__aside {
    margin-top: 0;
    margin-left: 205px;
  }
}

// Esprit service imbriqué :
.c-selectOptionBlock__aside {
  .c-espritService-note {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .c-espritService-note__title {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: normal;
  }

  .c-espritService-note__rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .c-rating {
    margin-right: 10px;
    font-size: 2.8rem;
    line-height: 1;
  }

  .c-rating__front {
    color: $venteStarsYellow;
  }

  .c-rating__back {
    color: $venteStarsBlue;
  }

  .c-espritService-note__opinionCount,
  .c-espritService-note__opinionCount a {
    color: $black;
  }

  .c-espritService-note__detail {
    font-weight: bold;
  }

  @include media('<small'){
    .c-espritService-note__title, .c-rating, .c-espritService-note__detail {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}