mixin footerLight(data)
  - var data = data || {}

  // .c-footerLight
  footer.c-footerLight
    .l-wrapper.l-wrapper--main
      +legalMention({
        settings: {
          target: "legalMention"
        }
      })
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p (1) Lorem ipsum dolor incididunt ut labore et dolore magna aliqua elit, sed do eiusmod.
        p (2) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      svg.svg.c-footerLight__line(aria-hidden="true")
        use(xlink:href="#barre")

      .c-footerLight__engie
        p
          svg.svg(aria-label="Engie")
            use(xlink:href="#engie")
          = " "
          | L'énergie est notre avenir, <strong>économisons-la&nbsp;!</strong>