include ../../../common/src/components/mixins

include bubble/bubble
include bubbleList/bubbleList
include addressBox/addressBox
include headerLight/headerLight
include flatTabs/flatTabs
include offer/offer
include estimationCta/estimationCta
include codePromo/codePromo
include promoBanner/promoBanner
include tunnelFilter/tunnelFilter
include dropdownNav/dropdownNav
include fullModal/fullModal
include selectEmpty/selectEmpty
include miniBubbleList/miniBubbleList
include multiChoice/multiChoice


//- DEMO MIXIN ONLY
- var demoNbr = 0
mixin demo(data)
  - var data = data || {}
  - var desc = data.desc || false

  - demoNbr++
  div(data-demo-html=demoNbr)&attributes(attributes)
    block

  .u-padding-t-20.u-padding-b-20.u-margin-t-20.u-margin-b-40.u-bg-black
    if desc
      .desc.u-padding-b-20.u-padding-h-20.u-color-white
        p!=desc

    button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button")
      | .oOo. HTML .oOo.

    pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
      code.html
