mixin modifPassword(data)
	- var data   = data || {}

	//.c-modifPassword
	.c-modifPassword
		.c-modifPassword__title.u-heading-1.u-textCenter.u-margin-b-20 Modifier votre mot de passe
		.l-wrapper--medium
			.c-modifPassword__desc Utilisez le formulaire ci-dessous pour modifier votre mot de passe : <small>(*champs obligatoires)</small>
		+formMat()(
			data-e-form-validation data-e-form-password ={
				equal : "mot passe saisie n'est pas identique"
			}
			).c-formMat.u-margin-b-40.u-margin-small-b-40
			.l-wrapper--medium
				.l-row.l-row--nogut
					.l-col-medium-6
						+inputMat({
							label: "Mot de passe actuel*",
							type: "password",
							id: "oldPassword",
							name: "oldPassword",
							required: true,
							minlength:8,
							maxlength:20,
							placeholder: 'Entrer votre mot de passe',
							check: true,
							dataValidation: {
								validations: {
									patternMismatch: '',
									stepMismatch:    '',
									tooLong:         '',
									tooShort:        '',
									valueMissing:    'Le mot de passe actuel est obligatoire pour pouvoir continuer'
								}
							}
						})
				.l-row.l-row--nogut
					.l-col-medium-8
						.l-row
							.l-col-medium-9.u-padding-h-0
								+inputMat({
									label: "Votre nouveau mot de passe *",
									type: "password",
									id: "newPassword",
									pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{7,20}$",
									name: "newPassword",
									required: true,
									minlength:8,
									maxlength:20,
									checkPassword : true,
									placeholder: 'Nouveau mot de passe',
									check: true,
									dataValidation: {
										validations: {
											patternMismatch: 'Votre mot de passe doit contenir minimum 8 caractères dont au moins un chiffre, une lettre majuscule, une lettre minuscule, un caractère spécial (* ! ? ; )',
											stepMismatch:    '',
											tooLong:         'mot de passe tros long',
											tooShort:        'mot de passe trop court',
											valueMissing:    'Le nouveau mot de passe est obligatoire pour pouvoir continuer '
										}
									}
								})(data-e-form-password-check="hamza")
							.l-col-medium-2

								+toolTip({
									valignMid: true,
									themeColor: "u-theme-magenta"
								}).c-modifPassword--position.u-hideSmall(data-e-tooltipPopper={"text":"Votre mot de passe doit au minimum contenir : 8 caractères dont 1 miniscule, 1 majuscule, 1 chiffre et un caractère spécial (@ # & ! ?)", "position" : "right"})
				
				.l-row.l-row--nogut
					.l-col-medium-6
						+inputMat({
							label: "Confirmation de votre nouveau mot de passe *",
							type: "password",
							id: "ConfirmNewPassword",
							pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{7,20}$",
							name: "ConfirmNewPassword",
							required: true,
							minlength:8,
							maxlength:20,
							checkPassword : true,
							placeholder: 'Confirmation du mot de passe',
							check: true,
							dataValidation: {
								validations: {
									patternMismatch: '',
									stepMismatch:    '',
									tooLong:         '',
									tooShort:        '',
									valueMissing:    'La confirmation du mot de passe est obligatoire pour pouvoir continuer'
								}
							}
						})(data-e-form-password-check="hamza")
				.l-row.l-row--nogut.u-margin-t-30
					.l-col-medium-12
						+btnWrapper.u-theme-genBlue
							+baseBtn({
								text: "J'annule",
								button : true,
								empty : true
							})

							+baseBtn({
								text: 'Je valide',
								submit : true
							}).c-baseBtn--push(type="submit" data-e-form-validation-submit)