.c-modifPassword {
    background: white;
    width: 100%;
    display: block;

    .c-toolTip__icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 31px;
    }
}

.c-modifPassword .c-inputMat__label, .c-modifPassword .c-selectMat__label {
    font-size: 1.4rem;
}

.c-modifPassword--position {
    position: relative;
    top: 80px;
    left: 20px;
}