// c-pushFAQSection :
.c-pushFAQSection {
  position: relative;

  .c-headSection {
    position: relative;
    width: 100%;

    &:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: -30px;
      left: -15px;
      right: -15px;
      height: 170px;
      background-color: $grey-light;
    }
  }

  .c-headSection__title {
    position: relative;
    z-index: 1;
  }
}

.c-pushFAQSection__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &.u-padding-spacer {
    padding-top: 50px;
  }
}

.c-pushFAQSection__content {
  position: relative;
  z-index: 1;
  width: 100%;

  .c-pushFAQ {
    margin-bottom: 15px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 25%;
    background-color: $grey-light;
  }
}

.c-pushFAQSection__link {
  z-index: 1;
  text-align: center;
}


@include media(">=small") {
  .c-pushFAQSection {
    padding-bottom: 50px;
    overflow: hidden;

    .c-headSection {
      &:before {
        top: -50px;
        left: -650px;
        right: -650px;
        height: 160px;
      }
    }
  }

  .c-pushFAQSection__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .c-pushFAQ {
      margin-bottom: 20px;
      width: 47%;
    }
  }

  .c-pushFAQSection__link {
    margin-top: 20px;
  }
}


// c-pushFAQ :
.c-pushFAQ {
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: 0 0 19px 3px rgba(0, 0, 0, .07);

  @include hover-focus-active {
    .c-pushFAQ__linkArrow {
      background-color: $genBlue-hover;
    }
  }
}

.c-pushFAQ__link {
  display: table;
  width: 100%;
  text-decoration: none;
  transition: background-color .4s;
}

.c-pushFAQ__icon,
.c-pushFAQ__linkLabel,
.c-pushFAQ__linkArrow {
  display: table-cell;
  vertical-align: middle;
}

.c-pushFAQ__icon,
.c-pushFAQ__linkLabel {
  background-color: $white;
}

.c-pushFAQ__icon {
  width: 40px;
  padding: 10px;
  font-size: 4rem;
  border-right: none;
  color: $genBlue;
}

.c-pushFAQ__linkLabel {
  padding: 10px 15px 10px 0;
  height: 80px;
  font-size: 1.4rem;
  line-height: 1.2;
  color: $black;
}

.c-pushFAQ__linkArrow {
  width: 10%;
  text-align: center;
  color: $white;
  font-size: 4rem;
  background-color: $genBlue;
  transition: background-color .4s;
}

.c-pushFAQ {
  @include hover-focus-active {
    .c-pushFAQ__linkArrow {
      background-color: $genBlue-hover;
    }
  }
}


@include media(">=small") {
  .c-pushFAQ__icon {
    width: 50px;
  }

  .c-pushFAQ__linkLabel {
    padding: 15px;
    height: 100px;
    font-size: 1.5rem;
  }

  .c-pushFAQ__linkArrow {
    width: 70px;
  }
}


@include media(">medium") {
  .c-pushFAQ__icon {
    font-size: 5rem;
  }

  .c-pushFAQ__linkLabel {
    padding: 20px;
    height: 120px;
  }
}
