include pushFAQ

.c-wysiwyg
  h2 pushFAQ

+demo()
  +pushFAQ({
  })


.c-wysiwyg
  h2 pushFAQSection

+demo()
  +pushFAQSection
    +pushFAQ({
      text: "Que faire en cas de problème d'eau, d'électricité et de gaz naturel à votre domicile ?"
    })
    +pushFAQ({
      text: "Ce type de prestation n’est-il pas déjà prévu dans une assurance multirisque habitation ?"
    })
