include ../../headSection/headSection

mixin pushFAQ(data)
  - var data = data || {}
  - var text = data.text || 'Ut enim ad minim veniam'

  // .c-pushFAQ
  a.c-pushFAQ(href="#")&attributes(attributes)
    .c-pushFAQ__link
      span.c-pushFAQ__icon.icon.icon-question
      h3.c-pushFAQ__linkLabel!=text
      span.c-pushFAQ__linkArrow.icon.icon-chevron-right
  // end .c-pushFAQ


mixin pushFAQSection(data)
  - var data  = data || {}
  - var title = data.title || 'Vous avez des questions ?'

  // .c-pushFAQSection
  .c-pushFAQSection&attributes(attributes)
    .c-pushFAQSection__wrapper.u-padding-spacer.l-wrapper--large
      +headSection({
        noLink: true,
        title: 'Déménagez en toute sérénité avec nos conseils'
      })

      .c-pushFAQSection__content
        block

      a(href="#").c-pushFAQSection__link.u-theme-color.u-theme-color-hover
        | Voir toutes les questions-réponses pour maîtriser sa consommation
  // end .c-pushFAQSection
