.c-wysiwyg
  h2 Composant fullModal (estimation)
+demo({
  desc: "Hors du tunnel : Titre + time-line"
}).u-theme-indigo
  button(type="button" data-e-fullModal-demo-open) Open
  +fullModal
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!


.c-wysiwyg
  h2 Avec titre simple
+demo({
  desc: "A l'intérieur du tunnel : juste un titre <br>Ajouter la classe <code>c-fullModalHeader--noTimeLine</code> au composant <code>c-fullModalHeader</code>"
}).u-theme-indigo
  button(type="button" data-e-fullModal-demo-open) Open
  +fullModal({
    onlyTitle: true
  })
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim obcaecati facilis cum nihil, quibusdam at sunt quam, amet nisi doloremque asperiores. Totam distinctio doloremque quia aspernatur odio sed dolorum!
