mixin blockquote()

  // .c-blockquote
  .c-blockquote.u-padding-spacer&attributes(attributes)
    blockquote.c-blockquote__content
      .c-blockquote__quoteLeft.icon.icon-quote-left

      .c-blockquote__text.u-fontSize-large
        if block
          block
        else
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit.

      .c-blockquote__quoteRight.icon.icon-quote-right
  // end .c-blockquote
