include blockquote

.c-wysiwyg
  h2 blockquote

+demo()
  +blockquote().l-wrapper--large
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.