include ../components/formMat/inputMat/inputMat
include ../components/btnWrapper/btnWrapper

doctype html
html
  head
    meta(name="robots" content="noindex, nofollow")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="format-detection" content="telephone=no")
    meta(name='description' content="page de redirection")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700")
    link(rel="stylesheet" href="../css/wcb-standalone.css")

  body
    // .c-floatingCallback
    .c-floatingCallback
      .c-floatingModal__headingBlock
        h2.c-floatingModal__heading-1 Besoin d’aide dans votre souscription&nbsp;?
        h2.c-floatingModal__heading-2
          | Rappel gratuit et immédiat par un conseiller
          = " "
          span.u-textUppercase Gaz Tarif Réglementé

      .c-floatingCart__content
        .c-formMat
          +inputMat({
            id: "stickyDock-callback",
            type : 'tel',
            label: 'Numéro de téléphone',
            maxlength: 10,
            pattern: "tel",
            placeholder: "06 74 78 45 65",
            required: true,
            dataValidation: true
          })

          +btnWrapper().u-theme-jadeGreen.c-btnWrapper--fullOnMobile.u-margin-t-50.u-margin-small-t-60
            button.c-baseBtn.u-theme-bg.u-theme-bg-hover.c-baseBtn--large.u-width100(type="submit")
              span.c-baseBtn__content Rappelez-moi
              span.c-baseBtn__iconRight
                svg(
                  xmlns="http://www.w3.org/2000/svg"
                  width="55.18" height="30"
                  viewBox="0 0 55.18 51.66"
                )
                  path(fill="white" d="M10.38 38.02c.5 1.38 1.37 3.37 3.26 4.7.18.14.35.23.5.3l.16.08.06.03.06.02c1.03.4 2.13.6 3.28.56.66 0 1.35-.1 2.06-.2 3.9-.9 7.66-2.7 11.45-5.6 3.7-2.8 6.9-6.23 9.4-10.2 1.5-2.3 2.7-4.7 3.4-7.1.6-1.85 1.2-3.86 1-6.06-.1-1.3-.5-3.2-2.2-4.44-1-.7-2.13-1.47-3.53-1.85-.37-.1-.74-.16-1.1-.15-.65 0-1.6.26-2.33 1.35-.94 1.37-1.87 2.8-2.77 4.17l-.66 1c-.3.46-.63.95-.92 1.47-.55 1.05-.5 2.2.2 3.2.4.52.8.92 1.18 1.23.83.64 1.6 1.23 2.38 1.8l-.2.3c-.4.6-.8 1.16-1.23 1.7-2.83 3.6-5.76 6.57-8.94 9.04-.1.1-.25.2-.4.3-.7-.87-1.4-1.7-2.13-2.55-.27-.3-.58-.5-.85-.7l-.1-.07c-.6-.43-1.22-.64-1.87-.6-.6 0-1.15.2-1.7.6-2.03 1.44-4 2.9-6.16 4.5-1.14.8-1.55 2.04-1.1 3.27")

        p.u-fontSize-tiny.u-margin-t-20 Des questions sur votre facture ou pour toute autre demande, appeler le 09 69 39 99 93 - du Lundi au Samedi 8h-21h (Appel non surtaxé depuis un poste fixe).
    // END .c-floatingCallback


    // .c-floatingCallback (avec erreur)
    .c-floatingCallback
      .c-floatingModal__headingBlock
        h2.c-floatingModal__heading-1 Besoin d’aide dans votre souscription&nbsp;?
        h2.c-floatingModal__heading-2
          | Rappel gratuit et immédiat par un conseiller
          = " "
          span.u-textUppercase Gaz Tarif Réglementé

      .c-floatingCart__content
        .c-formMat
          +inputMat({
            id: "stickyDock-callback",
            type : 'tel',
            label: 'Numéro de téléphone',
            maxlength: 10,
            pattern: "tel",
            placeholder: "06 74 78 45 65",
            required: true,
            dataValidation: true
          }).is-error

          +btnWrapper().u-theme-jadeGreen.c-btnWrapper--fullOnMobile.u-margin-t-50.u-margin-small-t-60
            +baseBtn({
              text: "Rappelez-moi",
              submit: true
            }).c-baseBtn--large.u-width100


        p.u-fontSize-tiny.u-margin-t-20 Des questions sur votre facture ou pour toute autre demande, appeler le 09 69 39 99 93 - du Lundi au Samedi 8h-21h (Appel non surtaxé depuis un poste fixe).
    // END .c-floatingCallback
