mixin title(data)
  - var data  = data || {}
  - var title = data.title || 'Gaz Tarif Réglementé, Coopé de Truchtersheim et wie rucksack'

  // .c-title
  .c-title.l-wrapper--large&attributes(attributes)
    h1.c-title__text!=title
  // END .c-title
