.c-pager {
  text-align: center;
  color: $genBlue;
}

.c-pager__list {
  display: inline-table;
  vertical-align: middle;
}

.c-pager__page {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
  width: 30px;
}

.c-pager__link {
  @extend %reset-style-button;
  color: $grey;
  display: inline-block;
  font-weight: $font-bold;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  &:not(.c-pager__link--current) {
    @include hover-focus-active() {
      color: $black;
    }

    &:not(.c-pager__link--arrow) {
      @include hover-focus-active() {
        border-color: inherit;
      }
    }
  }

  &--arrow {
    font-size: 3.6rem;

    .icon {
      display: block;
    }
  }

  &--current {
    font-size: 1.8rem;
    color: $genBlue;
    border-color: inherit;
  }
}

.c-pager__total {
  display: inline;
  vertical-align: middle;
}


@include media(">=small") {
  .c-pager__page {
    padding: 15px 0;
    width: 50px;
  }
}