
h1.u-heading-1 page foyer semilaire
+demo({
  desc: `
    -  page foyer similaire
    `
})
  +foyerSimilaire

+demo({
  desc: `
    -  page foyer similaire Résultat
    `
})
  +titleV2({
    titleBlue : "Je compare ma consommation",
    titleBlack : "avec des foyers similaires"
  })
  .l-row
    .l-col-medium-8
      +foyerSimilaireResult
      
    .l-col-medium-4
      div(style="height:420px; background:grey; color: black; font-size:2rem;").u-textCenter.u-padding-t-50 <strong>col-4 amplacement du Push</strong>


+demo({
  desc: `
    -  page foyer similaire Résultat
    `
})
  +titleV2({
    titleBlue : "Je compare ma consommation",
    titleBlack : "avec des foyers similaires"
  })
  .l-row
    .l-col-medium-8
      +foyerSimilaireNoResult
      
    .l-col-medium-4
      div(style="height:412px; background:grey; color: black; font-size:2rem;").u-textCenter.u-padding-t-50 <strong>col-4 amplacement du Push</strong>