$noCharted-bg-grey:      #f1f1f1; // non charté
$noCharted-color-green:  #3ba818; // non charté
$noCharted-color-yellow: #ffb500; // non charté
$noCharted-color-red:    #ff5500; // non charté
$colorBleu:              $genBlue; 

.c-foyerSimilaireNoResult {
  padding-top:0;
  background: white; 
}
.c-foyerSimilaireNoResult__title {
  padding: 20px 30px;
  background-color: $colorBleu;
  color: white;
  font-size: 2.4rem;
  margin-bottom: 30px;
  width: 100%;
}

.c-foyerSimilaireNoResult__text {
  font-size: 1.8rem;
  padding: 0 30px;
}

.c-foyerSimilaireNoResult__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-foyerSimilaireNoResult__wrapContent {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  justify-content: space-between;
  margin-bottom: 30px;

  .c-foyerSimilaireNoResult__text {
    padding: 0;
  }

  .c-baseBtn {
    width: 100%;
  }
}

.c-foyerSimilaireNoResult__img {
  width: 100%;
}

.c-foyerSimilaireNoResult .icon-danger:before {
  margin-right: 15px;
  font-size: 3rem;
}


@include media(">=small") {
  .c-foyerSimilaireNoResult__wrap {
    flex-direction: row;
  }

  .c-foyerSimilaireNoResult__img {
    width: 100%;
    max-width: 465px;
    margin-left: 20px;
  }

  .c-foyerSimilaireNoResult__wrapContent .c-foyerSimilaireNoResult__text {
    font-size: 2rem;
    font-weight: bold;
  }
}

@include media ("<=small") {
  .c-foyerSimilaireNoResult__wrapContent {
    max-width: 100%;
  }

  .c-foyerSimilaireNoResult__wrapContent .c-foyerSimilaireNoResult__text {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
  }
}
