$noCharted-bg-grey:      #f1f1f1; // 1920px
$noCharted-color-green:  #3ba818; // 1920px
$noCharted-color-yellow: #ffb500; // non charté
$noCharted-color-red:    #ff5500; // non charté
$colorBleu:              $genBlue; 

.c-foyerSimilaireResult {
  padding: 30px;
  background: white;
}


.c-foyerSimilaireResult__title {
  font-size: 2.4rem;
  color: $genBlue;
}

.c-foyerSimilaireResult__wrap {
  display: flex;
  flex-wrap: wrap;
}

.c-foyerSimilaireResult__item {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;

  &.is-active {
    background-color: white;
    box-shadow: 1px 8px 21px 0 rgba(0, 0, 0, 0.3);
  }
}

.c-foyerSimilaireResult__img {
  padding: 20px 0;
}

.c-foyerSimilaireResult__itemText {
  text-align: center;
}

.c-foyerSimilaireResult__itemTextColor {
  text-align: center;
  font-size: 2rem;
}

.c-foyerSimilaireResult__item--green {
  .c-foyerSimilaireResult__itemTextColor {
    color:$noCharted-color-green;
  }
}

.c-foyerSimilaireResult__item--yellow {
  .c-foyerSimilaireResult__itemTextColor {
    color:$noCharted-color-yellow;
  }
}

.c-foyerSimilaireResult__item--blue {
  .c-foyerSimilaireResult__itemTextColor {
    color:$colorBleu;
  }
}

.c-foyerSimilaireResult__item--red {
  .c-foyerSimilaireResult__itemTextColor {
    color:$noCharted-color-red;
  }
}

.c-foyerSimilaireResult__infoTitle {
  color: $genBlue;
  font-size: 1.8rem;
  font-weight: 500;
}

.c-foyerSimilaireResult__infoText {
  font-size: 1.8rem;
}


.c-foyerSimilaireResult__infoTextSynthese {
  font-size: 2.4rem;
}

@include media("<small") {
  .c-foyerSimilaireResult__title {
    font-size: 2.0rem;
    margin-bottom: 25px;
  }
  
  .c-foyerSimilaireResult.u-padding-a-30 {
    padding: 15px;
  }

  .c-foyerSimilaireResult__wrap {
    justify-content: space-between;
  }

  .c-foyerSimilaireResult__item {
    width: 49%;
    padding: 12px;
    margin-bottom: 20px;
  }

  .c-foyerSimilaireResult__infoTextSynthese {
    font-size: 1.8rem;
  }
  
  .c-baseBtn {
    width: 100%;
  }
}


@include media(">=small") {
  .c-foyerSimilaireResult__wrap {
    justify-content: space-around;
  }

  .c-foyerSimilaireResult__title {
    margin-bottom: 95px;
  }

  .c-foyerSimilaireResult__item { 
    width: 150px;
    margin: 20px 1px;

    &.is-active {
      margin-top: -39px;
    }
  }
}

@include media ("<=medium", ">small") {
  .c-foyerSimilaireResult__item {
    width: 170px;
  }

  .c-foyerSimilaireResult__wrap {
    padding: 0 10%;
  }

  .c-foyerSimilaireResult__item.is-active {
    margin-top: -10px;
  }

  .c-foyerSimilaireResult__title {
    margin-bottom: 50px;
  }
}

