include foyerSimilaireNoResult
include foyerSimilaireResult

mixin foyerSimilaire(data)
  - var data   = data || {}
  //.c-foyerSimilaire
  .c-foyerSimilaire
    +titleV2({
      titleBlue : "Je compare ma consommation",
      titleBlack : "avec des foyers similaires"
    })

    .c-foyerSimilaire__fieldsets.u-shadow
      .l-row
        .l-col-medium-8
          +formMat()(
						action="/"
						novalidate
						method="POST"
						data-e-form-validation
				  )
            //step 1
            fieldset(data-e-wizard='{"step" : "1", "ignor": true}').c-foyerSimilaire_step.c-foyerSimilaire_step-1.is-active
              .c-foyerSimilaire_main
                .u-heading-2 1. Où est situé votre logement ?
                .c-foyerSimilaire_mainBloc

                  +inputMat({
                    required: true,
                    type : 'tel',
                    label: 'Code postal, ville',
                    placeholder: '75 000 - paris',
                    maxlength: 5,
                    pattern: "cp",
                    dataValidation: {
                      typing: true,
                      validations: {
                        patternMismatch: 'patternMismatch: Format incorrect',
                        valueMissing: 'champs obligatoire'
                      }
                    }
                  })

                  +selectMat({
                    label: 'Un champs select'
                  })

                +btnWrapper.u-theme-genBlue.c-btnWrapper--alignLeft.c-btnWrapper--fullOnMobile
                  +baseBtn({
                  text: 'Suivant',
                  button: true,
                  submit: false
                  })(
                    data-e-nextstep=0
                    disabled
                  ).c-baseBtn--large.u-margin-t-30.is-disabled
            //step 2
            fieldset(data-e-wizard='{"step" : "2"}').c-foyerSimilaire_step.u-visibilityHidden
              a(href="#").c-foyerSimilaire_retour.js-foyerSimilaire_retour.icon-carousel-prev.icon  Retour à l'étape présédente
              .c-foyerSimilaire_main
                .u-heading-2 2. Quelle est le type de votre logement ?
                .c-radioStyleWrapper
                  +radioStyle({
                    id: "fS_radioMatStyle",
                    name: 'radio',
                    titre: 'Maison',
                    icon: "icon-maison",
                    required: true,
                    dataValidation: {
                      validations: {
                        valueMissing: ''
                      }
                    }
                  })

                  +radioStyle({
                    id: "fS_radioMatStyle2",
                    name: 'radio',
                    titre: 'Appartement',
                    icon: "icon-immeuble",
                    required: true,
                    dataValidation: {
                      validations: {
                        valueMissing: ''
                      }
                    }
                  })

                +btnWrapper.u-theme-genBlue.c-btnWrapper--alignLeft.c-btnWrapper--fullOnMobile
                  +baseBtn({
                  text: 'Suivant',
                  button: true,
                  submit: false
                  })(
                    data-e-nextStep=1
                    disabled

                  ).c-baseBtn--large.u-margin-t-30.is-disabled
            //step 3
            fieldset(data-e-wizard='{"step" : "3"}').c-foyerSimilaire_step.u-visibilityHidden
              a(href="#").c-foyerSimilaire_retour.js-foyerSimilaire_retour.icon-carousel-prev.icon  retour à l'étape présédente
              .c-foyerSimilaire_main
                .u-heading-2 3. Quelle est la superficie de votre logement ?
                  +inputMat({
                    required: true,
                    type : 'tel',
                    label: 'Superficie',
                    placeholder: 'Ex : 75',
							      textRight: "m²",
                    maxlength: 5,
							      pattern: '^[0-9]*$',
                    dataValidation: {
                    typing: true,
                      validations: {
                        patternMismatch: 'patternMismatch: Format incorrect',
                        valueMissing: 'champs obligatoire'
                      }
                    }
                  })
                +btnWrapper.u-theme-genBlue.c-btnWrapper--alignLeft.c-btnWrapper--fullOnMobile
                  +baseBtn({
                  text: 'Suivant',
                  button: true,
                  submit: false
                  })(
                    data-e-nextStep=2
                    disabled
                  ).c-baseBtn--large.u-margin-t-30.is-disabled
            //step 4 
            fieldset(data-e-wizard='{"step" : "4"}').c-foyerSimilaire_step.u-visibilityHidden
              a(href="#").c-foyerSimilaire_retour.js-foyerSimilaire_retour.icon-carousel-prev.icon  retour à l'étape présédente
              .c-foyerSimilaire_main
                .u-heading-2 4. Combien de personnes occupent le foyer ?
                +radioInteger({
                  id:    'sasa',
                  name:   'personne',
                  dataValidation: true,
                  p : 5
                }).u-margin-t-80
                +btnWrapper.c-foyerSimilaire__submit.u-theme-genBlue.c-btnWrapper--alignLeft.c-btnWrapper--fullOnMobile
                  +baseBtn({
                  text: 'Valider',
                  button: true,
                  submit: true
                  })(data-e-form-validation-submit
                    data-e-nextStep=3
                  ).c-baseBtn--large.u-margin-t-30.is-disabled
    
        .l-col-medium-4.u-hideSmall
          .c-foyerSimilaire__steps(data-e-wizardStepper)
            button(type="button" data-e-wizardStep='1' disabled).c-foyerSimilaire_step0.c-foyerSimilaire_step.is-current 1. Adresse du logement
            button(type="button" data-e-wizardStep='2' disabled).c-foyerSimilaire_step1.c-foyerSimilaire_step 2. Type du logement
            button(type="button" data-e-wizardStep='3' disabled).c-foyerSimilaire_step2.c-foyerSimilaire_step 3. Superficie du logement
            button(type="button" data-e-wizardStep='4' disabled).c-foyerSimilaire_step3.c-foyerSimilaire_step 4. Nombre d’occupants
