@import "foyerSimilaireResult";
@import "foyerSimilaireNoResult";

.c-foyerSimilaire__fieldsets {
  width: 100%;
  background: $white;
  padding: 0;
}

.c-foyerSimilaire_step-1 .c-foyerSimilaire_mainBloc {
  display: flex;
  flex-direction: column;
}

.c-foyerSimilaire_step {
  position: relative;

  .u-heading-2 {
    color: black;
  }
}

.c-foyerSimilaire_main {
  padding-top: 65px;
  padding-left: 100px;
  width: 100%;
  height: 390px;
  position: relative;
}

.c-foyerSimilaire_main .c-btnWrapper {
  position: absolute;
  bottom: 50px;
}

.c-foyerSimilaire__steps {
  padding: 90px 0 0 60px;
  border-left: 1px $grey-medium solid;
  height: 430px;
}

.c-foyerSimilaire_step {
  background-color: transparent;
  border: 0;
  
  &.is-current {
    color: $genBlue;
    font-weight: bold;
  }
  &.is-done {
    color: $genBlue;
  }
}

.c-foyerSimilaire__steps a {
  padding: 0 0 20px;
}

.c-foyerSimilaire fieldset {
  padding: 20px 0;
}

.c-foyerSimilaire_retour {
  color: $genBlue;
  font-size: 1.3rem;
  font-weight: bold !important;
  text-decoration: none;
}

.c-foyerSimilaire_main span.c-inputMat, .c-foyerSimilaire_main span.c-selectMat {
  width: 230px;
}


.c-foyerSimilaire_main .c-radioStyle__fieldBorder:nth-child(1) {
  margin-left: 0;
}

.c-foyerSimilaire_main .c-radioStyleWrapper {
  justify-content: left;
}

.c-foyerSimilaire__fieldsets form.u-padding-spacer {
  padding-top: 0;
  padding-bottom: 0;
}

.c-foyerSimilaire input.c-radioStyle__field, .c-foyerSimilaire .c-radioStyle__fieldBorder {
  width: 210px;
  height: 120px;
}

.c-foyerSimilaire_step {
  color: $grey-medium;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2px;
}

.c-foyerSimilaire .c-radioStyle__nouveaux {
  left: 30px;
  width: 150px;
  text-align: center;
  color: $starGrey;
}

.c-foyerSimilaire .c-radioStyle__blocImage {
  height: 120px;
}

.c-foyerSimilaire input.c-radioStyle__field:checked ~ .c-foyerSimilaire .c-radioStyle__icon {
  color: $genBlue ;
}

.c-foyerSimilaire input.c-radioStyle__field:checked ~ .c-radioStyle__blocImage .c-radioStyle__icon{
  color: $genBlue ;
}

.c-foyerSimilaire .c-inputMat__label, .c-foyerSimilaire .c-inputMat__rightBlock span {
  font-size: 1.2rem;
}

.c-foyerSimilaire .c-inputMat__label {
  top: -30px;
}

.c-foyerSimilaire .c-inputMat__field:focus ~ .c-inputMat__rightBlock {
  color: $genBlue;
}

.c-foyerSimilaire_retour {
  position: absolute;
  z-index: 1;
}

@include media ('<=medium') {
  .c-foyerSimilaire_main {
    padding-left: 50px;
  }

  .c-foyerSimilaire_step {
    text-align: left;
    margin-bottom: 8px;
  }

  .c-foyerSimilaire__steps {
    padding-left: 20px;
  }
}

@include media ('<=small') {
  .c-foyerSimilaire_main {
    padding: 0 15px;
    height: auto;
  }

  .c-foyerSimilaire_main span.c-inputMat {
    width: auto;
  }

  .c-foyerSimilaire_main .c-btnWrapper{
    margin-top: 40px;
    position: initial;
  }

  .c-foyerSimilaire_retour {
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
  }

  .c-foyerSimilaire .c-radioStyle {
    justify-content: center;
  }
  
  .c-foyerSimilaire .c-radioInteger {
    flex-direction: row;
  }

  .c-foyerSimilaire .c-radioInteger span.c-radioMat__check.u-theme-bg.u-theme-color {
    width: 60px;
  }

  .c-foyerSimilaire .c-radioInteger label.c-radioMat__label.c-radioMat__labelPadding {
    width: 60px;
    margin-right: 10px;
  }

  .c-foyerSimilaire .c-radioStyle {
    margin-bottom: 0;
  }

  .c-foyerSimilaire_main > .u-heading-2 {
    margin-bottom: 30px;
  }

  .c-foyerSimilaire_main span.c-selectMat {
    width: 100%;
  }
}

@include media ('>small') {
  .c-foyerSimilaire_step-1 .c-foyerSimilaire_mainBloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
  }
}

// Foyer similaire affichage impossible
.c-foyerSimilaire .l-wrapper--foyerSimilaireNoView {
    background:white url(../images/contrib/foyerSimilaireHouse.png) no-repeat bottom;
  // background-size: 122%;
}

.l-wrapper--foyerSimilaireNoView .l-wrapper.l-wrapper--mainFull{
  // background:white url(../images/contrib/foyerSimilaireHouse.png) no-repeat bottom;
  // background-size: 122%;
  // @media #{$medium} {
  //   background-size: 70%;
  //   background-image:none;
  // }
  @media #{$large} {
    // background-position: 96% 205px;
    // background-size: 46%;
    .c-foyerSimilaire__content__left {
      width: 50%;
    }
  }
}

.c-foyerSimilaire.c-foyerSimilaire--noView {
  margin-top: 20px;
  background:white url(../images/contrib/foyerSimilaireHouse.png) no-repeat right;
  background-size: 571px;
  background-position-y: 110px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 200px;
  padding: 40px 90px;
  @media #{$smallMediumOnly} {
  background:white url(../images/contrib/foyerSimilaireHouse.png) no-repeat bottom;
    margin-top: 0px;
    padding-bottom: 270px;
  }
  @media #{$medium} {
    background-size: 74%;
  }
  @media #{$small} {
    padding: 16px 16px 270px 16px;
    background-size: 118%;
  }

  
  .u-heading-2 {
    color: $genBlue;
    font-weight: bold;
    
  }
  .c-foyerSimilaire__content {
    width: 100%;
    margin-top: 30px;


    h1.u-heading-2 {
      margin-bottom: 50px;
      @media #{$smallMediumOnly} {
        margin-bottom: 20px;
      }
    }

    p { 
      font-size: 1.6rem;
      line-height:2.4rem;
    }
    .c-baseBtn__content { font-size: 1.6rem;}
    .c-btnWrapper { 
      margin-bottom: 30px;
      @media #{$large} {
        border-bottom: 1px solid #ccc;
      }
    }
    .u-link { 
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
