// + .c-choiceWrapperMat
.c-choiceWrapperMat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
}

@include media('>=small'){
  .c-choiceWrapperMat--hAlign {
    flex-direction: row;

    .c-radioMat,
    .c-checkboxMat {
      margin-right: 40px;
    }

    .c-radioBlockMat {
      margin-right: 60px;
    }
  }

  .c-choiceWrapperMat--vAlign {
    justify-content: center;
  }
}

// Surcharge temporaire au 11/08/2017, à supprimer quand .c-wysiwyg ne sera plus en display table :
.c-choiceWrapperMat {
  .c-radioMat,
  .c-checkboxMat {
    .c-wysiwyg {
      display: block;
    }
  }
}
