include ../../userReview/userReview
include ../../pictoBlock/pictoBlock

mixin footerArticle(data)
  - var data = data || {}
  - var noPrev = data.noPrev || false

  // .c-footerArticle
  footer.c-footerArticle.l-wrapper--huge.u-theme-coral
    .c-footerArticle__pagination.u-theme-color
      if !noPrev
        a.c-footerArticleLink.c-footerArticleLink--prev(href="#prevtata" rel="prev" data-e-header-article-pagination-prev)
          span.c-footerArticleLink__wrapper.u-theme-color
            span.c-footerArticleLink__icon.icon.icon-chevron-left
            span.c-footerArticleLink__text Panneau solaire 250 W, est-ce le bon choix pour moi ?

      a.c-footerArticleLink.c-footerArticleLink--next(href="#next" rel="next" data-e-header-article-pagination-next)
        span.c-footerArticleLink__wrapper.u-theme-color
          span.c-footerArticleLink__text LՎolienne domestique : une solution rentable ?
          span.c-footerArticleLink__icon.icon.icon-chevron-right
  // end .c-footerArticle
