h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant promoBanner

+demo({
  desc: "Une classe <code>is-active</code> est à mettre sur le block à a&fficher."
})
  +promoBanner()


+demo({
  desc: "<code>u-bg-genBlue</code> ou <code>u-bg-indigo</code>."
})
  +promoBanner({
    color: 'coral'
  })
