mixin promoBanner(data)
  - var data = data || {}
  - var promo1 = data.promo1 || "En ce moment, 3 mois offerts sur l’Assurance Facture"
  - var promo2 = data.promo2 || "Profitez-en avec le code ASSUR"
  - var color = data.color || "genBlue"

  // .c-promoBanner
  aside.c-promoBanner(
    class="u-bg-"+color
  )
    .c-promoBanner__wrapper
      .c-promoBanner__item.is-active
        p.u-textCenter!=promo1
      .c-promoBanner__item
        p.u-textCenter!=promo2
  // END .c-promoBanner