.c-shareArticle {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.c-shareArticle__wrapper {
  display: flex;
  align-self: center;
}

.c-shareArticleLink {
  flex: 0 0 auto;
  margin: 10px 15px;
  text-decoration: none;
  outline: 0;
  transition: all .2s;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.c-shareArticleLink__icon {
  font-size: 2.2rem;
  color: $white;
  position: relative;
}

@include media('<=medium'){
  .c-shareArticle__label {
    @include visibility-hidden();
  }
}


@include media('>medium'){
  .c-shareArticle {
    flex-direction: row;
    align-items: center;
  }

  .c-shareArticle__label {
    flex: 0 0 auto;
    margin-right: 30px;
  }
}
