include paging

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant paging

+demo({
  desc: `
  - Ajouter la classe <code>is-active</code> à l'élément <code>c-paging__link</code> au numéro correspondant à la page courante<br>
  - Ajouter la classe <code>is-hidden</code> à l'élément <code>c-paging__link</code> si celui-ci doit être masqué (les flèches sur la première ou dernière page par exemple)
  `
})
  +paging({
    demoState: '1'
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Sur la première page :

+demo({
  desc: ``
})
  +paging({
    demoState: '2'
  })


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Sur la dernière page :

+demo({
  desc: ``
})
  +paging({
    demoState: '3'
  })