mixin paging(data)
  - var data = data || {}
  - var demoState = data.demoState || '1'

  // .c-paging
  case demoState
    when '1'
      nav.c-paging(role="navigation" aria-label="Pagination")&attributes(attributes)
        ul.c-paging__list
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="prev" title="Se rendre 5 pages en arrière")
              span.icon.icon-chevron-left
              span.icon.icon-chevron-left
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="prev" title="Page précédente")
              span.icon.icon-chevron-left

          li.c-paging__listElem
            a.c-paging__link(href="#" rel="prev") 1
          li.c-paging__listElem
            span.c-paging__link.is-active(aria-label="Page courante") 2
          li.c-paging__listElem
            a.c-paging__link(href="#" rel="next") 3
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 4
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 5
          li.c-paging__listElem
            span.c-paging__block ...
          li.c-paging__listElem
            a.c-paging__link(href="#") 10

          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="next" title="Page suivante")
              span.icon.icon-chevron-right
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="next" title="Se rendre 5 pages en avant")
              span.icon.icon-chevron-right
              span.icon.icon-chevron-right

  case demoState
    when '2'
      nav.c-paging(role="navigation" aria-label="Pagination")&attributes(attributes)
        ul.c-paging__list
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow.is-hidden(href="#" rel="prev" title="Se rendre 5 pages en arrière")
              span.icon.icon-chevron-left
              span.icon.icon-chevron-left
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow.is-hidden(href="#" rel="prev" title="Page précédente")
              span.icon.icon-chevron-left

          li.c-paging__listElem
            span.c-paging__link.is-active(aria-label="Page courante") 1
          li.c-paging__listElem
            a.c-paging__link(href="#" rel="next") 2
          li.c-paging__listElem
            a.c-paging__link(href="#") 3
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 4
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 5
          li.c-paging__listElem
            span.c-paging__block ...
          li.c-paging__listElem
            a.c-paging__link(href="#") 10

          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="next" title="Page suivante")
              span.icon.icon-chevron-right
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="next" title="Se rendre 5 pages en avant")
              span.icon.icon-chevron-right
              span.icon.icon-chevron-right

  case demoState
    when '3'
      nav.c-paging(role="navigation" aria-label="Pagination")&attributes(attributes)
        ul.c-paging__list
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="prev" title="Se rendre 5 pages en arrière")
              span.icon.icon-chevron-left
              span.icon.icon-chevron-left
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow(href="#" rel="prev" title="Page précédente")
              span.icon.icon-chevron-left

          li.c-paging__listElem
            span.c-paging__link(href="#") 1
          li.c-paging__listElem
            span.c-paging__block ...
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 6
          li.c-paging__listElem
            a.c-paging__link.u-hideSmall(href="#") 7
          li.c-paging__listElem
            a.c-paging__link(href="#") 8
          li.c-paging__listElem
            a.c-paging__link(href="#" rel="prev") 9
          li.c-paging__listElem
            a.c-paging__link.is-active(aria-label="Page courante") 10

          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow.is-hidden(href="#" rel="next" title="Page suivante")
              span.icon.icon-chevron-right
          li.c-paging__listElem
            a.c-paging__link.c-paging__link--arrow.is-hidden(href="#" rel="next" title="Se rendre 5 pages en avant")
              span.icon.icon-chevron-right
              span.icon.icon-chevron-right
  // end .c-paging


mixin pagingElem(data)
  - var data       = data || {}
  - var pagingArrow = data.pagingArrow || false
  - var notLink    = data.notLink || false


  li.c-paging__listElem
    if notLink
      span.c-paging__block&attributes(attributes)
        block

    else
      a.c-paging__link.c-paging__link--arrow(href="#")
        block