.c-btnGraph {
    width: 100%;
    padding-left: 30px;
    padding-top: 40px;
}

.c-btnGraph__downTitre {
    font-weight: 700;
    font-size: 21px;
    color: #000;
    align-self: flex-end;
    line-height: 25px;
}

.c-btnGraph__downTitre span {
    font-weight: 400;
}

.c-btnGraph__allComponent {
    display: block;
    width: 100%;
    min-height: 40px;
}

.c-btnGraph__topTitre {
    font-weight: 700;
    font-size: 1.6rem;
    color: #00aaff;
    width: 100%;
    display: block;
    text-align: left;
    line-height: 10px;
}

.c-btnGraph__allBtn {    
    padding: 0;
    display: flex;
    align-self: flex-end;
    height: 35px;
}

.c-btnGraph__separation {
    width: 1px;
    background: $grey;
    margin: 0 15px;
}

.c-btnGraph .tooltip {
    background-color:white;
    border: 1px $grey solid;
    width: auto;
}

.c-btnGraph .tooltip-inner {
    color: $black;
}

.c-btnGraph .tooltip .tooltip-arrow, .c-btnGraph .popper .popper__arrow {
    border-color: $grey;
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.c-btnGraph__allTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.c-btnGraph__allBtn button.c-btnGraph__detail {
    background-color: #FFF;
    border: 0px solid $genBlue;
    outline: 0 !important;
    padding: 8px;
    text-align: center;
    margin: 0 2px;
    border-radius: 6px;
    width: 60px;
    font-size: 1.6rem;
}

.c-btnGraph__allBtn button.c-btnGraph__detail:hover {
    background-color: #cecbcb;
}

.c-btnGraph__allBtn button.c-btnGraph__detail span {
    color: $black;
    font-weight: normal;
    font-size: 1.6rem;
}

.c-btnGraph__allBtn button.c-btnGraph__detail.c-btnGraph__active {
    background-color: $genBlue;
    width: 60px;
    padding-right: 8px;
    margin: 0;
}

.c-btnGraph__allBtn button.c-btnGraph__active span {
    color: #FFF;
    font-weight: bold;
}

.c-btnGraph--tooltipSurcharge .c-toolTip__icon {
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px #0059B3 solid;
    color: #0059B3;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin: 0 0 0 5px;
}

.c-btnGraph--tooltipSurcharge .c-toolTip__icon:hover {
    background-color: #0059B3 !important;
    color: white; 
}