h2.u-heading-1 Boutons graphe gazPar:

+demo({
    desc: "Composant spécifique suivie conso pour le graphe du plugin heightchartjs"
})
  +btnGraph({
    gazPar : false,
    newds : true,
    target : "graphGazPar",
    text : "Bientôt disponible"
  })

h2.u-heading-1 Boutons graphe gazPar:

+demo({
    desc: "Composant spécifique suivie conso pour le graphe du plugin heightchartjs"
})
  +btnGraph({
    gazPar : false,
    newds : true,
    target : "graphGazPar1",
    text : 'Pour accéder à cette vue, merci de nous donner votre accord en cliquant sur "Mes données quotidiennes".'
  })

h2.u-heading-1 Boutons graphe non gazPar:  
+demo({
    desc: "Composant spécifique suivie conso pour le graphe du plugin heightchartjs"
})
  +btnGraph({
    gazPar : true,
    newds : true,
    target : "graphNonGazPar"
  })