include mesFactureHeaderPaiement/mesFactureHeaderPaiement
include mesFactureHeaderProchaineFacture/mesFactureHeaderProchaineFacture
include mesFactureHeaderMonPlan/mesFactureHeaderMonPlan
mixin mesFactureHeader(data)
  - var data                = data || {}
  - var bloc                 = data.bloc || false

  //.c-mesFactureHeader
  .c-mesFactureHeader
    .l-row.u-margin-t-40.l-row--noSideGut
      .l-col-medium-4.u-margin-small-b-20
        +mesFactureHeaderPaiement()
      .l-col-medium-4
        +mesFactureHeaderProchaineFacture()
      .l-col-medium-4
        if bloc
          +mesFactureHeaderProchaineFacture({
            txtTitre : "MA PROCHAINE",
            txtTitreBold : "MENTIONALITE",
            prochaineFacture : true,
            img : "Push-mensualisation.jpg"
          })
        if !bloc  
          +miniPush({
            themeColor: "genBlue",
            img: true,
            imgSmall: 'Push-mensualisationWhite-mobile.jpg',
            imgLarge: 'Push-mensualisationWhite.jpg',
            textColor: 'u-color-black',
            themeTitle: false,
            title: 'OPTEZ POUR LA',
            subTitle: 'MENSUALISATION',
            shadow : ' ',
            btnTxt : "Je découvre",
            themeTextColor : "white",
            imgMobile : true,
            noWidth : true,
            text: 'Ne vous souciez plus des règlements :  vos factures sont payées automatiquement et le prélèvement a lieu le même jour chaque mois.'
          }).c-mesFactureHeaderMonPlan__mensHeight
    +mesFactureHeaderMonPlan()