@import "mesFactureHeaderPaiement/mesFactureHeaderPaiement";
@import "mesFactureHeaderProchaineFacture/mesFactureHeaderProchaineFacture";
@import "mesFactureHeaderMonPlan/mesFactureHeaderMonPlan";

.u-bg-white.c-miniPush__content {
  background: white!important;
  width: 100%;
}

.c-mesFactureHeader .c-miniPush__text {
  font-size: 1.6rem;
}

.c-mesFactureHeader .c-miniPush__title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-top: 0;
  margin-bottom: 12px;
}

.c-mesFactureHeader .c-toolTip {
  margin-left: 6px;
}

.c-mesFactureHeaderMonPlan__mensHeight {
  height: 300px;
}

@include media ("<medium", ">small") {
  .c-mesFactureHeader .c-miniPush__title {
    font-size: 2.4rem;
    line-height: 2.6rem; // demande PO 
  }

  .c-mesFactureHeaderMonPlan__mensHeight .c-miniPush__content {
    padding: 20px;
  }

  .c-mesFactureHeader .c-miniPush__text {
    font-size: 1.4rem;
  }
}

@include media ("<=small") {
  .c-mesFactureHeaderMonPlan__mensHeight .c-miniPush__content {
    padding: 20px;
  }
}

// surcharge layout DS

$grid-gutter: 24px;

// row
.c-mesFactureHeader {
  .l-row {
    @extend %clear-after;

    &.l-row--noSideGut {
      margin-left: 0 - $grid-gutter /2;
      margin-right: 0 - $grid-gutter /2;
    }
  }

  // col
  [class*="l-col-"] {
    float: left;
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
    width: 100%;
    min-height: 1px;

    // nested row
    > .l-row {
      margin-left: 0 - $grid-gutter /2;
      margin-right: 0 - $grid-gutter /2;
    }

    // no gutter
    .l-row--nogut > & {
      padding-left: 0;
      padding-right: 0;

      > .l-row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  // col widths
  @for $i from 1 through 12 {
    .l-col-small-#{$i} {
      width: (100% / (12/$i));
    }
    .l-push-small-#{$i} {
      margin-left: (100% / (12/$i));
    }
  }
}
@include media(">small") {
  .c-mesFactureHeader {
    @for $i from 1 through 12 {
      .l-col-medium-#{$i} {
        width: (100% / (12/$i));
      }
      .l-push-medium-#{$i} {
        margin-left: (100% / (12/$i));
      }
    }
  }
}

@include media(">medium") {
  .c-mesFactureHeader {
    @for $i from 1 through 12 {
      .l-col-large-#{$i} {
        width: (100% / (12/$i));
      }
      .l-push-large-#{$i} {
        margin-left: (100% / (12/$i));
      }
    }
  }
}

//fixe ecran desktio 768 for back Dirty
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .c-mesFactureHeader .l-row.l-row--noSideGut {
    margin-left: 0;
    margin-right: 0;
  }
  
  .c-mesFactureHeaderProchaineFacture {
    padding: 40px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    background-size: 100% 140%;
  }

  div#BlocMensDrp {
    background-size: initial;
    background: white;
    background-repeat: no-repeat;
    background-position: right;

    .c-mesFactureHeaderProchaineFacture__linkLarge {
      max-width: 300px;
      width: 75%;
      }
    }

  .c-mesFactureHeader .l-col-medium-4 {
    width: 100%;
    padding:0 ;

    .c-mesFactureHeaderPaiement {
      margin-bottom: 20px;
    }

    .c-mesFactureHeaderMonPlan__mensHeight {
      background-color: white;
      .c-miniPush__content {
        padding: 40px;
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .c-mesFactureHeaderProchaineFacture {
    padding: 20px;
  }
}

@media screen and (max-width: 660px) {
  div#BlocMensDrp {
    background-size: 80%!important;
    background: white;
    background-repeat: no-repeat;
    background-position: 108% 24%;

    .u-width75-small {
      width: 75%!important;
    }

    .c-mesFactureHeaderProchaineFacture__linkLarge {
      max-width: 300px;
      width: 100%!important;
      }
  }

  
  .c-mesFactureHeaderPaiement {
    padding: 20px;
  }
}

// END fixe ecran desktio 768 for back Dirty

// PRINT
@media print {
  
  .c-mesFactureHeader {
    @for $i from 1 through 12 {
      .l-col-medium-#{$i} {
        width: (100% / (12/$i));
      }
      .l-push-medium-#{$i} {
        margin-left: (100% / (12/$i));
      }
    }
  }
}

@include media("<=small") {
  
  .c-mesFactureHeader {
    [class*="l-col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
