include ../../date/date
include ../shareArticle/shareArticle
include ../tagList/tagList

mixin headerArticle(data)
  - var data   = data || {}
  - var noPrev = data.noPrev || false

  //- "noPrev" permet de présenter une démo du composant sans pagination vers un article précédent

  // .c-headerArticle
  header.c-headerArticle.u-theme-coral
    .c-headerArticle__background

    .c-headerArticle__main.l-wrapper--huge
      .c-headerArticle__content
        if noPrev
          .c-headerArticle__pagination
        else
          .c-headerArticle__pagination.u-theme-bg.u-theme-bg-hover
            button.c-headerArticle__paginationButton.c-headerArticle__paginationButton--prev(type="button" data-e-header-article-pagination="data-e-header-article-pagination-prev")
              span.c-headerArticle__paginationText.icon.icon-chevron-left
              span.c-headerArticle__paginationPicto.u-visibilityHidden Article précédent

        .c-headerArticle__infoContent.u-textCenter
          a(href="#").c-headerArticle__category.u-theme-color.u-theme-color-hover Économies - Énergie
          h1.c-headerArticle__title.u-heading-2 EcoQuartier : une nouvelle approche de l’urbanisme
          +date

        .c-headerArticle__pagination.u-theme-bg.u-theme-bg-hover
          button.c-headerArticle__paginationButton.c-headerArticle__paginationButton--next(type="button" data-e-header-article-pagination="data-e-header-article-pagination-next")
            span.c-headerArticle__paginationText.icon.icon-chevron-right
            span.c-headerArticle__paginationPicto.u-visibilityHidden Article Suivant
      // ! end .c-headerArticle__content

      .c-headerArticle__aside.u-theme-color
        .c-headerArticle__share
          +shareArticle({
            label: 'Partager cet article sur'
          })
            +shareArticleLink({
              type: 'facebook',
              text: 'Facebook',
              iconName: 'icon-facebook'
            })
            +shareArticleLink({
              type: 'twitter',
              text: 'Twitter',
              iconName: 'icon-twitter'
            })
            +shareArticleLink({
              type: 'google',
              text: 'Google+',
              iconName: 'icon-googleplus'
            })
  // end .c-headerArticle
