.c-toggleCheckElem {
  position: relative;
  padding: 25px 0;
}

.c-toggleCheckBanner__wrapper {
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px 8px;
  background-color: $grey;
  font-size: $font-12;
  color: $white;
  text-transform: uppercase;
}

.c-toggleCheckElem__header {
  display: flex;
}

.c-toggleCheckElem__title {
  .is-checked & {
    color: inherit;
  }
}

.c-toggleCheckElem__checkBox {
  display: flex;

  .c-checkboxMat__label {
    font-weight: bold;
  }
}

.c-toggleCheckElem--hiddenLabel {
  .c-toggleCheckElem__checkBox {
    .c-checkboxMat__label {
      padding-left: 60px;
    }
  }
}

.c-toggleCheckElem--boxBorder {
  border-top: 1px solid;
  border-top-color: $grey-medium2;

  &:last-child {
    border-bottom: 1px solid;
    border-bottom-color: $grey-medium2;
  }
}

.c-toggleCheckElem--boxFX {
  border-color: $venteBlue-light;

  &:last-child {
    border-color: $venteBlue-light;
  }

  &.is-checked {
    background-color: $venteBlue-light;

    & + & {
      border-top-color: $venteBlue-medium;
    }
  }

  .c-toggleCheckElem__header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.u-theme-magenta .c-toggleCheckElem--boxFX {
  border-color: $magenta-light;

  &:last-child {
    border-bottom: 1px solid $magenta-light;
  }

  &.is-checked {
    background-color: $magenta-light;
  }

  &.is-checked  + .c-toggleCheckElem.is-checked {
    border-top-color: rgba($magenta, .11);
  }
}


// Classe pour aligner le contenu avec le titre du composant
.l-toggleCheckPadding {
  padding-left: 60px;

  .c-toggleCheckElem--hiddenLabel & {
    padding-left: 75px;
  }
}


@include media('>=small'){
  .l-toggleCheckPadding {
    padding-left: 80px;

    .c-toggleCheckElem--hiddenLabel & {
      padding-left: 95px;
    }
  }

  .c-toggleCheckElem--boxFX .c-toggleCheckElem__header {
    padding-left: 35px;
    padding-right: 35px;
  }
}