include toggleCheck

//- +toggleCheck//- +toggleCheck
h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant toggleCheck

+demo({
  desc: `
    Utilise le switch-toggle<br>
    Pour le bon fonctionnement du toggle :<br>
    - Attribuer un attribut <code>data-e-switch-toggle</code> à <code>c-toggleCheckElem__checkBox</code> et <code>c-toggleCheckElem__title</code><br>
    - Attribuer un attribut <code>data-e-switch-toggle-name</code> , <code>aria-hidden</code> à true ou false aux deux contenus à échanger à l'intérieur de <code>c-toggleCheckElem__content</code> et enfin un attribut <code>hidden</code> sur celui à masquer par défaut<br>
    - <code>data-e-switch-toggle</code> et <code>data-e-switch-toggle-name</code> doivent avoir la même valeur`
})
  +toggleCheck
    +toggleCheckElem({
      labelTitle: "Je choisis le prélèvement automatique",
      checkBoxId: "pvmauto",
      toggleTarget: 'demo11'
    })
      p.l-toggleCheckPadding <strong>Mensuel</strong> ou <strong>tous les deux mois</strong>
      div(data-e-switch-toggle-name='demo11' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE

      div(data-e-switch-toggle-name='demo11' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light <strong>Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois</strong>

    +toggleCheckElem({
      labelTitle: "Je choisis la facture en ligne",
      checkBoxId: "fal",
      toggleTarget: 'demo12'
    })
      p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
      div(data-e-switch-toggle-name='demo12' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE
      div(data-e-switch-toggle-name='demo12' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois

    +toggleCheckElem({
      labelTitle: "Avec bandeau de promo",
      checkBoxId: "fat",
      toggleTarget: 'demo13'
    })
      p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
      div(data-e-switch-toggle-name='demo13' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE
      div(data-e-switch-toggle-name='demo13' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant toggleCheck avec bordures

+demo({
  desc: `Ajouter une classe <code>c-toggleCheckElem--boxBorder</code> au composant <code>c-toggleCheckElem</code>`
})
  +toggleCheck
    +toggleCheckElem({
      labelTitle: "Je choisis le prélèvement automatique",
      checkBoxId: "pvmauto2",
      toggleTarget: 'demo21',
      boxBorder: true
    })
      p.l-toggleCheckPadding <strong>Mensuel</strong> ou <strong>tous les deux mois</strong>
      div(data-e-switch-toggle-name='demo21' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15 Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE

      div(data-e-switch-toggle-name='demo21' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15 <strong>Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois</strong>

    +toggleCheckElem({
      labelTitle: "Je choisis la facture en ligne",
      checkBoxId: "fal2",
      toggleTarget: 'demo22',
      boxBorder: true
    })
      p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
      div(data-e-switch-toggle-name='demo22' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15 Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE
      div(data-e-switch-toggle-name='demo22' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15 <strong>Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois</strong>


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant toggleCheck avec titre, et effets quand checké

+demo({
  desc: `
    - Pour l'effet au survol ajouter la classe <code>c-toggleCheckElem--boxFX</code> au composant <code>c-toggleCheckElem</code><br/>
    - Pour les bordures ajouter la classe <code>c-toggleCheckElem--boxBorder</code> au composant <code>c-toggleCheckElem</code>
  `
})
  +toggleCheck
    +toggleCheckElem({
      labelTitle: "Je choisis le prélèvement automatique",
      checkBoxId: "pvmauto3",
      toggleTarget: 'demo31',
      noLabel: true,
      boxFX: true,
      boxBorder: true
    })
      p.l-toggleCheckPadding <strong>Mensuel</strong> ou <strong>tous les deux mois</strong>
      div(data-e-switch-toggle-name='demo31' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light.u-textCenter Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE

      div(data-e-switch-toggle-name='demo31' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15.u-bg-venteBlue-medium.u-textCenter <strong>Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois</strong>

    +toggleCheckElem({
      labelTitle: "Je choisis la facture en ligne",
      checkBoxId: "fal3",
      toggleTarget: 'demo32',
      noLabel: true,
      boxFX: true,
      boxBorder: true
    })
      p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
      div(data-e-switch-toggle-name='demo32' aria-hidden='false')
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light.u-textCenter Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE
      div(data-e-switch-toggle-name='demo32' aria-hidden='true' hidden)
        .u-margin-t-15.u-padding-a-15.u-bg-venteBlue-medium.u-textCenter Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois

    +toggleCheckElem({
      labelTitle: "Avec bandeau de promo",
      checkBoxId: "fat3",
      toggleTarget: 'demo33',
      noLabel: true,
      hasBanner: 'Service gratuit',
      boxFX: true,
      boxBorder: true
    })
      div(data-e-switch-toggle-name='demo33' aria-hidden='false')
        p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
        .u-margin-t-15.u-padding-a-15.u-bg-grey-light.u-textCenter Vous recevrez vos factures par courrier mais elle ne sera pas accessible via l’espace client ENGIE
      div(data-e-switch-toggle-name='demo33' aria-hidden='true' hidden)
        p.l-toggleCheckPadding <strong>Plus écologique</strong> : n’imprimez que celles dont vous avez besoin !<br><strong>Plus simple</strong> : stockez dans votre espace client ENGIE pendant 5 ans.
        .u-margin-t-15.u-padding-a-15.u-bg-venteBlue-medium.u-textCenter Vous réglerez vos factures par Carte Bleue, TIP ou chèque tous les 2 mois