include gazConnect

.c-wysiwyg
  h2 Raccordement au gaz

+demo({
  "desc": "Dans cette démo, '47600' affichera une liste de ville ('FRECHOU' n'est pas raccordée au gaz), un autre CP affichera 'MAISONS-ALFORT'"
})
  +gazConnect