include ../form/form

mixin gazConnect()
  .c-gazConnect.l-row.l-row--nogut
    .c-gazConnect__content.l-col-medium-6
      .c-gazConnect__text.c-wysiwyg
        p Votre commune est-elle raccordée au gaz naturel ?
        p Testez si votre commune est raccordée au réseau de distribution de GrDF (Gaz Réseau Distribution France).

      form.c-gazConnect__form.c-zip2city(
        data-e-zip2city='{"api": "https://particuliers.engie.fr/sloca-ws/distributeur/recherchecommunes/"}'
        data-e-zip2city-messages='{"errorFormat": "Le code postal doit être un nombre composé de 5 chiffres", "errorNetwork": "Erreur réseau", "errorValidity": "Un code postal existant est obligatoire pour pouvoir continuer"}'
      )
        .l-row.l-row--nogut
          .c-form__field(data-e-form-field).l-col-medium-5
            +label({
              id: "codePostal",
              label: "Code postal"
            })

            +input({
              name: "codePostal",
              id: "codePostal",
              placeholder: "Ex : 75013",
              pattern: "^[0-9]+$",
              maxlength: "5"
            })(
              data-e-zip2city-zip
              aria-describedby="codePostal-error"
            )

            .c-form__feedback#codePostal-error(
              data-e-zip2city-error
              aria-live="polite"
            )

          .l-col-medium-2

          .c-form__field.l-col-medium-5
            +label({
              id: "commune",
              label: "Commune"
            })
            div(data-e-zip2city-place)
              +input({
                name: "commune",
                id: "commune"
              })(disabled='true')

        .c-gazConnect__message(data-e-zip2city-hasgaz='{"yes": "Votre commune est raccordée au réseau de distribution de GrDF. Vous pouvez faire votre demande de raccordement.", "no": "Votre commune n\'est pas raccordée au réseau de distribution de GrDF."}')

    .c-gazConnect__illustration.l-col-medium-6.u-hideSmall
      // Image uniquement tablette et desktop: 570 x 170
      div(data-ab-interchange="[empty.bg, default], [../images/contrib/gazConnect-medium.png, medium]")