mixin ActiveGazpar

	// .c-ActiveGazpar
	.c-ActiveGazpar
		.c-ActiveGazpar__main
			.c-ActiveGazpar__successMsg
				span.c-ActiveGazpar__picto •
				span.ActiveGazpar__strongMsg GAZPAR activé
				span.ActiveGazpar__slimMsg depuis le
			.c-ActiveGazpar__Time 12 Janvier 2018
