.c-ActiveGazpar {
    display: flex;
    width: 100%;
    background: $white;
    justify-content: center;
    padding: 30px 30px 40px;
}

.c-ActiveGazpar__main {
    max-width: 200px;
    text-align: center;
}

.c-ActiveGazpar__successMsg {
    color: #4bd9a8;
    padding-bottom: 15px;
}

.c-ActiveGazpar__picto {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    font-size: 3rem;
    border: 1px #4bd9a8 solid;
    display: inline-block;
}

.ActiveGazpar__strongMsg {
    font-weight: 500;
    font-size: 1.6rem;
    display: block;
}

.ActiveGazpar__slimMsg {
    font-weight: normal;
    font-size: 1.2rem;
    display: block;
}

.c-ActiveGazpar__Time {
    font-size: 1.6rem;
    font-weight: normal;
    color: #000000;
}