include ../mesFactureInfo/mesFactureInfo
include ../mesFactureTable/mesFactureTable

mixin mesFactureOnglet

  .c-mesFactureOnglet&attributes(attributes)
    section(data-e-tabs='{"mobileSlide": false, "sameHeight": false}')
      ul.c-monProfile__tabs
        li
          a(href='#panelFactures', data-e-tabs-link='') Mes factures
        li
          a(href='#panelPaiements', data-e-tabs-link='') Mes paiements
      div
        // .c-tabs__panel
        #panelFactures(data-e-tabs-panel='').c-mesFactureOnglet__panel
          .l-row.l-row--noSideGut
            .l-col-medium-7

              +mesFactureInfo({
                txt : "MA DERNIERE ",
                txtInfo : "FACTURE ",
                info : true,
                prix : "185€ "
              })

            .l-col-medium-5

              +miniPush({
                themeColor: "genBlue",
                img: true,
                imgSmall : 'newActu.jpg',
                imgLarge: 'newActu.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: 'ACTUALITÉS',
                shadow : ' ',
                nolink : true,
                btnTxt : "Je suis ma conso",
                themeTextColor : "white",
                imgMobile : false,
                noSubtitle : false,
                noWidth : true,
                link : true,
                text: 'Le prix du gaz évolue. Consultez le prix dans votre commune.'
              }).c-miniPush--act
              
          +mesFactureTableFacture().u-margin-b-20
          .l-row.l-row--noSideGut
            .l-col-medium-6  
              +miniPush({
                themeColor: "blue",
                img: true,
                imgSmall : 'Push-Assurance-facture-mobile.jpg',
                imgLarge: 'assurancePush.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: 'ASSURANCE FACTURE',
                subTitle: 'GAZ TARIF RÉGLEMENTÉ',
                shadow : ' ',
                btnTxt : "Je découvre",
                themeTextColor : "white",
                imgMobile : false,
                noWidth : true,
                text: '<b>Couvrez vos dépense </b></br> de gaz naturel en cas de <br> difficulté majeure.'
              })
              
            .l-col-medium-6  
              +miniPush({
                themeColor: "blue",
                img: true,
                imgSmall: 'PushecoEnegieWhiteMobile.jpg',
                imgLarge: 'ecoEnergiePush.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: 'TOUT SAVOIR SUR LA',
                subTitle: '<span class="u-color-blue"><b>PRIME ÉCO-ÉNERGIE</b></span> DE Gaz TARIF RÉGLEMENTÉ :',
                shadow : ' ',
                btnTxt : "Je découvre",
                themeTextColor : "white",
                imgMobile : false,
                noWidth : true,
                text: 'Vous souhaitez lancer des travaux d’économies d’énergie et </br> cherchez une solution de financement ?</br> Pour amortit les dépenses engagées, une aide peut être obtenue </br> en récompense de l’effort fourni.'
              }).c-mesFactureMain__ecoPush

        // end .c-tabs__pannel
        // .c-tabs__panel
        #panelPaiements(data-e-tabs-panel='').c-mesFactureOnglet__panel
          .l-row.l-row--noSideGut
            .l-col-medium-7
            
              +mesFactureInfo({
                txt : "MON DERNIER ",
                txtInfo : "PAIEMENT ",
                date : "26/11/2019",
                prix : "75€ ",
                statut : "Paiement rejeté",
                theme : "u-bg-magenta",
                desc : "à régler avant le <b>24/12/2018</b> </br> ligne N°2</br> ligne N°3"
              })

            .l-col-medium-5

              +miniPush({
                themeColor: "genBlue",
                img: true,
                imgSmall : 'Push-activ-conso_paiements-mobile.jpg',
                imgLarge: 'Push-activ-conso_paiements.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: 'SUIVEZ VOTRE',
                subTitle: 'CONSOMMATION',
                shadow : ' ',
                btnTxt : "Je suis ma conso",
                themeTextColor : "white",
                imgMobile : false,
                noWidth : true,
                text: 'Faites des économies d énergie en <br> réduisant votre consommation.'
              })

          +mesFactureTable().u-margin-b-20
          +mesFactureTableProchainePaiement().u-margin-b-20
          .l-row.l-row--noSideGut
            .l-col-medium-6  

              +miniPush({
                themeColor: "blue",
                img: true,
                imgSmall: 'Push-Assurance-facture-mobile.jpg',
                imgLarge: 'assurancePush.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: 'ASSURANCE FACTURE',
                subTitle: 'GAZ TARIF REGLEMENTE',
                shadow : ' ',
                btnTxt : "Je découvre",
                themeTextColor : "white",
                imgMobile : false,
                noWidth : true,
                text: 'Couvrez vos dépenses de gaz <br> naturel en cas de difficulté majeure.'
              })
              
            .l-col-medium-6  
              +miniPush({
                themeColor: "blue",
                img: true,
                imgSmall: 'PushecoEnegieWhiteMobile.jpg',
                imgLarge: 'ecoEnergiePush.jpg',
                textColor: 'u-color-black',
                themeTitle: false,
                title: "VOUS BÉNÉFICIEZ D'UN",
                subTitle: "<span class='u-color-blue'><b>CHÉQUE ÉNERGIE DE 144€</b></span> DÉLIVRÉ PAR L'ÉTAT POUR L'ANNÉE 2018/2019",
                shadow : ' ',
                btnTxt : "J'effectue ma pré-affectation",
                themeTextColor : "white",
                imgMobile : true,
                noWidth : true,
                text: "<div class='u-margin-b-20'><b>Durée de validité : </b> du 01/04/2018 au 31/03/2019</div>Demandez une pré-affectation pour les années suivantes afin que votre chèque énergie soit automatiquement détruit à vos factures d'énergie."
              }).c-mesFactureMain__ecoPush
