@import "../mesFactureInfo/mesFactureInfo";
@import "../mesFactureTable/mesFactureTable";

.c-mesFactureOnglet__panel {
  display: none;
  background: white;
  padding: 75px 85px;
  &.is-active {
    display: block;
    background-color: $grey-light;
  }
}

@include media ("<=small") {
  .c-mesFactureOnglet__panel {
    padding: 20px;
  }

  .c-mesFactureMain .c-monProfile__tabs a {
    font-size: 2rem;
    height: 70px;
  }
}