$closeBtnDimension: 36px;

.c-floatingMenuSwitchBtn, .c-floatingMenuBtn {
  @extend %reset-style-button;
}

.c-floatingMenu {
  position: fixed;
  top: 90px;
  z-index: 500;
  border-right: 1px solid $grey-medium;
  background: $white;
  transition: transform .3s, top .4s;
}

// Liste de boutons : structure du menu
.c-floatingMenu__menuList {
  position: relative;
}

.c-floatingMenu__menuListElem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: $starGrey;

  button {
    cursor: default;
  }

  &.is-viewed {
    button {
      cursor: pointer;
    }
  }
}

// Ligne flottante :
.c-floatingMenu__lineCurrent {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1px;
  width: 3px;
  transition: transform .3s;

  @for $i from 0 through 5 {
    .c-floatingMenu__menuListElem:nth-child(#{$i}).is-active ~ &,
    .c-floatingMenu__menuListElem:nth-child(#{$i}).is-viewed.not-active:hover ~ & {
      transform: translateY(($i - 1) * 100%);
    }
  }
}

// Boutons du menu
.c-floatingMenuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 0;
  outline: 0;
  color: inherit;
  word-break: break-word;
}

@include media('<=medium'){
  .c-floatingMenu {
    border-top: 1px solid $grey-medium;
    padding-top: $closeBtnDimension - 1;

    &, &.floating-menu-close {
      transform: translate(-40px);
    }

    &.floating-menu-open {
      transform: translate(0);
    }
  }

  // Ouverture et fermeture du contenu adjacent au menu floatingMenu
  .c-floatingMenu + [data-e-side-menu-content] {
    transition: transform .3s;

    &, &.floating-menu-close {
      transform: translate(0);
    }

    &.floating-menu-open {
      transform: translate(40px);
    }
  }

  // Bouton d'ouverture / fermeture
  .c-floatingMenuSwitchBtn {
    position: absolute;
    top: -1px;
    left: 100%;
    border: 1px solid $grey-medium;
    border-left: 0;
    width: $closeBtnDimension;
    height: $closeBtnDimension;
    background: $white;
  }

  .c-floatingMenuSwitchBtn__icon {
    font-size: 3.2rem;
    transition: transform .3s;

    .floating-menu-open & {
      transform: rotate(180deg);
    }
  }

  .c-floatingMenu__menuList {
    width: 50px;
  }

  .c-floatingMenu__menuListElem, .c-floatingMenu__lineCurrent {
    min-height: 70px;
  }

  .c-floatingMenuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    outline: 0;
    color: inherit;
    text-decoration: none;
    word-break: break-word;
  }

  .c-floatingMenuBtn__text {
    display: none;
  }

  .c-floatingMenuBtn__icon {
    font-size: 3.2rem;
  }
}

@include media('>medium'){
  .c-floatingMenu {
    padding-top: 0;
    border-top: 0;
  }

  .c-floatingMenu__menuList {
    width: 90px;
  }

  .c-floatingMenu__menuListElem {
    justify-content: center;
  }

  .c-floatingMenu__menuListElem, .c-floatingMenu__lineCurrent {
    padding-right: 2px;
    min-height: 90px;
  }

  .c-floatingMenuBtn__text {
    display: block;
    opacity: 0;
    transition: all .3s;

    .is-viewed:hover &,
    .is-active & {
      opacity: 1;
    }
  }

  .c-floatingMenuBtn {
    margin: 0;
  }

  .c-floatingMenuBtn__icon {
    font-size: 4rem;
  }

  .c-floatingMenu__lineCurrent {
    width: 2px;
  }
}
