mixin floatingMenu(data)
  - var data  = data || {}

  // .c-floatingMenu
  .c-floatingMenu(data-e-floating-menu)&attributes(attributes)
    button(type="button" data-e-side-menu-target="menu-float").c-floatingMenuSwitchBtn.u-hideLargeUp.u-theme-color
      span.c-floatingMenuSwitchBtn__icon.icon.icon-chevron-right
      span.c-floatingMenuSwitchBtn__text.u-visibilityHidden Fermer

    ul.c-floatingMenu__menuList
      block

      li.c-floatingMenu__lineCurrent.u-theme-bg
  // end .c-floatingMenu


mixin floatingMenuListButton(data)
  - var data        = data || {}
  - var iconVente   = data.iconVente|| false
  - var iconName    = data.iconName || 'icon-identity'
  - var text        = data.text || 'Identité'
  - var btnDisabled = data.btnDisabled || false

  // .c-floatingMenuBtn
  li.c-floatingMenu__menuListElem(data-e-floating-menu-target)&attributes(attributes)
    button(type="button" disabled=btnDisabled).c-floatingMenuBtn
      span.c-floatingMenuBtn__icon(
        class=iconVente ? 'iconVente' : 'icon'
        class=iconName
      )
      span.c-floatingMenuBtn__text!=text
  // end .c-floatingMenuBtn