.c-afnor {
  .c-espritService__logo--big,
  .c-espritService__afnor--big {
    display: inline-block;
    transform: scale(.8);
  }
}

.c-afnor__blockText,
.c-afnor__blockLogo {
  padding: 25px 15px;
}

.c-afnor__blockText {
  padding-bottom: 15px;
}

.c-afnor__blockLogo {
  padding-top: 15px;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
}

.c-afnor__title {
  font-weight: $font-bold;
  margin-bottom: 25px;
}


@include media(">=medium") {
  .c-afnor {
    display: table;
    table-layout: fixed;
    width: 100%;
    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .c-afnor__blockText {
    width: 45%;
    padding-bottom: 25px;
  }

  .c-afnor__blockLogo {
    width: 30%;
    padding-top: 25px;
  }

  .c-afnor__blockBtn {
    width: 25%;
    vertical-align: bottom;
  }
}