mixin afnor(data)
  // .c-afnor
  .c-afnor.u-bg-grey-light
    .c-afnor__blockText
      h2.c-afnor__title.u-fontSize-large Lorem ipsum

      p.c-afnor__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium explicabo optio quam praesentium ratione inventore aspernatur, reprehenderit itaque harum! Molestias soluta dolores, id deleniti magni cupiditate blanditiis similique explicabo excepturi.

    .c-afnor__blockLogo
      a(href="#")
        .c-espritService__logo--big
        span.u-visibilityHidden L'esprit services de Tarif Réglementé
      a(href="#")
        .c-espritService__afnor--big
        span.u-visibilityHidden AFNOR certification, NF service

    .c-afnor__blockBtn
      +linkLongArrow({
        text: "La certification AFNOR"
      }).u-bg-black.u-bg-hover
  // end .c-afnor
