style.
  .demoMode .c-stickyOffer {
    display: block;
    position: static;
  }


.c-wysiwyg
  h2 headerOffer

//- "c-headerOffer-strong" => bold price blue
//- c-headerOffer__txt => block de text
//- c-headerOffer__sup => <sup>

+demo({
  desc: "headerOffer my Power avec bandeau sticky"
})
  +stickyOffer({
    title: "Garantie Electroménager ENGIE",
    btn2: "Profiter de l'offre"
  })(data-e-simple-sticky)
    span.c-stickyOffer__bold 8,99€ <sup>TTC</sup>
    |  / mois

  +headerOffer({
    title: "My Power : une offre d’autoconsommation",
    promo: true,
    img: "offer1-desktop.jpg",
    imgMobile: "offer1.jpg"
  })
    p Jusqu’à
    p.u-margin-t-10
      span.c-headerOffer-strong.u-heading-1.u-color-genBlue -600€
        if supp
          sup.c-headerOffer__sup TTC
      if label2
        !=label2
    p d’économies sur votre facture d’électricité.


+demo({
  desc: "headerOffer Garantie Electroménager ENGIE"
})
  +headerOffer({
    title:     "Garantie Electroménager ENGIE",
    promo:     true,
    img:       "bdhero-garantie-electro-menager.jpg",
    imgMobile: "bdhero-garantie-electro-menager-mobile.jpg",
    noSticky:  true
  })
    p Protégez vos équipement électroménagers pour
    p.u-margin-t-10
      span.c-headerOffer-strong.u-heading-1.u-color-genBlue 8.99€<sup class="c-headerOffer__sup">TTC</sup>
      |&nbsp;/&nbsp;mois


+demo({
  desc: "headerOffer Confort connecté"
})
  +headerOffer({
    full:      true,
    promo:     true,
    onlyText:  true,
    title:     "Confort connecté",
    img:       "table.jpg",
    imgMobile: "tableMobile.jpg",
    noSticky:  true
  })
    strong.c-headerOffer__contentText Etes-vous intéressé par une offre de gaz naturel et son thermostat connecté ?


+demo({
  desc: "headerOffer Confort connecté avec le toggles"
})
  +headerOffer({
    full:       true,
    title:      "Confort connecté",
    img:        "table.jpg",
    imgMobile:  "tableMobile.jpg",
    noSticky:   true,
    estimation: true
  })
    .c-headerOffer__contentText
      p.u-textBold Votre budget estimé pour votre logement à 92110 Clichy
      p
        span.c-headerOffer__blueBold 55,00€<sup>ttc*</sup>
        |&nbsp;/mois + Thermostat Netatmo à
        = " "
        span.c-headerOffer__blueBold 179€




//- BANDEAU STICKY
.c-wysiwyg
  h2 les bandeaux
+demo({
  desc: "bandeau garantiElect"
}).demoMode
  +stickyOffer({
    title: "Garantie Electroménager ENGIE",
    btn2: "Profiter de l'offre"
  })
    span.c-stickyOffer__bold 8,99€<sup>TTC</sup>
    |&nbsp;/mois


+demo.demoMode
  +stickyOffer({
    title: "Confort connecté",
    btn2: "Souscrire"
  })
    span.c-stickyOffer__bold 55,00€<sup>TTC</sup>
    |&nbsp;/mois + thermostat à
    = " "
    span.c-stickyOffer__bold 179,00€


+demo.demoMode
  +stickyOffer({
    title: "Confort connecté",
    btn1: "Estimer mon budget",
    btn2: "Souscrire"
  })


+demo.demoMode
  +stickyOffer({
    title: "My Power",
    btn1: "Estimer mes économies",
    btn2: "Profiter de l’offre"
  })
    | jusqu'a
    = "     "
    span.c-stickyOffer__bold -600€<sup>(1)</sup>
    |  d’économies sur votre facture d’électricité


+demo.demoMode
  +stickyOffer({
    title: "Pack Chaudière <br>tout inclus",
    btn1: "Être appelé",
    picto: "icon-bold-phone",
    btn2: "Profiter de l’offre"
  })
    | Dès
    = "     "
    span.c-stickyOffer__bold 55€<sup>TTC(1)</sup>
    |&nbsp;/mois pendant 5 ans + une offre d’énergie


+demo.demoMode
  +stickyOffer({
    title: "Elec cha	rge et Elec car",
    btn1: "Être appelé",
    picto: "icon-bold-phone",
    btn2: "Profiter de l’offre"
  })
    | La borne dès
    = " "
    span.c-stickyOffer__bold 999€<sup>TTC(4)</sup>
    |  + une offre électricité

