.c-listLinkVertical--bgColor {
  padding: 20px;
}

.c-listLinkVertical__titleRub {
  margin: 0 0 15px 0;
  font-size: 1.8rem;
}

.c-listLinkVertical__link {
  display: block;
  padding: 10px 0;
  color: inherit;
  text-decoration: underline;
  transition: color .3s, border-color .6s;

  .c-listLinkVertical--bgColor & {
    border-color: $white;
  }

  .c-listLinkVertical__listElem:last-child & {
    border-bottom: 0;
  }

  @include hover-focus-active {
    color: $genBlue;
    border-color: $genBlue;
  }
}


@include media('>small'){
  .c-listLinkVertical {
    padding: 10px 30px;
  }

  .c-listLinkVertical__titleRub {
    font-size: 2.4rem;
  }
  .c-listLinkVertical--bgColor {
    padding: 50px;
  }

  .c-listLinkVertical__link {
    font-size: $font-15;
  }
}