include listLinkVertical

.c-wysiwyg
  h2 listLinkVertical (FAQ)

+demo({
  desc: "listLinkVertical (FAQ)"
})
  +listLinkVertical({
    title: "Information du moment",
    titleLevelH3: true
  })


.c-wysiwyg
  h2 Avec background-color :

+demo({
  desc: `
  Ajouter un modificateur <code>c-listLinkVertical--bgColor</code> au composant :<br>
    - affecte des bordures blanches aux liens<br>
    - augmente le padding top et bottom (car plus en fond perdu)
  `
})
  +listLinkVertical.c-listLinkVertical--bgColor.u-bg-grey-light