mixin listLinkVertical(data)
  - var data  = data || {}
  - var title = data.title || false
  - var titleLevelH3 = data.titleLevelH3 || false

  - var demoText = ["Vous rencontrez un problème technique sur le site ou l' Espace Client ?", "Je croyais que la résiliation de mon contrat était gratuite… À quoi correspond la facture de résiliation ?", "Comment contacter Gaz Tarif Réglementé ?", "« Heures Pleines », « Heures Creuses » : à quoi cela correspond-il ?", "Est-ce que Gaz Tarif Réglementé et EDF sont la même société ?", "Je déménage : quelles démarches dois-je effectuer ?", "Comment modifier les coordonnées bancaires de mon contrat avec un RIB dont je ne suis pas titulaire ?", "Pourquoi mon échéancier est passé en 11 échéances ?", "Comment changer les informations relatives au(x) titulaire(s) du contrat (ajout, modification …) ?", "Quand dois-je résilier mon contrat ?"]

  // .c-listLinkVertical
  .c-listLinkVertical&attributes(attributes)
    if title
      h1.c-listLinkVertical__titleRub.u-heading-2!=title

    ul.c-listLinkVertical__list
      each val in demoText
        li.c-listLinkVertical__listElem
          a.c-listLinkVertical__link(href="#")
            if titleLevelH3
              h3=val
            else
              h2=val
  // end .c-listLinkVertical