include tile/tile
include modalCel/modalCel
include headerCel/headerCel
include login/login
include monProfile/monProfile
include separatorOu/separatorOu
include socialBtn/socialBtn

include headerLightCel/headerLightCel

include headerCelUser/headerCelUser
include headerCelLayer/headerCelLayer
include headerCelNav/headerCelNav

include arrowSeparator/arrowSeparator
include payBillFrame/payBillFrame
include ecm/ecm
include service/service

include blocInfoEC/blocInfoEC
include blockFacture1/blockFacture1
include blockFacture/blockFacture
include miniPush/miniPush
include soms/soms
include bandeauxAlert/bandeauxAlert
include mesFacture/mesFacture
include navigatorAbsolete/navigatorAbsolete
include modifPassword/modifPassword
include adresseFacturation/adresseFacturation
include relverIndex/relverIndex
include relverIndexConfirmer/relverIndexConfirmer
include etipIbanV2/etipIbanV2
include confirmationPaiement/confirmationPaiement
include etapier/etapier
include connexionSocialModal/connexionSocialModal
include actualiteFacture/actualiteFacture
include pushActu/pushActu

//to common

//- include ../../../common/src/components/advantages/advantages


//- DEMO MIXIN ONLY
//- - var demoNbr = 0
//- mixin demo(data)
//-   - var data = data || {}
//-   - var desc = data.desc || false

//-   - demoNbr++
//-   div(data-demo-html=demoNbr)&attributes(attributes)
//-     block

//-   .u-padding-t-20.u-padding-b-20.u-margin-t-20.u-margin-b-40.u-bg-black
//-     if desc
//-       .desc.u-padding-b-20.u-padding-h-20.u-color-white
//-         p!=desc

//-     button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button")
//-       | .oOo. HTML .oOo.

//-     pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
//-       code.html
//-   hr

