include objectifMainV2
.l-wrapper--large(style="background-color : grey;")

  h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Bloc objectif à la main

  +demo({desc:"Etat de base"})
    .l-row
      .l-col-medium-4
        +objectifMainV2

  h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Bloc objectif à la main

  +demo({desc:"Etat de base"})
    .l-row
      .l-col-medium-4
        +objectifMainV2({
          euro : true,
          title : "Votre seuil en euros"
        })

  //- h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px; text-align:center;") Bloc objectif à la main gazPar

  //- +demo({desc:"Etat de base"})
  //-   .l-row
  //-     .l-col-medium-4
  //-       +objectifMainV2Seuil

  h2 bloc objectif à la main mail non existant

  +demo({
    desc: "Mail non existant"
  })

    .l-row
      .l-col-medium-4
        +objectifMainV2Mail()

  +demo({
    desc: "Mail non existant"
  })

    .l-row
      .l-col-medium-4
        +objectifMainV2Mail({
          mail : true
        })

  +demo({
    desc: "Mail non existant"
  })

    .l-row
      .l-col-medium-4
        +objectifMainV2Mail({
          sold : true,
          txt : "Votre seuil de conso : <br> 145€/mois"
        })