.c-objectifMainV2 {
    padding: 30px;
    width: 100%;
    display: block;
    background-color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif !important;
    line-height: normal; 
    border-radius: 24px;
    font-size: 1.6rem;
}

.c-objectifMainV2 .is-success .c-inputMat__label, .c-objectifMainV2 .is-success .c-selectMat__label {
    color: $black !important;
}

// .c-objectifMainV2 .is-error .c-inputMat__label, .c-objectifMainV2 .is-error .c-selectMat__label {
//     color: $black !important;
// }

.c-objectifMainV2 .c-baseBtn.c-baseBtn--secondary:hover {
    background-color: #CBEAF9 !important;
}

.c-objectifMainV2 .c-inputMat__field:focus ~ .c-inputMat__label {
    color: $black !important;
}


.c-objectifMainV2 .c-inputMat__field:focus  {
    border-color: $genBlue !important;
}

.c-objectifMainV2 .is-error .c-inputMat__field:focus  {
    border-color: #EB2936 !important;
}

.c-objectifMainV2--seuil .c-inputMat__label {
    position: relative;
    left: 0;
    top: 0;
    color: $black;
}

.c-objectifMainV2 .c-toolTipV2__icon {
    color: $genBlue;
    border: 2px $genBlue solid;
}

.c-objectifMainV2 .c-toolTipV2__icon:hover {
    color: white;
    background-color: $genBlue;
}

.c-objectifMainV2__main {
    display: flex;
    align-items: center;
}

.c-objectifMainV2__img img {
    width: 100px;
}

.c-objectifMainV2__img {
    display: contents;
}

.c-objectifMainV2 .c-baseBtn__content {
    font-weight: bold;
}

.c-objectifMainV2--color {
    color: $genBlue;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.c-objectifMainV2 .c-inputMat.is-disabled {
    background: $grey-light;
}

.c-objectifMainV2 .c-checkboxMat.is-disabled .c-checkboxMat__label {
    cursor: not-allowed;
}

.c-objectifMainV2 .c-inputMat.is-disabled .c-inputMat__field {
    border: none;
    cursor: not-allowed;
}

.c-objectifMainV2MailMessage {
    width: 90%;
}

.c-objectifMainV2MailMessage span:first-child {
    display: block;
    color: $genBlue;
    font-style: italic;
}

.c-objectifMainV2__wrapper {
    font-size: 1.6rem;
}

.c-objectifMainV2MailMessage span a {
    color: $genBlue;
}

.c-objectifMainV2--btn .c-baseBtn {
    width: 100%;
}

.c-objectifMainV2 .u-padding-spacer {
    padding: 20px 0 0 0;
}

.c-objectifMainV2 .c-inputMat {
    padding-top: 0;
}

.c-objectiMainV2--btnAnul {
    border: none !important;
    margin-left: 0 !important;
}

.c-objectiMainV2--wrapper.c-btnWrapper {
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.c-objectifMainV2 .c-inputMat__field {
    border: 2px solid #d0d0d0;
    text-indent: 10px;
    padding: 8px 0;
    font-size: 1.4rem;
    height: 40px;
    margin: 0 15px;
    position: relative;
    width: 138px;
    border-radius: 4px;
    font-weight: bold;
}

.c-objectifMainV2__linkMailInfo {
    display: block;
    color: $genBlue;
    text-decoration: underline;
}

.c-objectifMainV2__spanMailInfo {
    display: flex;
}

.c-objectifMainV2__spanMailInfo span {
    padding-right: 5px;
}

.c-objectifMainV2__mailInfo {
    margin: 20px 0;
}

.c-objectifMainV2 .c-inputMat__wrap {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}

.c-objectifMainV2__seuilWrapper {
    width: 100%;
}

.c-objectifMainV2Seuil .c-objectifMainV2__desc {
    margin-bottom: 20px;
}

.objectifMainSeuil--width {
    width: 90px;
    display: block;
}

.c-objectifMainV2Seuil__label {
    display: block;
    margin-bottom: 10px;
}

.c-objectifMainV2 .is-error .c-inputMat__inputLine {
    background: none !important;
}

.c-objectifMainV2__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.c-objectifMainV2__title .c-objectifMainV2__titleSpan {
    color: #424242;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    width: 90%;
}

.c-objectifMainV2__desc {
    font-size: 1.6rem;
    width: 100%;
}

.c-objectifMainV2 .c-inputMat.is-error .c-inputMat__field {
    border: 1px solid #cc0033;
}

.c-objectifMainV2 .c-checkboxMat__label {
    align-items: center;
}

.c-objectifMainV2 .c-checkboxMat__check {
    width: 15px;
    height: 15px;
    top: 4px;
}

.c-objectifMainV2 .c-checkboxMat__labelPadding {
    padding-left: 30px;
}

// .c-objectifMainV2 .is-success .c-inputMat__field {
//     border: 1px #188464 solid;
// }

.c-objectifMainV2 .is-success .c-inputMat__inputLine {
    background-color: none !important;
}

.c-objectifMaion__wrapper {
    display: flex;
    justify-content: space-between;
}

.c-objectifMainV2 .c-objectifMaion__wrapper .c-inputMat {
    width: 90px;
}

.c-objectiMainV2--btn {
    height: 40px !important;
    min-height: 40px !important;
    font-size: 1.6rem !important;
    width: 100% !important;
}

.c-objectifMainV2--seuil .c-fieldInfo--inputMat.is-error {
    width: 270px;
}

.c-objectifMainV2Seuil .c-btn {
    width: 190px;
    min-width: auto;
}

.c-objectifMainV2Seuil .c-checkboxMat {
    margin-bottom: 0;
}

.c-objectifMaion__succes {
    color: #188464;
    font-size: 1.2rem;
}

@include media ("<=medium") {

    .c-objectifMainV2 .c-inputMat {
        width: auto;
    }

    .c-objectifMainV2__title .c-objectifMainV2__titleSpan {
        width: 100%;
    }
}

@include media ("<=small") {
    .c-objectifMainV2 {
        padding: 20px;
        width: 100%;
        display: block;
        background-image: none;
        height: auto !important;
        min-height: auto;
        border-radius: 0;
    }

    .objectifMainSeuil--width, .c-objectifMainV2Seuil__label {
        display: inline-block !important;
    }

    .c-objectifMainV2Seuil__label {
        margin-right: 10px;
        padding-top: 10px;
    }

    .c-objectifMainV2__desc {
        width: 100%;
    }

    .c-objectifMainV2 .u-padding-spacer {
        width: 100%;
    }

    .c-objectifMaion__wrapper {
        display: block;
    }

    .c-objectifMainV2 .c-objectifMaion__wrapper .c-inputMat {
        width: 150px;
        margin: auto;
    }

    .c-objectifMainV2 .c-objectifMaion__wrapper .c-inputMat__field {
        text-align: center;
        text-indent: 0;
    }

    .c-objectifMainV2 .c-objectifMaion__wrapper .c-inputMat__wrap {
        margin-bottom: 15px;
    }

    .c-objectifMainV2--seuil .c-fieldInfo--inputMat.is-error {
        margin-bottom: 15px;
        width: auto;
    }

    .c-objectifMaion__succes {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1124px) and (min-width: 768px) {
    .c-objectifMainV2 {
        padding: 20px;
        background-image: none;
    }

    .c-objectifMainV2 .u-padding-spacer, .c-objectifMainV2__desc {
        width: 100%;
    }

    .c-objectifMainV2 .c-inputMat__field {
        margin: 0;
    }

    .c-objectifMainV2 .c-inputMat__wrap {
        justify-content: space-between;
    }
}


@media screen and (max-width: 900px) and (min-width: 768px) {
    .c-objectifMainV2--seuil .c-fieldInfo--inputMat.is-error {
        width: 220px;
    }

    .c-objectifMainV2 .c-inputMat__field {
        width: 80px;
    }

    .c-objectifMainV2--seuil .c-inputMat__label {
        font-size: 1.4rem;
    }

    .c-objectifMainV2 {
        padding: 10px;
    }
}

@media screen and (max-width : 340px) {
    .c-objectifMainV2 .c-inputMat__field {
        margin: 0 5px;
    }
}