include ../formMat/formMat
include ../infoBlock/infoBlock

mixin resiliation-step1

  .c-resiliation.l-wrapper(class="u-margin-h-110")
    fieldset.resiliation-step1
      h2.u-heading-2(class="u-margin-t-50 u-margin-b-20 u-color-genBlue") 1. Ma situation
      
      strong Je possède un contrat Gaz Tarif Réglementé*

      +choiceWrapperMat.c-choiceWrapperMat--hAlign(class="u-padding-t-20")
        +radioMat({
          label: 'Oui',
          id: "step1label1",
          name: 'step1label1'
        })
        +radioMat({
          label: 'None',
          id: "step1label2",
          name: 'step1label1'
        })

      strong Je quitte mon logement

      +choiceWrapperMat.c-choiceWrapperMat--hAlign(class="u-padding-t-20")
        +radioMat({
          label: 'Oui',
          id: "step1label3",
          name: 'step1label2'
        })
        +radioMat({
          label: 'None',
          id: "step1label4",
          name: 'step1label2'
        })

      strong Raison pour laquelle je souhaite résilier mon contrat gaz*

      +choiceWrapperMat.c-choiceWrapperMat--hAlign
        fieldset.c-form__fieldset.is-disabled
          .c-form__BlocItem.u-margin-small-b-10
            +radioMat({
              label: ' ',
              id: "step1label4",
              name: 'step1label3'
            })
            .icon.icon-truck.u-hideSmall
            p J’emménage, j’ai besoin d’un nouveau <br/>contrat de gaz naturel
        
        fieldset.c-form__fieldset
          .c-form__BlocItem
            +radioMat({
              label: ' ',
              id: "step1label5",
              name: 'step1label3'
            })
            .icon.icon-home-file.u-hideSmall
            p Je souscris un contrat au tarif réglementé de gaz <br/>naturel pour mon logement actuel
        
        fieldset.c-form__fieldset
          .c-form__BlocItem
            +radioMat({
              label: ' ',
              id: "step1label6",
              name: 'step1label3'
            })
            .icon.icon-home-file.u-hideSmall
            p Je souscris un contrat au tarif réglementé de gaz <br/>naturel pour mon logement actuel
          
        fieldset.c-form__fieldset
          .c-form__BlocItem
            +radioMat({
              label: ' ',
              id: "step1label7",
              name: 'step1label3'
            })
            .icon.icon-home-file.u-hideSmall
            p Je souscris un contrat au tarif réglementé de gaz <br/>naturel pour mon logement actuel
          
      //- END Blockform

      .c-infoBlock--bleu
        .c-infoBlock__title
        p.u-padding-l-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente voluptate perferendis ipsum doloribus consequuntur quam nostrum excepturi dolorem enim blanditiis id sed molestiae, odio delectus harum repellat quidem? Harum.
      
      +btnWrapper().u-theme-genBlue.u-margin-t-40.c-btnWrapper--fullOnMobile.c-btnWrapper--alignLeft
        +baseBtn({
          text: 'Suivant',
          button: true
        })(type="button").c-baseBtn--large


