include ../formMat/formMat
include ../infoBlock/infoBlock
include ../infoBlock/infoBlock
include resiliationStep1
include resiliationStep2
include resiliationStep3

mixin resiliationInfo 

  .c-greyWrapper.u-padding-a-40
    .l-wrapper--medium.u-textCenter
      p.u-heading-3.u-margin-b-10.u-color-genBlue Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      p.u-margin-b-10 
        b Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eum, qui alias dolore harum eveniet r
      p.u-margin-b-10
        b Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eum, qui alias dolore harum eveniet reprehenderit est ab 


mixin resiliation(data)
  - var data = data || {}
  - var step = data.step || 1

  case step

    when 2
      +resiliation-step2
  
    when 3
      +resiliation-step3
    
    default
      +resiliation-step1