
mixin alert(data)
  - data = data || {}
  - spinner = data.spinner || false
  - themeColor = data.themeColor || "u-theme-coral"

  // .c-alert
  .c-alert(class=themeColor)
    .c-alert__content.u-color-white.u-theme-bg(
      class=spinner ? "u-hide" : ""
    )
      .icon.icon-alert-notification.icon--shake.icon--bigNotification
      p
        strong.u-padding-r-20.c-alert__info Vous devez relever votre compteur
        span.c-alert__decompte 3 jours restant

      +btnWrapper()
        +baseBtn({
          text: "Relever",
          empty: true,
        }).c-btn--colorTextOrange.c-btn--noBorder

    +spinner()(
      class=spinner ? "" : "u-hide"
    )
  // END - .c-alert
