mixin backToTop(data)
  - var data        = data || {}

  // .c-backToTop
  a.c-backToTop.icon.icon-chevron-top(
    data-e-scrollto
    data-e-backtotop
    href="#backToTop"
  )
  // end .c-backToTop


