mixin btnGraphComparaisonV2

  // .c-btnGraphComparaisonV2
  .c-btnGraphComparaisonV2#scMonoGazpar_idFilters
    //- span.c-btnGraphComparaisonV2__topTitre Comprendre
    .c-btnGraphComparaisonV2__allComponent
      .c-btnGraphComparaisonV2__alltitre
        span.c-btnGraphComparaisonV2__downTitre Je compare lՎvolution annuelle de ma consommation
          +toolTipV2()(data-e-modal-open='graphe')

        //- span.c-btnGraphComparaisonV2__downTitreNormal de ma consommation en Gaz Naturel
      .c-btnGraphComparaisonV2__allBtn#scMonoGazpar_idFiltreUnit
        button.c-btnGraphComparaisonV2__detail#scMonoGazpar_btn_Filtre_kWh.c-btnGraphComparaisonV2__active(type="button")
          span kWh
        button.c-btnGraphComparaisonV2__detail#scMonoGazpar_btn_Filtre_m3(type="button")
          span m<sup>3</sup>
        +modal({
            target: '{"target": "graphe"}'
        })
