.c-btnGraphComparaisonV2 {
  position: relative;
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
@media #{$small} {
  padding: 0;
  
  .c-btnGraphComparaisonV2__allComponent {
      position: relative;
  } 
  .c-toolTipV2 {
      position: absolute;
      top: 8px;
      right: 38px;
  }
}

}

.c-btnGraphComparaisonV2__downTitre {
  font-weight: 700;
  font-size: 2.4rem;
  color: #000;
  align-self: flex-end;
  line-height: 3.2rem;
  align-items: center;
  display: flex;

@media #{$small} {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
}

.c-btnGraphComparaisonV2__alltitre {
  padding-top: 6px;
}

.c-btnGraphComparaisonV2__downTitreNormal {
  font-weight: 400;
  display: block;
  align-self: flex-end;
  font-size:1.8rem; 
}

.c-btnGraphComparaisonV2__allComponent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 40px;
@media #{$small} {
  flex-direction: column;
}
}

.c-btnGraphComparaisonV2__topTitre {
  font-weight: 700;
  font-size: 1.6rem;
  color: #ff7423;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 10px;
  margin-bottom: 5px;

}

.c-btnGraphComparaisonV2__allBtn {    
  padding: 0 20px;
  display: flex;
  height: 40px;
  align-self: flex-end;
  align-items: center;
@media #{$small} {
  align-self: flex-start;
  padding: 0 0px;
}  
}

.c-btnGraphComparaisonV2__allBtn button.c-btnGraphComparaisonV2__detail {
  width: 57px;
  height: 32px;
  padding: 4px;
  text-align: center;
  border: 0;
  background-color: transparent;
  border-radius: 4px;
}


.c-btnGraphComparaisonV2__allBtn button.c-btnGraphComparaisonV2__detail span {
  color: #333;
  font-weight: normal;
  font-size: 1.6rem;
}


.c-btnGraphComparaisonV2__allBtn button.c-btnGraphComparaisonV2__detail.c-btnGraphComparaisonV2__active span {
  font-weight: bold;
}

.c-btnGraphComparaisonV2__allBtn button.c-btnGraphComparaisonV2__active {
  background-color: #0af;
  color: white;
}

.c-btnGraphComparaisonV2__allBtn button.c-btnGraphComparaisonV2__active span {
  color: #FFF;
}

.c-btnGraphComparaisonV2--tooltipSurcharge .c-toolTip__icon {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px #0059B3 solid;
  color: #0059B3;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin: 0 0 0 5px;
}

@media screen and (max-width: 720px){
.c-btnGraphComparaisonV2__downTitre {
  padding-right: 19%;
}
}

.c-toolTipV2 .c-toolTipV2__icon.icon.icon-picto-info-ds {
margin-left: 10px;
font-size: 3rem;
}

