mixin bandeauxAlert(data)
	- var data			= data || {}
	- var warnning		= data.warnning || false
	- var theme			= data.theme  || "c-bandeauxAlert__orange"
	- var releve		= data.releve || false
	- var border		= data.border || "c-bandeauxAlert__borderRight"


	//c-bandeauxAlert
	.c-bandeauxAlert.u-bg-white(class=theme)
		if warnning
			.c-bandeauxAlert__main.c-bandeauxAlert__borderRight
				if releve
					.c-bandeauxAlert__textIcon
						span.c-bandeauxAlert__icon(class=theme) i
						.c-msgError__message
							span.c-msgError__gras Il vous reste 3 jours, 
							span.c-msgError__regular   pour relever votre compteur
					+btnWrap
						+btn.c-btn--empty-orangeAmber.u-fontSize-large.c-btn--noWidth Je relève
				else 
					.c-msgError__message
						.c-bandeauxAlert__textIcon
							span.c-bandeauxAlert__icon(class=theme) i
							span.c-msgError__regular  Ma prochaine relève sera le 
								b 25.10.18
		else
			.c-bandeauxAlert__mainError(class=border)
				b oups,
				span lorem ipsum amet sid furtura informatum est !


		
		

