.c-linkImage {
  display: flex;
  align-items: center;
  font-size: $font-15;
  text-decoration: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include hover-focus-active() {
    .c-linkImage__image--noImage,
    .c-linkImage__spriteContent__sprite{
      @include hover-fx-active("rounded");
    }

    .c-linkImage__picto {
      color: $white;
    }
  }
}

.c-linkImage__image {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;

  &.c-linkImage__image--noImage {
    border-radius: 100px;
    text-align: center;
    color: $white;
    position: relative;

    @include hover-fx("rounded");
  }

  img {
    border-radius: 100px;
  }
}

.c-linkImage__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.c-linkImage__spriteContent {
  width: 190px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-linkImage__spriteContent__sprite {
  @include hover-fx("rounded", "opacity");

  border-radius: 100px;
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0.24); // 'hack du hack' pour Safari iOS et image invisible
          transform: translateZ(0) scale(0.24) ; // 'hack du hack' pour Safari iOS et image invisible
  position: relative;
}

.c-linkImage__picto {
  font-size: $font-25;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.2s ease-in-out;
}

.c-linkImage__text,
.c-linkImage__paragraph {
  padding-left: 15px;
  padding-right: 15px;
}

.c-linkImage__text {
  vertical-align: middle;
  width: 100%;
  color: $black;
}

.c-linkImage__icon {
  margin-left: auto;
  vertical-align: middle;
  min-width: 30px;
  font-size: 3.6rem;
  line-height: 1.4;
}

.c-linkImage__paragraph {
  font-size: $font-15;
  margin-top: 10px;
}

.c-linkImage__extraLink {
  margin-top: 10px;
  font-weight: $font-bold;

  .c-linkLongArrow {
    @include hover-focus-active() {
      cursor: pointer;
    }
  }
}


@include media(">medium") {
  .c-linkImage__text {
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .c-linkImage {
    @include hover-focus-active {
      .c-linkImage__text {
        border-color: black;
      }
    }
  }
}


@include media(">=small") {
  .c-linkImage {
    display: block;
    text-align: center;
  }

  .c-linkImage__image {
    width: 100px;
    height: 100px;
    display: inline-block;
  }

  .c-linkImage__spriteContent {
    top: 50px;
    left: 50px;
  }

  .c-linkImage__spriteContent__sprite {
    transform: scale(0.53);
  }

  .c-linkImage__picto {
    font-size: $font-60;
    padding: 20px;
  }

  .c-linkImage__content {
    margin-top: 10px;
    display: block;
    min-height: 70px;
  }

  .c-linkImage__text {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    display: inline;
  }

  .c-linkImage__icon {
    font-size: $font-25;
    display: inline;
  }

  .c-linkImage__paragraph {
    margin-top: 0;
    margin-bottom: 15px;
  }
}