.c-loginHighlight {
  padding: 0 0 30px 0;
  background:  $grey-light;
  font-weight: $font-bold;
  color: $grey;
  margin-top: 25px;

  .c-separatorOu__text {
    background-color: $grey-light;
  }
}

.c-loginHighlight__title {
  margin: 15px auto;
}

.c-loginHighlight__list {
  @extend %clear-after;

  .icon {
    display: block;
    color: $grey;
    font-size: 5rem;
  }
}

.c-loginHighlight__items {
  float: left;
  width: 25%;
  font-size: 1.1rem;
  font-weight: $font-normal;
}


@include media(">=small") {
  .c-loginHighlight__items {
    font-weight: $font-bold;
    font-size: 1.2rem;
  }
}