mixin loginHighlight()
  .c-loginHighlight.u-margin-b-40
    p.u-padding-t-20.u-padding-b-20 Avec mon espace client je peux&nbsp;:

    ul.c-loginHighlight__list
      li.c-loginHighlight__items
        .icon.icon-telecharger-facture
        | Télécharger
        br
        | mes factures
      li.c-loginHighlight__items
        .icon.icon-payer-en-ligne
        | Payer
        br
        | en ligne
      li.c-loginHighlight__items
        .icon.icon-suivi-conso2
        | Suivre ma
        br
        | consommation
      li.c-loginHighlight__items
        .icon.icon-gerer-contrat
        | Gérer
        br
        | mon contrat