h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant Flat Tabs

+demo({
  desc: "Composant Flat Tabs"
})
  +flatTabs({
    tabsArray: [ {label: "Premier onglet", id: "panel1"}, {label: "Deuxième onglet", id: "panel2"} ]
  })
    +flatTabsPanel({
      id: panel1
    })
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique dignissim nisi quis viverra. Integer eget ante efficitur, tincidunt quam ac, bibendum mi. Nam lorem ipsum, finibus ut massa quis, dictum suscipit est. Praesent et ipsum turpis. Nunc vel dictum ante. Sed a neque sed mauris dictum consequat quis quis erat. Integer vehicula nunc nibh, eget porttitor sapien fringilla a. Donec sodales, dui sit amet iaculis accumsan, quam metus dictum elit, accumsan consectetur libero sem vel dolor. Nam in convallis risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tristique mattis erat at rutrum. Donec imperdiet felis sed justo sodales semper.

      p Curabitur scelerisque mi at neque dapibus tempor. Maecenas vitae feugiat est. Sed vel tincidunt ante. Nullam interdum leo metus, laoreet pulvinar mauris egestas nec. Nullam a est sed orci dictum ultricies. Nam suscipit, arcu at placerat scelerisque, odio tellus semper libero, ut aliquam justo arcu quis eros. Donec tristique aliquet purus, sit amet rhoncus erat.

    +flatTabsPanel({
      id: panel2
    })
      p Phasellus id urna quam. Aliquam vitae diam id turpis porttitor laoreet. Nulla ullamcorper ligula et metus efficitur, ac efficitur ipsum faucibus. Morbi sed egestas mi. Fusce eget ligula magna. Cras dolor turpis, dapibus non sodales id, pretium ultrices odio. Ut dapibus augue metus, a convallis sapien ullamcorper eget. Mauris consequat molestie magna non auctor. Donec sit amet sollicitudin massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sed odio id dolor posuere porta vitae eu risus. Cras dignissim id massa ullamcorper fringilla.

      p Etiam a diam dolor. Nullam at libero scelerisque, tempus ante sit amet, posuere ex. Integer sapien velit, fermentum sed pulvinar eu, consequat vitae ex. Nulla varius lectus non semper tincidunt. Praesent auctor ante turpis. Mauris sed libero nec eros viverra gravida a quis augue. Morbi neque nisi, consequat in fringilla eu, elementum nec velit. Curabitur nec placerat quam. Fusce augue nunc, rutrum sodales erat quis, tempus cursus elit. Etiam volutpat auctor felis, quis congue nisl scelerisque ac. Aenean eget massa sit amet leo mattis tempus at sed ante.

