include choiceBox
include ../formMat/inputMat/inputMat
include ../wysiwyg/wysiwyg

//- +choiceBox

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant choiceBox :

+demo
  +choiceBox
    +choiceBoxElem.u-bg-grey-light.u-textCenter
      .c-choiceBoxElem__header.l-wrapper--small
        .icon.iconVente.iconVente-elec.u-fontSize-60.u-color-greyMedium2
        h3.u-heading-4 Consommation annuelle électrique

      .c-choiceBoxElem__content.l-wrapper--small
        +toolTip({
          labelText: "Comment trouver"
        }).u-margin-t-20.u-margin-small-t-20
        +inputMat({
            label: 'Votre consommation annuelle électrique',
            hiddenLabel: true,
            float: true,
            textRight: 'KWh',
            type: "text",
            id: "consoElec",
            name: "consoElec",
            required: true,
          })(data-e-float-label).c-inputMat--float

    +choiceBoxSeparator({
      text: 'ET'
    })

    +choiceBoxElem.u-bg-grey-light.u-textCenter
      .c-choiceBoxElem__header.l-wrapper--small
        .icon.iconVente.iconVente-gaz.u-fontSize-60.u-color-greyMedium2
        h3.u-heading-4 Consommation annuelle de gaz naturel

      .c-choiceBoxElem__content.l-wrapper--small
        +toolTip({
          labelText: "Comment trouver"
        }).u-margin-t-20.u-margin-small-t-20
        +inputMat({
            label: 'Votre consommation annuelle de gaz naturel',
            hiddenLabel: true,
            float: true,
            textRight: 'm<sup>3</sup>',
            type: "text",
            id: "consoGaz",
            name: "consoGaz",
            required: true,
          })(data-e-float-label).c-inputMat--float


h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant avec petit cercle séparateur

+demo
  +choiceBox({
    smallSeparator: true
  })
    +choiceBoxElem({
      smallPadding: true
    }).u-bg-grey-light
      +wysiwyg({
        noMarge: true
      })
        p: strong Vos mensualités
        p: span.u-fontSize-small  Vous serez prélevé tous les <b>12 du mois* pendant 11 mois</b>, calculé sur la base de votre historique de consommation.

    +choiceBoxSeparator

    +choiceBoxElem({
      smallPadding: true
    }).u-bg-grey-light
      +wysiwyg({
        noMarge: true
      })
        p: strong Votre facture
        p: span.u-fontSize-small  Vous recevrez une unique <b>facture de régularisation</b>** le 12ème mois sur votre Espace Client.

      .u-textCenter
        img(src="../images/contrib/illu-facture-full.png" alt="")