@charset "utf-8";

// assets
@import "../../../../common/src/assets/scss/variables";
@import "../../../../common/src/assets/scss/mixins";

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

body {
  font-size: 1.5rem;
  font-family: $font-typo;
}

@font-face {
  font-display: swap;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype');
}


.c-siteHeaderV2 {
  background-color: $white;

  @include media(">=medium") {
    position: relative;
    z-index: 10;
    .l-wrapper--main {
      margin: 0 auto;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: -10px;
      z-index: 12;
      background: linear-gradient(to bottom, rgba(232,232,232,0.65) 0%,rgba(0,0,0,0) 100%);
    }
  }



  // écraser styles BOS4
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: none;
  }

  .icon {
    width: auto;
    height: auto;
  }


  // spécifier largeur du site
  margin: 0 auto;

  .parbase.header & {
    position: relative;
    z-index: 100;

    .c-siteHeader__logo:after,
    .c-siteHeaderCustomerArea:after {
      display: none;
    }
  }


  // quelques styles (pas besoin d'importer toutes des 'utilities'
  .u-textUppercase { text-transform: uppercase; }
  strong { font-weight: 700; }



}

@import "../../../../common/src/assets/scss/reset";
@import "../../../../common/src/assets/scss/base";
@import "../../../../common/src/layout/global";

@import "../../../../common/src/assets/scss/icons";

// composants utilisés
@import "../../../../common/src/components/siteHeaderV2/siteHeaderV2";


// classes utilities
@import "../../../../common/src/utilities/scss/color";
@import "../../../../common/src/utilities/scss/display";


// fixe header kit bos4 temporaire

@media (min-width: 64em) {
  .c-siteNavLayer__blockPush {
      padding-top: 0;
      flex-direction: column;
  }
}

.c-siteNavLayer__blockPush .c-btnWrapper--column {
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
}