.c-blockFacture {
  position: relative;

  .c-btnWrapper.c-blockFacture__valid {
    margin-top: 20px;
  }

  .c-fieldInfo {
    font-weight: lighter;
    .icon {
      font-size: $font-70;
      font-weight: lighter;
    }
  }
}

.c-blockFacture__detail {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid $grey-medium;
  border-top: 1px solid $grey-medium;
}

.c-blockFacture__detailFacture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 20px;
}

.c-blockFacture__detailFactureLink {
  padding: 9px 12px;
  margin-left: 20px;
  border: 1px solid $grey-medium;
  text-decoration: none;
  background-color: $white;
  color: $magenta;
  font-size: 1.5rem;

  .c-baseBtn__iconLeft {
    font-size: 1.8rem;
  }
}

.c-blockFacture__info {
  color: $grey;

  .icon {
    font-size: 1.8rem;
  }
}

.c-blockFacture__error {
  text-align: center;
  padding: 30px;
}

.c-blockFacture__errorIcon {
  font-size: $font-60;
  color: $red;
  margin-bottom: 30px;
}


@include media(">=small") {
  .c-blockFacture__col--right {
    text-align: initial;
    padding-right: initial;
    margin: 0;
    width: auto;
  }

  .c-blockFacture__detail {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  .c-blockFacture__detailText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-right: 4%;
  }

  .c-blockFacture__col {
    position: relative;
    margin-top: 0;
  }

  .c-blockFacture__detailFacture {
    margin-top: 0;
    font-size: $font-18;
  }
}
