mixin blockFacture(data)
  - var data   = data || {}
  - var theme  = data.theme || "gab1"
  - var loader = data.loader || false
  - var error  = data.error || false
  - var version = data.version || "2"

  // .c-blockFacture
  if error
    .c-blockFacture&attributes(attributes)
      h2.u-heading-4.u-padding-b-20 Votre dernière facture

      +fieldInfo({
        icon: 'icon-erreur-fichier',
        typeMessage: 'error'
      })
        p Message d'erreur!!! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolorem velit perspiciatis sapiente reprehenderit distinctio corporis, earum, nihil explicabo quam ratione! Suscipit velit excepturi eos, ab impedit consectetur tenetur laboriosam?

  else
    .c-blockFacture&attributes(attributes)
      if loader
        +spinner().c-spinner--full

      h2.u-heading-4.u-padding-b-20 Votre dernière facture

      .c-blockFacture__detail.u-margin-b-10
        .c-blockFacture__detailText
          .c-blockFacture__col
            p.u-textBold A régler avant le 29/05/2016
            p Facture du 03 Mai 2017
            p.u-theme-color
              strong Solde à payer: 50,90€
                sup TTC

        .c-blockFacture__detailFacture
          span.u-textBold 105,90€
            sup TTC

          if theme === "gab1"
            +btnWrapper().u-theme-genBlue
              +baseBtn({
                text: "Telecharger le relever de la dernière facture",
                empty: true,
                iconLeft: "icon-bold-download",
                iconOnly: true
              }).c-blockFacture__detailFactureLink.c-baseBtn--secondary

          if theme === "gab2"
            +btnWrapper().u-theme-green
              +baseBtn({
                text: "Telecharger le relever de la dernière facture",
                empty: true,
                iconLeft: "icon-bold-download",
                iconOnly: true
              }).c-blockFacture__detailFactureLink

          if theme === "gab3"
            +btnWrapper().u-theme-green
              +baseBtn({
                text: "Telecharger le relever de la dernière facture",
                iconLeft: "icon-bold-download",
                iconOnly: true
              }).c-blockFacture__detailFactureLink

          if theme === "gab4"
            +btnWrapper().u-theme-green.c-btnWrapper--fullOnMobile
              +baseBtn({
                text: "Télécharger",
                empty: true,
                iconRight: "icon-bold-download"
              }).c-blockFacture__detailFactureLink

      if theme === "gab1"
        +blockFactureGab1
      else
        +blockFactureGab2
  // END .c-blockFacture



mixin blockFactureGab1()
    p.c-blockFacture__info.u-fontSize-tiny.u-margin-b-20
      | Votre prochaine facture&nbsp;: 16 juin 2017

    +btnWrapper().c-btnWrapper--fullOnMobile.c-blockFacture__valid.u-theme-genBlue
      +baseBtn({
        text: 'Toute mes factures',
        secondary: false
      })
      +baseBtn({
        text: 'Payer'
      })

    p.c-blockFacture__info.u-fontSize-tiny.u-textRight.u-margin-t-10
      | Paiement sécurisé
      span.icon.icon-libre-resilier


mixin blockFactureGab2()
    p.c-blockFacture__info.u-fontSize-tiny.u-margin-b-20
      | Votre prochaine facture &nbp;: 16 juin 2017

    +btnWrapper().c-btnWrapper--fullOnMobile.c-blockFacture__valid.u-theme-Blue
      +baseBtn({
        text: 'Toute mes factures',
        secondary: true
      })
