$color1 : #0059B3;
$color2 : #808080;

.c-blockFacture {
  padding: 25px;
  font-family: HelveticaNeue, arial, sans-serif;
  font-size: 2rem;
  background: #fff;
  position: relative; 
}

.c-blockFacture__infosBlock {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 


.c-blockFacture__telecharger {
  margin-top: -45px;
}



.c-blockFacture--btnFlexStart {
  justify-content: start;
  padding: 10px 15px;
}

.c-blockFacture--btnSize {
  font-size: 1.5rem;
  margin-top: 0;
}

.c-blockFacture--btnFlexStart.c-baseBtn.c-baseBtn--empty {
  color: $orange-baaast;
}

.c-blockFacture--btnFlexStart.c-baseBtn.c-baseBtn--empty .icon {
  color: $orange-baaast;
}

.c-btnWrap--alignLeft {
  justify-content: space-between;
}
.c-blockFacture__theme {
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $color1;
  margin:10px 0;
}

.c-blockFacture__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.c-blockFacture__subTitle {
  color: $color2;
}

.c-blockFacture__infos {
  position: relative;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
  width: 100%
}

.c-blockFacture__layoutInfos {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.c-blockFacture--bleu {
  color: $color1;
  font-weight: bold;
}

.c-blockFacture p.c-blockFacture--ftSize {
  font-size: 1.6rem;
}

@include media (">medium") {
  
  .c-blockFacture--btnSize {
    position: absolute;
    width: 90%;
    bottom: 29px;
  }
}
@include media("<=medium") { 
  .c-blockFacture {
    font-size: 1.5rem;
  }

  .c-blockFacture .c-blockFacture--btnSize .c-btn {
    margin-top: 0;
  }

  .c-blockFacture__telecharger {
    position: static;
    width: auto;
    display: flex;
    justify-content: center;
  }
  

  .c-blockFacture__infosBlock {
    height: 59px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
}

@include media(">=medium") {  
  .c-blockFacture {
    height: 415px;
    padding: 40px;
    font-family: HelveticaNeue, arial, sans-serif;
    font-size: 2rem;

    p { font-size: 1.8rem; }

    .c-blockFacture__subTitle {
      font-size: 1.9rem;
    }

    .c-blockmentionPBsecu {
      position: absolute;
      right: 40px;
      bottom: 0;
    }

    .c-blocFacture__infosBlock, .c-blockFacture__infosBlock {
      height: 59px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
    }

    .c-blockFacture__telecharger {
      margin-top: -45px;
     }
  }


  .c-blockFacture__infos {
    width: 100%
  }
  
  .c-blockFacture__title {
    font-size: 2.5rem;
  } 

  .c-blockFacture__layoutInfos span {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .no-touchevents .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:hover, .no-js .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:hover, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:focus, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:active, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty.child-hover, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty.is-active {
    border-color: $orange-baaast;
    color: $orange-baaast;
    background-color: $orange-baaast;
  }

  .no-touchevents .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:hover .icon, .no-js .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:hover .icon, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:focus .icon, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty:active .icon, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty.child-hover .icon, .u-theme-genBlue .c-blockFacture--btnFlexStart.c-baseBtn--empty.is-active .icon{
    border-color: $orange-baaast;
    color: $white;
  }

}

@include media ("<=small") {
  .c-blockFacture--btnFlexStart span.icon {
    margin: 0 auto;
  }

  .c-blockFacture__telecharger {
    margin: 10px 0;
  }

  .c-blockFacture--btnSize {
    position: relative;
    width: 100%;
  }

}