mixin msgErreurGraph()

	//.c-msgErreurGraph
	.c-msgErreurGraph&attributes(attributes)
		.c-msgErreurGraph__main
			.c-msgErreurGraph__picto.icon.icon-danger
			.c-msgErreurGraph__msg
				b.c-msgErreurGraph__msgGras Oups, 
				span.c-msgErreurGraph__msgNormal une erreur est survenue inopinément !