@import "payCards/payCards";

.c-payBillFrame__paymentInformations {
  margin-bottom: 40px;
}

.c-payBillFrame__balance {
  text-align: center;
}

.c-payBillFrame__title {
  margin-bottom: 10px;
  font-size: $font-18;
  font-weight: $font-bold;
}

.c-payBillFrame__amount {
  font-size: 3rem;
  font-weight: $font-bold;
}

.c-payBillFrame__paiementIframe {
  iframe {
    width: 100%;
    height: 700px;
  }
}


// @include media("<small") {
@include media("<800px") {
  .c-payBillFrame {
    margin: 0 auto;
    max-width: 555px;

    .c-payCards {
      margin: 0 auto;
    }
  }
}


// @include media(">=small") {
@include media(">=801px") {
  .c-payBillFrame {
    display: flex;
    justify-content: center;
  }

  .c-payBillFrame__paymentInformations {
    order: 1;
    margin-bottom: 0;
    padding-left: 30px;
  }

  .c-payBillFrame__paiementIframe {
    width: 630px;

    iframe {
      width: 100%;
      height: 580px;
    }
  }

  .c-payBillFrame__balance {
    position: relative;
    text-align: left;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      bottom: 0;
      border-left: 1px solid $black;
    }
  }
}
