.c-calculetteV2 {
  width: 100%;
  padding: 60px 12%;
  position: relative;
  top: -10px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  background-size: cover;

  @include media ("<=medium") {
    top: 0;
  }

  @media screen and (min-width:1540px) {
    background-size: 100% 100%;
  }
}

.c-calculetteV2 .c-inputMat.is-error .c-fieldInfo {
  position: absolute;
}

.c-calculetteV2 .is-success .c-inputMat__label, .c-calculetteV2 .is-success .c-selectMat__label {
  color: $black !important;
}

.c-calculetteV2 .is-error .c-inputMat__label, .c-calculetteV2 .is-irror .c-selectMat__label {
  color: $black !important;
}

.c-calculetteV2 .is-success .c-inputMat__field:focus ~  .c-inputMat__label, .c-calculetteV2 .is-success .c-inputMat__field:focus ~  .c-selectMat__label {
  color: $black !important;
}

.c-calculetteV2 .is-error .c-inputMat__field:focus ~  .c-inputMat__label, .c-calculetteV2 .is-irror .c-inputMat__field:focus ~  .c-selectMat__label {
  color: #EB2936 !important;
}

.c-calculetteV2 .c-inputMat__field:focus ~ .c-inputMat__label {
  color: $black !important;
}

.c-calculetteV2 .c-fieldInfo.c-fieldInfo--inputMat.is-error li {
  display: none;
}

.c-calculetteV2 .c-fieldInfo.c-fieldInfo--inputMat.is-error li:first-child {
  display: block;
}

//themes (automne, ete, hiver, printemps)
.c-calculetteV2__theme-automne {
  background-image: url("../images/contrib/automne.jpg");
  @include media ("<=medium") {
    background-image: url("../images/contrib/automne-dégradé.jpg");
  }
}

.c-calculetteV2__theme-ete {
  background-image: url("../images/contrib/été.jpg");
  @include media ("<=medium") {
    background-image: url("../images/contrib/été-dégradé.jpg");
  }
}

.c-calculetteV2__theme-hiver {
  background-image: url("../images/contrib/hiver.jpg");
  @include media ("<=medium") {
    background-image: url("../images/contrib/hiver-dégradé.jpg");
  }
}

.c-calculetteV2__theme-hiver .c-calculetteV2__left {
  color: white;
}

.c-calculetteV2__theme-printemps {
  background-image: url("../images/contrib/printemps.jpg");
  @include media ("<=medium") {
    background-image: url("../images/contrib/printemps-dégradé.jpg");
  }
}


.c-calculetteV2__title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.c-calculetteV2__title::after {
  content: "";
  height: 6px;
  width: 60px;
  background-color: $genBlue;
  border-radius: 3px;
  display: block;
  margin: 20px 0 40px;
}

.c-calculetteV2__left, .c-calculetteV2__right {
  width: 50%;
}

.c-calculetteV2__para {
  font-size: 1.6rem;
}

.c-calculetteV2__modal {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

.c-calculetteV2__right {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  padding-bottom: 20px;
  width: 340px;
}

.c-calculetteV2 .c-formMat.u-padding-spacer {
  padding-top: 0;
  padding-bottom: 0;
}

.c-calculetteV2--label .c-inputMat__label {
  font-size: 1.6rem;
  font-weight: normal;
  color: $black;
  top: -25px;
}

.c-calculetteV2 .c-inputMat__field {
  border: 2px solid #D0D0D0;
  padding: 7px;
  font-weight: bold;
  border-radius: 4px;
}

.c-calculetteV2 .c-inputMat__rightBlock {
  right: 15px;
}

.c-calculetteV2  .c-baseBtn__content {
  font-size: 1.6rem;
}
.c-calculetteV2  .c-baseBtn--large {
  min-height: 40px;
  width: 100%;
  padding: 8px 20px;
}

// .c-calculetteV2 .is-error .c-inputMat__field:focus, .c-calculetteV2 .c-inputMat__field:focus {
//   border-color: #007fff;
// }

.c-calculetteV2 .c-inputMat__field:focus {
    border-color: #00aaff;
  }

.c-calculetteV2 .is-error .c-inputMat__field {
  border-color: #EB2936;
}

.c-calculetteV2 .is-success .c-inputMat__field {
  border-color: #D0D0D0;
}

.c-inputMat__inputLine {
  display: none;
}

.c-calculetteV2 .c-inputMat__field:focus ~ .c-inputMat__inputLine {
  display: none;
}

.c-calculetteV2__modal .c-modal__iconTheme--genBlue {
  padding-top: 0;
}

.c-calculetteV2--link {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: $genBlue;
  margin-top: 20px;
}

.c-calculetteV2 .c-toolTipV2__icon {
  color:$genBlue;
  border-color: $genBlue;
  font-weight: bold;
  border-width: 2px;
}

.c-calculetteV2 .c-toolTipV2__icon:hover {
  background-color:$genBlue;
  color: white;
}

.c-calculetteV2 .c-inputMat {
  padding-top: 35px;
  margin-bottom: 10px;
}

.c-calculetteV2 .c-inputMat:nth-child(1) {
  margin-bottom: 30px;
}

.c-calculetteV2__td {
  padding: 7px 0;
}

.c-calculetteV2__modalImage {
  display: flex;
  width: 100%;
  justify-content: center;
}
//resultat
.c-calculetteV2__result {
  background-color: white;
  padding: 30px 0 40px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  top: -10px;
  @include media("<=medium") {
    top: 0;
  }
}

.c-calculetteV2__estim {
  font-size: 2.2rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.c-calculetteV2__date {
  font-size: 1.4rem;
  text-align: center;
}

.c-calculetteV2__table {
  font-size: 1.6rem;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.c-calculetteV2__tr {
  margin-right: 30px;
}

.c-calculetteV2__descPara {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-style: italic;
}

@media screen and (min-width : 1025px) and (max-width : 1224px) {
  .c-calculetteV2__left, .c-calculetteV2__right {
    width : 50%;
  }

  .c-calculetteV2__title {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }

  .c-calculetteV2__right {
    max-width: 340px;
  }
}

@media screen and (min-width : 1620px) {
  .c-calculetteV2 {
    justify-content : center;
  }

  .c-calculetteV2__left, .c-calculetteV2__right {
    max-width: 550px;
    margin: 0 100px;
  }
}

@include media ("<=medium", ">=small") {
  .c-calculetteV2 {
    padding: 50px;
  }

  .c-calculetteV2__title:after {
    display: none;
  }

  .c-calculetteV2__title {
    margin-bottom: 30px;
    line-height: 3.2rem;
  }
}

@include media ('<small') {

  .c-calculetteV2__para {
    font-size: 1.65rem;
  }
  
  .c-calculetteV2 {
    flex-direction: column;
    padding: 40px 16px 20px;
  }

  .c-calculetteV2__estim span {
    display: block;
  }

  .c-calculetteV2__estim  .c-calculetteV2--inLine, .c-calculetteV2__estim .c-calculetteV2__nbr {
    display: inline;
  }

  .c-calculetteV2__nbr {
    display: block;
    text-align: center;
  }

  .c-calculetteV2__estim {
    margin-bottom: 10px;
  }

  .c-calculetteV2__descPara {
    width: 90%;
  }

  .c-calculetteV2__tr {
    margin-right: 5px;
  }

  .c-calculetteV2__td {
    height: 40px;
    padding: 0;
  }

  .c-calculetteV2__left, .c-calculetteV2__right {
    width: 100%;
  }

  .c-calculetteV2__title {
    font-size: 2.6rem;
  }

  .c-calculetteV2__title:after {
    display: none;
  }

  .c-calculetteV2__left {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 370px) {
  .c-calculetteV2__result .l-wrapper--medium {
    padding-left: 8px;
    padding-right: 8px;
  }

  .c-calculetteV2__tr {
    margin-right: 0;
  }

  .c-calculetteV2__table {
    font-size: 1.4rem;
  }
}