$noCharted-color-orange: #FB7431; // non charté
$noCharted-theme-green:    #3BA934; // non charté

.c-jaugeV2 {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px 40px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    position: relative;
    height: 400px;
}
.c-jaugeV2__modal p {
    font-size: 1.6rem;
}

.c-jaugeV2__tooltip hr {
    height: 0.5px;
    border: 0;
    background-color: #333;
}

.c-jaugeV2__ModalTitle {
    font-size: 2.4rem;
    font-weight: bold;
}

.c-jaugeV2__link, .c-jaugeV2Mens__link {
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: left;
}

.c-jaugeV2__left {
    width: 360px;
    display: inline-block;
    margin-right: 40px;
}

.c-jaugeV2--firstItem {
    background-color: #f8f8f8;
}

.c-jaugeV2__right {
    display: inline-flex;
    width: calc( 100% - 400px );
    position: relative;
}

.c-jaugeV2__title, .c-jaugeV2Mens__title {
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.c-jaugeV2__animate {
    width: 91px;
    height: 186px !important;
    position: absolute;
    left: -25px;
    z-index: 10;
    top: 150px;
}

.c-jaugeV2__left p {
    font-size: 1.6rem;
}

.c-jaugeV2__title.c-jaugeV2__TitlePara p{
    font-size: 2.4rem;
    font-weight: bold;
}

.c-jaugeV2Mens__title.c-jaugeV2__TitlePara p{
    font-size: 2.4rem;
    font-weight: bold;
}

.c-jaugeV2__link {
    text-decoration: underline;
    font-size: 1.4rem;
    position: absolute;
    bottom: 30px;
    font-weight: 600;
}


.c-jaugeV2__link, .c-jaugeV2Mens__link {
    text-underline-position: under;
}

.c-jaugeV2Mens__link {
    text-decoration: underline;
    font-size: 1.4rem;
    margin-top: auto;
    font-weight: 600;
    display: block;
    padding-bottom: 30px;
}


//theme
.c-jaugeV2--orange {
    color: $noCharted-color-orange;
}

.c-jaugeV2--green {
    color: $noCharted-color-green;
}

.c-jaugeV2--bkg-orange {
    background-color: $noCharted-color-orange;
}

.c-jaugeV2--bkg-green {
    background-color: $noCharted-color-green;
}

//theme first item

.c-jaugeV2__jauge--orange.c-jaugeV2__item {
    background-color: #FFF1EA;
    border-color: #FB7431;
    color: #FB7431;

    &:hover,
    &:focus {
        background-color: #FFF1EA;
        color: #FB7431;
        border-color: #FB7431;
        height: 64px;
    }
}

.c-jaugeV2__jauge--green.c-jaugeV2__item {
    background-color: rgba(59,169,52,0.13);
    border-color: #3BA934;
    color: #3BA934;

    &:hover,
    &:focus {
        background-color: rgba(59,169,52,0.13);
        border-color: #3BA934;
        color: #3BA934;
        height: 64px;
    }
}

.c-jaugeV2--typo {
    font-weight: bold;
}

.c-jaugeV2__jauge {
    width: 150px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 100px 0 50px;
    margin-left: -50px;
}

.c-jaugeV2__jauge:hover .c-jaugeV2__clic .c-jaugeV2__tooltipWrapper{
    display: none;
}

.c-jaugeV2__clic:first-child:hover .c-jaugeV2__tooltipWrapper {
    display: block !important;
}

.c-jaugeV2__item {
    width: 55px;
    height: 24px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    border: #d0d0d0 1px solid;
    border-top-width: 0.5px;
    //background-color: #F8F8F8;
    &:hover,
    &:focus {
        background-color: #E9F4FF;
        color: $blue;
        border-color: $blue;
        height: 24px;
        border-top-width: 1px;
    }
}


.c-jaugeV2__tooltip {
    display: none;
    position: absolute;
    left: 120px;
    width: 250px;
	background: #ffffff;
	border: 1px solid #999;
    padding: 8px 15px;
    border-radius: 4px;
}

.c-jaugeV2__tooltip:after, .c-jaugeV2__tooltip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.c-jaugeV2--sc {
    text-underline-position: under;
}

.c-jaugeV2__tooltip:after {
	border-color: transparent;
	border-right-color: #ffffff;
	border-width: 8.5px;
	margin-top: -8.5px;
}
.c-jaugeV2__tooltip:before {
	border-color: transparent;
	border-right-color: #4e4e4e;
	border-width: 9px;
	margin-top: -9px;
}

.c-jaugeV2__month {
    font-size: 1.2rem;
    font-family: "Open Sans";
}

.c-jaugeV2__clic:first-child .c-jaugeV2__item {
    border-top-width: 0.5px;
    border-radius: 4px 4px 0 0;
    height: 64px;
    flex-direction: column;
    // &:hover,
    // &:focus {
    //     background-color: #f8f8f8;
    //     border-color: #d0d0d0;
    //     color: #999;
    // }
}

.c-jaugeV2__clic:first-child .c-jaugeV2__item .icon{
    font-size: 3rem;
}

.c-jaugeV2__clic:last-child .c-jaugeV2__item {
    border-radius: 0 0 4px 4px;
}

.c-jaugeV2__clic {
    padding: 0 100px 0 50px;
    position: relative;
    left: -50px;
    z-index: 1;
}

.c-jaugeV2__clic:hover .c-jaugeV2__tooltip {
    display: block;
}

.c-jaugeV2__clic:hover {
    cursor: pointer;
}

.c-jaugeV2__tooltip span {
    color: $black;
}

// jauge remplissage
.c-jaugeV2--nth-1 :nth-child(n+12).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(n+11).c-jaugeV2__clic .c-jaugeV2__item,.c-jaugeV2--nth-3 :nth-child(n+10).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(n+9).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(n+8).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-6 :nth-child(n+7).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-7 :nth-child(n+6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-8 :nth-child(n+5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-9 :nth-child(n+4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-10 :nth-child(n+3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-11 :nth-child(n+2).c-jaugeV2__clic .c-jaugeV2__item {
    //background-color: $blue;
    color: white;
    border-color: white;
    border-top-width: 0;
    border-left: 0px;
    border-right: 0px;

    &:hover,
    &:focus {
        background-color: #E9F4FF;
        color: $blue;
        border-color: $blue;
        height: 24px;
        border-top-width: 1px;
        border-left: 1px #0059B3 solid;
        border-right: 1px #0059B3 solid;
    }

    .c-jaugeV2__tooltip:after {
        border-width: 8px;
        margin-top: -8px;
    }
    
    .c-jaugeV2__month {
        font-weight: 600;
    }

    .c-jaugeV2__tooltip:after, .c-jaugeV2__tooltip:before {
        top: 50.5%;
    }
}

// one item

.c-jaugeV2--nth-1 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(7).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(8).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(9).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(10).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-1 :nth-child(11).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}


// //tow item

.c-jaugeV2--nth-2 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(7).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(8).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(9).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-2 :nth-child(10).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// three item

.c-jaugeV2--nth-3 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(7).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(8).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-3 :nth-child(9).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //for item

.c-jaugeV2--nth-4 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(7).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-4 :nth-child(8).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //five item

.c-jaugeV2--nth-5 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-5 :nth-child(7).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //six item

.c-jaugeV2--nth-6 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-6 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-6 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-6 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-6 :nth-child(6).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //seven item


.c-jaugeV2--nth-7 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-7 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-7 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-7 :nth-child(5).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //eight item


.c-jaugeV2--nth-8 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-8 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-8 :nth-child(4).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

// //nine
.c-jaugeV2--nth-9 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item, .c-jaugeV2--nth-9 :nth-child(3).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}
// //ten item
.c-jaugeV2--nth-10 :nth-child(2).c-jaugeV2__clic .c-jaugeV2__item {
    background-color: #f8f8f8;
}

.c-jaugeV2__label {
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
}

.c-jaugeV2__fac {
    margin-left: -20px;
}

.c-jaugeV2__price {
    font-weight: bold;
    font-size: 2.4rem;
}

.c-jaugeV2__price span {
    font-size: 2rem;
}

.c-jaugeV2__price sup {
    font-size: 50%;
    font-weight: 600;
}


.c-jaugeV2__tooltipWrapper {
    position: absolute;
    top: 65px;
    left: 120px;
    display: block;
    width: 245px;
}

.c-jaugeV2__tooltipFac {
    border-radius: 6px;
    padding: 10px 10px 10px 20px;
    border: 1px #D0D0D0 solid;
    background-color: white;
    position: relative;
    font-size: 1.4rem;
}

.c-jaugeV2__tooltipFac hr {
    height: 0.5px;
    border: 0;
    background-color: #333;
}

.c-jaugeV2__tooltipFac:after, .c-jaugeV2__tooltipFac:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.c-jaugeV2__tooltipFac:after {
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.c-jaugeV2__tooltipFac:before {
	border-color: transparent;
	border-bottom-color: #b2b2b2;
	border-width: 9px;
	margin-left: -9px;
}

.c-jaugeV2__tooltipFac .c-jaugeV2__calc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-jaugeV2__calc {
    position: relative;
}

.c-jaugeV2--puce {
    position: absolute;
    left: -15px;
    font-weight: bold;
}

.c-jaugeV2--soustraction {
    content: "";
    width: 8px;
    height: 2px;
    display: block;
    top: 10px;
    border-radius: 1px;
}

.c-jaugeV2Mens__para {
    font-size: 1.6rem;
}

.c-jaugeV2Mens__wrap {
    width: 360px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.c-jaugeV2Mens {
    display: flex;
    width: 100%;
    padding: 30px 40px 0;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: white;
    justify-content: space-between;
    height: 400px;
}

.c-jaugeV2Mens__img {
    display: inline-block;
    align-self: end;
}


.c-jaugeV2Mens__img img {
    width: 290px;
}


@include media ("<=medium",">=small") {
    .c-jaugeV2 {
        padding: 30px 10px 30px 16px;
        height: initial;
    }
    
    .c-jaugeV2__mask {
        bottom: 0 !important;
    }

    .c-jaugeV2Mens {
        padding: 30px 10px 0 16px;
        height: initial;
    }
}

@include media ("<small") {
    .c-jaugeV2 {
        flex-direction: column;
        padding: 30px 16px;
        border-radius: 0;
        height: initial;
    }
    

    .c-jaugeV2__mask {
        bottom: 0 !important;
    }

    .c-jaugeV2Mens {
        padding: 30px 16px 0;
        border-radius: 0;
        display: block;
        height: initial;
    }

    .c-jaugeV2__left, .c-jaugeV2__right {
        width: 100%;
    }

    .c-jaugeV2__link, .c-jaugeV2Mens__link {
        position: initial;
    }

    .c-jaugeV2__left {
        margin-bottom: 40px;
    }

    .c-jaugeV2__title, .c-jaugeV2Mens__title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .c-jaugeV2Mens__img img {
        width: 200px;
    }
    .c-jaugeV2Mens__wrap, .c-jaugeV2Mens__img {
        display: block;
        width: 100%;
    }

    .c-jaugeV2Mens__img {
        text-align: center;
    }
    .c-jaugeV2Mens__link {
        margin-top: 20px;
    }
}

.c-jaugeV2__mask {
    width: 55px;
    height: 262px;
    bottom: 12px;
    position: absolute;
    border-radius: 0 0 6px 6px;
    background-color: #f8f8f8;
}

.c-jaugeV2--nth-1 .c-jaugeV2__mask  {
    height: calc( 24px * 1);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-2 .c-jaugeV2__mask  {
    height: calc( 24px * 2);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-3 .c-jaugeV2__mask  {
    height: calc( 24px * 3);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-4 .c-jaugeV2__mask  {
    height: calc( 24px * 4);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-5 .c-jaugeV2__mask  {
    height: calc( 24px * 5);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-6 .c-jaugeV2__mask  {
    height: calc( 24px * 6);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-7 .c-jaugeV2__mask  {
    height: calc( 24px * 7);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-8 .c-jaugeV2__mask  {
    height: calc( 24px * 8);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-9 .c-jaugeV2__mask  {
    height: calc( 24px * 9);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-10 .c-jaugeV2__mask  {
    height: calc( 24px * 10);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}

.c-jaugeV2--nth-11 .c-jaugeV2__mask  {
    height: calc( 24px * 11);
    background: linear-gradient(180deg, #1C95D8 0%, #0C5CAF 100%);
}