.c-espritService-top {
  border-bottom: 1px solid $grey-medium;
}

.c-espritService-top__block {
  .c-espritService-note {
    padding: 25px 30px;
  }
}

.c-espritService-top__title {
  padding: 10px 30px;
  background-color: $grey-light;
  font-weight: $font-bold;

  .icon {
    vertical-align: text-top;
    margin-right: 10px;
    color: $genBlue;
    font-size: 2rem;
  }
}


@include media(">=small") {
  .c-espritService-top {
    .c-espritService-note {
      display: table;

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .c-espritService-note__title {
      padding-right: 40px;
    }
  }

  .c-espritService-top__block {
    &:first-child {
      border-right: 1px solid $grey-medium;
    }
  }
}