@import "socialNetwork/socialNetwork";

.c-contactBar {
  &:before {
    content: "";
    display: block;
    border: 0;
    border-top-width: 8px;
    border-style: solid;
    color: $genBlue;
  }

  //specificite Composant [linkLongArrow]
  .c-linkLongArrow {
    color: $genBlue;
    margin-top: 10px;
  }

  //[contactElement]
  .c-contactElement__picto {
    color: $genBlue;
    font-size: 3.6rem;
  }

  .c-contactElement__icon {
    color: $genBlue;
  }
  //[fin contactElement]
}

.c-contactBar__title {
  background-color: $genBlue-light;
  padding: 25px 15px;
  text-align: center;
}

.c-contactBar__item {
  position: relative;
  padding: 0 15px;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-medium;
  }

  // surcharge [contactButton]
  .c-contactButton {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;

    .c-linkLongArrow {
      background-color: $genBlue;
      color: $white;
      margin-top: 0;
    }
  }
  .c-contactButton__button {
    background-color: $genBlue;
    width: 100%;
  }

  .c-contactButton__phone {
    color: $genBlue;
  }
}

.c-contactBar__socialNetwork {
  background-color: $genBlue-light;

  &:before {
    content: "";
    display: block;
    border: 0;
    border-top-width: 8px;
    border-style: solid;
    color: $genBlue;
  }
}

@include media(">=medium") {
  .c-contactBar {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;

    &:before {
      display: none;
    }
  }

  .c-contactBar__title {
    width: 33.33%;
  }

  .c-contactBar__group {
    background-color: $white;
    width: 66.66%;
  }

  .c-contactBar--fourBlock {
    .c-contactBar__title,
    .c-contactBar__socialNetwork {
      width: 25%;
    }

    .c-contactBar__group {
      width: 50%;
    }
  }

  .c-contactBar__title {
    display: table-cell;
    padding: 25px 30px;
    vertical-align: middle;
    text-align: left;
  }

  .c-contactBar__group {
    display: table-cell;
    height: 100%;
    font-size: 0;
    border-bottom: none;
    position: relative;

    &:before {
      content: "";
      display: block;
      border-left: 1px solid $grey-medium;
      position: absolute;
      z-index: 10;
      height: 70%;
      width: 1px;
      top: 15%;
      right: 50%;
    }
  }

  .c-contactBar__item {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 1.5rem;

    padding: 0;

    // pour retirer les borders du mobile
    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .c-contactBar__socialNetwork {
    display: table-cell;
    vertical-align: middle;

    &:before {
      display: none;
    }
  }

}
