.c-passwordHelper {
  color: $green;
  line-height: 3rem;

  // &.is-success  { color: $valid-color !important; }
  // &.is-error { color: $error-color !important; }

  .c-passwordHelper__text { color: $black;}

  .c-passwordHelper__info {
    // list-style-type: disc;
    padding-left: 17px;

    .icon.icon-close {
      display: none;
      color: red;
    }


    .icon {
      position: absolute;
      left: -18px;
      top: 8px;
    }

    li {
      position: relative;


      &.is-error {
        color: $black;
        // .c-passwordHelper__listInfo { color: $black;}
        .icon.icon-check {
          display: none;
        }
        .icon.icon-close {
          display: block;
        }
      }
    }

  }
}
