mixin passwordHelper(data)
  - var data = data || {}
  - var message = data.message || false
  - var typeClassMessage = data.typeClassMessage || ''
  - var helperPassword = data.helperPassword || false

  // .c-passwordHelper
  .c-passwordHelper&attributes(attributes)
    p.c-passwordHelper__text
      b Votre mot de passe doit contenir :

    ul.c-passwordHelper__info
      li.is-error(data-e-help-password-target="minLength")
        span.icon.icon-check
        span.icon.icon-close
        span.c-passwordHelper__listInfo Minimum 8 caractères
      li.is-error(data-e-help-password-target="requireNb")
        span.icon.icon-check
        span.icon.icon-close      
        span.c-passwordHelper__listInfo un chiffre
      li.is-error(data-e-help-password-target="requireLetter")
        span.icon.icon-check
        span.icon.icon-close
        span.c-passwordHelper__listInfo une lettre minuscule
      li.is-error(data-e-help-password-target="minuscule")
        span.icon.icon-check
        span.icon.icon-close
        span.c-passwordHelper__listInfo une lettre Majuscule        
      li.is-error(data-e-help-password-target="special")
        span.icon.icon-check
        span.icon.icon-close
        span.c-passwordHelper__listInfo un caractère spéciaux minimum -!"*^@
        
  // end .c-passwordHelper
