.c-miniPushLink {
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $black;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 208px;
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
  word-wrap: break-word;
  hyphens: auto;


  .u-heading-3 {
    margin: 0;
  }

  .icon {
    font-size: 7rem;
    margin-top: 10px;
  }
}

.c-miniPushLink__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}


.c-miniPushLink--coral {
  background-color: $coral;
  color: $white;

  .icon {
    color: $white;
  }

  @include hover-focus-active() {
    color: $white;
    background-color: $coral-hover;

    .icon {
      color: $white;
    }
  }
}

.c-miniPushLink--genBlue {
  background-color: $genBlue;
  color: $white;

  .icon {
    color: $white;
  }

  @include hover-focus-active() {
    color: $white;
    background-color: $genBlue-hover;

    .icon {
      color: $white;
    }
  }
}

@include media('>small', '<medium') {
  .c-miniPushLink {
    .u-heading-4 {
      margin-bottom: 5px;
    }
  }
}

@include media(">medium") {
  .c-miniPushLink {
    padding: 30px;
    margin-bottom: 20px;
  }
}
