include ../btnWrapper/btnWrapper

mixin userReview(data)
  - var data      = data || {}

  // .c-userReview
  .c-userReview&attributes(attributes)
    .c-userReview__text
      block

    +btnWrapper().c-userReview__vote
      +baseBtn({
        text: 'OUI',
        button: true,
        iconLeft: "icon-pouce-haut"
      }).c-userReview__voteBtn.c-userReview__voteBtn--up
      +baseBtn({
        text: 'NON',
        button: true,
        iconLeft: "icon-pouce-bas"
      }).c-userReview__voteBtn.c-userReview__voteBtn--down
  // end .c-userReview