include pushArticle

.c-wysiwyg
  h2 push
+demo()
  +pushArticle()


.c-wysiwyg
  h2 Liste de pushs :
+demo()
  .l-wrapper--large
    +pushArticleWrapper
      +pushArticle()

      +pushArticle()

      +pushArticle({
        title: 'Titre du composant vachement plus long'
      })

      +pushArticle()

      +pushArticle()
