mixin formContactContract(data)
  - var data = data || {}
  - var id = data.id || ""

  fieldset.c-formContactContract.c-formContact__separator.u-padding-spacer(
    data-e-formcontact-block={id: id}
  )
    .c-formContactContract__items.l-wrapper--medium
      // GAZ
      fieldset.u-margin-t-30
        .c-formContactContract__smallTitle
          span.icon.icon-gaz3.u-fontSize-40
          span.u-textBold Relevé de compteur gaz
            +toolTip({ valignMid: true })(data-e-modal-open="modal-releve-gaz")

          +modal({
            target: '{"target": "modal-releve-gaz"}'
          }).c-modal--hasPadding
            +wysiwyg({noMarge: true})
              p L’index de gaz naturel à relever correspond aux cinq premiers chiffres en partant de la gauche indiqués sur le compteur : ce sont les chiffres situés sur le fond noir.
              p Les chiffres figurant sur le fond rouge ne doivent pas être transmis.

        +inputMat({
          label:       'Votre index',
          type:        "tel",
          id:          "contact-index-gaz",
          name:        "INDEX_GAZ",
          placeholder: 'Ex: 1235',
          textRight:   'm3',
          pattern:     '^[0-9]*$',
          required:    true,
          dataValidation: {
            typing: false,
            validations: {
              valueMissing:    'Champ obligatoire',
              patternMismatch: 'Seuls les chiffres sont autorisés'
            }
          }
        })
      // END - GAZ

    // DATE
    fieldset.l-wrapper--small.u-margin-t-30
      +inputMat({
        id:          "contact-statement-date",
        name:        "DATE_RELEVE",
        type:        'date',
        label:       'Date du relevé de votre demande',
        placeholder: '07/07/2017',
        iconRight:   'icon-big-calendar',
        required:    true,
        flatpickr: {
          maxDate: 'today'
        },
        dataValidation: {
          typing: false,
          validations: {
            valueMissing:    'Champ obligatoire'
          }
        }
      }).c-inputMat--datepicker
    // END - DATE
