.c-priceDetail {
  position: relative;
  transition: background-color 0.3s ease-in-out;
  background-color: $grey-medium;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.c-priceDetail__btn {
  @extend %reset-style-button;
  outline: none;
  display: block;
  width: 100%;
  text-align: center;

  &:focus {
    outline: 1px solid $grey-medium2;
  }

  .icon {
    margin-left: auto;
    color: $genBlue;
    transition: all 0.3s ease-in-out;
    font-size: 3rem;
    line-height: 18px;
  }

  &.is-active {
    .c-priceDetail__label--on {
      display: block;
    }
    .c-priceDetail__label--off {
      display: none;
    }

    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.c-priceDetail__btnFlex {
  display: flex;
  padding-right: 0;
}

.c-priceDetail__label {
  flex-grow: 1;
  color: $genBlue;
}

.c-priceDetail__label--on {
  display: none;
}

.c-priceDetail__content {
  height: 0;
  overflow: hidden;
  transform: translateY(-20px);
  opacity: 0;
  padding: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out,
              transform .3s ease-out;

  &.is-opened {
    height: auto;
    overflow: auto;
    transform: translateY(0);
    opacity: 1;
    display: block;
    padding: 15px;
    visibility: visible;
  }
}

.c-priceDetail__group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-priceDetail__title {
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-bold;
}

.c-priceDetail__item {
  display: flex;
  padding-bottom: 10px;
  font-size: 1.3rem;

  sup {
    font-size: 0.9rem;
  }
}

.c-priceDetail__itemName {
  flex: 0 0 45%;
  padding-right: 5px;
}

.c-priceDetail__itemTTC {
  flex: 0 0 30%;
  padding-right: 5px;
  font-weight: $font-bold;
  margin-left: auto;
}

.c-priceDetail__itemHT {
  flex: 0 0 25%;
}

.c-priceDetail__itemConso {
  flex: 0 0 55%;
}

.c-priceDetail__itemTotal {
  padding-top: 5px;
  padding-left: 45%;
  width: 100%;
}


@include media('>=small') {
  .c-priceDetail--centeredArrow {
    .c-priceDetail__btnFlex {
      display: inline-flex;
      padding-left: 0;
    }
  }

  .c-priceDetail__content.is-opened {
    padding: 35px 0;
  }

  .c-priceDetail__title {
    position: relative;
    padding-left: 50px;
    padding-top: 6px;
    min-width: 140px;
    margin-right: 20px;

    .icon {
      font-size: 5.1rem;
      color: $grey;
      position: absolute;
      left: 0;
      top: -10px;
    }
  }

  .c-priceDetail__group {
    padding: 0 10%;
    display: flex;
  }

  .c-priceDetail__group--large {
    padding: 0 3%;
  }

  .c-priceDetail__list {
    display: block;
    width: 70%
  }

  .c-priceDetail__item {
    font-size: 1.4rem;

    &:last-child {
      > * {
        border-bottom: none;
      }
    }
  }

  .c-priceDetail__item {
    border-bottom: 1px solid $grey-medium2;
    padding-top: 6px;
    padding-bottom: 6px;

    &:last-child {
      border: 0;
    }
  }

  .c-priceDetail__itemName,
  .c-priceDetail__itemConso {
    flex-basis: 50%;
  }

  .c-priceDetail__itemTTC,
  .c-priceDetail__itemHT {
    flex-basis: 25%;
  }

  .c-priceDetail__itemTotal {
    padding-top: 10px;
    padding-left: 50%;
  }

  .c-priceDetail__itemTTC,
  .c-priceDetail__itemHT,
  .c-priceDetail__itemConso,
  .c-priceDetail__itemTotal {
    text-align: right;
  }
}

@include media('>medium') {
  .c-priceDetail__group {
    padding: 0 20%;
  }

  .c-priceDetail__group--large {
    padding: 0 7%;
  }

  .c-priceDetail__item {
    font-size: 1.5rem;
  }
}
