include priceDetail

.c-wysiwyg
  h2 priceDetail

+demo({
  desc: "Utilise toggle.js pour l'ouverture/fermeture"
})
  +priceDetail({
    fullElec: false,
    toggleSettings: {
      target: "detail-1"
    }
  })


+demo()
  +priceDetail({
    fullElec: true,
    toggleSettings: {
      target: "detail-2"
    }
  })
