include verticalStep

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") verticalStep

+demo({
  desc: "Composant verticalStep"
})
  +verticalStep({
    steps: ["Un conseiller vous rappelle sous 48h.", "Vous prenez directement rendez-vous par téléphone.", "Vous êtes assuré 30 jours après la date d'effet du contrat (délai de carence).", "Terminé"]
  })