mixin verticalStep(data)
  - var data  = data || {}
  - var steps = data.steps || ["Un conseiller vous rappelle sous 48h.", "Vous prenez directement rendez-vous par téléphone.", "Vous êtes assuré 30 jours après la date d'effet du contrat (délai de carence).", "Terminé"]

  // .c-verticalStep
  .c-verticalStep&attributes(attributes)
    ul.c-verticalStep__stepList
      each val, index in steps
        li.c-verticalStep__step
          if index === steps.length - 1
            span.c-verticalStep__index: span.icon.icon-bold-check.u-theme-color
          else
            span.c-verticalStep__index= index + 1 + ' '

          span.c-verticalStep__text= val
  // end .c-verticalStep