include monCompteur

h1.u-heading-1 les composant de mon compteur
+demo({
  desc : "modal plus formulaire"
})
  button(data-e-modal-open="detailsExemple" type="button") modal formulaire
  +modal({
  target: '{"target": "detailsExemple"}'
  }).u-padding-a-40.c-blocCompteur--borderBlue

    .c-monCompteur__modalTitle
      .c-monCompteur__modalimg 
        img(src="../images/contrib/gazparDispo.png" alt="")
      span.c-monCompteur__modalDisc Gestion des données journalières de mon compteur communicant Gazpar

    +formMat()
      +radioMat({
        label: "<b>Oui j'autorise </b> Gaz Tarif Réglementé à accéder à mes données. Je pourrai ainsi visualiser ma consommation quotidienne en euros, m3, Kwh et maitriser mon budget",
        id: "radioMat1",
        name: 'radio'
      })

      +radioMat({
        label: "<b>Non, je n'autorise pas </b> Gaz Tarif Réglementé à accéder à mes données journalières de consommations",
        id: "radioMat2",
        name: 'radio'
      })

      +btnWrapper.u-theme-genBlue
        +baseBtn({
          text: "Valider",
        })(data-e-modal-open="succsses")

        +baseBtn({
          text: "Annuler",
          empty: true
        })(type="button" data-e-modal-close)

+demo({
  desc : "exemple de modal au cas de succée"
})          

  button(data-e-modal-open="success" type="button") modal success

  +modal({
    target: '{"target": "success"}'
  }).u-padding-a-40.c-blocCompteur--borderGreen
    .c-blocCompteur__modalIconHeader
      span.c-blocCompteur__modalIcon.icon.icon-success
    .c-blocCompteur--modalTitleGreen Votre choix a bien été pris en compte
    div <b>Vous autorisez </b> Gaz Tarif Réglementé à dolor sit amet, concepteur adipiscing elit. lorem upsum lorem upsum lorem upsum lorem upsum lorem upsum lorem upsum lorem upsum lorem upsum <b>Vous accederez à vos données quotidiennes dans les 72h.</b>
    +btnWrapper.u-theme-genBlue
      +baseBtn({
        text: "ok",
      })(type="button" data-e-modal-close).u-margin-t-40

div(style="background:black; padding:100px 0;")
  +demo()
    .l-row
      .l-col-medium-12.l-col-large-4
        +monCompteur({
          gazpar: true,
          tooltip : true
        })

        //- +monCompteurRelever({
        //-   msgErrorRelever : "Les données concernant votre relevé sont momentanément indispo.",
        //-   notBtn : true
        //- })

+demo()
  .l-row
    .l-col-medium-5
      +monCompteur({
        gazpar: true,
        error : true
      })

      +monCompteurRelever({
        msgErrorRelever : "Les données concernant votre relevé sont momentanément indispo.",
        notBtn : true,
        errorReleve : true
      })

+demo()
  .l-row
    .l-col-medium-4
      +monCompteur({
        tooltip : true
      })

      +monCompteurRelever({
        msgErrorRelever : "Les données concernant votre relevé sont momentanément indispo.",
        notBtn : true,
        errorReleve : true,
        italic : true
      })

+demo()
  .l-row
    .l-col-medium-4
      +monCompteur({
        error : true
      })

      +monCompteurRelever({
        msgErrorRelever : "Les données concernant votre relevé sont momentanément indispo."
      })

+demo()
  .l-row
    .l-col-medium-4
      +monCompteur({
        tooltip : true,
        chargement : true
      })

      +monCompteurRelever({
        msgErrorRelever : "Les informations sont en cours de chargement...",
        notBtn : true,
        errorReleve : true,
        italic : true
      })