include image

.c-wysiwyg
  h2 IMAGE avec légende
+demo()
  +image({
    smallImg:  "../images/contrib/image-small.png",
    mediumImg: "../images/contrib/image-medium.png"
  })
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non adipisci aspernatur odit natus nihil, modi, veritatis id tenetur numquam beatae fugiat eius incidunt sapiente quasi, a sint placeat, earum vel.


.c-wysiwyg
  h2 IMAGE avec lien sur l'image
+demo()
  +image({
    smallImg:  "../images/contrib/image-small.png",
    mediumImg: "../images/contrib/image-medium.png",
    hasLink: true
  })
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non adipisci aspernatur odit natus nihil, modi, veritatis id tenetur numquam beatae fugiat eius incidunt sapiente quasi, a sint placeat, earum vel.


.c-wysiwyg
  h2 IMAGE avec fond gris et marges
+demo()
  +image({
    smallImg:  "../images/contrib/image-small.png",
    mediumImg: "../images/contrib/image-medium.png",
    marge: true
  }).u-bg-grey-light
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non adipisci aspernatur odit natus nihil, modi, veritatis id tenetur numquam beatae fugiat eius incidunt sapiente quasi, a sint placeat, earum vel.


.c-wysiwyg
  h2 IMAGE avec titre
+demo()
  +image({
    smallImg:  "../images/contrib/image-small.png",
    mediumImg: "../images/contrib/image-medium.png",
    title: true,
    marge: true
  }).u-bg-grey-light
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non adipisci aspernatur odit natus nihil, modi, veritatis id tenetur numquam beatae fugiat eius incidunt sapiente quasi, a sint placeat, earum vel.
