include ../headSection/headSection
include ../img/img

mixin image(data)
  - var data      = data || {}
  - var smallImg  = data.smallImg || false
  - var mediumImg = data.mediumImg || false
  - var hasLink   = data.hasLink || false
  - var marge     = data.marge || false
  - var title     = data.title || false

  //
    .c-image
    ---------
    Mobile: max 640px de large (très compressé)
    Desktop: max 1200px de large
  figure.c-image(
    role="group"
    class=marge ? "c-image--marge" : ""
  )&attributes(attributes)
    if title
      +headSection({
        noLink: true
      })

    if hasLink
      a(href="#").c-image__img
        +img({
          alt: "Description",
          interchange: {
            small: smallImg,
            medium: mediumImg
          }
        })

      figcaption.c-image__txt.c-wysiwyg.l-wrapper--large
        block

    else
      .c-image__img
        +img({
          alt: "Description",
          interchange: {
            small: smallImg,
            medium: mediumImg
          }
        })

      figcaption.c-image__txt.c-wysiwyg.l-wrapper--large
        block
  // END .c-image
