doctype html
<!--[if IE 8]><html data-debug lang="fr" class="oldie ie8 no-js"><![endif]-->
<!--[if IE 9]><html data-debug lang="fr" class="oldie ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(data-debug lang="fr" class="no-js")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title Index

    style.
      body {
        margin: 0;
        font-family: helvetica, aria, sans-serif;
        color: #343434;
        background-color: #f2f2f2;
      }
      body * {
        box-sizing: border-box;
      }
      section {
        margin: 0 auto;
        padding: 10px 20px;
        width: 100%;
        max-width: 920px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
      }
      li {
        line-height: 1.5em;
      }
      a {
        text-decoration: none;
        color: #059ce7;
      }
      a:hover {
        border-bottom: 1px solid;
      }
      h1 {
        margin: 40px 0;
        text-transform: uppercase;
      }
      h2 {
        border-bottom: 1px solid #e1e1e1;
        margin: 40px 0 25px;
        padding-bottom: 18px;
      }
      h2, h3 {
        padding-left: 20px;
      }

  body
    section
      h1 Gaz Tarif Réglementé

      h2 Base
      ul
        li: a(href="pages/styledown.html") UI kit

      h2 Composants

      h3 Common :
      ul
        li: a(href="pages/_component-breadcrumb.html") breadcrumb (fil d'Ariane)
        li: a(href="pages/_component-legalMention.html") mentions légales
        li: a(href="pages/_component-storageLink.html") storageLink (gestion localStorage au click)
        li: a(href="pages/_component-contact.html") contact
        li: a(href="pages/_component-formMat.html") Composants formulaire
        li: a(href="pages/_component-toolTip.html") Tool Tip
        li: a(href="pages/_component-baseBtn.html") btnWrapper et baseBtn : les boutons
        li: a(href="pages/_component-typo.html") Typo
        li: a(href="pages/_component-spinner.html") Spinner de chargement
        li: a(href="pages/_component-modal.html") Modal
        li: a(href="pages/_component-assuranceBand.html") assuranceBand (bandeau de réassurance)
        li: a(href="pages/_component-estimationBox.html") Estimation Box
        li: a(href="pages/_component-listChoiceButton.html") listChoiceButton (Bouton de confirmation du logement)
        li: a(href="pages/_component-sideMenu.html") Side Menu
        li: a(href="pages/_component-floatingMenu.html") floatingMenu
        li: a(href="pages/_component-pictoBlock.html") pictoBlock
        li: a(href="pages/_component-fieldInfo.html") fieldInfo
        li: a(href="pages/_component-moreLessInput.html") moreLessInput
        li: a(href="pages/_component-priceDetail.html") priceDetail
        li: a(href="pages/_component-stickyDock.html") stickyDock
        li: a(href="pages/_component-selectOptions.html") selectOptions
        li: a(href="pages/_component-offerPromo.html") offerPromo
        li: a(href="pages/_component-loginFeedback.html") loginFeedback
        li: a(href="pages/_component-verticalStep.html") verticalStep
        li: a(href="pages/_component-arrowBox.html") arrowBox
        li: a(href="pages/_component-toggleCheck.html") toggleCheck
        li: a(href="pages/_component-choiceBox.html") choiceBox

      h3 Vente :
      ul
        li: a(href="pages/_component-bubble.html") Bubble
        li: a(href="pages/_component-addressBox.html") Address Box
        li: a(href="pages/_component-timeLine.html") Time Line
        li: a(href="pages/_component-flatTabs.html") Flat Tabs
        li: a(href="pages/_component-headerLight.html") Header Light
        li: a(href="pages/_component-headerLight-footerLight.html") Header Light et footer light
        li: a(href="pages/_component-offer.html") offer
        li: a(href="pages/_component-codePromo.html") Code Promo
        li: a(href="pages/_component-estimationCta.html") Estimation Call to Action
        li: a(href="pages/_component-promoBanner.html") promoBanner
        li: a(href="pages/_component-tunnelFilter.html") tunnelFilter
        li: a(href="pages/_component-dropdownNav.html") dropdownNav
        li: a(href="pages/_component-selectEmpty.html") selectEmpty
        li: a(href="pages/_component-miniBubbleList.html") miniBubbleList
        li: a(href="pages/_component-multiChoice.html") multiChoice

      h3 Estimation :
      ul
        li: a(href="pages/_component-fullModal.html") fullModal


      h2 Pages
      h3 TEL :

      ul
        li: a(href="pages/demo-modal.html") Démo modal
        li: a(href="pages/demo-modal_code-promo.html") Modale code promo

      ul
        li: a(href="pages/demo-bubble.html") Démo bubble
        li: a(href="pages/demo-page-offres.html") Démo étape 2 : Offres
        li: a(href="pages/demo-page-panier.html") Démo étape 2 : Panier

        li: a(href="pages/demo-page-form_identite_1.html") Démo étape 3 : Identité (un titulaire)
        li: a(href="pages/demo-page-form_identite_2.html") Démo étape 3 : Identité (co-titulaire)
        li: a(href="pages/demo-page-form_logement.html") Démo étape 3 : Logement
        li: a(href="pages/demo-page-form_options.html") Démo étape 3 : Options
        li: a(href="pages/demo-page-form_contrat_1.html") Démo étape 3 : Contrat - Code de sécurité
        li: a(href="pages/demo-page-form_contrat_2.html") Démo étape 3 : Contrat - Confirmation code
        li: a(href="pages/demo-page-form_contrat_3.html") Démo étape 3 : Contrat - Signature mandat
        li: a(href="pages/demo-page-form_contrat_4.html") Démo étape 3 : Contrat - Finale


      h3 Estimation :
      ul
        li: a(href="pages/demo-estimation.html") Démo estimation