include infoBlock
include infoBlock2

.c-wysiwyg
  h2 infoBlock2

+demo
  +infoBlock2

.c-wysiwyg
  h2 infoBlock

+demo
  +infoBlock

.c-wysiwyg
  h2 infoBlock Center Icon

+demo
  +infoBlock({
    centerBlock: true
  })