mixin infoBlock2(data)
  - var data = data || {}
  - var noTitle = data.noTitle || false
  - var centerBlock = data.centerBlock || false

  // .c-infoBlock2
  .c-infoBlock2&attributes(attributes)
    h3.c-infoBlock2__title.u-margin-b-15
      strong Drancy
    
    p.u-margin-b-15
      b AARMMI (Association Adultes Relais, Médiateurs, Médiatrices Interculturelles)

    div.c-infoBlock2__contact.u-margin-b-10
      .icon.icon-contact-mail
        span 45 rue Fernand Pena 93700 DRANCY
    div.c-infoBlock2__contact.u-margin-b-10
      .icon.icon-phone 
        span 01 32 45 65 98
