mixin infoBlock(data)
  - var data = data || {}
  - var noTitle = data.noTitle || false
  - var centerBlock = data.centerBlock || false

  // .c-infoBlock
  if centerBlock
    .c-infoBlock.l-wrapper--huge.u-padding-spacer.c-infoBlock--medium
      .c-infoBlock__positionCenter--positionCenter
        .c-infoBlock__content.l-wrapper--huge.u-padding-spacer
          .c-infoBlock__title.c-infoBlock__title--noMargin
          h2.u-heading-3.u-textCenter.u-margin-b-10 Information
          .c-infoBlock__body
            .c-wysiwyg
              // Contenu du wysiwyg pour démo :
              p En temps normal, vous chauffez votre maison à 19°C. Et si vous vouliez chauffez votre maison à 21°C pendant deux jours et voir l'impact sur votre consommation ? C'est simple, dans l'outil, vous notez votre index à la fin des 2 jours, vous obtenez la conversion en euro.
              +btnWrapper.u-theme-genBlue
                +baseBtn({
                  text: 'En savoir plus',
                  linkUrl: 'https://gaz-tarif-reglemente.fr/aide-contact/questions-reponses/tout-savoir-sur-ma-facture/comprendre-ma-facture.html'
                })(onclick="window.open(this.href, height= 300, width= 300); return false; ")
              

  else
    .c-infoBlock.l-wrapper--huge.u-padding-spacer
      .c-infoBlock__content.l-wrapper--medium.u-padding-spacer
        if noTitle
          .c-infoBlock__title.c-infoBlock__title--noMargin
        else
          h2.c-infoBlock__title Des bonus écologiques auxquels il est difficile de dire « non »
        .c-infoBlock__body
          .c-wysiwyg
            block
            // Contenu du wysiwyg pour démo :
            p A la location longue durée ou à l'achat d'une voiture électrique en France, et sous certaines conditions, les bonus peuvent aller jusqu'à 10 000€. Par exemple, si vous changez et détruisez votre vieille voiture diesel immatriculée avant 2006 et avec laquelle vous roulez depuis plus d'1 an pour un véhicule tout électrique (particulier ou utilitaire), vous obtenez :
            ul
              li: span.u-list__item.u-theme-color-before un bonus écologique de 6 000€ (dans la limite de 27% du prix d'acquisition),
              li: span.u-list__item.u-theme-color-before et une prime de conversion superbonus de 4 000€ !

  