mixin confirmationPaiement(data)
  - var data = data || {}
  - var cb = data.cb || false

  //.c-confirmationPaiement
  .c-confirmationPaiement
    .c-confirmationPaiement__header.l-wrapper--medium
      h2.c-confirmationPaiement__title.u-textCenter
        span.icon.icon-correct-cercle
        span.c-confirmationPaiement__titleTxt Votre paiement est pris en compte
      if cb
        div.c-confirmationPaiement__txtCB
          p.u-textCenter.u-margin-t-15 Votre paiement de <b> 134,50€ </b> est enregistré.
          p.u-textCenter.u-margin-b-30 Votre solde sera mis à jour dans votre Espace Client le <b> 31 mars 2021 </b>
      else
        span.c-confirmationPaiement__txt.u-textCenter Votre solde sera mis à jour dans votre Espace Client <b> sous 72h</b>
      .c-confirmationPaiement__grye 
        .c-confirmationPaiement__download
          span.c-confirmationPaiement__label Ma confirmation de paiement 
          span.c-confirmationPaiement__ctadesc Toutes les informations relatives à votre paiement sur un seul document
        .c-confirmationPaiement__cta

          +btnWrapper().u-theme-genBlue.c-btnWrapper--fullOnMobile
            +baseBtn({
              iconLeft : "icon-bold-download",
              text: "Télécharger"
            })
      if cb
        .c-confirmationPaiement__dowloadCB  
          a(href="" alt="") Télécharger  
          span votre mandat e-TIP signé.

      a(href="#").u-color-genBlue.c-eTipV2--linkretour.u-margin-t-30.u-margin-b-50
        span.icon-carousel-prev.icon
        span Retour au tableau de bord
    .c-confirmationPaiement__main
      .c-confirmationPaiement__leftSide
        .c-confirmationPaiement__mainSide
          .c-confirmationPaiement__label 
            img(src="../images/contrib/euroRefrech.svg" alt="")
            span Prélèvement
          p.c-confirmationPaiement__desc.c-confirmationPaiement__desc--reponsive Facilitez vos paiements : passez au prélèvement automatique.

          +btnWrapper().u-theme-genBlue.c-btnWrapper--active
            +baseBtn({
              text: "J'active"
            })
      .c-confirmationPaiement__centerBar
      .c-confirmationPaiement__rightSide
        .c-confirmationPaiement__mainSide
          .c-confirmationPaiement__label 
            img(src="../images/contrib/solution.svg" alt="")
            span Bon à savoir pour vos prochains paiements
          if cb
            ul.c-confirmationPaiement__liste
              li.c-confirmationPaiement__liste--disc
                .c-confirmationPaiement__liste--content
                  p.c-confirmationPaiement__desc L’adresse e-mail utilisée pour confirmer vos paiements est : <b> monnom@gmail.com </b> <br> 
                    a(href="#" alt="").c-confirmationPaiement__link Mettre à jour mon e-mail de contacts

              li.c-confirmationPaiement__iban.c-confirmationPaiement__liste--disc
                .c-confirmationPaiement__liste--content.c-confirmationPaiement__liste--content2
                  span Vous souhaitez mettre à jour un IBAN ? 
                  a(href="" alt="").c-confirmationPaiement__link Contactez-nous

          else
            p.c-confirmationPaiement__desc.c-confirmationPaiement__desc--mobile L’adresse e-mail utilisée pour confirmer vos paiements est : <b> monnom@gmail.com </b>
            a(href="#" alt="").c-confirmationPaiement__link Mettre à jour mon e-mail de contacts 
