include sideMenu

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Side Menu :

+demo({
  desc: `Ne gère que la partie dynamique, les animations sont gérées via les css des différents composants qui font appel à sideMenu.<br>
  Composé par un menu, un bloc de contenu, et un conteneur commun à ceux-ci; le menu et le bloc de contenu doivent être frères et le conteneur leur parent.<br><br>

  Le conteneur commun à ceux-ci doit recevoir l'attribut <code>data-e-side-menu-wrapper</code><br><br>

  Le menu est déterminé par la classe <code>c-sideMenu</code> et un attribut <code>data-e-side-menu</code> qui prend plusieurs paramètres en valeur à travers un objet :<br>
  - <code>target</code> qui pointe vers les boutons d'ouverture et de fermerture ayant l'attribut <code>data-e-side-menu-target</code> de même valeur<br>
  - <code>sideContent</code> qui pointe vers le bloc de contenu ayant l'attribut <code>data-e-side-menu-content</code> de même valeur<br>
  - <code>classToOpen</code> et <code>classToClose</code> qui déterminent respectivement les classes d'ouverture et de fermeture injectées à <code>data-e-side-menu</code> et <code>data-e-side-menu-content</code><br>
  - <code>noDesktop</code> avec la valeur <code>true</code> si le menu ne doit pas se déclencher sur desktop<br><br>

  Un bloc de contenu <code>data-e-side-menu-content</code> dont la valeur doit être identique à celle de <code>sideContent</code> de <code>data-e-side-menu</code><br><br>

  Des boutons d'ouverture-fermeture <code>data-e-side-menu-target</code> dont la valeur doit être identique à <code>target</code> de <code>data-e-side-menu</code><br><br>

  Si le menu occupe toute dimension de son conteneur :<br>
  - <code>data-e-side-menu</code> prend un nouveau paramètres <code>fullView</code> dont la valeur doit être <code>true</code>à travers son objet<br>
  - le template de la page doit contenir l'attribut <code>data-e-no-scroll</code> (voir plugin no-scroll)`
})

  // Conteneur pour contexte démo
  div(data-e-side-menu-wrapper, data-e-no-scroll)

    // Classe de background juste pour démo
    +sideMenu({
      settings: {
        target: 'menu1',
        sideContent: 'content1'
      }
    }).u-bg-teal
      button(type="button", data-e-side-menu-target='menu1') Toggle Menu (dans le menu)
      h1 Bloc de menu
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam justo purus, dignissim ac ligula sed, semper laoreet neque. Vivamus ut rutrum nisl.
        | Nam quis mollis ipsum, sit amet imperdiet augue. Nunc maximus feugiat ligula nec aliquet. Donec interdum dui vel libero ullamcorper blandit.
        | Phasellus dignissim tincidunt leo, et pellentesque lacus dapibus id. Maecenas hendrerit efficitur libero ac mattis. Etiam vel odio finibus, lacinia quam quis, porta lacus.
        | Sed quis enim bibendum, tristique orci in, scelerisque neque. Cras fermentum est vitae tellus ullamcorper consequat Cras fermentum est vitae tellus ullamcorper consequat.

    // Classe "c-sideMenuSibling" nécessaire sur le main content
    div(data-e-side-menu-content='content1')
      button(type="button", data-e-side-menu-target='menu1') Toggle Menu (dans le contenu)
      h1 Bloc de contenu
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam justo purus, dignissim ac ligula sed, semper laoreet neque. Vivamus ut rutrum nisl.
        | Nam quis mollis ipsum, sit amet imperdiet augue. Nunc maximus feugiat ligula nec aliquet. Donec interdum dui vel libero ullamcorper blandit.
        | Phasellus dignissim tincidunt leo, et pellentesque lacus dapibus id. Maecenas hendrerit efficitur libero ac mattis. Etiam vel odio finibus, lacinia quam quis, porta lacus.
        | Sed quis enim bibendum, tristique orci in, scelerisque neque. Cras fermentum est vitae tellus ullamcorper consequat Cras fermentum est vitae tellus ullamcorper consequat.