h2.u-heading-1 Sous Menu

+demo({
    desc: 
    `
    - Pour un header sticky il faut ajouter le class <code>.c-sticky</code> sur la div de header <code>.c-headerCel</code> et ajouter l'atrribut <code>data-e-sticky="{"container": "siteHeader", "scrollTop" : true}"</code> dans le même niveaux de div<br>
    - et pour que les ancres soit active faut ajouter un attr <code>target="votre target"</code> sur les links de sous menu et que le valeur de target et l'ID de div sible soit égaux.
    - pour voir un demo avec header aller sur la section "page demo sous menu" dans la page index. 
    `
})
  +sousMenu()