mixin sousMenu(data)
  - var data = data  ||  {}

  //.c-sousMenu
  .c-sousMenu(data-e-sous-menu data-e-speed-scroll)&attributes(attributes)
    ul.c-sousMenu__list
      li
        a.u-color-genBlue.is-active(target="target1")
          span.c-sousMenu__item 1
          span comprendre ma conso
      li
        a.u-color-blue(target="target2")
          span.c-sousMenu__item 2
          span Comparer mes usages
      li
        a.u-color-greenPersian(target="target3")
          span.c-sousMenu__item 3
          span Prévoir ma facture
      li
        a.u-color-coral(target="target4")
          span.c-sousMenu__item 4
          span Agir sur mon foyer