.c-sousMenu {
  display: flex;
  width: 100%;
  background: white;
  padding-top: 20px;
  padding-bottom: 0;
  border-top: 1px $grey-medium2 solid;
}

.c-headerCel.c-headerCel--sousMenu.c-sticky.c-sticky--unstickyTop.c-headerCel--sousMenuPartiel {
  transform: translateY(0) !important;
}

.c-sousMenu__list {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 43px;
  margin-top: 8px;
}

.c-sousMenu__list li {
  position: relative;
  display: flex;
  align-items: center;
  padding:0px;
  width: 100%;
  border-right: 1px solid #ccc;
  border-bottom: 2px #ccc solid;
}

.c-sousMenu__list li:first-child {
  border-left: 0;
}


.c-sousMenu__list li:first-child a > span {
  width: auto;
}

.c-sousMenu__list li a {
  display: flex;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  cursor: pointer;
  background-color: white;
  border-bottom: 2px solid #ccc;
}


.c-sousMenu__list li a.u-color-genBlue.is-active,
.c-sousMenu__list li a.u-color-genBlue:hover {
  background-color: #009DE9;
  color: white;
  border-color: #009DE9;
}

.c-sousMenu__list li a.is-active,
.c-sousMenu__list li a:hover {
  font-weight: 800;
}

.c-sousMenu__list li a.u-color-blue.is-active,
.c-sousMenu__list li a.u-color-blue:hover {
  background-color: #0059B3;
  color: white;
  border-color: #0059B3;
}


.c-sousMenu__list li a.u-color-greenPersian.is-active,
.c-sousMenu__list li a.u-color-greenPersian:hover {
  background-color: #00AC8E;
  color: white;
  border-color: #00AC8E;
}


.c-sousMenu__list li a.u-color-coral.is-active,
.c-sousMenu__list li a.u-color-coral:hover {
  background-color: #ED6C4E;
  color: white;
  border-color: #ED6C4E;

}

.c-sousMenu__list li a:hover {
  color: white;
  background-color: $genBlue;
}

.c-sousMenu__list li a > span:first-child {
    padding: 3px 17px 3px 22px;
    border-right: 1px solid #ccc;
 }

 .c-sousMenu__list li a span:last-child {
    padding: 3px 10px;
 }

.c-sousMenu__list li a span {
  display: inline-block;
  text-align: left;
  width: auto;
}


// header cel sticky juste pour suivi conso
.c-headerCel {
  height: auto !important;
  &.c-sticky {
    width: 100%;
    right: 0 !important;
    position: fixed !important;
    transition: all 0.5s ease-in-out;

  }
  &.c-sticky--fixed {
    transform: translateY(0%)!important;
    // position: fixed!important;
  }

  &.c-sticky.c-sticky--unstickyTop {
    transform: translateY(-100%)!important;
    // position: fixed!important;
  }
}

@include media ("<=medium") {
  .c-sousMenu {
    display: none;
  }
  .c-headerCel {
    height: 66px !important;
  }
}