.c-headerCelLayer__close {
  @extend %reset-style-button;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 22px;
  color: $genBlue;
  font-size: 2rem;
  display:none;
}

.c-headerCelNav__welcomMsg {
  padding: 20px;
  color: $genBlue;
  font-weight: bold;
}

.c-headerCelLayer {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin-top: 17px;
  &.is-opened {
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling : touch;
    opacity: 1;
  }
}


@include media("<small") {
  .c-headerCelLayer {
    background-color: $white;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  .c-headerCelLayer.c-headerCelNav {
    top: 70px;
  }

  .c-headerCelPlaces .c-headerCelLayer {
    top: 0;
    margin-top: 0;

    .c-headerCelLayer__close {display: block;}
  }

  .c-headerCelNav__wrapper {
    height: 100%;
  }

  .c-headerCelLayer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: 1.5;
  }

  .c-headerCelNav__layerBtn {
    padding-bottom: 50px;
  }
}


@include media(">=small") {
  .c-headerCelLayer {
    background-color: $white;
  }

  .c-headerCelLayer--desktop {
    position: absolute;
    z-index: 1;
    top: 100%;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;

    &.is-opened {
      transform: translateY(0);
    }
  }

  .c-headerCelLayer__close {
    display: none;
  }
}

@include media("<=medium") {
  .c-headerCelNav__welcomMsg, .c-headerCelNav__welcomMsg.u-hideMediumUp {
    display: block!important;
  }
}

@include media(">medium") {
  .c-headerCelNav__layerBtn {
    margin: 0;
  }
}