mixin headerCelLayer(data)
  - var data = data || {}
  - var target = data.target || ""

  // .c-headerCelLayer
  .c-headerCelLayer(
    data-e-toggle-target="headerCel-search"
  )&attributes(attributes)
    button.c-headerCelLayer__close(
      type="button"
      data-e-toggle-close=target
    )
      span.icon.icon-close
        span.u-visibilityHidden Fermer

    .c-headerCelLayer__content
      block
  // END .c-headerCelLayer
