@mixin FAQflexSet() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin transitionRubFAQ {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .4s ease-in-out,
              transform .3s ease-in-out;
  &.is-opened {
    opacity: 1;
    height: auto;
  }
}

.c-menuFAQ {
  background-color: $white;
}

.c-menuFAQ__btnMenu {
  @include FAQflexSet;
  width: 100%;
  padding: 20px 15px;
  background-color: $white;
  border: 1px solid $grey-medium;
  color: $black;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;

  .icon {
    font-size: 3rem;
    transition: transform .3s ease-in-out;

    &:before {
      transition: transform .3s ease-in-out;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &.is-active {
    .icon:before {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.c-menuFAQ__listRub {
  @include transitionRubFAQ;
}

.c-menuFAQ__rub {
  border-top: 1px dotted $grey-medium2;

  .icon {
    font-size: $font-30;
    transition: transform .3s ease-in-out;
    line-height: 0;
  }

  .is-opened  {
    color: $genBlue;
    .c-menuFAQ__subRub {
      color: $black;
      @include hover-focus-active() {
        color: $genBlue;
      }
    }
  }
}

.c-menuFAQ__link {
  @include hover-focus-active() {
    color: $genBlue;
  }

  @include FAQflexSet;
  font-size: $font-15;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  color: $black;
  text-align: left;

  &.is-opened {
    padding-bottom: 0;
  }

  &.is-active {
    color: $genBlue;
    .icon {
      transform: rotate(180deg);
    }
  }

  &.is-active + .c-menuFAQ__listSubRub {
    transform: translateY(0);
    visibility: visible;
  }
}

.c-menuFAQ__link--subRub {
  padding: 0 0 15px;
  font-weight: $font-normal;
  display: block;
}

.c-menuFAQ__listSubRub {
  list-style-type: none!important;
  @include transitionRubFAQ;
  list-style-type: disc;
  padding-left: 35px;
  transform: translateY(-10px);
  visibility: hidden;
}

.c-menuFAQ__subRub, .c-menuFAQ__link--subRub {
  @include hover-focus-active() {
    color: $genBlue;
  }
}

.c-menuFAQ__subRub {
  font-size: $font-20;
  padding-left: 5px;
  
  .c-menuFAQ__link:first-child { padding-top: 0;}

  &.is-active {
    .c-menuFAQ__link--subRub { color: $genBlue;}
  }

  .c-menuFAQ__link { 
    position: relative;
    &:hover, &.is-active {
      &::before {
        content: '';
        position: absolute;
        border-color: $genBlue;
        border-style: solid;
        border-width: 3px;
        height: 1px;
        top: 22px;
        left: -15px;
        margin-top: -1em;
        width: 1px;
        background: $genBlue;
        border-radius: 100px;
      }
    }
  }
}


@include media('<small') {
  .c-menuFAQ {
    border: 1px solid #d0d0d0;
    margin-bottom: 40px;
    .c-menuFAQ__btnMenu { 
      border: 0;
    }
  }

  .c-menuFAQ__rub {
    &:first-child {
      border: none;
    }
  }

  .c-accordion.c-accordion--alone.l-wrapper--huge {
    padding: 0;
  }

  .c-accordion.c-accordion--alone.l-wrapper--huge.u-padding-spacer {
    padding: 30px 0;
  }
}


@include media('>=small') {

  .c-menuFAQ__subRub {
  
    .c-menuFAQ__link { 
      &:hover, &.is-active {
        &::before {
          top: 26px;
        }
      }
    }
  }

  .c-menuFAQ__btnMenu {
    display: none;
  }

  .c-menuFAQ__listRub {
    height: auto;
    opacity: 1;
  }

  .c-menuFAQ__link {
    font-size: 1.8rem;
    padding: 15px 15px 15px 0;

    h3 {
      font-size: 1.6rem;
    }
  }

  .c-menuFAQ__link--subRub {
    padding: 0 0 20px;
  }

  .c-menuFAQ__listSubRub {
    padding-left: 20px;
  }
}
