//- newBp peut contenir: "smallOnly" et/ou "mediumOnly"
mixin iframe(data)
  - var data       = data || {}
  - var newBp      = data.newBp || []
  - var src        = data.src || "homepage.html"
  - var notFluid   = data.notFluid || false
  - var bp         = ["large"]
  - var bp         = bp.concat(newBp)
  - var width      = data.width || 900
  - var height     = data.height || 300
  - var noTracking = data.noTracking || false

  .c-iframe
    .c-iframe__wrapper(
      class=data.notFluid ? '' : 'is-fluid'
      data-e-iframe='{"when": '+ JSON.stringify(bp) +', "src": "'+ src +'", "id": "myNewFrame", "width": ' + width +', "height": ' + height + ', "noTracking": true, "allow": "camera, microphone" }'
    )

    .c-iframe__alternative.u-hideLargeUp.c-wysiwyg(
      class=(newBp.indexOf('mediumOnly') !== -1 ? "u-hideMedium" : '')
      class=(newBp.indexOf('smallOnly') !== -1 ? "u-hideSmall" : '')
    )
      if block
        block
      else
        h2 Alternative (mobile et/ou tablette)
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laborum, assumenda sint magni pariatur facilis iste at molestiae, explicabo esse recusandae asperiores. Veniam inventore ipsum, nulla autem optio a minima!
