mixin btnGraphComparaison

  // .c-btnGraphComparaison
  .c-btnGraphComparaison#scMonoGazpar_idFilters
    //- span.c-btnGraphComparaison__topTitre Comprendre
    .c-btnGraphComparaison__allComponent
      .c-btnGraphComparaison__alltitre
        span.c-btnGraphComparaison__downTitre Je compare lՎvolution annuelle de ma consommation
          +toolTipV2()(data-e-modal-open='graphe')

        //- span.c-btnGraphComparaison__downTitreNormal de ma consommation en Gaz Naturel
      .c-btnGraphComparaison__allBtn#scMonoGazpar_idFiltreUnit
        button.c-btnGraphComparaison__detail#scMonoGazpar_btn_Filtre_kWh.c-btnGraphComparaison__active(type="button")
          span kWh
        button.c-btnGraphComparaison__detail#scMonoGazpar_btn_Filtre_m3(type="button")
          span m<sup>3</sup>
        +modal({
            target: '{"target": "graphe"}'
        })
