include ../../../../common/src/components/toolTip/toolTip
include ../../../../common/src/components/modal/modal
include ../../../../common/src/components/formMat/formMat
include ../../../../common/src/components/column/column
include ../../../../common/src/components/btnWrapper/btnWrapper
include ../../../../common/src/components/textImage/textImage



mixin ecm(data)

  - var data = data || {}
  - var img  = data.img || "01-PAGE-EC-Masse-BG_03.jpg"
  - var step = data.step || 1

  .c-ecm.l-wrapper--large
    .c-ecm__blocInfo
      h2.u-heading-2.u-margin-b-40.u-margin-small-b-40
        | Bonjour Mr. Alain Nonime

      p.u-margin-b-15
        <strong>  Ma référence client : </strong> 304019921

      p.u-margin-b-40.u-margin-small-b-30
        <strong>  Mon identifiant<em>(1)</em> : </strong> ITT.304019921.engie@yopmail.com


    .c-ecm__wrapper.l-wrapper
      .c-ecm__col.c-ecm__colLeft
        if step === 1
          +ecmForm1
        else if step === 2
          +ecmForm2

      .c-ecm__col.c-ecm__colRight.u-hideSmall
        .c-ecm__img(style="background:url(../images/contrib/"+ img +");")

    p.u-margin-t-50 <sup>(1)</sup> Cette adresse email est utilisée comme votre identifiant pour vous connecter à votre Espace Client. Vous pourrez toujours la modifier une fois votre Espace Client activé.



mixin ecmForm1
  +formMat({
    spacer : false
  })(
    action="/"
    novalidate
    data-e-form-validation='{"switchBtnState": false}'
  ).c-formMat.u-margin-b-40.u-margin-small-b-40

    h3.u-heading-2.u-hideSmall
      | je crée mon Espace Client

    +inputMat({
      required: true,
      type : 'tel',
      label: 'Mon code postal',
      placeholder: 'Saisissez votre code postal',
      maxlength: 5,
      pattern: "cp",
      dataValidation: {
        validations: {
          patternMismatch: 'patternMismatch: Format incorrect',
          valueMissing: 'champs obligatoire'
        }
      }
    })

    <span class="c-inputMat" data-e-field-validation="{&quot;validations&quot;:{&quot;patternMismatch&quot;:&quot;Message d'erreur&quot;,&quot;tooShort&quot;:&quot;Trop court&quot;}}" data-e-password="data-e-password">
      <span class="c-inputMat__wrap">
          <input class="c-inputMat__field c-inputMat__field--password c-inputMat__field--hasElemRight" type="password" minlength="8" maxlength="20" autocapitalize="off" pattern="^(?=.*[A-Za-z])(?=.*d).{8,20}$" placeholder="Saisissez votre mot de passe" required>
          <label class="c-inputMat__label">Je choisis mon mot de passe *
            <a class="c-toolTip" data-e-modal-open='modalInfo' href="#"><span class="c-toolTip__icon u-theme-bg u-theme-bg-hover">?</span></a>
          </label>
          +modal({
            target: '{"target": "modalInfo"}'
          }).u-padding-a-40
            .u-margin-b-40 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut amet perspiciatis animi sit aliquam exercitationem ad culpa

          <span class="c-inputMat__inputLine"></span>
          <span class="c-inputMat__rightBlock">
            <button class="c-inputMat__password icon icon-eye-slash" data-e-showpassword="data-e-showpassword" type="button">
              <span class="u-visibilityHidden">Afficher ou masquer le mot de passe</span>
            </button>
            <span class="icon icon-thin_check c-inputMat__check"></span>
          </span>
      </span>
      <ul class="c-fieldInfo c-fieldInfo--inputMat is-error" data-e-field-validation-error="data-e-field-validation-error">
        <li>Texte d’erreur. Lorem ipsum dolor sit amet, tulem consectetur adipisicing elit, sed do eiusmod tempor</li>
      </ul>
    </span>


    +inputMat({
      required: true,
      type : 'password',
      label: 'Je confirme mon mot de passe',
      placeholder: 'Saisissez votre mot de passe',
      pattern: 'password',
      minlength: 8,
      maxlength: 20,
      check: true,
      dataValidation: {
        validations: {
          patternMismatch: "Message d'erreur",
          tooShort: 'Trop court'
        }
      }
    })

    +checkboxMat({
      required: true,
      label: "J'ai pris connaissance et j'accepte les <a href='#'> Condition d'Utilisation du Service</a>",
      id: "checkboxMat1",
      name: 'radio',
      dataValidation: {
        validations: {
          patternMismatch: "Message d'erreur"
        }
      }
    }).u-margin-t-30

    +btnWrapper().u-theme-green.u-margin-t-40.u-margin-small-t-40.c-btnWrapper--fullOnMobile.c-btnWrapper--left
      +baseBtn({
        button: true,
        text: 'Valider',
        hasLoader: true
      })(data-e-form-validation-submit).c-baseBtn--large

    +modal({
      target: '{"target": "modalLoading"}'
    }).u-padding-a-40.u-textCenter
      .u-heading-3.u-padding-b-50 Création de votre Espace Client en cours
      +spinner().c-spinner--full
      p.c-modal__text--color.u-padding-t-50.u-margin-t-50 Veuillez patienter


mixin ecmForm2

  h3.u-heading-2.u-hideSmall
    | Souhaitez-vous activez la facture en ligne ?

  p.u-margin-t-40 Accessible n’importe où, 24h/24, 7j/7, nous archivons vos factures pour vous. Téléchargez-les en un seul clic.

  p.u-margin-v-15
    strong Et en plus...

  p Un e-mail vous avertit directement du montant de votre nouvelle facture avec la date de prélèvement !

  +formMat({
    spacer : false
  })(
    action="/"
    novalidate
    data-e-form-validation='{"switchBtnState": false}'
  ).c-formMat.u-margin-b-40.u-margin-small-b-40

    +checkboxMat({
      required: true,
      label: "J'ai pris connaissance et j'accepte les <a href='#'> Condition Générales d'Utilisation</a> de la facture en ligne*.",
      id: "checkboxMat2",
      name: 'checkboxMat2',
      dataValidation: {
        validations: {
          patternMismatch: "Message d'erreur"
        }
      }
    }).u-margin-t-30

    +btnWrapper().u-theme-green.u-margin-t-40.u-margin-small-t-40.c-btnWrapper--fullOnMobile.c-btnWrapper--left
      +baseBtn({
        button: true,
        text: "J'accepte",
        hasLoader: true
      })(data-e-form-validation-submit).c-baseBtn--large
      +baseBtn({
        button: true,
        secondary: true,
        text: 'Non merci'
      }).c-baseBtn--large




    p.u-margin-t-20 * Champs obligatoires
