include pushPromo

.c-wysiwyg
  h2 pushPromo :

+demo({
  desc: ""
})
  +pushPromo
    p Grâce à la Facture en ligne, vous pouvez les consulter quand vous le souhaitez dans votre Espace Client sécurisé. Un service gratuit qui vous fait gagner du temps et de la place !


.c-wysiwyg
  h2 pushPromo en deux colonnes :

+demo({
  desc: "Pour un agencement en deux colonnes ajouter la classe <code>c-pushPromo--twoColumns</code> au composant <code>c-pushPromo</code>"
})
  +pushPromo({
    twoCols: true,
    title: "Ranger, classer, archiver&nbsp;...<br/>ça vous fait peur ?",
    imgSmall: "../images/contrib/push-fel-mobile.jpg",
    imgMedium: "../images/contrib/push-fel-desktop.jpg"
  })
    p Grâce à la Facture en ligne, vous pouvez consulter vos factures quand vous le souhaitez dans votre Espace Client sécurisé.
    p Un service gratuit qui vous fait gagner du temps et de la place !