include ../img/img

mixin pushPromo(data)
  - var data       = data || {}
  - var title      = data.title || "Fini les factures fantômes, retrouvez vos factures en 2 clics !"
  - var imgSmall   = data.imgSmall || "../images/contrib/ballon-push-fel-mobile.jpg"
  - var imgMedium  = data.imgMedium || "../images/contrib/ballon-push-fel-desktop.jpg"
  - var twoCols    = data.twoCols || false
  - var notInModal = data.notInModal || false



  // c-pushPromo
  .c-pushPromo(class=twoCols? 'c-pushPromo--twoColumns' : '')
    .c-pushPromo__content
      .c-pushPromo__image
        +img({
          interchange: {
            small:  imgSmall,
            medium: imgMedium
          }
        })
      .c-pushPromo__catchBlock
        .c-pushPromo__title!=title
        .c-pushPromo__textContent.u-hideSmall.c-wysiwyg
          block

    .c-pushPromo__cta
      +btnWrapper().u-theme-green
        if notInModal
          +baseBtn({
            text: 'Non merci',
            secondary: true
          })
        else
          +baseBtn({
            button: true,
            text: 'Non merci',
            secondary: true
          })(data-e-modal-close)

        +baseBtn({
          text: 'En savoir plus'
        })
  // end c-pushPromo
