mixin eTipFormIBAN

  .c-eTipFormIBAN&attributes(attributes)
    +radioBlockMat({
      label: 'IBAN',
      id: "radioBlockMatBlock1",
      name: 'multilineradioBlock',
      blockMode: true,
      dataValidation: true
    })
      | BANQUE POPULAIRE RIVES DE PARIS
      br
      | FR76 1020 xxxx xxxx xxxx xxxx xxx

    +radioBlockMat({
        label: 'Ajouter un nouvel IBAN',
        id: "radioBlockMatBlock2",
        name: 'multilineradioBlock',
        blockMode: true,
        dataValidation: true
      })(data-e-field-validation-fildset)

      fieldset.l-wrapper--small
        +inputMat({
          label: 'Nom du titulaire du compte',
          type: "text",
          id: "nom-titu2",
          name: "nom-titu2",
          required: true,
          placeholder: 'Ex : Martinez',
          dataValidation: true,
        })

        +inputMat({
          label: 'Votre IBAN',
          type: "text",
          id: "user-iban2",
          name: "user-iban2",
          iban: true,
          placeholder: 'Ex : FR 1235 1231 1231 1231',
          check: true,
          required: true,
          dataValidation: {
            validations: {
              valueMissing: 'Champ obligatoire'
            }
          }
        })


    +btnWrapper().u-margin-t-40.c-btnWrapper--fullOnMobile.u-theme-genBlue
      +baseBtn({
        text: 'Suivant',
        button: true
      })(type="submit" data-e-form-validation-submit).c-baseBtn--large

