include ../offerPromo/offerPromo

mixin pushBlock(data)
  - var data      = data || {}
  - var oneChild = data.oneChild || false

  // .c-pushBlock
  .c-pushBlock(class=oneChild ? 'c-pushBlock--hasOneChild': 'u-padding-spacer')
    block
  // end .c-pushBlock


mixin pushBlockElem(data)
  - var data      = data || {}
  - var titleText = data.titleText || 'Titre par défaut'
  - var btnLabel  = data.btnLabel || 'Découvrir'
  - var imgUrl    = data.imgUrl || 'contrib/pushBlock_contrib_1.jpg'
  - var hasPromo  = data.hasPromo || false

  .c-pushBlockElem(style="background-image: url(../images/" + imgUrl + ");")&attributes(attributes)
    .c-pushBlockElem__wrapper
      if hasPromo
        +offerPromo

      .c-pushBlockElem__content
        h3.c-pushBlockElem__title=titleText

        .c-pushBlockElem__text
          block

      +btnWrapper().c-pushBlockElem__button.u-theme-green
        +baseBtn({
          text: btnLabel
        })
  // end .c-pushBlock
