.c-loginFeedback {

  &:not(.c-loginFeedback--noAbsolute){
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(-100%);
  }

  &.is-opened {
    animation: loginFeedback-bounce 0.5s ease-in-out forwards;
  }

  &.is-closed {
    animation: loginFeedback-out 0.5s ease-in-out forwards;
  }
}

@keyframes loginFeedback-bounce {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  60%{
    transform: translateY(5%);
  }
  77%{
    transform: translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes loginFeedback-out {
  0%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}
