include loginFeedback

h2(style="font-size:2rem;font-weight:bold;margin:10px 0 20px;") Composant loginFeedback

+demo({
  desc: "Ajouter la classe <code>is-opened</code>"
})
  div(style="position: relative; height: 100px;")
    +loginFeedback