mixin loginFeedback(data)
  - var data = data || {}
  - var noAbsolute = data.noAbsolute || false

  // .c-loginFeedback
  .c-loginFeedback.u-bg-grey-light.u-padding-a-25.u-textCenter(
    class=noAbsolute ? "c-loginFeedback--noAbsolute" : false
  )&attributes(attributes)
    if block
      block
    else
      p.u-color-jadeGreen.u-textBold Bonjour M. Guilliaume Lembart
      p Vous pouvez continuer votre souscription
  // END .c-loginFeedback
