mixin somsGreyBlock(data)
  - var data = data || {}
  - var valid = data.valid || false

  // .c-somsGreyBlock
  .c-somsGreyBlock.u-bg-grey-light
    if valid
      +pictoBlock({
        iconName: 'icon-thin_check',
        iconClasses: 'u-fontSize-40',
        topToLeft: true
      }).u-color-green
        strong.u-textCenter Votre demande est validée.

    .c-wysiwyg
      if block
        block
      else
        p Nous vous communiquerons prochainement la date de mise en service de votre énergie et la date d’intervention d’un technicien à votre domicile si une intervention se révèle nécessaire.
  // END - .c-somsGreyBlock
