.c-separator {
  height: 2px;
  margin: 0 15px;
  background-color: $grey-light;
}

.c-separatorMarge {
  width: 100%;
  height: 30px;
}

@include media(">=small") {
  .c-separator {
    margin: 0 auto;
  }

  .c-separatorMarge {
    height: 50px;
  }
}
