mixin separator(mode)
  - var mode = mode ? mode : 'line'

  if mode === 'line'
    // .c-separator
    .c-separator&attributes(attributes)
    // END .c-separator

  if mode === 'marge'
    // .c-separatorMarge
    .c-separatorMarge&attributes(attributes)
    // END .c-separatorMarge
