mixin espritService-review(data)
  - var data = data || {}
  - var text = data.text || "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore eum dicta aspernatur repellendus odit facilis non vitae eligendi. Animi consectetur vitae, est nihil quis eos doloribus cum corrupti et!"
  - var classSizeBtn = data.classSizeBtn || "l-col-small-10 l-push-small-2 l-col-large-8 l-push-large-4"

  // .c-espritService-review
  .c-espritService-review.c-espritService-comments__padding&attributes(attributes)
    .c-espritService-review__content
      span.c-espritService-review__contentText Publié par : Alain M
      span le <b>09/08/2016</b> -
      .c-rating-block
        +rating(9)
        | (#[span.u-textBold 5]/5)

    p!=text
    p.c-espritService-reviewMiniText Mon expérience de consommateur s'est faite le : 13/02/2018
    block

  .l-row.l-row--nogut
    div(class=classSizeBtn)
      +linkLongArrow({
        text: "Supprimer cet avis",
        link: "http://r7.ikebana.espritservices.gazdefrance.fr/moderation-n/438825"
      })(class="u-bg-white u-bg-hover u-color-black" data-e-popup="popup_delete_review")
  // end .c-espritService-review


mixin espritService-reviewTpl(data)
  - var data = data || {}
  - var classSizeBtn = data.classSizeBtn || "l-col-small-10 l-push-small-2 l-col-large-8 l-push-large-4"

  //- avec templateEngine.js
  .c-espritService-review.c-espritService-comments__padding
    .c-espritService-review__content
      span.u-textBold [% this.date %] -
      +rating("[% this.note * 2 %]")
      | (<span class="u-textBold">[% this.note %]</span>/5)

    p [% this.verbatim %]

    block

  | [% if (this.lienSignalerAbus) { %]
  .l-row.l-row--nogut
    div(class=classSizeBtn)
      +linkLongArrow({
        text: "Supprimer cet avis",
        link: "[% this.lienSignalerAbus %]/[% this.identifiantAvis %]"
      })(class="u-bg-white u-bg-hover u-color-black" data-e-popup="popup_delete_review")
  | [% } %]