.c-filtersArticle {
  padding-top: 30px;
  padding-bottom: 30px;
}

.c-filtersArticle-selectTheme {
  margin: 0 auto 40px;
  max-width: 260px;
}

.c-filtersArticle-baseFilters {
  margin-top: 15px;
  border-top: 1px solid $grey-medium2;
  border-bottom: 1px solid $grey-medium2;
  text-align: center;
}

.c-filtersArticle-baseFilters__filter {
  display: inline-block;
  margin: 0 8px;
  padding: 18px 8px;
  color: inherit;
  text-decoration: none;

  &.is-active {
    font-weight: $font-bold;
  }
}

.c-filtersArticle__content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.c-filtersArticle__footer {
  padding-bottom: 40px;
  border-bottom: 1px solid $grey-medium2;
}