.c-headSection {
  padding: 0 0 30px;
  text-align: center;

  &[class*="u-bg-"] {
    padding-top: 25px;
  }
}

.c-headSection__title {
  font-weight: $font-bold;
}

.c-headSection__text {
  font-size: 1.5rem;
  margin: 15px 0;
}

.c-headSection__link {
  display: block;
  margin-top: 5px;
}



