mixin headSection(data)
  - var data       = data || {}
  - var noLink     = data.noLink || false
  - var title      = data.title || 'Titre du composant'
  - var text       = data.text || 'Un lien vers quelque part <span class="icon icon-bold-download"></span>'
  - var paragraphe = data.paragraphe || false 
  // .c-headSection
  .c-headSection&attributes(attributes)
    h2.c-headSection__title.u-heading-2!=title

    if paragraphe
      p.c-headSection__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    if !noLink
      a(href="#").c-headSection__link.l-wrapper--medium.u-theme-color.u-theme-color-hover!=text
  // end .c-headSection
