.c-eTipV2__price {
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: #FB7431;
  font-weight: bold;
}

.c-eTipV2--style .c-baseBtn  .c-baseBtn__content {
  font-size: 1.6rem;
}

.c-eTipV2__header {
  width: 60%;
  display: block;
  margin: auto;
  font-size: 1.6rem;
}

.c-eTipV2__link--style {
  color: #FB7431;
  text-decoration: underline;
}

.c-eTipV2__paiementChoice {
  margin-top: 16px;
  margin-bottom: 36px;
  display: block;
  font-size: 1.6rem;
}

.c-eTipV2--style {
  display: flex;
}

.c-eTipV2--style .c-baseBtn {
  background-color: #FB7431 !important;
  width: 194px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px 23.5px;
}

.c-eTipV2--style .c-baseBtn:hover {
  background-color: #f85606 !important;
}

.c-eTipV2__e-tip--desc span, .c-eTipV2__cb--desc span {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-style: italic;
  margin-bottom: 10px;
}

.c-eTipV2__e-tip--desc img, .c-eTipV2__cb--desc img {
  height: 18px;
}

.c-eTipV2__e-tip--desc, .c-eTipV2__cb--desc {
  display: flex;
  flex-direction: column;
}

.c-eTipV2__cb--descImgs img {
  margin: 0 2px;
}

.c-eTipV2--linkretour {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
}

.c-eTipV2__e-tip {
  margin-right: 60px;
}

.c-eTipV2__price sup {
  font-size: 1.6rem;
}

@include media("<small") {

  .c-eTipV2--style .c-baseBtn {
    margin-bottom: 10px;
  }

  .c-eTipV2__paiementChoice {
    width: 80%;
    display: block;
    margin: 16px auto 36px;
  }

  .c-eTipV2--linkretour {
    margin : 30px 0 !important;
  }

  .c-eTipV2__spaceSmall {
    margin-bottom: 30px !important;
  }

  .c-eTipV2__e-tip--desc {
    margin-bottom: 0 !important;
  }
  
  .c-eTipV2--style {
    flex-direction: column;
    align-items: center;
  }

  .c-eTipV2__e-tip {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .c-eTipV2 .u-bg-grey-light {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .c-eTipV2__cb {
    padding-bottom: 20px;
  }

  .c-eTipV2__paiementChoice {
    padding-right: 0;
  }
}